<div class="mleft q-text">
  <p>问题1：当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</p>
  <p>这个问题是评估您对资金损失的承受度。您的承受度越强，您能承受的风险就越高。您是否愿意承受风险和能够多少风险将计入您最终的风险度得分。</p>
  <p>回答：<% if @array[0]=="sellAll" %>卖掉所有股票<% elsif @array[0]=="sellSome" %>卖掉一部分股票<% elsif @array[0]=="keepAll" %>继续持有<% elsif @array[0]=="buyMore" %>购买更多的股票<% end %></p>
  <p>问题2：下列的3个假设投资计划，哪个会更符合您当前的投资需求?</p>
  <p>这个问题是评估您为了获取较高收益率所愿意承受的波动幅度。正常情况而言，您能接受的波动幅度越大，您的风险度得分将越高。</p>
  <p>回答：预期年化收益率(在当年可能出现的资产变动幅度) <% if @array[1]=="A" %>0~6%<% elsif @array[1]=="B" %>-3%~10%<% elsif @array[1]=="C" %>-10%~20%<% end %></p>
  <p>问题3：当您准备资金进行投资时，您最在意的是哪一项指标?</p>
  <p>更关注最大利润意味着愿意承担更大的风险。</p>
  <p>回答：<% if @array[2]=="gain" %>最大利润<% elsif @array[2]=="loss" %>最小损失<% elsif @array[2]=="both" %>两者都很重要<% end %></p>
  <p>问题4：你是否自己参与购买过股票、基金或期货等高风险投资品种?</p>
  <p>主动参与高风险产品投资意味着您愿意承担更大的风险</p>
  <p>回答：<% if @array[3]=="true" %>是<% elsif @array[3]=="false" %>否<% end %></p>
  <p>问题5：您参加工作有多少时间了?</p>
  <p>您越接近退休年纪，您能承担的风险将越小。正常而言，您的平时的投资都将最终影响您的退休收入。</p>
  <p>回答：<%= @array[4] %></p>
  <p>问题6：假设您6个月后需要买房子，但您首期资金不够，您将能向父母亲戚借到多少钱？</p>
  <p>我们将用这个资产值来均衡您的未来几年的收入和消费是否吻合，如何相差过大的话，我们将建议您承担更多的风险以获得更大的利润回报。</p>
  <p>回答：<%= @array[5] %></p>
  <p>问题7：假设您有15万元的现金，根据您家庭情况，您觉得这笔资金投资多少时间比较合适?</p>
  <p>你投资的时间越长，收益率会相对越高,能承受的风险度越高。</p>
  <p>回答：<% if @array[6]=="90" %>三个月<% elsif @array[6]=="180" %>六个月<% elsif @array[6]=="365" %>一年<% elsif @array[6]=="730" %>二年<% end %></p>
  <p>问题8：您当前的工作薪水收入稳定吗?</p>
  <p>一个稳定的收入，意味着您能承担较高的风险。</p>
  <p>回答：<% if @array[7]=="A" %>非常稳定<% elsif @array[7]=="B" %>比较稳定<% elsif @array[7]=="C" %>比较不稳定<% elsif @array[7]=="D" %>非常不稳定<% end %></p>
  <p>问题9：您对如下哪些产品比较感兴趣?</p>
  <p>我们将根据你感兴趣的产品的风险度来判断您的承受力，一般来说，选择P2P的话风险承受力会高，选择定期存款，风险承受力会较低。</p>
  <p>回答：<% if @array[8]=="true" %>定期存款<% elsif @array[8]=="A" %>股票<% elsif @array[8]=="B" %>余额宝等货币基金<% elsif @array[8]=="C" %>P2P理财产品<% end %></p>
  <p>问题10：您短期内（1-2年）有买房或买车等大额消费目标吗?</p>
  <p>短期内有大额消费目标的话，说明资金的安全性对您来说很重要，相应您的风险承受力则会降低。</p>
  <p>回答：<% if @array[9]=="false" %>是<% elsif @array[9]=="true" %>否<% end %></p>
</div>