<div class="slider2">
<div class="slice12">
  <h2>用户注册</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize_login">
  </br></br>
<%= render "form" %>
	<div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>

