<div class="slider2">
<div class="slice12">
  <h2>个性化管理</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize_login">
  <div class="StrategyNews">
  <h2>账号管理</h2>
  <ul>
    <li><%= link_to "个人信息管理",:controller=>"webusers" ,:action=>"edit", :id=>@webuser.id %></li>
  </ul>
  <h2>策略管理</h2>
  <ul>
    <li>无风险套利</li>
  </ul>
<p></p>
</div>   
<div style="margin:-18px 0 0 0;*margin:18px 0 0 0"><h3><%= notice %></h3></div>
<div style="margin:0 200px 0 0">
<fieldset>
						<p><b>用户名:</b><%= @webuser.name %></p>
						<p><b>电子邮箱:</b><%= @webuser.email %></p>	
  </fieldset>
  </div>
	<div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
