<div class="slider2">
<div class="slice12">
  <h2><%= session[:webuser_name]%>订阅的策略</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">

  <div class="News">
	  <h2>策略管理</h2>
	  <ul>
		<li><%= link_to "无风险策略配置",webuserstrategies_path %> </li>
	  </ul>
	  <p></p>
  </div>
  <div class="frame">

<h1>无风险套利策略配置</h1>

<%= render 'form_010001' %>

  </div>

   <div class="clr"></div>
      </div>
    <div class="clr"></div>
    </div>
