亲爱的 <%= @username %> 您好，<br>
一、已收到您的理财规划申请。<br>
我们将在1个工作日内尽快和你沟通，核实，然后提交给国家理财规划师。<br><br>
二、您可以通过如下两种方式修改您的个人信息：<br>
1）、网络自助修改：<br>
您可以用 <%= @username %> 作为用户名，登陆<a href="http://www.tongtianshun.com">www.tongtianshun.com</a>，登陆后通过“个人信息设置”进行修改，第一次登陆后可以自行修改登陆密码。<br>
2）、人工服务修改：<br>
您可以拨打我们的热线电话 025 - 83428345 寻求客服帮助进行修改。