<style>
 #forget{
     background-color: #ffffff;
 }
</style>

<div id="forget">
  <img src="http://www.tongtianshun.com/assets/logo.jpg">
  <p>您的<a href="http://www.tongtianshun.com">通天顺家庭理财</a>网站 新密码是：</p>
  <p>tongtianshun</p>
  <p>您可以在登陆通天顺网站后，在<a href="http://www.tongtianshun.com/sales/revise">http://www.tongtianshun.com/sales/revise</a>里进行密码修改。</p>
  <p>祝一切顺利。</p>
  <p>通天顺家庭理财团队</p>
  <img src="http://www.tongtianshun.com/assets/1.jpg" style="width: 200px;">
</div>
