亲爱的 <%= @username %> 您好，<br><br>
您的理财师已经为您完成理财规划方案。<br><br>
您可以点击<a href="http://www.tongtianshun.com/personmanagement/personfinance/<%= @id %>">www.tongtianshun.com/personmanagement/personfinance/<%= @id %></a>查看。<br>
登录后可下载理财师为您提供的理财规划报告。