<html>
<body>
亲爱的通天顺用户<%= @username%>，您好：<br><br>


请您点击下面链接来确认试用:<br>
<a href="<%= @reseturl%>"><%= @reseturl%></a><br><br>

如果点击链接不工作...<br><br>

请您选择并复制整个链接，打开浏览器窗口并将其粘贴到地址栏中。然后单击"转到"按钮或按键盘上的 Enter 键。<br><br>


请勿直接回复该邮件，有关 通天顺金融策略服务 的更多帮助信息，请访问：<a href="http://www.tongtianshun.com">http://www.tongtianshun.com</a><br>


                                     通天顺
</body>
</html>