<style>
    h1{
        font-size: 30px;
        font-weight: normal;
    }
    #email{
        padding: 50px 0;
        background: none repeat scroll 0% 0% rgb(243, 243, 233);
        margin: 0px;
    }
    #article{
        width: 800px;
        margin: 0px auto;
        background-color: #ffffff;
        padding: 30px 20px;
        border-width: 2px 1px;
        border-style: solid;
        border-color: #555 #CCC;
    }
    p{
        font-family: Hiragino Sans GB W3;
        font-size: 20px;
        line-height: 30px;
    }
</style>

<div id="email">
  <div id="article">
    <img src="http://www.tongtianshun.com/assets/logo.jpg">
    <h1>欢迎来到 通天顺家庭理财</h1>
    <p>大家好，我们是<a href="http://www.tongtianshun.com/">通天顺家庭理财</a>，我们不是寻常那些为金融产品（股票、基金等）提供建议的经纪公司，我们更擅长使那些在金钱上陷入困境的人，也就是通俗讲的月光族们，在收支平衡方面获得重生。 </p>
    <p>换句话说，我们的工作是帮助“没有办法存下钱，但是最需要存钱”的月光族们。</p>
    <p>现在的您，已经在重生的道路上迈出了第一步，我们很期待能和您一起走过这艰辛但非常值得的财务复兴旅程。</p>
    <p> -- 通天顺家庭理财团队</p>
    </p>
    <img src="http://www.tongtianshun.com/assets/1.jpg" style="width: 150px;">
  </div>
</div>