<%= stylesheet_link_tag "womenfinance.css" %>
<%= javascript_include_tag "jquery.women.js" %>
<%= javascript_include_tag "jquery.women2.js" %>


<div class="main-contents">
  <h1 id="title">女人理财</h1>
  <div class="intro">
    <div class="text-block" id="text"></div>
    <div class="form-block first">
      <div class="sub-box" style="display: table;width: 100%;">
        <div class="holder">
          <div class="ct">
            <!-- Begin MailChimp Signup Form -->
            <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#f5866c; clear:left; font:14px Helvetica,Arial,sans-serif; }
				#mc_embed_signup label {
				display: block;
				font-size: 24px;
				padding-bottom: 10px;
				font-weight: bold;
				line-height: 40px;
				margin-bottom:0px;
				}
				#mc_embed_signup input.email {
				width: 65%;
			}
            </style>
            <div id="mc_embed_signup">
              <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">订阅邮件后，理财知识、规划、小技巧每天寄送给您。</label>
                <input type="email" value="" name="EMAIL" style="float: left;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
                <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
              </form>
            </div>
          </div>
          <div class="social-networks">
            <table>
              <tr>
                <td style="width:50%;">
                  <p>微信关注:</p>
                  <span>已有上千人关注，<br>你还在等什么呢？</span>
                </td>
                <td style="vertical-align: top;"><img src="/assets/1.jpg" style="width: 78px;margin: 10px 0 0 47px;"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured">
    <div class="news-line">
      <div class="col-left same-height-left" style="min-height: 188px;">
        <div class="col-content">
          <h1><em>计划</em> 为了您美好的未来</h1>
          <p>您期待明天会比今天更幸福美好，在这里，您将得到一个计划来实现明天的梦想。当您把您的数字们放到您的梦想里去，他们就开始变成真了，像魔术一样。</p>
        </div>
        <ul class="links plan">
          <li><a href="/usersurvey/startup">点击开始计划</a><span class="ss-icon">➡</span></li>
        <!--  <li><a href="/home/guide">手把手教您</a><span class="ss-icon">➡</span></li>
          <li><a href="/usersurvey/measure/1">月光族规划</a><span class="ss-icon">➡</span></li>     -->
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 184px;">
        <div class="headline">
          <h2><a href="/home/scheme">国际金融规划师 为您服务</a></h2>
        </div>
        <div class="content">
          <a href="/home/scheme"><img src="/assets/120102.jpg" class="image" width="167"></a>
          <div class="text-block">
            <p>根据您的中长期人生目标，计算实现目标的时间和成本，合理规划您的财务状况，帮助您做出全盘规划，过上您所向往的生活。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="news-line">
      <div class="col-left same-height-left" style="min-height: 181px;">
        <div class="col-content">
          <h1><em>赚钱</em> 带着您的热情</h1>
          <p>这不仅仅是您挣了多少，而在于您是怎么挣的？我们将和您分享如何把枯燥的工作转化为热情的秘诀，这样的工作赚钱状态将是您梦寐以求的。</p>
        </div>
        <ul class="links earn">
         <!-- <li><a class="blogs btn-link" title="找份好工作">找份好工作</a><span class="ss-icon">➡</span></li>-->
          <li><a href="/blog/index?classify=理财技巧">理财技巧</a><span class="ss-icon">➡</span></li>
          <li><a href="/blog/index?classify=理财产品">理财产品</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 177px;">
      </div>
    </div>
    <!--
    <div class="news-line">
      <div class="col-left same-height-left" style="min-height: 228px;">
        <div class="col-content">
          <h1><em>消费</em> 抱有目的性</h1>
          <p>您的个人性格将决定您将如何消费。我们会帮助您带着快乐来消费，并一直帮您留意着什么才是最重要的。</p>
        </div>
        <ul class="links spend">
          <li><a class="blogs btn-link" title="理性消费">理性消费</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 224px;">
      </div>
    </div>
    -->
    <div class="news-line">
      <div class="col-left same-height-left" style="min-height: 201px;">
        <div class="col-content">
          <h1><em>保护</em> 婚姻和财产</h1>
          <p>当代社会不缺乏保护女性的制度和法律，缺乏的是女性自我保护的意识和能力。女性突出的自我保护主要存在家庭财务方面。</p>
        </div>
        <ul class="links learn">
          <li><a class="blogs btn-link" title="新婚姻法">新婚姻法</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 197px;">
        <!--
         <div class="headline">
           <h2><a href="/home/guide" target="_blank">手把手规划</a></h2>
         </div>
         <div class="content">
           <a href="/home/guide" target="_blank"><img alt="Img-04" src="/assets/graph.gif"></a>
           <div class="text-block">
             <p>国家金融理财师专业设计的规划指南图，通俗易懂，一看就会自己制定家庭理财规划方案。</p>
           </div>
         </div>
        -->
      </div>
    </div>
  </div>
  <div class="form-block second">
    <div class="sub-box" style="display: table;width: 100%;">
      <div class="holder">
        <div class="ct">
          <!-- Begin MailChimp Signup Form -->
          <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
              #mc_embed_signup{background:#f5866c; clear:left; font:14px Helvetica,Arial,sans-serif; }
              #mc_embed_signup label {
                  display: block;
                  font-size: 24px;
                  padding-bottom: 10px;
                  font-weight: bold;
                  line-height: 40px;
                  margin-bottom:0px;
              }
              #mc_embed_signup input.email {
                  width: 65%;
              }
          </style>
          <div id="mc_embed_signup">
            <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">订阅邮件后，理财知识、规划、小技巧每天寄送给您。</label>
              <input type="email" value="" name="EMAIL" style="float: left;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
              <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ads-block">
    <div ad_dot_com="300250" class="box">
      <a href="http://e.weibo.com/tongtianshun/profile"><img src="/assets/120101.jpg" style="max-width: 340px;width: 100%;"></a>
    </div>
    <div ad_dot_com="300250" class="box"></div>
    <div ad_dot_com="300250" class="box"></div>
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $("#title").hide();
        $(".second").remove();
        $(".blogs").click(function(){
            var tag=this.title.split(",")
            var link="";
            for(var i=0;i<tag.length;i++){
                if(link==''){
                    link='?tag='+tag[i]
                }
                else{
                    link=link+'&tag'+i+'='+tag[i]
                }
            }
            location.href="/blog/index"+link;
        })
    }else{
        $(".first").remove();
        $(".second").remove();
        $(".social-networks").remove();
        $("#text").hide();
        /*
        $("#text").removeClass("text-block")
        $("#text").html("<img src='/assets/women.jpg'>")
         */
        $(".blogs").click(function(){
            var tag=this.title.split(",")
            var link="";
            for(var i=0;i<tag.length;i++){
                if(link==''){
                    link='?tag='+tag[i]
                }
                else{
                    link=link+'&tag'+i+'='+tag[i]
                }
            }
            location.href="/blog/all"+link;
        })
    }
</script>