


  <div class="leftframe">
    <div class="pagedomain">
      <h1>管理员页面</h1>
    </div>
    <div class="subpagedomain">
      <ul>
        <li><%= link_to "用户管理", webusers_path %></li>
        <li><%= link_to "保涨比较",:controller=>"admin" ,:action=>"comparison" %></li>
        <li><%= link_to "版本管理",:controller=>"admin" ,:action=>"currentversion" %></li>

      </ul>
    </div>

  </div>

