<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
</style>

<div class="main-body">
  类型ID：<input type="text" name="typeid" id="typeid" title="类型ID"> <br><br>
  投资回报率：<input type="text" name="average_return_rate" id="average_return_rate"> <br><br>
  年数：<input type="text" name="years" id="years"> <br><br>
  <a class="btn btn-primary" href="javascript:void(0)" id="categoryconfig">确认</a>
</div>

<script type="text/javascript">
    <% if params[:id]!="0" %>
    $("#typeid").attr("value",'<%= @average.typeid %>');
    $("#average_return_rate").attr("value",'<%= @average.average_return_rate%>');
    $("#years").attr("value",'<%= @average.years%>');
    <% end %>

    $("#categoryconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        if(nom_flag==0){
            $.post("/admin/averageconfigajax/<%= params[:id] %>",{ typeid: $("#typeid").attr("value"),average_return_rate: $("#average_return_rate").attr("value"),years: $("#years").attr("value")
            },function(data){
                if(data=="s1"){
                    alert("创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>
