<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
</style>

<div class="main-body">
  负债代码：<input type="text" name="debt_typeid" id="debt_typeid"><br>
  负债名称：<input type="text" name="debt_typename" id="debt_typename" title="资产名称"><br>
  <a class="btn btn-primary" href="javascript:void(0)" id="categoryconfig">确认</a>
</div>

<script type="text/javascript">
    $("#categoryconfig").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        var o=document.getElementsByTagName("input");
        var nom_flag=0;

        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!="" && nom_flag==0){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }

        if(nom_flag==0){
            $.post("/admin/debtconfigajax/<%= params[:id] %>",{ debt_typeid: $("#debt_typeid").attr("value"),debt_typename:$("#debt_typename").attr("value")},function(data){
                if(data=="s1"){
                    alert("创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>

<script language="javascript">

    $(document).ready(function(){
        <% if params[:id]!="0" %>
        $("#debt_typeid").attr("value",'<%= @debttype.debt_typeid%>');
        $("#debt_typename").attr("value",'<%= @debttype.debt_typename%>');
        <% end %>
    });

</script>