<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
</style>

<div class="main-body">
  expense_id：<input type="text" name="expense_id" id="expense_id" title="expense_id"><br>
  开销名称：<input type="text" name="expense_name" id="expense_name" title="开销名称"><br>
  最佳占年收入比率：<input type="text" name="expense_expect" id="expense_expect">%<br>
  <a class="btn btn-primary" href="javascript:void(0)" id="categoryconfig">确认</a>
</div>

<script type="text/javascript">
    $("#categoryconfig").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        var o=document.getElementsByTagName("input");
        var nom_flag=0;

        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!="" && nom_flag==0){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        if(nom_flag==0){
            if($("#expense_expect").attr("value")!=''){
            if(numfor.test($("#expense_expect").attr("value"))==false){
                alert("最佳占年收入比率必须为数字！");
                nom_flag=1;
            }
            }
        }

        if(nom_flag==0){
            $.post("/admin/expenseannualconfigajax/<%= params[:id] %>",{ expense_id: $("#expense_id").attr("value"),expense_name:$("#expense_name").attr("value"),expense_expect:$("#expense_expect").attr("value")},function(data){
                if(data=="s1"){
                    alert("创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>

<script language="javascript">

    $(document).ready(function(){
        <% if params[:id]!="0" %>
        $("#expense_id").attr("value",'<%= @expenseannual.expense_id%>');
        $("#expense_name").attr("value",'<%= @expenseannual.expense_name%>');
        $("#expense_expect").attr("value",'<%= @expenseannual.expense_expect %>');
        <% end %>
    });

</script>