<div class="slider2">
<div class="slice12">
  <h2>管理员</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize_login">
  <div class="StrategyNews">
  <h2>用户管理</h2>
  <ul>
    <li><%= link_to "用户管理", webusers_path %></li>
  </ul>
  <h2>策略管理</h2>
  <ul>
  </ul>
<p></p>
</div>
    欢迎您，管理员<%= @webuser.name %>！
	<h2><%= link_to "管理员账户设置",:controller=>"webusers" ,:action=>"edit", :id=>@webuser.id  %></h2>
	<div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>