<%= stylesheet_link_tag "usersurvey.css" %>

<style>
    .main-container{
        width: 100%;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }

    td{
        vertical-align: top;
    }

    h1{
        position: relative;
        font-size: 33px;
        line-height: 40px;
        border-bottom: 3px solid #e2e3e4;
        padding: 0 20px 4px!important;
        font-weight: normal;
        font-family: "helvetica neue",helvetica,arial,sans-serif;
    }

    .num{
        font-weight: 400;
        font: bold 28pt Helvetica, Arial, sans-serif;
        color: #ccc;
    }
    .cell{
        display: table-cell;
    }
    a{
        font-size: 24px;
        font-family: STSong;
        font-weight: normal;
        color: #08c;
    }
    a:hover,.btn-link:hover {
        text-decoration: none;
        color: #08c;
    }
    img{
        max-height: 200px;
        max-width: 200px;
    }
</style>

<div class="main-container">
  <div class="top-tabs-content">
    <div style="padding-left: 20px;">
      <b>1.</b> <span> 家庭资产体检</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span><b>2.</b> 风险承受力评估</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span><b>3.</b> 梦想目标设定</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span class="disabled"><b>4.</b> 规划建议书生成</span>
    </div>
  </div>
  <div style="padding: 0px 20px 50px;">
    <h1>梦想目标设定</h1>
    <div style="height: 30px;"></div>
    <table style="width: 100%;">
      <tr>
        <td style="width: 8%;"></td>
        <td style="width: 28%;">
          <div class="cell">
            <span class="num">1</span>
          </div>
          <div class="cell" style="padding-bottom: 50px;">
            <% if session[:webusername]!=nil %>
                <a class="btn-link" style="padding-left: 30px;" onclick="dreamset('不做月光族！')">月光族计划</a><br><br>
                <a class="btn-link" onclick="dreamset('不做月光族！')"><img src="/assets/girl_credit_cards.jpg"></a>
            <% else %>
                <a href="/sales/login?logintype=creat&dreamset=不做月光族！" style="padding-left: 30px;">月光族计划</a><br><br>
                <a href="/sales/login?logintype=creat&dreamset=不做月光族！"><img src="/assets/girl_credit_cards.jpg"></a>
            <% end %>
          </div>
        </td>
        <td style="width: 28%;">
          <div class="cell">
            <span class="num">2</span>
          </div>
          <div class="cell">
            <a href="#" style="padding-left: 30px;">买房</a><br><br>
            <img src="/assets/familyhouse0002.jpg">
          </div>
        </td>
        <td style="width: 28%;">
          <div class="cell" style="width: 30px;">
            &nbsp;
          </div>
          <div class="cell">
            <span class="num">3</span>
          </div>
          <div class="cell">
            <a href="#" style="padding-left: 30px;">买车</a><br><br>
            <img src="/assets/evilcar0202.jpg">
          </div>
        </td>
        <td style="width: 8%;"></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <div class="cell">
            <span class="num">4</span>
          </div>
          <div class="cell">
            <a href="#" style="padding-left: 30px;">子女教育</a><br><br>
            <img src="/assets/b4_familydog0003.jpg">
          </div>
        </td>
        <td>
          <div class="cell">
            <span class="num">5</span>
          </div>
          <div class="cell">
            <a href="#" style="padding-left: 30px;">养老</a><br><br>
            <img src="/assets/seniors0002.jpg">
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<script>
   function dreamset(dream){
       $.post("/usersurvey/dreamsset",{ username:"<%= session[:webusername] %>",dreamset:dream},function(data){
           location.href="/personmanagement/personfinance";
       });
   }
</script>