 <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="generator" content="Wufoo">
  <meta name="robots" content="index, follow">

  <style>

      *{margin:0;padding:0;}
      html{overflow:hidden;}
      #wufoo{position:absolute;width:100%;height:100%;}
      body{margin-bottom:-17px;}
      iframe{height:80%;width:100%;border:none;}

  </style>

<div id="wufoo">
  <iframe title="Untitled Form" frameborder="0" src="http://alancuiwei.wufoo.com/forms/r7x2q5/">
    <a href="http://alancuiwei.wufoo.com/forms/r7x2q5/" title="HTML Form">Untitled Form</a>
  </iframe>
</div>
