<%= stylesheet_link_tag "common2.css" %>

<div class="welcomes measure">
  <div class="ofa-funnel-pages">
  <div id="top-tabs">
    <div class="top-tabs-content">
      <% if @webuser.asset_score ==nil %>
          <a href="/usersurvey/measure/1"><b>1.</b> 资产体检</a>
          <b>&nbsp;&gt;&nbsp;</b>
          <span class="disabled"><b>2.</b> 风险评估</span>
          <b>&nbsp;&gt;&nbsp;</b>
          <span class="disabled"><b>3.</b> 理财规划</span>
      <% elsif @webuser.risk_score ==nil %>
          <a href="/usersurvey/measure/1"><b>1.</b> 资产体检</a>
          <b>&nbsp;&gt;&nbsp;</b>
          <a href="/usersurvey/measure/2"><b>2.</b> 风险评估</a>
          <b>&nbsp;&gt;&nbsp;</b>
          <span class="disabled"><b>3.</b> 理财规划</span>
      <% else %>
      <a href="/usersurvey/measure/1"><b>1.</b>  资产体检</a>
      <b>&nbsp;&gt;&nbsp;</b>
      <a href="/usersurvey/measure/2"><b>2.</b> 风险评估</a>
      <b>&nbsp;&gt;&nbsp;</b>
      <a href="/usersurvey/measure/3"><b>3.</b> 理财规划</a>
      <% end %>
    </div>
  </div>
  <table class="catalog">
    <tr class="win">
      <% if params[:id]=='1' %>
          <td class="cata"><h1 class="red">一、资产体检</h1></td>
      <% elsif params[:id]=='2'|| params[:id]=='3' %>
          <td class="cata"><h1>一、资产体检</h1></td>
      <% end %>
      <td></td>
    </tr>
    <tr>
      <% if params[:id]=='1'|| params[:id]=='3' %>
          <td class="win cata"><h1>二、风险评估</h1></td>
      <% elsif params[:id]=='2' %>
          <td class="win cata"><h1 class="red">二、风险评估</h1></td>
      <% end %>
      <td>
      <% if params[:id]=='1' %>
            <a href="/usersurvey/startup" class="btn btn-primary begin">开 始</a>
      <% elsif params[:id]=='2' %>
            <a href="/home/questions" class="btn btn-primary begin">开 始</a>
      <% elsif params[:id]=='3' %>
            <a href="/personmanagement/summary" class="btn btn-primary begin">开 始</a>
      <% end %>
      </td>
    </tr>
    <tr class="win">
      <% if params[:id]=='1'|| params[:id]=='2' %>
          <td class="cata"><h1>三、理财规划</h1></td>
      <% elsif params[:id]=='3' %>
          <td class="cata"><h1 class="red">三、理财规划</h1></td>
      <% end %>
      <td></td>
    </tr>
  </table>
    </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".mobile").remove();
    }else{
        $(".win").remove();
    }
</script>
