<%= stylesheet_link_tag "usersurvey.css" %>
 <% if session[:webusername] %>
<div class="main-content">
  <div class="centerframe">
    <h2>选择支付方式</h2>
    <div id="pay_in_alipay"><a value="#alipay-box" href="javascript:void(0)" class="login-window">支付宝交付</a>
    </div>
    <div id="pay_in_cash">
      <h3>现金支付</h3>
      <p>公司地址：南京市中央路323号利奥大厦1406室。</p>
      <p>联系人：崔伟</p>
      <p>联系电话：18651619747 </p>
    </div>
    <div id="pay_in_bank">
      <h3>银行汇款</h3>
      <p>公司全称： 南京重人软件科技有限公司</p>
      <p>开户帐号： 320006622018010044023 </p>
      <p>开户银行： 交通银行 三元巷支行 </p>
    </div>
  </div>
</div>

<div id="alipay-box" class="login-popup">
  <div class="popup_alipay_content">
    <p> 你的订单号是：<%= @subsribe_id %></p>
    <p> 订购梦想规划</p>

    <div class="popup_alipay_2buttons_confirm"><a href='<%= @alipy_url %>'>前往支付宝</a></div>
    <div class="popup_alipay_2buttons_cancel"><a href="#" class="close"> 取消</a></div>
  </div>

</div>
 <% end %>
<script>

    function box(id){
        if (id=="#login-box"){
            clickflag="login" ;
        }
        else{
            clickflag="regedit";
        }
        var loginBox = id;
        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);

        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
            'margin-top' : -popMargTop,
            'margin-left' : -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);
    }

    $(document).ready(function() {
//box
        $('a.login-window,a.regedit-window,a.autotrade-window').click(function () {
// Getting the variable's value from a link
            box($(this).attr('value'));
            redirect=($(this).attr("name"))
        });
// When clicking on the button close or the mask layer the popup closed
        $('a.close, #mask').live('click', function() {
            $('#mask , .login-popup').fadeOut(300 , function() {
                $('#mask').remove();
            });
            return false;
        });
    });
</script>