<%= stylesheet_link_tag "usersurvey.css" %>

<div class="main-content">
  <div class="centerframe">
    <h2>选择支付方式</h2>
    <div id="pay_in_alipay"><a value="#alipay-box" href="javascript:void(0)" class="login-window">支付宝交付</a>
    </div>
    <div id="pay_in_cash">
      <h3>现金支付</h3>
      <p>公司地址：南京市中央路323号利奥大厦1406室。</p>
      <p>联系人：崔伟</p>
      <p>联系电话：18651619747 </p>
    </div>
    <div id="pay_in_bank">
      <h3>银行汇款</h3>
      <p>公司全称： 南京重人软件科技有限公司</p>
      <p>开户帐号： 320006622018010044023 </p>
      <p>开户银行： 交通银行 三元巷支行 </p>
    </div>
  </div>
</div>