<%= stylesheet_link_tag "payment.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<div class="main-body">
  <div id="page-content">
    <h1>买房规划服务</h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2>服务视频介绍</h2>
          <a class="various" onclick="showvideo('服务视频介绍','#fuwu')" href="#myModal" role="button" data-toggle="modal">
            <img src="/assets/video-button-2.png" style="height: 64px;background-color: #C3E4EC;">
          </a>
        </div>
        <div class="span4 offset1">
          <% if (session[:webusername]!=nil && @webuser!=nil && @webuser.ischarge!=1 && @webuser.payforhouse!=1) || session[:webusername]==nil %>
              <div class="pricing-tiers bs-docs-sidenav affix-top">
                <ul class="pricing-list tiers">
                  <li class="list-heading dark">
                    <h2 class="plan-title">买房规划服务</h2>
                    <p class="plan-name">20元</p>
                  </li>
                  <li>新房、二手房税率计算</li>
                  <li>您该买多少价位的房子？</li>
                  <li>您可以贷款多少公积金？</li>
                  <li>您能承受多少商业贷款？</li>
                  <li>您的月供房贷对您的影响？</li>
                  <li>买房后，您的家庭储蓄该如何处理？</li>
                </ul>
                <table id="payment">
                  <tr>
                    <td rolspan="2">
                      <a class="res" href="javascript:void(0)" id="submit"><img style="width: 150px;" src="/assets/zhifubao.jpg"></a>
                    </td>
                    <td>满意后付款<br><a class="various fancybox.iframe" onclick="showvideo('付款流程视频','#fukuan')" href="#myModal" role="button" data-toggle="modal">付款流程视频</a></td>
                  </tr>
                </table>
                <br>
                <p style="text-align: center;"><a id="buy" class="btn btn-primary btn-large" href="javascript:void(0)">购 买 理 财 规 划</a></p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" z-index=2 tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="title">付款流程视频</h3>
  </div>
  <div class="modal-body">
    <iframe id="fuwu" class="video" frameborder=0 height=360 width=600 src="http://v.qq.com/iframe/player.html?vid=f0123m2o8hm&auto=0&tiny=0" allowfullscreen></iframe>
    <iframe id="fukuan" class="video" frameborder=0 height=360 width=640 src="http://v.qq.com/iframe/player.html?vid=v0123z5sild&auto=0&tiny=0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="backdrop">关闭</button>
  </div>
</div>

<script>
    function showvideo(title,vid){
        $("#title").html(title);
        $(".video").hide();
        $(vid).show();
    }

    $("#submit,#buy").click(function(){
        <% if session[:webusername]!=nil %>
        $.get("/payment/zhifubao",{username:'<%= session[:webusername] %>',scharge:20,payfor:'buyhouse'},function(data){
            location.href=data;
        });
        <% else %>
        location.href="/usermanagement/login?buyhouse=1";
        <% end %>
    });
</script>