<%= stylesheet_link_tag "payment.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<div class="main-body">
  <div id="page-content">
    <h1>我们将给您提供的服务</h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2>财务分析报告</h2>
          <img style="width:500px;" src="/assets/cwfxbg.png"><br>
          <h2>理财目标</h2>
          <img style="width:500px;" src="/assets/lcmb.png"><br>
          <h2>风险评估</h2>
          <img style="width:500px;" src="/assets/fxpg.png"><br>
          <h2>家庭应急基金准备</h2>
          <img style="width:500px;" src="/assets/yjjjzb.png"><br>
          <h2>高收益和稳健资产配置</h2>
          <img style="width:500px;" src="/assets/gshhwjzc.png"><br>
          <h2>每月工资投资指导</h2>
          <img style="width:500px;" src="/assets/gztz.png"><br>
          <h2>当前理财产品分析</h2>
          <img style="width:500px;" src="/assets/lccpfx.png"><br>
<!--
          <h2>微信实时查询家庭资产</h2>
          <img style="width:500px;" src="/assets/wxsscx.png"><br>
-->
        </div>
        <div class="span4 offset1">
          <% if (session[:webusername]!=nil && @webuser!=nil && @webuser.ischarge!=1) || session[:webusername]==nil %>
          <div class="pricing-tiers bs-docs-sidenav affix-top">
            <ul class="pricing-list tiers">
              <li class="list-heading dark">
                <h2 class="plan-title">家庭理财服务</h2>
                <p class="plan-name">50元</p>
              </li>
              <li>针对您家庭的财务指导</li>
              <li>推荐适合您的理财产品</li>
              <li>设计适合您的投资组合</li>
              <li>重大市场风险给您通知</li>
<!--
              <li>理财产品分析</li>

              <li>每月工资投资指导</li>
              <li>当前理财产品分析</li>
              <li>微信实时查询家庭资产</li> 
-->
            </ul>
           
            <table id="payment">
              <tr>
                <td rolspan="2">
                  <a class="res" href="javascript:void(0)" id="submit"><img style="width: 150px;" src="/assets/zhifubao.jpg"></a>
                </td>
<!--
                <td>满意后付款<br><a class="various fancybox.iframe" href="#myModal" role="button" data-toggle="modal">付款流程视频</a></td>
              -->
                <td>财富自由，从这里开始！</td>

              </tr>
            </table>
            <br>
            <p style="text-align: center;"><a id="buy" class="btn btn-primary btn-large" href="javascript:void(0)">财富自由门票--></a></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>付款流程视频</h3>
  </div>
  <div class="modal-body">
    <iframe frameborder=0 height=360 width=640 src="http://v.qq.com/iframe/player.html?vid=v0123z5sild&auto=0&tiny=0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script>
    $("#submit,#buy").click(function(){
        <% if session[:webusername]!=nil %>
        $.get("/payment/zhifubao",{username:'<%= session[:webusername] %>',scharge:50,payfor:'service'},function(data){
            location.href=data;
        });
        <% else %>
        location.href="/usermanagement/login?payment=1";
        <% end %>
    });

    !function ($) {
        $(function(){
            var $window = $(window)
            // side bar
            setTimeout(function () {
                $('.bs-docs-sidenav').affix({
                    offset: {
                        top: function () { return $window.width() <= 980 ? 290 : 210 }
                        , bottom: 270
                    }
                })
            }, 100)
        })
    }(window.jQuery)
</script>