
    <p id="notice"><%= notice %></p>

    <p>
      <b>贷款利率修改为：</b>
      <%= @usercommodity_t.lendrate.to_d*100 %>%
    </p>

    <%= link_to '返回', :controller=>"usermanagement" ,:action=>"userlendrate", :id=>@webuser.id %>
