<%= stylesheet_link_tag "home.css" %>
<style>
  h2{font-size: 26px; margin: 42px 0 30px;padding-bottom: 20px;color: #000;border-bottom: 2px solid #000;}
  .main-contents p {
      text-align: justify;
      font-size: 18px;
      line-height: 33px;
      color: #666;
      margin: 0;
  }
  h1{margin-top: 30px;}
</style>
<div class="main-contents">
  <a href="/">首页</a><br>
  <h1>什么是国家金融规划师</h1>
  <h2>CFPTM资格认证</h2>
  <p>国际金融理财师CFP资格认证，金融理财全球卓越标准。恪守“以客户利益为行为导向”的重要理念。</p>
  <p>1969年，美国金融咨询业的一些专业人士创立了第一个金融理财专业协会——国际金融理财协会（IAFP）。经过10余年的努力，1985年，美国金融理财学院（College for Financial Planning）和CFP协会（ICFP）共同设立了国际CFP标准和实践委员会（IBCFP）。1994年，IBCFP更名为著名的美国CFP标准委员会（CFP Board of Standards）。</p>
  <p>发端于美国的CFP资格认证制度，于1990年前后开始了其国际化的历程。先后有澳大利亚、日本、加拿大等国家与美国CFP标准委员会签署了CFP商标国际许可协议。这些协议允许当地唯一获得授权的组织参照美国CFP标准委员会的模式，向达到教育（Education）、考试（Examination）、从业经验（Experience）和职业道德（Ethics）等严格要求（即“4E”标准）的当地金融理财师颁发CFP资格证书。目前，全世界的CFP持证人总数已超过13万人。</p>
  <p>国际金融理财标准委员会（中国）（英文为FPSB China，简称标委会）是唯一取得国际金融理财标准委员会（Financial Planning Standards Board，简称FPSB）授权在中国大陆进行国际金融理财师CFP认证和CFP商标管理的机构。</p>
  <p>CFP资格认证被《华尔街日报》誉为国际金融理财业界最高荣耀。CFP商标为：CFP™、CERTIFIED FINANCIAL PLANNER™以及。</p>
  <h2>AFPTM资格认证</h2>
  <p>国际金融理财标准委员会（中国）结合中国国情，采用多数FPSB成员的做法，在中国实施金融理财师两级认证制度，即金融理财师AFP资格认证和国际金融理财师CFP资格认证制度。AFP商标为AFP™、Associate Financial Planner™以及。</p>
  <p>AFP资格认证是CFP资格认证的第一阶段，申请人取得AFP资格认证后才能参加CFP资格考试和认证。</p>
  <p>金融理财师AFP资格认证，英文全称为Associate Financial Planner。国际组织在批准中国实行两级认证体系时，明确指出AFP与CFP持照人数之间应当保持一定的差距；在实行多级认证制度的国家，AFP和CFP持照人数之比大约为10：1。与CFP资格认证一样，AFP资格认证由国际组织FPSB统一签发。</p>
  <h2>EFPTM资格认证</h2>
  <p>金融理财管理师EFP专业人士，是从事金融理财管理，达到国际金融理财标准委员会（中国）（以下简称“标委会”）所制定的教育（Education）、考试（Examination）、从业经验（Experience）和职业道德（Ethics）标准（以下简称为“4E”标准），并取得资格认证的专业人士。EFP商标为EFP™、Executive Financial Planner™以及。</p>
  <p>金融理财管理师的工作职责是，对金融理财服务从业人员的理财活动进行专业指导、业务监督、风险控制和考核评价。国际金融理财标准委员会（中国）是中国金融理财管理师的考试和认证机构。EFP资格认证由FPSB统一签发，属于国际认证。</p>
  <p>EFP资格认证培训共60学时，主要内容包括：金融理财原理、金融理财与法律、投资规划、个人税务与遗产筹划、退休规划与员工福利、金融理财管理、金融理财综合规划案例。申请资格认证的申请人须具备六年以上的全职金融工作经验和一年以上的金融理财管理相关的全职工作经历。</p>
  <h2>CPBTM资格认证</h2>
  <p>CPB资格认证，英文全称为Certified Private Banker，是国际金融理财标准委员会（Financial Planning Standards Board，简称FPSB）自2008年初开始，面向全球财富管理和私人银行领域专业人士推出的高端国际资格认证，中文称为认证私人银行家，其注册商标为CPB™、Certified Private Banker™以及。</p>
  <p>CPB资格认证在过去几年中经历了快速的发展，成为全球私人银行业内人士追求的顶级荣耀。作为FPSB的会员组织，国际金融理财标准委员会（中国）在CPB资格认证推出后，适时在中国推出了私人银行家（CPB）资格认证。</p>
  <p>达到标委会认定的教育（Education）、考试（Examination）、从业经验（Experience）和职业道德（Ethics）的“4E”标准的CPB资格申请人，经认证可获得CPB资格认证。</p>
  <p>CPB资格认证证书由国际组织FPSB直接签发，证书有效期为两年，持证人必须根据《金融理财师继续教育管理办法》，满足标准委员会规定的继续教育和职业道德的要求，方可保留其资格。</p>
  <p>CPB资格认证被业内人士称为私人银行的顶级荣耀和财富管理行业的黄金标准。</p>
  <!--
  <h1>AFP金融理财师<a class="btn btn-primary pull-right" href="/home/apply">申请AFP服务</a></h1>
  <br>
  <p>概述</p>
  <br>
  <p>金融理财师作为一种新兴的个人理财职业，主要职责是为个人客户提供全方位的专业理财建议，通过不断调整各种金融产品组成的投资组合，设计合理的税务规划等，来满足客户长期的生活目标和财务目标。</p>
  <br>
  <p>2009年2月16日， FPSB发布公告，经与中国金融教育发展基金会商定，将中国金融教育发展基金会金融理财标准委员会(FPSCC)转型为“国际金融理财标准委员会中国专家委员会”（英文为FPSB China Advisory Panel）和“现代国际金融理财标准（上海）有限公司”（英文为FPSB China Ltd.）。FPSB与现代国际金融理财标准（上海）有限公司签定新的协议，FPSB China作为FPSB的成员单位，承担中国金融教育发展基金会与FPSB原授权协议中的所有权利和义务。</p>
  <br>
  <p>AFP资格认证是一项国际标准，内容本土化，水平国际化。2009年以前，AFP资格证书由中国金融教育发展基金会金融理财标准委员会（标委会）进行认证，2009年开始，随着标委会转型为国际金融理财标准委员会中国专家委员会和现代国际金融理财标准（上海）有限公司（也即FPSB China）之后，AFP金融理财师由FPSB China进行认证。AFP已经纳入FPSB国际认证体系。</p>
  <br>
  <p>成为一名合格的AFP持证人需要达到教育（Education）、考试（Examination）、从业经验（Experience）和道德（Ethics）四个标准，即（4E）标准。</p>
  -->
</div>