<%= stylesheet_link_tag "home.css" %>

<div class="main-contents">
  <h1>AFP金融理财师<a class="btn btn-primary pull-right" href="/home/apply">申请AFP服务</a></h1>
  <br>
  <p>概述</p>
  <br>
  <p>金融理财师作为一种新兴的个人理财职业，主要职责是为个人客户提供全方位的专业理财建议，通过不断调整各种金融产品组成的投资组合，设计合理的税务规划等，来满足客户长期的生活目标和财务目标。</p>
  <br>
  <p>2009年2月16日， FPSB发布公告，经与中国金融教育发展基金会商定，将中国金融教育发展基金会金融理财标准委员会(FPSCC)转型为“国际金融理财标准委员会中国专家委员会”（英文为FPSB China Advisory Panel）和“现代国际金融理财标准（上海）有限公司”（英文为FPSB China Ltd.）。FPSB与现代国际金融理财标准（上海）有限公司签定新的协议，FPSB China作为FPSB的成员单位，承担中国金融教育发展基金会与FPSB原授权协议中的所有权利和义务。</p>
  <br>
  <p>AFP资格认证是一项国际标准，内容本土化，水平国际化。2009年以前，AFP资格证书由中国金融教育发展基金会金融理财标准委员会（标委会）进行认证，2009年开始，随着标委会转型为国际金融理财标准委员会中国专家委员会和现代国际金融理财标准（上海）有限公司（也即FPSB China）之后，AFP金融理财师由FPSB China进行认证。AFP已经纳入FPSB国际认证体系。</p>
  <br>
  <p>成为一名合格的AFP持证人需要达到教育（Education）、考试（Examination）、从业经验（Experience）和道德（Ethics）四个标准，即（4E）标准。</p>
</div>