<%= stylesheet_link_tag "home.css" %>
<style>
    .main-contents p {
        text-align: justify;
        font-size: 18px;
        line-height: 33px;
        color: #666;
        margin: 0;
    }
    .main-contents  .title{
        margin-top: 30px;
    }
    h1{font-size: 26px; margin: 42px 0 30px;padding-bottom: 20px;color: #000;border-bottom: 2px solid #000;}
</style>
<div class="main-contents">
  <a href="/">首页</a><br>
  <p class="title">选择一位金融理财师为您和您的家庭提供理财服务是非常有益的。假如您已经决定要请专业的理财师为您和您的家庭打理资产，您有必要充分了解您作为客户所享有的权利。</p>
  <h1>您有权要求您的金融理财师正直诚信</h1>
  <p>相互信任是您与理财师之间建立紧密关系的核心。作为一名优秀的理财师，不仅需要出类拔萃的专业素养和个人能力，更需要正直诚信的品质。当您的理财师履行专业职责时，他必须是客户利益至上的，换句话说，当客户的利益与理财师个人利益发生冲突时，理财师的执业原则应以客户利益为主。一个具备正直诚信品质的理财师有助于您与其建立相互信任的牢固关系，从而帮助您实现个人的理财目标乃至人生计划。</p>
  <h1>您有权要求您的金融理财师提供客观的理财建议</h1>
  <p>您的理财师给您的所有理财建议应当是以您的理财需求为中心。理财师应通过自己的经验和判断，谨慎考虑您的现状，给您提供最契合您的目标的理财建议。理财建议的客观性决定了理财目标必须依据您当前的财务状况，因此当您的理财目标不切实际时，理财师有必要向您解释和指出，建议您更换该理财目标或调整其优先次序。</p>
  <h1>您有权要求您的金融理财师具备任职资格</h1>
  <p>您有权要求您的金融理财师出示相应的知识水平证明，比如说“CFP™系列资格认证”（国际金融理财师CFP™资格认证的商标为，金融理财师AFP™资格认证的商标为，认证私人银行家CPB™资格认证的商标为，请认准这些标识）以证明他能够为您提供金融理财服务。作为保持竞争力的重要一部分，您的理财师还应完成继续教育课程。</p>
  <h1>您有权要求您的理财师公平地为您提供服务</h1>
  <p>您的理财师应公平地为您提供服务，一视同仁。这其中包括清晰地告知您服务内容及其费用，向您解释这些理财建议所伴随的风险，以及潜在的利益冲突，例如，理财师需要明确说明在您购买某理财产品或在执行理财策略的某项支出过程中，是否有其个人经济利益存在其中？</p>
  <h1>您有权要求您的金融理财师保守秘密</h1>
  <p>为了使金融理财服务达到最好的效果，您需要按照基本规则将相关的私人财务信息透露给您的理财师。理财师对于这些信息应当保守秘密，只有在他代表您办理业务（并且在您允许的前提下），或者是法院强制命令时，才能向他人公开这些信息。</p>
  <h1>您有权要求您的金融理财师专业胜任</h1>
  <p>您的理财师只有在具备相应的资质认证的情况下，才能够提供投资建议或是股票经纪服务，且该服务是在法律允许的范围之内。假如存在理财师尚不具备胜任能力的领域，理财师应提议由其他专业人士协助工作。</p>
  <h1>您有权要求您的金融理财师恪尽职守</h1>
  <p>理财师应当与您充分探讨您的理财目标和具体情况，并且在您成为他的客户之前，就应向您阐述您希望通过金融理财服务达成的目标。一旦理财师确定他（以及他的员工，或经其推介的相关专业人士）能够向您提供理财服务，并且已经向您收集了足够的信息，那么理财师就应向您提供并实施适合您的理财建议。尽职的理财师应对提供理财服务或推介产品事前做好充分的筹备和调研工作，长期跟踪、监督和控制理财方案的执行和理财服务的提供情况。</p>
  <!--
  <div class="row-fluid">
    <div class="span12">
      <a href="/">首页</a>&nbsp;>&nbsp;<a href="">家庭理财规划 专业服务</a><br>
      <h1 style="margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">国家金融规划师 帮你规划<a class="btn btn-primary pull-right application" style="margin-top: 5px;" href="/usersurvey/freeapply">申请VIP服务</a></h1>
      <div class="row-fluid">
        <div class="span1">
          <img src="/assets/120220.png">
        </div>
        <div class="span1">
          <img src="/assets/120221.png">
        </div>
        <div class="span1">
          <img src="/assets/120222.png">
        </div>
        <div class="span1">
          <img src="/assets/120223.png">
        </div>
        <div class="span1">
          <img src="/assets/120224.png">
        </div>
      </div>
      <br><br>
      <b class="txt">我们为您提供500万客户才能享受的专业私人银行财富规划服务。</b><br><br>
      <p>我们将为您联系国家金融规划师，根据您的生活重点和目标，计算实现目标的时间跨度和成本，通过合理规划您的财务状况，对您的人生目标做出是设计、计划、实施及复核的全盘规划，过上您所向往的生活。</p>
      <p>理财目标包括置业、婚姻、职业生涯规划、培养下一代、保障自己及家庭成员、退休计划及投资、遗产与税务安排等。</p>
      <br>
      <h1 style="margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">服务介绍：<a class="btn btn-primary pull-right application" style="margin-top: 5px;" href="/usersurvey/freeapply">申请VIP服务</a></h1>
      <img src="/assets/120219.jpg">
        </div>
    </div>
    -->
  </div>
