<%= stylesheet_link_tag "home.css" %>
<style>
.main-contents {
background-color: black;
background: url("/assets/120117.png") 100% 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom: 20px;
}
.main-contents p{
    padding-left: 20px;
    color: #000;
    font-size: 6px;
}
</style>
<div class="main-contents">
<table style="width: 100%;">
  <tr>
    <td style="width: 30%;">
      <div id="about">
          <div class="about2">
        <h1 id="title">
          专业 可信<br>
          <span id="larger">家庭理财规划<br>指南文档</span>
        </h1>
        <h2 id="info">
          为了您的度假，新婚，买房，退休环游世界，值得您打印下来，挂在书桌前，经常查看检查。
        </h2>
        <h2 id="download">
          <a id="pdf" href="/home/download/data?filename=家庭理财规划指南.pdf">下载文档</a>&nbsp;(pdf格式)<br>
          <a id="picture" href="/home/download/data?filename=家庭理财规划指南.jpg">下载文档</a>&nbsp;(图片格式)
        </h2>
      </div>
          <br>
          <div class="about2">
        <h1 id="title2">
          寻找<br>
          <span id="larger2">国家金融理财师<br>为您设计？</span>
        </h1>
            <a href="/home/scheme" target="_blank">进来了解</a>
          </div>
      </div>
    </td>
    <td class="img">
     <img src="/assets/120118.png" style="width:100%;" alt="家庭理财规划指南">
    </td>
  </tr>
</table>
  <p><span id="pdf2"><%= @pdfnumber %></span></p>
  <p><span id="picture2"><%= @jpgnumber %></span></p>
</div>

<script>
    $("#pdf,#picture").click(function(e){
        var pdfnumber=parseInt($("#pdf2").html());
        var jpgnumber=parseInt($("#picture2").html());
        if(this.id=='pdf'){
            pdfnumber=pdfnumber+1;
            $("#pdf2").html(pdfnumber);
        }
        else if (this.id=='picture'){
            jpgnumber=jpgnumber+1;
            $("#picture2").html(jpgnumber);
        }
        $.post("/home/downloadconfigajax",{ jpgnumber:jpgnumber,pdfnumber: pdfnumber},function(data){
        });
    });
    /*
    $(document).ready(function(){
        document.title="家庭理财规划指南";
        var meta = document.getElementsByTagName('meta');
        for(var i=0;i<meta.length;i++){
           if(meta[i].getAttribute('name')=="keywords"){
          //  meta[i].setAttribute('content',"家庭理财规划指南");
           }
        }
    });
    */
</script>