<body>
        <ul>
          <li>
			  <div id="banner3">

                <a href="/S010001/shownorisk"><p>500毫秒刷新行情，<br />
			  超过200多组合约对，<br />
			  捕捉所有盈利机会。</p></a>
            </div>
			  <p class="homepage_slide_img"><%= link_to(image_tag("img02.jpg"),:controller => "S010001",:action => "shownorisk") %></p>
          </li>

        </ul>

  <div class="quicklink_strategyshow">

    <div class="quicklink_instance">
      <a href="/S010001/shownorisk">
        <img class="qs_image" src="/assets/kuaisutongdao.jpg" alt="quicklink_norisk_strategy">
      </a>

      <div class="qs_content">
        <a href="/S010001/shownorisk"><h2>无风险套利</h2></a>
        <a href="/S010001/shownorisk">
          <p>商品期货市场的无风险套利是当前市场中最稳健的获利策略，他真正意义上实现了保本无风险投资。</p>
        </a>

      </div>

    </div>

  <div class="quicklink_instance">
      <a href="/autotrade/aboutautotrade">
        <img class="qs_image" src="/assets/zidonghuajiaoyi.jpg" alt="quicklink_autotrade">
      </a>
      <div class="qs_content">
        <a href="/autotrade/aboutautotrade"><h2>自动化交易</h2></a>
        <a href="/autotrade/aboutautotrade">
          <p>自动化交易就是您设置好交易品种范围，交易规模，系统根据您的策略自动完成开仓，平仓的交易。当前仅支持无风险套利策略。</p>
        </a>
      </div>

    </div>

    <div class="quicklink_instance">
      <a href="/contactus/hire">
        <img class="qs_image" src="/assets/chengpingyingcai.jpg" alt="quicklink_hire_information">
      </a>
      <div class="qs_content">
        <a href="/contactus/hire"><h2>诚聘人才</h2></a>
        <a href="/contactus/hire">
        <p>招聘Javascript, Matlab软件程序员。</p>
        </a>
      </div>

    </div>


  </div>

</body>

<!-- <img class="homepage_bottom_decoration" src="/assets/dibu_dise.gif" alt="homepage_bottom_decoration"> -->

<div class="footer">
    <p> 苏JCP备12035521 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南京重人软件有限公司 版权所有<br/>
      </p>
</div>
</html>
