<%= stylesheet_link_tag "home.css" %>

	    <div class='main-content'>
		 <div class='trow'>
		  <div class='main-body'>

		<table class='body-container' cellspacing=0 cellpadding=0 border=0>
		<tbody>
		<tr>
		<td class="body-content">

	        <div id='slider-container' class="video">
			    <div class="s-glow"></div>
				<img class="ls-s2" id='s-glow2' src='/assets/img02.jpg' />		        
		        <h1 id='s-title'>程序化交易<br/>保障您的资产<br/>稳定持续增值</h1>
			    <h2 id='s-subtitle'>
                    <a class='btn btn-success' href='/myaccount'>进来看看</a>
                    <b>程序化交易 ：</b><br/>在商品期货市场中、在股指期货市场中，实时监控200多个合约，精确计算，快速捕捉单边投资、套利机会，低风险，稳定资产增值。
                </h2>
	        </div>

		 <div id='welcome-content'>
		     <div class="press">
                <h2><b>程序化交易</b> 合作机构:</h2>
                  <table>
				<tr>
                <td class='img1'><img src="/assets/press_logos1.gif"/></td>
				<td class='img2'><img src="/assets/press_logos2.gif"/></td> 
				<td class='img3'><img src="/assets/press_logos3.gif"/></td> 
				</tr>
				</table>
                </div>

			 <div class='hsw'>
			   <table width=100%>
                    <tr><td colspan=2>
                        <h1><b>程序化交易</b> 为您提供些什么？</h1>
                    </td></tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/analysis.gif" />
                    </td>
                    <td class='right'>
                        <h2>精确计算</h2>
                        每个程序化交易模型都经过近8年的历史数据回测，进行遗传算法、登山算法等模型优化，并经过最低半年时间，最多2年的实盘测试，低风险，高回报，给客户带来持续资产增值。
                   </td>
                </tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/piggy.gif" />
                    </td>
                    <td class='right'>
                        <h2>实时捕捉所有机会</h2>
                        市场上有200多个活跃商品合约，实时监控行情数据，动态跟踪执行交易模型，动态计算套利成本，实时生成买入卖出信号，捕捉获利机会。
                   </td>
                </tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/graph.gif" />
                    </td>
                    <td class='right'>
                    <h2>自动化交易</h2>
                    根据程序化模型实时产生的买入卖出信号，程序自动化下单，平仓。您只需要提出您满意的年收益率要求，其他都交给程序来做。
                   </td>
                </tr>
			  </table>
			 </div>
		 </div>
		</td>
		</tr>
		</tbody>
		</table>
		        </div>
            </div>
			   <br/>           
      </div>

