<body>
  <div class="slider">
    <div class="slice1">
      <div class="slice2" id="slider">
        <ul>
          <li>
            <div>
              <p class="img"><%= link_to(image_tag("realtime.jpg",:size=>"539*292"),:controller => "strategy",:action => "shownorisk") %></p>
              <h2>实时展示 <br />
                商品期货市场 <br />
                无风险套利</h2>
              <p>500毫秒刷新行情，<br />
			  超过200多套利对，<br />
			  捕捉所有盈利机会。<a href="#"></a></p>
            </div>
          </li>
          <li>
            <div>
              <p class="img"><%= image_tag "selecting.jpg",:size=>"539*292" %></p>
              <h2>专业为您，<br />
			  精心挑选，<br />
			  盈利金融策略。</h2>
              <p>单边：趋势策略，震荡策略；<br />套利：跨期，跨产品，跨市场策略 <a href="#"></a></p>
            </div>
          </li>
          <li>
            <div>
              <p class="img"><%= image_tag "customed.jpg",:size=>"539*292" %></p>
              <h2>亲身定制 <br />
                 实现,测试,运行<br />
                金融市场策略。</h2>
              <p>简单上手，<br />
			  定制您自己的交易策略，<br />
			  免费帮您测试。<a href="#"></a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="topi">
      <div class="blogi">
        <h2 class="what">关于通天顺</h2>
        <p><strong>南京重人软件科技有限公司</strong> 研发维护。<br />重人软件是家专注于金融产品策略平台研发的企业。公司的创始团队具有多年国外软件公司，以及国内大型期货公司工作经验。<br />
        </p>
        <p><a href="#">更多信息</a></p>
      </div>
      <div class="blogi">
        <h2 class="Our">我们的服务</h2>
        <p>策略设计评估: 实时市场行情加载精选策略，评估策略优略，免费供您选择；<br />
        套利计算: 200多套利对实时计算套利成本；<br />
        策略定制: 先进计算机技术帮您定制盈利策略。</p>
        
		<p><a href="#">更多信息</a></p>
      </div>
      <div class="blogi">
        <h2 class="work">诚聘人才</h2>
        <p><strong>软件工程师：</strong> 负责金融应用软件开发,1~2年软件开发经验,精通C/C++编程。<br />
        <strong>网站构架师：</strong>精通HTML,CSS编程，精通Javascriopt，熟悉网站构架，了解RoR为佳。</p>
        <p><a href="#">更多信息</a></p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="body_resize">
      <div class="HomeNews">
        <h2>最新策略信息</h2>
        <p>2011年11月12日</p>
        <div class="bg"></div>
        <p>实时无风险商品套利策略</p>
        <p></p>
        <p><a href="#">+ 更多信息</a></p>
        <p></p>
      </div>
      <div class="Welcome">
        <h2>最新论坛信息</h2>
        <p>即将推出 </p>
        <div class="bg"></div>
        <p>即将推出 </p>
        <div class="bg"></div>
        <ul>
          <li>无风险套利策略</li>
        </ul>
        <ul>
          <li>羽根英树套利策略</li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <div class="resize">
      <div>
        <!--<p class="footer_logo"><a href="#"><%= image_tag "footer_logo.gif",:size=>"140*40" %></a></p> -->
        <p>Copyright © www.tongtianshun.com. <a href="http://www.tongtianshun.com/"></a>. All Rights Reserved<br />
<!--          <a href="index.html">Home</a> | <a href="contact.html">Contact</a> | <a href="blog.html">RSS</a></p>  -->
      </div>
    </div>
    <p class="clr"></p>
  </div>
</body>
</html>