<%= stylesheet_link_tag "home.css" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "highcharts.js" %>

<div class="welcomes">
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <div class="row-fluid">
        <div class="span4">
          <h1>帮您挑选<br/>最合适的<br/>银行理财产品</h1>
          <br>
          <p><a class="btn btn-success"  href='/bankinvest/index'><em>进来挑选</em></a></p>
          <p class="description">站在中立，客观的角度 <br>
            为您提供私人理财建议；<br>
            为您提供最新理财产品信息供您选择；<br>
            为您省心省力，贴心打理您的财富。</p>
        </div>
        <div class="span3">
          <dl class="dl-horizontal">
            <dt><div class="numeral">1</div></dt>
            <dd>
              <p>投资金额</p>
              <div class="input-prepend input-append">
                <span class="add-on">￥</span><input class="input-medium" id="investamount" placeholder="50000" type="text"><span class="add-on">元</span>
              </div>
              <div id="minimum-note">
                最小投资金额<br>￥50000元
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt><div class="numeral">2</div></dt>
            <dd>
              <p>您的年纪</p>
              <button id="age-decrease" class="light-gray" tabindex="-1" onclick="redrawchart()">−</button>
              <input id="age" name="age" value="30" type="text">
              <button id="age-increase" class="light-gray" tabindex="-1" onclick="redrawchart()">+</button>
            </dd>
          </dl>
        </div>
        <div class="span5">
           <h2>您的资产组合</h2>
           <h3>默认组合是为<span class="ages">30</span>岁家庭资产组合</h3>
          <div id="container" style="min-width: 250px; height: 200px; margin: 0 auto"></div>
          <div class="row-fluid link">
              <div class="span2">
                <input id="fee" name="fee" value="0" type="text">
              </div>
            <div class="span2">
              <div id="advisory-fee-label">
            <p class="flabel">咨询费</p>
              每年
            </div>
            </div>
            <div class="span4 offset2">
              <a class="btn" href='/home/questions'>详细测评建议<span id="personalize-chevron">»</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="welcme-content img">
    <div class="pres">
      <h2>他们的员工也在使用我们的服务</h2>
      <div class="row-fluid">
        <div class="span3 img1">
          <a href=""><img src="/assets/shbe.jpg"></a>
        </div>
        <div class="span3 img2">
          <a href=""><img src="/assets/zx.jpg"></a>
        </div>
        <div class="span2 img3">
          <a href=""><img src="/assets/ericsson.png"></a>
        </div>
        <div class="span2 img4">
          <a href=""><img src="/assets/trend.jpg"></a>
        </div>
      </div>
    </div>
    <h2 class="press">提供&nbsp;<a class="bankfinance" href="/bankinvest/index">银行理财产品</a>&nbsp;的服务</h2>
    <br><br>

    <div class="row-fluid">
      <div class="span4 offset1">
        <a href="/bankinvest/specialfinance"><img class="pull-left hsw" src="/assets/graph.gif"></a>
      </div>
      <div class="span7">
        <a href="/bankinvest/pickoutfinance">
          <h3>三步精选产品</h3>
          <p class="leader">简单的三个步骤，迅速帮您选择最适合您的<span class="h3">银行理财产品</span>。<br>
            通过资金量、流动性、风险性三步骤,公司金融专家研究各银行理财产品说明书推荐产品。这些产品都是银行自行设计并发行，产品风险极低，至今无亏损记录。</p>
        </a>
      </div>
    </div >

    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
        <a href="/bankinvest/index"> <img class="pull-left hsw" src="/assets/piggy.gif"></a>
      </div>
      <div class="span7">
        <a href="/bankinvest/index">
          <h3>在售银行产品</h3>
          <p class="leader">罗列出所有银行的各种<span class="h3">银行理财产品</span>，供您挑选。<br>
            收益率，投资期限，起购金额，购买时间一目了然。<br>帮您准确的计算每一笔投入的实际回报金额。</p>
        </a>
      </div>
    </div >

    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
        <a href="/home/productindex"><img class="pull-left hsw" src="/assets/analysis.gif"></a>
      </div>
      <div class="span7">
        <a href="http://eepurl.com/tonoL" target="_blank" class='full'>
          <h3>邮件订阅</h3>
          <p class="leader">订阅邮件，将定期发送<span class="h3">银行理财产品</span>文章，普及理财基本知识，最新产品功能及时推荐。
            并将在每周发送创业日记，会给您职场带来一些帮助和思考。</p>
        </a>
      </div>
    </div >
  </div>
</div>

<script type="text/javascript">
    var chart=null;
    var dataArray= [
        ['开发式银行理财产品',20],
        ['封闭式银行理财产品',20],
        ['股票型基金',20],
        ['保险',30],
        ['P2P信贷',30]
    ];
    $(function () {
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events: {
                        load: function() {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function() {
                                var data = [];
                                data.push(['开发式银行理财产品',parseInt($('#age').val())]);
                                data.push(['封闭式银行理财产品', 20]);
                                data.push(['股票型基金', 20]);
                                data.push(['保险', 30]);
                                data.push(['P2P信贷', 30]);
                                series.setData(data);
                            }, 200);
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 180,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataArray
                }],
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 10,
                    borderWidth: 0
              //      labelFormatter: function() { return this.name+this.percentage+'%'}
                },
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#567e7b', '#47be7f', '#dbe67b', '#57afb7', '#95d3d8', '#b5ca34'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(195, 228, 236)'],
                        [1, 'rgb(195, 228, 236)']
                    ]
                }
            }
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });

    $("#age-decrease,#age-increase").click( function() {
        if(this.id=='age-decrease') {
            delta=-1;
        }
        else{
            delta=1;
        }
        $("#age").val(parseInt(document.getElementById('age').value)+delta)
        $(".ages").html(parseInt(document.getElementById('age').value))
    } );
  /*
    function redrawchart(){
        dataArray=[
            ['开发式银行理财产品',parseInt($('#age').val())],
            [ '封闭式银行理财产品',20],
            [ '股票型基金',20],
            ['保险',30],
            ['P2P信贷',30]
        ];
        this.chart.series[0].setData(dataArray);
        this.chart.series[0].redraw();
    }
    */
</script>