<%= stylesheet_link_tag "home.css" %>

<div class="welcomes">
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <div class="row-fluid">
        <div class="span4">
          <h1>帮您挑选<br/>最合适的<br/>银行理财产品</h1>
          <br>
          <p><a class="btn btn-success"  href='/home/productindex'><em>进来看看</em></a></p>
          <p class="description">站在中立，客观的角度 <br>
                      为您提供私人理财建议；<br>
                      为您提供最新理财产品信息供您选择；<br>
                      为您省心省力，贴心打理您的财富。</p>
	        </div>
        <div class="span8">
          <img class="pull-left" src="/assets/img02.jpg">
			 </div>
		 </div>
		        </div>
            </div>
  <div class="welcme-content">
    <h2 class="press">通天顺&nbsp;为您提供最新&nbsp;<a class="text-error" href="/bankinvest/index">银行理财产品</a>&nbsp;信息</h2>
    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
           <img class="pull-left hsw" src="/assets/piggy.gif">
      </div>
      <div class="span7">
        <h3 class="h3"><a href="/bankinvest/index" class="h3">银行理财产品</a>&nbsp;服务</h3>
        <p class="leader">众多银行推出多样的理财产品，您该如何选择呢？</p>
        <p class="leader">年化收益率，风险，投资周期，您该如何解读呢？</p>
        <p class="leader">各家银行理财产品的内容信息，您该如何筛选呢？</p>
      </div>
    </div >
  </div>
      </div>
