<%= stylesheet_link_tag "home.css" %>

	    <div class='main-content'>
		 <div class='trow'>
		  <div class='main-body'>

		<table class='body-container' cellspacing=0 cellpadding=0 border=0>
		<tbody>
		<tr>
		<td class="body-content">

	        <div id='slider-container' class="video">
			    <a class="s-glow"></a>
				<table style="position: relative; z-index: 1;">
				  <tr>
				    <td class="left">
						
                    <h1 id='s-title' style="white-space:nowrap;">帮您挑选<br/>最合适的<br/>银行理财产品</h1>
			    <h2 id='s-subtitle'>
                    <a class='btn btn-success' href='/myaccount'>进来看看</a>
                      <p>站在中立，客观的角度</p>
                      <p>为您提供私人理财建议；</p>
                      <p>为您提供最新理财产品信息供您选择；</p>
                      <p>为您省心省力，贴心打理您的财富。</p>
                     
                </h2>
				    </td>
				    <td class="right">
				        <img class="ls-s2" id='s-glow2' src='/assets/img02.jpg' />
					</td>
				</tr>
				</table>
	        </div>

		 <div id='welcome-content'>
			 <div class='hsw'>
			   <table width=100%>
                    <tr><td colspan=2>
                    <h1 style="margin: 30px 0;"><b>通天顺</b> 为您收集银行理财产品信息</h1>
                    </td></tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/piggy.gif" />
                    </td>
                    <td class='right'>
                      <h3 style="margin-bottom: 20px;">银行理财产品 服务</h3>
                     <p >众多银行的推出众多的理财产品，您该如何选择呢？</p>
                     <p>年化收益率，风险，投资周期，您该如何选择呢？</p>
                     <p>各家银行理财产品的内容信息，您该如何读懂选择呢？</p>
                   </td>
                </tr>
			  </table>
			 </div>
		 </div>
		</td>
		</tr>
		</tbody>
		</table>
		        </div>
            </div>
			   <br/>           
      </div>
