<%= stylesheet_link_tag "home.css" %>

	    <div class='main-content'>
		 <div class='trow'>
		  <div class='main-body'>

		<table class='body-container' cellspacing=0 cellpadding=0 border=0>
		<tbody>
		<tr>
		<td class="body-content">

	        <div id='slider-container' class="video">
			    <div class="s-glow"></div>
				<img class="ls-s2" id='s-glow2' src='/assets/img02.jpg' />		        
		        <h1 id='s-title'>无风险<br/>稳定回报<br/>资产增值</h1>
			    <h2 id='s-subtitle'>
                    <a class='btn btn-success' href='/myaccount'>免费试用</a>
                    <b>无风险套利 ：</b><br/>在商品期货市场中，实时监控200多个合约，精确计算，快速捕捉套利机会，无风险，稳定年化收益率10%以上。
                </h2>
	        </div>

		 <div id='welcome-content'>
		     <div class="press">
                <h2><b>无风险套利</b> 合作机构:</h2>
                  <table>
				<tr>
                <td class='img1'><img src="/assets/press_logos1.gif"/></td>
				<td class='img2'><img src="/assets/press_logos2.gif"/></td> 
				<td class='img3'><img src="/assets/press_logos3.gif"/></td> 
				</tr>
				</table>
                  <div align="right" style="padding:15px 0 10px 0;">
                    <a href="/page/press" style="font-style: italic; font-family: georgia;">查看所有</a>
             </div>
                </div>

			 <div class='hsw'>
			   <table width=100%>
                    <tr><td colspan=2>
                        <h1><b>无风险套利</b> 为您提供些什么？</h1>
                    </td></tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/analysis.gif" />
                    </td>
                    <td class='right'>
                        <h2>精确计算</h2>
                        根据客户特定的手续费，保证金比例，贷款利率等进行个性化计算，达到更加精确的机会捕捉。
                   </td>
                </tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/piggy.gif" />
                    </td>
                    <td class='right'>
                        <h2>实时捕捉所有机会</h2>
                        市场上有200多个活跃商品合约，实时动态计算各套利对成本价差，捕捉获利机会。
                   </td>
                </tr>
                <tr>
                    <td class='left'>
                        <img src="/assets/graph.gif" />
                    </td>
                    <td class='right'>
                    <h2>自动化交易</h2>
                    客户只需提出您的年收益率要求，其他都交给程序来做。
                   </td>
                </tr>
			  </table>
			 </div>
		 </div>
		</td>
		</tr>
		</tbody>
		</table>
		        </div>
            </div>
			   <br/>           
      </div>

