<%= stylesheet_link_tag "home.css" %>

<div class="welcomes">
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <div class="row-fluid">
        <div class="span4">
          <h1>帮您挑选<br/>最合适的<br/>银行理财产品</h1>
          <br>
          <p><a class="btn btn-success"  href='/home/productindex'><em>进来看看</em></a></p>
          <p class="description">站在中立，客观的角度 <br>
                      为您提供私人理财建议；<br>
                      为您提供最新理财产品信息供您选择；<br>
                      为您省心省力，贴心打理您的财富。</p>
	        </div>
        <div class="span8">
          <img class="pull-left" src="/assets/img02.jpg">
			 </div>
		 </div>
		        </div>
            </div>
  <div class="welcme-content">
    <h2 class="press">提供&nbsp;<a class="text-error" href="/bankinvest/index">银行理财产品</a>&nbsp;的服务</h2>
    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
           <a href="/bankinvest/specialfinance"><img class="pull-left hsw" src="/assets/graph.gif"></a>
      </div>
      <div class="span7">
        <a href="/bankinvest/pickoutfinance">
        <h3>三步精选产品</h3>
        <p class="leader">简单的三个步骤，迅速帮您选择最适合您的<span class="h3">银行理财产品</span>。<br>
          通过资金量、流动性、风险性三步骤,公司金融专家研究各银行理财产品说明书推荐产品。这些产品都是银行自行设计并发行，产品风险极低，至今无亏损记录。</p>
        </a>
      </div>
    </div >
    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
        <a href="/bankinvest/index"> <img class="pull-left hsw" src="/assets/piggy.gif"></a>
      </div>
      <div class="span7">
        <a href="/bankinvest/index">
        <h3>在售银行产品</h3>
        <p class="leader">罗列出所有银行的各种<span class="h3">银行理财产品</span>，供您挑选。<br>
          收益率，投资期限，起购金额，购买时间一目了然。<br>帮您准确的计算每一笔投入的实际回报金额。</p>
        </a>
      </div>
    </div >
    <br><br>
    <div class="row-fluid">
      <div class="span4 offset1">
        <a href="/home/productindex"><img class="pull-left hsw" src="/assets/analysis.gif"></a>
      </div>
      <div class="span7">
        <a href="/home/productindex">
        <h3>邮件订阅</h3>
        <p class="leader">订阅邮件，将定期发送<span class="h3">银行理财产品</span>文章，普及理财基本知识，最新产品功能及时推荐。
        并将在每周发送创业日记，会给您职场带来一些帮助和思考。</p>
        </a>
      </div>
    </div >
  </div>
      </div>
