<%= stylesheet_link_tag "learn.css" %>

<div class="welcomes">
 <div class="contain">
  <h1>通天顺家庭理财能为您做些什么？</h1>
  <h3>通天顺家庭理财是独立的第三方理财规划服务机构，我们不代表任何银行、证券、保险等金融机构，所以我们能够独立地分析客户的财务状况和理财需求，判断所需投资工具，提供综合性的理财规划服务。</h3>
  <h3>我们的服务对象不是那些所谓的"大客户"，我们是要帮助“没有办法存下钱，但是最需要存钱”的月光族们。</h3>
  <h3>我们期待，把规划财富的实践经验通过我们的服务传递出去，传递给资产目前较少，觉得自己不能再这样下去的月光族们，一起重振家庭经济，从此不再月光族。</h3>
   <table>
     <tr>
       <td style="width: 76px;"></td>
       <td style="width: 304px;">
         <h3>基于您家庭个性化财务状况，进行资产体检</h3>
         <p>每个人的财务情况都是不一样的，所以通天顺家庭理财将考虑到您的个性化财务状况，包括您的已有资产、月收入及开支，合理科学的进行家庭资产配置规划。</p>
       </td>
       <td style="width: 76px;"></td>
       <td colspan="2"><img alt="Personalized asset allocation" src="/assets/121044.jpg"></td>
     </tr>
     <tr>
       <td colspan="2"><img alt="Fees Comparison" src="/assets/121043.jpg"></td>
       <td></td>
       <td style="width: 304px;">
         <h3>结合高盛开源系统，进行风险承受力评估</h3>
         <p>将通过对资金亏损的承受度、为了获取较高收益率所愿意承受的波动幅度、对于最大利润的关注度、参与高风险产品投资主动性、工作年限、可用资金（包括亲戚借款）、投资期限偏好、感兴趣理财产品的风险度、工作收入稳定性，来帮助您了解您的风险承受力。</p>
       </td>
       <td style="width: 76px;"></td>
     </tr>
     <tr>
       <td></td>
       <td>
         <h3>理财产品库筛选</h3>
         <p>以历史实盘业绩为导向，从中长期作为考察周期，从基金波动性、收益回报率等主要指标筛选基金。<br>筛选基金原则透明、公开。</p>
       </td>
       <td></td>
       <td colspan="2"><img alt="Re-balance your portfolio" src="/assets/121042.jpg"></td>
     </tr>
     <tr>
       <td colspan="2"><img alt="How to invest" src="/assets/121041.jpg"></td>
       <td></td>
       <td>
         <h3>个性理财产品推荐</h3>
         <p>根据您个人的收入状况、已有资产配置，结合您的风险评估结果，给您推荐合适的理财产品。<br>产品推荐包括产品介绍，历史净值业绩，历史排名，亏损概率，最高收益率等，方便您做出最佳的选择。</p>
       </td>
       <td></td>
     </tr>
     <tr>
       <td></td>
       <td>
         <h3>个性化理财规划</h3>
         <p>根据您设定好的长期理财规划目标，细分到每个月薪水的个性化分配，让你在满足生活质量的同时，进行财富积累、增值。<br>每月按计划资产分配后，最终将实现资产最优化，保障家庭财务安全稳健，且保值增值。</p>
       </td>
       <td></td>
       <td colspan="2"><img alt="Re-balance your portfolio" src="/assets/121040.jpg"></td>
     </tr>
     <tr>
       <td colspan="2"><img alt="How to invest" src="/assets/121039.jpg"></td>
       <td></td>
       <td>
         <h3>产品比价、最低成本购买</h3>
         <p>对于同一个理财产品，有着多种渠道来购买，包括银行、券商、基金公司、第三方理财机构等等，各个渠道的手续费、购买难易程度都不一样，我们帮你总结，选择您最方便、最低成本的购买渠道。</p>
       </td>
       <td></td>
     </tr>
     <tr>
       <td></td>
       <td>
         <h3>产品购买指导</h3>
         <p>对于刚入门的理财投资人而言，购买理财产品会觉得是一件很麻烦的事情，事实上有些产品也确实是的。<br>我们将通过文字、图片、录像来指导您，手把手教您，直到您完全掌握购买方法。</p>
       </td>
       <td></td>
       <td colspan="2"><img alt="Re-balance your portfolio" src="/assets/121038.jpg"></td>
     </tr>
   </table>
  <div id="get-started-partial">
    <a href="/usersurvey/startup" class="get-started-button">免费理财规划</a>
    <div id="free-text">花2分钟，弥补家庭财务漏洞。</div>
  </div>
 </div>
</div>