<%= stylesheet_link_tag "learn.css" %>

<div class="welcomes method">
  <div class="contain">
    <h1>理论依据</h1>
    <h3>通天顺家庭理财是在家庭理财规划、资产配置上进行科学研究，其成果与国内外著名金融研究机构进行交流，并将成果通过计算机程序模型化。</h3>
    <h3>通天顺家庭理财更加注重于将成功案例经验成果通过程序，应用于您的实际情况中。</h3>
    <h3>通天顺家庭理财资产配置模型、产品推荐等理论依据都是基于如下的实践、学术研究报告。</h3>
    <table>
      <tr>
        <td>
          <h3>资产体检理论</h3>
          <p>通天顺家庭理财主要借鉴美国MorningStar Instant X-Ray设计思想及实现[1]。</p>
          <p>通天顺家庭资产体检评估得分取决于您现在的资产配置与理想资产配置的偏差。</p>
          <p>对于现在资产，可以分为现有流动性资产L1（包含现金、银行活期、余额宝等货币基金等）、现有保本性资产W1（包含银行定存、保本基金、保本型银行理财产品等）、现有风险性资产F1（股票、基金等）。</p>
          <p>对于理想资产配置，同样，通天顺将从流动性、风险性、保本性这三个角度来考虑。</p>
          <p>流动性资产，也就是应急资金，是为了保障家庭的正常运转和意外时的应急需要。既不能太多，这样就会面临通货膨胀对家庭资产带来的贬值影响，也不能太少，那样将不能使得家庭渡过突发事件引起的困境。</p>
          <p>一般来说，这个金额应该为家庭月必要支出的3-6倍。当前国内外政治、经济情况大局稳定，通天顺认为3倍足够。</p></p>
          <p> 风险性资产，不同年龄的风险性资产配置完全不同。年纪越轻，风险投资比例可越大，处于事业起步阶段，收入偏低，开销偏高，这个阶段，人的风险承受能力最强，即使投资失败，也有足够的时间可以站起来。这里我们采用个人理财领域较为通用的最直观且简单的计算公式，用于测算个人投资股票、基金等风险资产的合适比例。风险资产投资比例(%) = 平均人口寿命 - 您的年龄。</p>
          <p> 对于以上的按比例理财方法，还应根据个人的实际情况，进行适当的调整，例如，如果未来子女教育，则需减少风险资产的投资比例。由于通天顺现在主要针对的年轻月光族，暂时可以不考虑这些因素。</p>
        </td>
        <td class='right'><img src="/assets/121034.png"></td>
        <td class='right'><img src="/assets/121033.png"></td>
      </tr>
      <tr>
        <td>
          <h3>风险评估理论</h3>
          <p>这个风险承受度评估系统是通天顺使用美国Caterina Lucarelli & Gianni Brighetti的Risk Tolerance in Financial Decision Making的投资风险评估理论，引用美国高盛公司的开源资产风险度管理模型，通过10个问题，包含投资取向，个人资金状况，个人工作情况，个人投资经验，从而了解您的风险承受度。</p>
          <p>通天顺风险评估系统主要通过如下十个角度来了解您的风险承受力：<br>
            1).资金损失承受度越强，能承受的风险度就越高。<br>
            2). 为了获取较高收益率所愿意承受的波动幅度。正常情况而言，能接受的波动幅度越大，风险度得分将越高。<br>
            3).更关注最大利润意味着愿意承担更大的风险。<br>
            4). 主动参与高风险产品投资意味着您愿意承担更大的风险。<br>
            5). 越接近退休年纪，能承担的风险将越小。正常而言，您的平时的投资都将最终影响您的退休收入。<br>
            6).通过个人家庭总资产值来均衡未来几年的收入和消费是否吻合，如何相差过大的话，我们将建议您承担更多的风险以获得更大的利润回报。<br>
            7）.你投资的时间越长，收益率会相对越高,能承受的风险度越高。<br>
            8）. 一个稳定的收入，意味着您能承担较高的风险。<br>
            9）。将根据你感兴趣的理财产品的风险度来判断您的风险承受力。<br>
            10）。短期内有大额消费目标的话，说明资金的安全性对您来说很重要，相应您的风险承受力则会降低。</p>
        </td>
        <td class='right'><img src="/assets/121032.png"></td>
        <td class='right'><img src="/assets/121031.png"></td>
      </tr>
      <tr>
        <td>
          <h3>风险评估理论</h3>
          <p>通天顺家庭理财将根据投资人已有的资产状况，进行资产配置调整，而不会让投资人将手头上所有资产变现后，再按照理想比例购买产品，这样可以使得投资人转换成本变得最低。</p>
          <p>分配原则：<br>
            1、因为保本理财产品的特点就是对于投资时间要求特别严格，无论是银行定存、银行保本理财产品还是保本基金，一旦提前赎回，则收益率将大幅下降。所以， 即使投资人的保本理财产品已经远超过理想比例，通天顺也将不会变动保本理财产品。<br>
            2、因为风险性产品的进出场时机对于资产总值变动相对关键，目前我们很难判断出、并给出合理的出场时间点，所以，同样，我们将不变动投资人已有风险性理财产品。但我们还是建议，投资人们进行相应的调整，因为风险性理财产品比例过高的话，会给您带来过高的风险。<br>
            3、对于流动性理财产品的分配，我们将采用如下策略：<br>
            首先，我们建议将所有的流动性理财产品都以货币基金的形势存在，解决月光族最关键的一点，就是使得取钱变得不是那么方便，货币基金则完全符合这样的条件，它流动性强，隔天即可取现，但又不能当时取现，可以有效的避免乱花钱。<br>
            其次，我们将满足流动性资金的理想比例，流动性资金作为应急资金的用途，应该最先被满足，而且不应该轻易的挪动。<br>
            再次，我们将多余的资金用来满足保本性资产，因为保本性理财产品的进场时机不是那么重要，而且因为它的收益率相对较高，可以理解为是家庭资产正规军，实力强大，而且求稳。<br>
            最后，我们会将剩余的资金用来投资于风险性理财产品。风险性资产是家庭资产的奇兵，只有给该品种足够的比例，才有可能实现家庭资产量的突破。</p>
            万一还有闲钱的话，我们会考虑把剩余资金再投向于保本性理财产品。</p>
        </td>
        <td class='right'><img src="/assets/121030.png"></td>
        <td class='right'><img src="/assets/121029.png"></td>
      </tr>
      <tr>
        <td>
          <h3>风险评估理论</h3>
          <p>时间周期：我们将采用中长期净值绩效来挑选基金，所谓的中长期绩效，就是指近三到五年内绩效都在排名前20名的基金。 为什么要看三年到五年的绩效？正常来说，股市走完一个景气循环，差不多需要三到五年的时间，如果这档基金在近三到五年的绩效，都能稳居前段班，表示无论在任何景气阶段，基金都能提供相对稳健的报酬。</p>
          <p>净值排名：不少投资人会有暂时“第一名迷思”，喜欢买绩效第一名的基金。其实，第一名的基金往往得重押某些股票，绩效虽然暂时居前，却不代表年年都能获得稳定的报酬，投资基金，挑选绩效稳定且排名靠前的基金，反而比较重要。</p>
          <p>技术指标：當選定特定基金以後，需要詳細觀察該基金的整體表現，比較特別及重要的是波動風險，就是標準差。当然“总回報率”看看該基金近期表現和同組的表現比較情況，以及該基金和對比指數的比較也很重要。</p> 
           <p>基金排名：<br>
            将主要参考晨星基金排名。晨星是目前美国最主要的投研机构之一和国际基金评级的权威机构，它的排名数据也是在中国的基金排名中被作为权威依据在使用。
            关注晨星网站对基金三年期、五年期的评级。星越多说明这个基金原来业绩越好，最高为五星，最少为一星。此外，晨星只对一年以上的基金进行评级，所以有些基金没有评级。这也是建议客户不要过于关注短期业绩的原因。</p>
        </td>
        <td class='right'><img src="/assets/121028.png"></td>
        <td class='right'><img src="/assets/121027.png"></td>
      </tr>
    </table>
    <div id="get-started-partial">
      <a href="/usersurvey/measure/1" class="get-started-button">免费理财规划</a>
      <div id="free-text">花2分钟，弥补家庭财务漏洞。</div>
    </div>
  </div>
</div>