<%= stylesheet_link_tag "home.css" %>

<div class="main-contents present">
  <h1>引入美国最先进家庭资产规划技术，为您提供自动化服务</h1>
  <br>
  <p>我们的目标是设计一系列投资品种组合，根据您的风险承受度，最大化您的投资收益（扣除掉任何手续费、赎回费等交易成本）。采用均值方差优化现代投资配置方案，为您做最优化的理财规划。您可以详细阅读我们的投资白皮书获得更多理财规划理念。</p>
  <h2>技术发展历史</h2>
  <img src="/assets/120115.png">
  <h2>技术简介</h2>
  <p>程序化自动为客户进行家庭理财规划配置，这一思想在国内还属于首创，我们借鉴高盛开源模型构建自动化应用，并借鉴普林斯顿大学经济学教授Burton Malkiel的Mean Variance Optimizationl论文作为模型搭建依据，实现我们均值方差优化算法原型。</p>
  <h2>技术理论介绍</h2>
  <p>投资者将投资金额在指定时间进行投资。在期初，购买金融产品，期末卖出。投资者需要在期初从所有可能的金融产品组合中选择一个最优的组合。这时投资者的决策目标有两个：尽可能高的收益率和尽可能低的风险率。最好的目标应是使这两个相互制约的目标达到最佳平衡，搭建均值方差投资模型。</p>
  <br>
  <p>该算法有如下几个假设：</p>
  <p>1、投资者在考虑每一次投资选择时，其依据是某一持仓时间内的证券收益的概率分布。</p>
  <p>2、投资者是根据证券的期望收益率估测证券组合的风险。</p>
  <p>3、投资者的决定仅仅是依据证券的风险和收益。</p>
  <p>4、在一定的风险水平上，投资者期望收益最大；相对应的是在一定的收益水平上，投资者希望风险最小。</p>
  <br>
  <p>根据以上假设，优化算法确立了资产组合预期收益、风险的计算方法和有效边界理论，建立了资产优化配置的均值－方差模型：</p>
  <p>目标函数：minб2(rp)=∑ ∑xixjCov(ri-rj)</p>
  <p>rp= ∑ xiri</p>
  <p>限制条件： 1=∑Xi （允许卖空） <br>或 1=∑Xi xi>≥0（不允许卖空）</p>
  <br>
  <p>其中rp为组合收益， ri为第i只股票的收益，xi、 xj为证券 i、j的投资比例，б2(rp)为组合投资方差(组合总风险)，Cov (ri 、rj ) 为两个证券之间的协方差。该模型为现代证券投资理论奠定了基础。上式表明，在限制条件下求解Xi 证券收益率使组合风险б2(rp )最小，可通过朗格朗日目标函数求得。其经济学意义是，投资者可预先确定一个期望收益，通过上式可确定投资者在每个投资项目（如股票）上的投资比例（项目资金分配），使其总投资风险最小。不同的期望收益就有不同的最小方差组合，这就构成了最小方差集合。</p>
  <br>
  <p>关于该算法的详细介绍可参照Mean Variance Optimization and Beyond: Improve Optimal Portfolio Construction with Bayesian Regularization
    （<a href="http://cs229.stanford.edu/proj2009/SkylogiannisXu.pdf">http://cs229.stanford.edu/proj2009/SkylogiannisXu.pdf</a>）.</p>
</div>