<%= javascript_include_tag "placeholder.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= stylesheet_link_tag "home.css" %>

<div class="main-content">
  <table>
    <tr>
      <td class="left">
  <div class="main-inputs">
            <div id="inputs" class="content">
            <div class="padded">
              <h1>我为什么要注册</h1>
              <p>预订紧销银行理财产品;<br>银行特供理财产品信息通知;<br>产品优惠及时通知;</p>
            </div>
            <% if @webuser!=nil %>

                <!--
                <div id="myTabContent" class="tab-content login">
                  <div class="overlays tab-pane fade in active" id="fourth">
                    <div class="input-group active">
                      <p class="group">银行</p>
                      <div class="input-prepend input-append">
                        <span class="add-on"><div class="indicator-icon custom small"></div></span>
                        <input class="input-small" type="text" name="bcolumn" href="#first" data-toggle="tab" id="bcolumn">
                        <span class="add-on"><div class="edit-pencil"></div></span>
                      </div>
                    </div>
                    <div class="input-group active">
                      <p class="group">投入资金</p>
                      <div class="input-prepend input-append">
                        <span class="add-on"><div class="indicator-icon custom small"></div></span>
                        <input class="input-small" type="text" name="amount" href="#first" data-toggle="tab" id="amount">
                        <span class="add-on neutral"><div class="edit-pencil"></div></span>
                      </div>
                    </div>
                    <div class="input-group active">
                      <p class="group">投资期限</p>
                      <div class="input-prepend input-append">
                        <span class="add-on"><div class="indicator-icon custom small"></div></span>
                        <input class="input-small" type="text" name="deadline" href="#second" data-toggle="tab" id="deadline">
                        <span class="add-on neutral"><div class="edit-pencil"></div></span>
                      </div>
                    </div>
                    <div class="input-group active">
                      <p class="group">风险性</p>
                      <div class="input-prepend input-append">
                        <span class="add-on"><div class="indicator-icon custom small"></div></span>
                        <input class="input-small" type="text" name="risk" href="#third" data-toggle="tab" id="risk">
                        <span class="add-on neutral"><div class="edit-pencil"></div></span>
                      </div>
                    </div>
                  </div>
                  <div class="overlay tab-pane fade" id="first">
                    <form name="form1" action="" method="post" onsubmit="return checkinput1()">
                      <h1>1. 银行和资金</h1>
                      <p class="group">选择您的银行</p>
                      <select  name="bcolumns" id="bcolumns">
                        <option value="中国银行">中行</option>
                        <option value="工商银行">工行</option>
                        <option value="交通银行">交行</option>
                        <option value="农业银行">农行</option>
                        <option value="建设银行">建行</option>
                        <option value="招商银行">招商银行</option>
                        <option value="中信银行">中信银行</option>
                        <option value="华夏银行">华夏银行</option>
                        <option value="兴业银行">兴业银行</option>
                        <option value="光大银行">光大银行</option>
                        <option value="广发银行">广发银行</option>
                        <option value="浦发银行">浦发银行</option>
                        <option value="民生银行">民生银行</option>
                        <option value="平安银行">平安银行</option>
                      </select>
                      <p class="group">资金投入</p>
                      <div class="input-append">
                        <input class="input-medium" name="amounts" id="amounts" type="text" placeholder="请输入投资金额">
                        <span class="add-on">元</span>
                      </div>
                      <p>最低投入资金为50000元。</p>
                      <a class="btn btn-primary pull-right" href="#fourth"  data-toggle="tab" id ="checkinput1"  type="submit">确定</a>
                    </form>
                  </div>
                  <div class="overlay tab-pane fade" id="second">
                    <h1>2. 投资周期</h1>
                    <form name="form2" action="" method="post" onsubmit="return checkinput2()">
                      <p class="group">我个人倾向于</p>
                      <select  name="deadlines" id="deadlines">
                        <option value="中期投资 (3个月内)">中期投资 (3个月内)</option>
                        <option value="短期投资 (1个月内)">短期投资 (1个月内)</option>
                        <option value="长期投资 (3个月以上)">长期投资 (3个月以上)</option>
                      </select>
                      <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput2" type="submit">确定</a>
                    </form>
                  </div>
                  <div class="overlay tab-pane fade" id="third">
                    <h1>3. 风险性</h1>
                    <form name="form3" action="" method="post" onsubmit="return checkinput3()">
                      <div class="controls">
                        <label class="radio"><input name="optionsRadios" checked  value="绝对不能亏损本金" type="radio">本金不能亏损</label>

                        <label class="radio"><input name="optionsRadios" value="可以承担本金亏损" type="radio">可以承受本金亏损</label>
                        <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput3" type="submit">确定</a>
                      </div>
                    </form>
                  </div>
                </div>
                 -->
                <div class="overlay" id="login2">
                  <p>欢迎您，<%= @webuser.username %></p> <br>
                  <a href="/sales/myorder">我的订单</a> <br><br>
                  <a onclick="logout()" href="javascript:void(0)">注销</a>
                </div>
            <% else %>
    <div id="myTabContent" class="tab-content">
      <div class="overlay tab-pane fade" id="create">
	    <h1>注册</h1>
        <form>
        <input id="username" class="input_menum" placeholder="姓名" type="text">
        <input id="password" class="input_menum" placeholder="密码" type="password">
          <a class="btn btn-success pull-right" href="javascript:void(userconfig('#username','#password','#tel'))" type="submit">注册</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
        </form>
      </div>
      <div class="overlay tab-pane fade in active" id="login">
        <h1>登录</h1>
        <form>
          <input id="username2" class="input_menum" placeholder="姓名" type="text">
          <input id="password2" class="input_menum" placeholder="密码" type="password">

          <a class="btn btn-success pull-right" href="javascript:void(userlogin('#username2','#password2'))" type="submit">登录</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#create" data-toggle="tab" type="submit">注册</a>
        </form>
      </div>
    </div>
            <% end %>
  </div>
  </div>
      </td>
      <td>
  <div class="main-body">
    <div class="row-fluid">
      <div class="span10">
    <a href="/">首页</a>
    <div class="row-fluid header">
      <div class="span10">
            <h1><span class="text-error">1.</span> 银行理财产品</h1>
      </div>
<!--      <div class="span2">
        <p class="text-error">低风险<br>低回报</p>
      </div>
      -->
    </div>
    <br>
    <p>银行在售产品：最新最全，您今天可以买到的银行理财产品。</p>
     <p> 银行理财产品知识:现在是购买理财产品最好时机吗？银行理财产品真的能保本吗？您将在这里得到答案。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/pickoutfinance">1. 三步精选产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/pickoutfinance">帮您挑选</a></div>
              </div>
              <br>

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/index">2. 银行在售产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/index">自己挑选</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/blog/index">3. 银行理财产品知识</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/blog/index">学学</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 银行信用卡</h1>
          </div>
                <div class="span2">
            <p class="text-error"><br>敬请期待</p>
          </div>

        </div>
        <br>
        <p>买苹果手机，逛超市，逛金鹰，买飞机票，订宾馆，享受美食，都应该用哪家银行卡最实惠呢？</p><p>我符合这些卡的申请资格吗？</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="http://tongtianshun.launchrock.com/">1. 银行工作人员请进</a></div>
                <div class="span6"><a class="see info-button pull-right" href="http://tongtianshun.launchrock.com/">登记</a></div>
              </div>

            </div>
          </div>
        </div>

        <!--
        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 私募基金产品</h1>
          </div>
          <div class="span2">
            <p class="text-error">高风险<br>高回报</p>
          </div>
        </div>
        <br>
        <p>我们这里罗列的山林一号、山佳一号都是重人软件自己经验的，原则上目前进行推广，我们日后将推出更加专业的投资公司的更加成熟的私募理财产品。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/1">1. 山林一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/1">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/2">2. 山佳一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/2">看看</a></div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>
  </div>
      </td>
    </tr>
  </table>
</div>

<script>

    function userconfig(uid,pid,tid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$(uid).attr("value"),password:$(pid).attr("value"),tel:1,address: 1,postcode: 1},function(data){
                if(data=="f"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    userlogin(uid,pid);
                //    email('#username');
                }
            })
        }
    }

  //  function email(uid){
  //      $.get("/admin/email",{username:$(uid).attr("value")},function(data){})
  //  }

    function userlogin(uid,pid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="admin" || data=="blog"){
                    location.href="/admin";
                }
                else if(data=="s"){
                    location.href="/home/productindex";
                }
            })
        }
    }
</script>