<%= stylesheet_link_tag "home.css" %>

<div class="main-content">
  <table>
    <tr>
      <td class="left">
  <div class="main-inputs">
    <div class="ad lr highlightable">
      <div class="ct">
        <!-- Begin MailChimp Signup Form -->
        <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">邮件订阅</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
            <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>

        <!--End mc_embed_signup-->

        <h3>邮件提供哪些内容？</h3>
        <div class="spacer s5"></div>
        <a href="http://eepurl.com/tpHAf" target="_blank">查看历史邮件</a>

        <ul>
          <br>
          <li>特供银行理财产品 </li>

          <li>银行理财产品文章 </li>

          <li>最新网站服务功能 </li>
        </ul>
        <!--
        <div class="spacer s5"></div>
        <a class="btn btn-info pull-right" href="http://eepurl.com/tonoL">订阅</a>
        -->
      </div>
    </div>
  </div>
      </td>
      <td>
  <div class="main-body">
    <div class="row-fluid">
      <div class="span10">
    <a href="/">首页</a>
    <div class="row-fluid header">
      <div class="span10">
            <h1><span class="text-error">1.</span> 银行理财产品</h1>
      </div>
<!--      <div class="span2">
        <p class="text-error">低风险<br>低回报</p>
      </div>
      -->
    </div>
    <br>
    <p>银行在售产品：最新最全，您今天可以买到的银行理财产品。</p>
     <p> 银行理财产品知识:现在是购买理财产品最好时机吗？银行理财产品真的能保本吗？您将在这里得到答案。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/specialfinance">1. 特供理财产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/specialfinance">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/index">2. 银行在售产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/index">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/blog/index">3. 银行理财产品知识</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/blog/index">看看</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 银行信用卡</h1>
          </div>
                <div class="span2">
            <p class="text-error"><br>敬请期待</p>
          </div>

        </div>
        <br>
        <p>买苹果手机，逛超市，逛金鹰，买飞机票，订宾馆，享受美食，都应该用哪家银行卡最实惠呢？</p><p>我符合这些卡的申请资格吗？</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="http://tongtianshun.launchrock.com/">1. 银行工作人员请进</a></div>
                <div class="span6"><a class="see info-button pull-right" href="http://tongtianshun.launchrock.com/">登记</a></div>
              </div>

            </div>
          </div>
        </div>

        <!--
        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 私募基金产品</h1>
          </div>
          <div class="span2">
            <p class="text-error">高风险<br>高回报</p>
          </div>
        </div>
        <br>
        <p>我们这里罗列的山林一号、山佳一号都是重人软件自己经验的，原则上目前进行推广，我们日后将推出更加专业的投资公司的更加成熟的私募理财产品。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/1">1. 山林一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/1">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/2">2. 山佳一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/2">看看</a></div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>
  </div>
      </td>
    </tr>
  </table>
</div>


<script type="text/javascript">
    function isPlaceHolder(){  //判断浏览器是否支持placeholder
        var input = document.createElement("input");
        return "placeholder" in input;
    }
    if(!isPlaceHolder()){
        function placeHolder(obj){
            if(!obj){return;}
            this.input = obj;
            this.label = document.createElement("label");
            this.label.innerHTML = obj.getAttribute("placeholder");
            this.label.className = "placeholder";
            if(obj.value != ""){
                this.label.style.display = "none";
            }
            this.init();
        }
        placeHolder.prototype = {
            getxy : function(obj){
                if(document.documentElement.getBoundingClientRect){
                    var st=document.documentElement.scrollTop||document.body.scrollTop,
                            sl=document.documentElement.scrollLeft||document.body.scrollLeft,
                            ct=document.documentElement.clientTop||document.body.clientTop,
                            cl=document.documentElement.clientLeft||document.body.clientLeft
                    return {left:obj.getBoundingClientRect().left+sl-cl,top:obj.getBoundingClientRect().top+st-ct};
                }
                else{
                    var l=t=0;
                    while(obj){
                        l+=obj.offsetLeft;
                        t+=obj.offsetTop;
                        obj=obj.offsetParent;
                    }
                    return {top:t,left:l}
                }
            },
            getwh : function(obj){
                return {w:obj.offsetWidth,h:obj.offsetHeight}
            },
            setStyles : function(obj,styles){
                for(var p in styles){
                    obj.style[p] = styles[p]+'px';
                }
            },
            init : function(){
                var label = this.label,
                        input = this.input,
                        xy = this.getxy(input),
                        wh = this.getwh(input);
                this.setStyles(label,{'width':wh.w,'height':wh.h,'lineHeight':wh.h,'left':xy.left,'top':xy.top});
                document.body.appendChild(this.label);
                //label.setAttribute("for",input.id);
                label.onclick = function(){
                    this.style.display = "none";
                    input.focus();
                }
                input.onfocus = function(){
                    label.style.display = "none";
                };
                input.onblur = function(){
                    if(this.value == ""){
                        label.style.display = "";
                    }
                };
            }
        }
        function init(){
            var inps = document.getElementsByTagName("input");
            for(var i=0,len=inps.length;i<len;i++){
                if(inps[i].getAttribute("placeholder")){
                    new placeHolder(inps[i]);
                }
            }
        }
        window.onload = init;
    }
</script>

