<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "home.css" %>

<div class="main-content">
  <table>
    <tr>
      <td class="left">
  <div class="main-inputs">
    <div class="ad lr highlightable">
      <div class="ct">
        <h1 class="h1">我为什么要注册？</h1>
        <ul>
          <li>产品预订</li>
          <li>银行开户服务</li>
          <li>购买指导</li>
        </ul>
        <h1 class="h1">注册</h1>
        <form>
          <input type="text" name="name" class="input-medium" placeholder="姓名">
          <input type="text" name="password" class="input-medium" placeholder="密码">
          <input type="text" name="fhone" class="input-medium" placeholder="联系电话">
          <input type="submit" value="注册" class="btn btn-primary pull-right sub">
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
      </td>
      <td>
  <div class="main-body">
    <div class="row-fluid">
      <div class="span10">
    <a href="/">首页</a>
    <div class="row-fluid header">
      <div class="span10">
            <h1><span class="text-error">1.</span> 银行理财产品</h1>
      </div>
<!--      <div class="span2">
        <p class="text-error">低风险<br>低回报</p>
      </div>
      -->
    </div>
    <br>
    <p>银行在售产品：最新最全，您今天可以买到的银行理财产品。</p>
     <p> 银行理财产品知识:现在是购买理财产品最好时机吗？银行理财产品真的能保本吗？您将在这里得到答案。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/pickoutfinance">1. 三步精选产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/pickoutfinance">帮您挑选</a></div>
              </div>
              <br>

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/index">2. 银行在售产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/index">自己挑选</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/blog/index">3. 银行理财产品知识</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/blog/index">学学</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 银行信用卡</h1>
          </div>
                <div class="span2">
            <p class="text-error"><br>敬请期待</p>
          </div>

        </div>
        <br>
        <p>买苹果手机，逛超市，逛金鹰，买飞机票，订宾馆，享受美食，都应该用哪家银行卡最实惠呢？</p><p>我符合这些卡的申请资格吗？</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="http://tongtianshun.launchrock.com/">1. 银行工作人员请进</a></div>
                <div class="span6"><a class="see info-button pull-right" href="http://tongtianshun.launchrock.com/">登记</a></div>
              </div>

            </div>
          </div>
        </div>

        <!--
        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 私募基金产品</h1>
          </div>
          <div class="span2">
            <p class="text-error">高风险<br>高回报</p>
          </div>
        </div>
        <br>
        <p>我们这里罗列的山林一号、山佳一号都是重人软件自己经验的，原则上目前进行推广，我们日后将推出更加专业的投资公司的更加成熟的私募理财产品。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/1">1. 山林一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/1">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/2">2. 山佳一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/2">看看</a></div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>
  </div>
      </td>
    </tr>
  </table>
</div>

