<%= javascript_include_tag "placeholder.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= stylesheet_link_tag "home.css" %>

<div class="main-content">
  <table>
    <tr>
      <td class="left">
  <div class="main-inputs">
            <div id="inputs" class="content">
            <div class="padded">
              <h1>我为什么要注册</h1>
              <p>预订紧销银行理财产品;<br>银行特供理财产品信息通知;<br>产品优惠及时通知;</p>
            </div>
    <div id="myTabContent" class="tab-content">
      <div class="overlay tab-pane fade" id="create">
	    <h1>注册</h1>
        <form>
        <input id="username" class="input_menum" placeholder="姓名" type="text">
        <input id="password" class="input_menum" placeholder="密码" type="password">
        <input id="tel" class="input_menum" placeholder="联系电话" type="text">
          <a class="btn btn-success pull-right" href="javascript:void(userconfig('#username','#password','#tel'))" type="submit">注册</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
        </form>
      </div>
      <div class="overlay tab-pane fade in active" id="login">
        <h1>登录</h1>
        <form>
          <input id="username2" class="input_menum" placeholder="姓名" type="text">
          <input id="password2" class="input_menum" placeholder="密码" type="password">
          <a class="btn btn-success pull-right" href="javascript:void(userlogin('#username2','#password2'))" type="submit">登录</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#create" data-toggle="tab" type="submit">注册</a>
        </form>
      </div>
    </div>
  </div>
  </div>
      </td>
      <td>
  <div class="main-body">
    <div class="row-fluid">
      <div class="span10">
    <a href="/">首页</a>
    <div class="row-fluid header">
      <div class="span10">
            <h1><span class="text-error">1.</span> 银行理财产品</h1>
      </div>
<!--      <div class="span2">
        <p class="text-error">低风险<br>低回报</p>
      </div>
      -->
    </div>
    <br>
    <p>银行在售产品：最新最全，您今天可以买到的银行理财产品。</p>
     <p> 银行理财产品知识:现在是购买理财产品最好时机吗？银行理财产品真的能保本吗？您将在这里得到答案。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/pickoutfinance">1. 三步精选产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/pickoutfinance">帮您挑选</a></div>
              </div>
              <br>

              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/bankinvest/index">2. 银行在售产品</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/bankinvest/index">自己挑选</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/blog/index">3. 银行理财产品知识</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/blog/index">学学</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 银行信用卡</h1>
          </div>
                <div class="span2">
            <p class="text-error"><br>敬请期待</p>
          </div>

        </div>
        <br>
        <p>买苹果手机，逛超市，逛金鹰，买飞机票，订宾馆，享受美食，都应该用哪家银行卡最实惠呢？</p><p>我符合这些卡的申请资格吗？</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="http://tongtianshun.launchrock.com/">1. 银行工作人员请进</a></div>
                <div class="span6"><a class="see info-button pull-right" href="http://tongtianshun.launchrock.com/">登记</a></div>
              </div>

            </div>
          </div>
        </div>

        <!--
        <div class="row-fluid header">
          <div class="span10">
            <h1><span class="text-error">2.</span> 私募基金产品</h1>
          </div>
          <div class="span2">
            <p class="text-error">高风险<br>高回报</p>
          </div>
        </div>
        <br>
        <p>我们这里罗列的山林一号、山佳一号都是重人软件自己经验的，原则上目前进行推广，我们日后将推出更加专业的投资公司的更加成熟的私募理财产品。</p>
        <div class="links">
          <div class="row-fluid">
            <div class="span10 offset1">
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/1">1. 山林一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/1">看看</a></div>
              </div>
              <br>
              <div class="row-fluid back see">
                <div class="span6"><a class="pull-left" href="/privatefund/index/2">2. 山佳一号</a></div>
                <div class="span6"><a class="see info-button pull-right" href="/privatefund/index/2">看看</a></div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>
  </div>
      </td>
    </tr>
  </table>
</div>

<script>

    function userconfig(uid,pid,tid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else if(!Checkreg($(tid).attr("value"))){
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$(uid).attr("value"),password:$(pid).attr("value"),tel:$(tid).attr("value"),address: 1,postcode: 1},function(data){
                if(data=="f"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    $.get("/admin/create",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){alert(1);})
                    location.href='/home/productindex';
                }
            })
        }
    }

    function userlogin(uid,pid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="admin"){
                    location.href="/admin";
                }
                else if(data=="s"){
                    location.href="/privatefund/investrecord/";           // 登录成功后的操作？？
                }
            })
        }
    }

    function Checkreg(phonenum)
    {
        //var photo = /^(\d{3,4}\-)?\d{7,8}$/i;   //座机格式是 010-98909899
        //var photo = /^0(([1-9]\d)|([3-9]\d{2}))\d{8}$/; 没有中间那段 -的 座机格式是 01098909899
        var photo =/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;//座机(0开头)
        var photo1 =/^1[358]\d{9}$/;//手机(13,15,18)
        var value = phonenum.substring(0,1);
        if(phonenum==""){
            alert("联系电话为空！");
            return false;
        }
        if(value==0){
            if(!photo.test(phonenum)){
                alert("座机号码错误(0(2或者3位)-(7或者8位)!");
                return false;
            }
        }else if(value==1){
            if(!photo1.test(phonenum)){
                alert("手机号码错误(1(3或者5或者8)后面9位)!");
                return false;
            }
        }else
        {
            alert("电话号码错误!");
            return false;
        }
        return true;
    }
</script>