<%= stylesheet_link_tag "home.css" %>

<div class="main-contents">
  <a href="/">首页</a><br><br>
  <p id="risk"></p><br>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>风险承受<br>能力等级</th>
      <th>风险承受能力说明</th>
      <th>风险承受度</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="center">激进型</td>
      <td>对于激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。为了追求最大回报，同时愿意承受资产价格的短期大幅波动风险，甚至相对长时间亏损的可能。因为其承受较大波动性，投资者最后获得的回报率较难预测。大多数情况下，其长期回报率高于其它较为保守的投资方法。</td>
      <td class="center">8~10</td>
    </tr>
    <tr>
      <td class="center">积极型</td>
      <td>对于积极型投资人，其投资组合较大比例配置指数型基金或混合型基金，同时还有小部分比例配置于现金、活期、货币基金等流动性资产。此类投资人注重获得丰厚的投资回报，但对大多数投机领域敬而远之。投资价值在短期内可能会有大幅波动。投资期限内，最终获得的投资回报较难预料。大多数情况下，较之其它相对保守的投资方法，这种投资方法的回报率较高，五年以上的投资尤其如此。</td>
      <td class="center">6~8</td>
    </tr>
    <tr>
      <td class="center">稳健型</td>
      <td>对于稳健型投资人，其投资组合均衡配置债券类基金资产，通过这种债券型基金，将有少许被配置到股票等二级市场。此类投资人注重获得稳健的投资回报。投资的市值在短期内可能会有一些波动。投资期限内，其综合回报难以准确预测，但也不会过于出乎意外。大多数情况下，相对较为保守的投资方法，这种方法的回报率较高，五年以上的投资更是如此。</td>
      <td class="center">4~6</td>
    </tr>
    <tr>
      <td class="center">保守型</td>
      <td>对于保守型投资人，其投资组合较大比例配置纯债券型基金，此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。投资期限内，虽然难以准确预测其回报率，但是也不会有大起大落的情况。大多数情况下，相对风险较高的投资方法，这种方法的回报率较低，五年以上的投资尤其如此。</td>
      <td class="center">2~4</td>
    </tr>
    <tr>
      <td class="center">安益型</td>
      <td>对于安益型投资人，其投资组合配置在风险最小的领域，如现金、活期存储、定期存款等。此类投资人注重获得相对确定的投资回报，而不追求最大回报，且限制短期内的波动。投资期限内，回报率的波动性较小。大多数情况下，相对风险较高的投资方法，这种方法的回报率最低，五年以上的投资尤其如此。</td>
      <td class="center">0~2</td>
    </tr>
    </tbody>
  </table>
</div>

<script>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }
    window.onload=function(){
      $("#risk").html("您的风险承受度是 "+Request("risk"));
    }
</script>