<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<style>
    body {
        background: none repeat scroll 0% 0% rgb(243, 243, 233)!important;
    }
</style>

<div class="main-contents present">
  <a href="/">首页</a><br><br>
  <table>
    <tr>
      <td class="lefts" style="padding-top: 10px;padding-right: 30px\9;">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active" style="padding: 0 85px;height:500px;">
              <img src="/assets/120095.png" alt="" style="margin: 0 auto;max-height: 500px;max-width: 700px;">
            </div>
            <div class="item" style="padding: 0 85px;height:500px;">
              <img src="/assets/120110.png" alt="" style="margin: 0 auto;max-height: 500px;max-width: 700px;">
            </div>
            <div class="item" style="padding: 0 85px;height:500px;">
              <img src="/assets/120109.png" alt="" style="margin: 0 auto;max-height: 500px;max-width: 700px;">
            </div>
            <div class="item" style="padding: 0 85px;height:500px;">
              <img src="/assets/120108.png" alt="" style="margin: 0 auto;max-height: 500px;max-width: 700px;">
            </div>
            <div class="item" style="padding: 0 85px;height:500px;">
              <img src="/assets/120107.png" alt="" style="margin: 0 auto;max-height: 500px;max-width: 700px;">
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </td>
      <td class="rights">
        <div style="position:relative;width: 204px;margin-left: 25px;">
          <div id="position-saver">
            <div class="faq-container">
              <p>常见疑问</p>
              <ul class="common-q">
                <li><a href="/home/afpintroduce" target="_blank">什么是国家金融规划师?</a></li>
                <li><a href="/home/apply" target="_blank">申请服务后，我的权利是什么？</a></li>
              </ul>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="lefts" style="padding-right: 11%;padding-right: 123px\9;">
        <a class="btn btn-primary pull-right" href="/usersurvey/freeapply" target="_blank">免费申请</a>
      </td>
      <td></td>
    </tr>
  </table>
</div>