<h2 align="center">Charts</h2>
	<div id="chartdiv3" align="center"></div>
	<script type="text/javascript">
	
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "600", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/YearsData/2002.xml"); 
	myChart3.render("chartdiv3");	
	function y_Jan()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300");
	myChart3.setDataURL("http://localhost:3000/assets/2002/1.xml");
	myChart3.render("chartdiv3");	
	}
	function y_Feb()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/2.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Mar()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/3.xml"); 
	myChart3.render("chartdiv3");	
	}
    function y_Apr()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/4.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_May()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/5.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Jun()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/6.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Jul()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/7.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Aug()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/8.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Sep()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/9.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Oct()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/10.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Nov()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/11.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Dec()
	{
	var myChart3 = new FusionCharts("http://localhost:3000/assets/line.swf", "myChartId3", "1200", "300"); 
	myChart3.setDataURL("http://localhost:3000/assets/2002/12.xml"); 
	myChart3.render("chartdiv3");	
	}
	</script>
	<center>
	<form name="form" id="form">
	<select>
    <option>month</option>
	<option onclick=y_Jan()>Jan</option>
    <option onclick=y_Feb()>Feb</option>
    <option onclick=y_Mar()>Mar</option>
    <option onclick=y_Apr()>Apr</option>
    <option onclick=y_May()>May</option>
    <option onclick=y_Jun()>Jun</option>
    <option onclick=y_Jul()>Jul</option>
    <option onclick=y_Aug()>Aug</option>
    <option onclick=y_Sep()>Sep</option>
    <option onclick=y_Oct()>Oct</option>
    <option onclick=y_Nov()>Nov</option>
    <option onclick=y_Dec()>Dec</option>
	</select>
	</form>
	<input name="return" type="button" value="return" onclick="location.href='main.html'"/>
	</center>
