<h2 align="center">2003年详细图表</h2>
	<div id="chartdiv3" align="center"></div>
	<script language="javascript" type="text/javascript">
	var swfstr="http://localhost:3000/FCF/FCF_Line.swf";
	var yrootstr="http://localhost:3000/strategyresults/010603/YearsData/"
	var mrootstr="http://localhost:3000/strategyresults/010603/2003/"
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(yrootstr+"2003.xml"); 
	myChart3.render("chartdiv3");	
	function main()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(yrootstr+"2003.xml"); 
	myChart3.render("chartdiv3");
	}
	function y_Jan()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"1.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Feb()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"2.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Mar()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"3.xml"); 
	myChart3.render("chartdiv3");	
	}
    function y_Apr()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"4.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_May()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"5.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Jun()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"6.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Jul()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"7.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Aug()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"8.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Sep()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"9.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Oct()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"10.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Nov()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"11.xml"); 
	myChart3.render("chartdiv3");	
	}
	function y_Dec()
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"12.xml"); 
	myChart3.render("chartdiv3");	
	}
	</script>
	<center>
	<form name="form" id="form">
	<select>
    <option onclick=main()>选择月份</option>
	<option onclick=y_Jan()>1月</option>
    <option onclick=y_Feb()>2月</option>
    <option onclick=y_Mar()>3月</option>
    <option onclick=y_Apr()>4月</option>
    <option onclick=y_May()>5月</option>
    <option onclick=y_Jun()>6月</option>
    <option onclick=y_Jul()>7月</option>
    <option onclick=y_Aug()>8月</option>
    <option onclick=y_Sep()>9月</option>
    <option onclick=y_Oct()>10月</option>
    <option onclick=y_Nov()>11月</option>
    <option onclick=y_Dec()>12月</option>
	</select>
	</form>
	</center>
