<h2 align="center">2007年详细图表</h2>
	<div id="chartdiv3" align="center"></div>
	<script language="javascript" type="text/javascript">
	var swfstr="http://localhost:3000/FCF/FCF_Line.swf";
	var yrootstr="http://localhost:3000/strategyresults/010603/YearsData/"
	var mrootstr="http://localhost:3000/strategyresults/010603/2007/"
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(yrootstr+"2007.xml"); 
	myChart3.render("chartdiv3");	
	function choice(month)
	{
	if(month.options[month.selectedIndex].value=="0")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(yrootstr+"2007.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="1")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"1.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="2")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"2.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="3")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"3.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="4")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"4.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="5")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"5.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="6")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"6.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="7")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"7.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="8")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"8.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="9")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"9.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="10")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"10.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="11")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"11.xml"); 
	myChart3.render("chartdiv3");
	}
	if(month.options[month.selectedIndex].value=="12")
	{
	var myChart3 = new FusionCharts(swfstr, "myChartId3", "600", "300"); 
	myChart3.setDataURL(mrootstr+"12.xml"); 
	myChart3.render("chartdiv3");
	}
	}
	</script>
	<center>
	<form name="form" id="form">
	<select onchange=choice(this)>
    <option value="0">选择月份</option>
	<option value="1">1月</option>
    <option value="2">2月</option>
    <option value="3">3月</option>
    <option value="4">4月</option>
    <option value="5">5月</option>
    <option value="6">6月</option>
    <option value="7">7月</option>
    <option value="8">8月</option>
    <option value="9">9月</option>
    <option value="10">10月</option>
    <option value="11">11月</option>
    <option value="12">12月</option>
	</select>
	</form>
	</center>
