<div class="slider2">
<div class="slice12">
  <h2>策略库</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">
  <div class="StrategyNews">
  <h2>策略分类</h2>
  <ul>
    <li><%= link_to "无风险套利",:controller =>"strategy",:action =>"show",:id =>"1" %></li>
    <li><%= link_to "羽根英树正向套利",:controller =>"strategy",:action =>"show",:id =>"2" %></li>
  </ul>
<p></p>
  </div>
<div class="frame">

	<% @strategywebs.each do |strategyweb| %>
	<div class="tablepicframe">
	 <table border="0" cellspacing="0" cellpadding="0">
	   <tr>
	     <td class="tablepic">
			<h3><%= link_to strategyweb.name,:controller =>"strategy",:action =>"show",:id =>strategyweb.id%></h3>
			<%= link_to(image_tag("2.jpg",:size=>"182*200"),:controller =>"strategy",:action =>"show",:id =>strategyweb.id) %>

		</td>
	     <td><div class="tabledata" >
			<table class ="tableformat">
				  <tr>
					<td>平均年回报率</td>
					<td>213</td>
				  </tr>
				  <tr>
					<td>交易次数</td>
					<td>16.8 hrs</td>
				  </tr>
				  <tr>
					<td>交易胜率</td>
					<td>90.6%</td>
				  </tr>
				  <tr>
					<td>最大亏损时间</td>
					<td>39.5%</td>
				  </tr>
				  <tr>
					<td>最大单笔盈利</td>
					<td>-0.016</td>
				  </tr>
			</table>
			</div>
		  </td>
		</tr>
	  </table>
	</div>
	<% end %>
</div>

<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
