<h2>用户权限表</h2>
<br />
<link rel="stylesheet" href="http://www.compareninja.com/template/skins/Light Blue/skin.css" type="text/css">
<div id="tableWrapper" style="width: 100%; ">
<table id="vsTable">
	<tbody>
		<tr>
			<td class="cat title" style="width: 25%; "></td>
			<td class="title" style="width: 25%; "><div>游客</div></td>
			<td class="title" style="width: 25%; "><div>注册用户</div></td>
			<td class="title" style="width: 25%; "><div>收费用户</div></td>
		</tr>
		<tr class="second">
			<td class="cat" style="width: 25%; "><div>主力/次主力合约套利对</div></td>
			<td style="width: 25%; "><div class="yes"></div></td>
			<td style="width: 25%; "><div class="yes"></div></td>
			<td style="width: 25%; "><div class="yes"></div></td>
		</tr>
		<tr>
			<td class="cat" style="width: 25%; "><div>跨月合约套利对</div></td>
			<td style="width: 25%; "><div class="no"></div></td>
			<td style="width: 25%; "><div class="no"></div></td>
			<td style="width: 25%; "><div class="yes"></div></td>
		</tr>
			<tr class="second"><td class="cat" style="width: 25%; "><div>个性化设置(手续费等)</div></td><td style="width: 25%; "><div class="no"></div></td><td style="width: 25%; "><div class="yes"></div></td><td style="width: 25%; "><div class="yes"></div></td></tr><tr><td class="cat" style="width: 25%; "><div>个性化交易</div></td><td style="width: 25%; "><div class="no"></div></td><td style="width: 25%; "><div class="no"></div></td><td style="width: 25%; "><div class="yes"></div></td></tr></tbody></table></div>
