<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "prototype.js" %>

<!-- <META HTTP-EQUIV="Refresh" content="10"> -->
<script language="Javascript">
	function loadpricetable(){
	new Ajax.Updater('rtpricetable','/strategy/rtprice',{asynchronous:true, evalScripts:true})
	}
</script>

<div class="slider2">
<div class="slice12">
  <h2>策略性能</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">
  <div class="StrategyNews">
  <h2>策略分类</h2>
  <ul>
    <li><%= link_to "无风险套利",:controller =>"strategy",:action =>"show",:id =>"1" %></li>
  </ul>
<p></p>
  </div>

<div class="frame">


<% if(params[:id]=="1") %>
     <div class="ironbars">
        <div class= irontxt>
        <p> <%= @strategyweb.name %></p>
        </div>

      </div>

	<script type="text/javascript">
	var a = new PeriodicalExecuter(loadpricetable,1.0);
//	loadpricetable();
	</script>

	<div id="rtpricetable">
	</div>
<% end %>


</div>

<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
