
<div class="slider2">
  <div id="slice12dy"></div>
  </div>

<div class="StrategyNews">
<div class="StrategyNewslb"></div>
<div id="StrategyNewsb">
    <ul>
      <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
    </ul>
</div>
</div>
  
	<div class="StrategyNewssb">
	<div class="StrategyNewssbdy"></div>
	<div id="dysubscribe">
	<a>您将订阅<%= @strategy.name  %>策略，订阅后您将立刻受到该策略服务。订阅费用是</a>
<span><%= @strategy.price  %>元/每月。</span>
我们将在<span>每个月月底</span>
<a>征收该策略的服务费。您可以随时取消订阅该策略。</a>
	</div>
	 <div class="buttons">
	<div class="frameprevious">
      <a  href="javascript:void(0)" class="previous" disabled="disabled"> 取消 </a>
	  </div>
	  	<div class="framenext">
      <a  href="javascript:void(0)" class="next" onclick="myop1()"> 下一步 </a>
	    </div>
    </div>
	</div>
</div>
	<div style="float:right;width:200px;">
<div class="framerimg"></div>
</div>

