  <div class="leftframe">
      <div class="pagedomain">
        <h1>策略库</h1>
      </div>
      <div class="strategylib_search">
      <form id="strategylib_search_form" runat="server" >
        <a href="javascript:void(0)" id="getValue"><img alt="Search" src="/assets/search.gif" id="search" ></a>
        <input id="keyword" value="策略查询" onfocus="this.value=''" onblur="this.value='策略查询'"  />
      </form>
      </div>
</div>




