  <div class="leftframe">
      <div class="pagedomain">

      </div>
      <form id="form1" runat="server" >
            <input id="keyword" value="策略查询" onfocus="this.value=''" onblur="this.value='策略查询'" style="width: 100px;height: 20px;" />
            <span><a href="javascript:void(0)" id="getValue"><img alt="Search" src="/assets/search.gif" id="search" style="margin: 79px 0px 0px -145px;"></a></span>
      </form>
      <div id="showpic" style="float: right;z-index: 99;"></div>

</div>




