  <div class="StrategyNews">
   <div class="pagedomain"> </div>

 <div id="StrategyNewsb">


 <!-- <h2><%= link_to "自动化交易",:controller =>"autotrade",:action =>"index" %></h2> -->
  <ul>
    <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
  </ul></div>

  </div>
