  <div class="leftframe">
   <div class="pagedomain">
     <h1>自动化交易</h1>
   </div>
  </div>

<!--
 <div id="StrategyNewsb">


  <ul>
    <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
  </ul></div>

  </div>

-->