<%= render "side" %>
<div class="centerrightframe">
  <h2>关于自动化交易</h2>
<div id="aboutautotrade">
<ul><li><a>什么是自动化交易？</a></li><p>简单的来讲，自动化交易就是您设置好交易品种范围，交易规模，系统根据您的策略自动完成开仓，平仓的交易。</p>
<li><a>自动化交易是如何工作的？</a></li><p>基于上海期货信息技术有限公司开发的综合交易平台，进行自动化交易。<br>
  平台并发处理能力强大，委托性能超过2000笔/秒，保证您的下单迅速及时。<br>
  平台采用自适应UDP可靠多播通讯技术，保证您的下单可靠准确。 <br></p>

<li><a>我如要开展自动化交易，会有安全问题，会有人盗用我的帐号金额吗？</a></li><p>平台有风险控制和结算系统组成。您所需要提供的仅是期货帐号的交易密码，外人无法获得您的银行密码进行提现转账等操作。<br>
  该帐号上的所有操作都遵循您所定制的策略信号进行买卖建平仓。<br></p>
<li><a>我如果要开展自动化交易，需要额外收费吗？</a></li><p>完全免费！   <br>
  自动化交易业务，我们将和期货公司合作，并从期货公司获取相应的利润。所以对于客户您，我们完全不收费。 <br></p>
<li><a>我所在的期货公司支持这项业务吗？如果不支持的话，我该怎么办？</a></li><p>目前我们只支持华泰长城期货公司。 <br>

  如果您现在所在的期货公司不支持的话，您可以做如下操作：  <br>

  1. 通知您的期货公司来和我们联系，我们将尽快进行技术合作，让您应用该服务。  <br>

  2. 您可以在华泰长城期货公司开户，具体详细你您可以<a class="liwai" href="#">点击联系。</a></p></ul></div>

</div>
