<%= render "side" %>
<div class="centerrightframe">
  <h2>我收藏的策略：</h2>
<% if session[:webuser_name]==nil%>
    <a href="#login-box" class="login-window">请先登录</a>
    <% else %>

    <% if @collect==[]%>
    您还没有收藏策略！
    <% else %>
<% for i in 0..@collect_stg.size-1%>

   <ul>
     <li>
       <a href="/<%= @collect_stg[i].control %>/<%= @collect_stg[i].action %>"><%= @collect_stg[i].name %></a>
     </li>
   </ul>
<% end %>
<% end %>
<% end %>
</div>