<h2>手续费快键修改</h2>
<p>您好,<%= @webuser.name %>！如果您不清楚您的手续费，请向您的期货公司咨询：
  <%= form_tag do %>商品每手手续费比交易所多：<%= text_field_tag :tardecharge_0, params[:tardecharge_0],:size=>3 %>元<br>
      <%= submit_tag "提交"%><% end %></p>



