<h2>保证金比例快键修改</h2>
<h3>您好<%= @webuser.name %>！请快键修改保证金比例：
  <%= form_tag do %>比期货交易所保证金比例贵：<%= text_field_tag :tardemargin, params[:tardemargin],:size=>3 %>%<br>
      <%= submit_tag "提交"%><% end %></h3>



