<div class="centerframe">

  <h2>试用 无风险套利策略成功 ！</h2>
  <p>
    您目前可以享受该策略的全部功能。试用天数过后，如果您对该策略满意的话，您可以选择订阅<%= @strategy.name  %>策略，订阅后您将立刻受到该策略服务。
    订阅费用是 <%= @strategy.price  %>元/每月。我们将在每个月月底征收该策略的服务费。您可以随时取消订阅该策略。
  </p>
</div>
  <a href="javascript:void(0)">前往无风险套利</a>

<div class="rightframe">


  <h3>联系我们</h3>
  <ul>
    <li><a href="mailto:tongtianshun@yahoo.cn">邮件咨询</a>
    </li>
    <li><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=0e11d7eb43fbb81a96a1aef9dfd5628aa2e342e0575cedfc">QQ咨询</a>
    </li>
    <li><a href="http://weibo.com/u/2858671002">新浪微博</a>
    </li>
  </ul>

  <div class="framerimg-subscribe"></div>
</div>