<%= stylesheet_link_tag "womenfinance.css" %>
<%= javascript_include_tag "jquery.women.js" %>
<%= javascript_include_tag "jquery.women2.js" %>

<div class="main-contents">

  <div class="intro">
    <div class="text-block3">
    </div>
    <div class="form-block">
      <div class="sub-box" style="display: table;width: 100%;">
        <div class="holder">
          <div class="ct">
            <!-- Begin MailChimp Signup Form -->
            <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#f5866c; clear:left; font:14px Helvetica,Arial,sans-serif; }
                #mc_embed_signup label {
                    display: block;
                    font-size: 24px;
                    padding-bottom: 10px;
                    font-weight: bold;
                    line-height: 40px;
                    margin-bottom:0px;
                }
                #mc_embed_signup input.email {
                    width: 65%;
                }
            </style>
            <div id="mc_embed_signup">
              <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">订阅邮件后，理财知识、规划、小技巧每天寄送给您。</label>
                <input type="email" value="" name="EMAIL" style="float: left;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
                <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
              </form>
            </div>
          </div>
          <div class="social-networks">
            <table>
              <tr>
                <td style="width:50%;">
                  <p>微信关注:</p>
                  <span>已有上千人关注，<br>你还在等什么呢？</span>
                </td>
                <td style="vertical-align: top;"><img src="/assets/1.jpg" style="width: 78px;margin: 10px 0 0 47px;"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="featured">
    <div class="news-line">
      <a href="#" class="expand ss-icon mobile"></a>
      <div class="col-left same-height-left" style="min-height: 188px;">
        <div class="col-content">
          <h1><em>梦</em></h1>
          <p>都说屌丝爱做梦，梦创业，梦买房，梦买车，梦白富美，梦出国旅游。
          爱做梦没有错，但如果不去圆梦就大错特错了。</p>
        </div>
        <ul class="links plan">
          <li><a class="btn-link" href="/home/scheme" title="屌丝圆梦" target="_blank">屌丝圆梦</a><span class="ss-icon">➡</span></li>
          <li><a class="blogs btn-link" title="创业梦">创业梦</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 184px;">
        <div class="headline">
          <h2><a class="blogs btn-link" title="创业人生">通天顺创业心得 系列</a></h2>
        </div>
        <div class="content">
          <a class="blogs btn-link" title="创业人生"><img src="/assets/logo.jpg" class="image" width="167"></a>
          <div class="text-block">
            <p>了解了解通天顺家庭理财的创业心得，也许对你有帮助哦。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="news-line">
      <a href="#" class="expand ss-icon mobile"></a>
      <div class="col-left same-height-left" style="min-height: 181px;">
        <div class="col-content">
          <h1><em>钱</em> 一毛钱难倒英雄汉</h1>
          <p>屌丝的一个重要特性就是没钱。</p>
          <p>屌丝们，加油吧，尽快成高富帅吧！</p>
        </div>
        <ul class="links earn">
          <li><a class="blogs btn-link" title="理财技巧">理财技巧</a><span class="ss-icon">➡</span></li>
          <li><a class="blogs btn-link" title="理财骗局">理财骗局</a><span class="ss-icon">➡</span></li>
          <li><a class="blogs btn-link" title="产品介绍">产品介绍</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 177px;">
         <div class="headline">
           <h2><a href="http://www.tongtianshun.com/blog/blogarticle/80" target="_blank">屌丝青年理财系列</a></h2>
         </div>
         <div class="content">
           <a href="http://www.tongtianshun.com/blog/blogarticle/80" target="_blank"><img src="/assets/121095.jpg" class="image" width="167"></a>
           <div class="text-block">
             <p>很多屌丝们对于理财有不切实际的想法，例如要在毕业后三年内储蓄到首期置业或开创自己的生意。<br><br>观念决定人生。</p>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="ads-block">
    <div ad_dot_com="300250" class="box">
      <a href="http://weibo.com/u/3429002842" target="_blank"><img src="/assets/120101.jpg" style="max-width: 340px;width: 100%;"></a>

    </div>
    <div ad_dot_com="300250" class="box">
    </div>
    <div ad_dot_com="300250" class="box">
    </div>
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".blogs").click(function(){
            window.open("/blog/index?tag="+this.title);
        })
    }else{
        $(".blogs").click(function(){
            window.open("/blog/all?tag="+this.title);
        })
    }
</script>