<div class="body">
  <div class="body_resize">
  <div class="StrategyNews">
  <div id="StrategyNewsimg_stgweb">
  </div>
<div class="StrategyNewslb"></div>
<div id="StrategyNewscontactus">
 <!-- <h2><%= link_to "策略库",:controller =>"autotrade",:action =>"index" %></h2> -->
  <ul>
    <li><a href="/strategys_combine">策略配置</a></li>
  </ul>
</div>

  </div>






</div>

</div>