<br><br><br><br><div><img alt="Logo" src="/assets/loading.gif" /></div>
<script language="javascript">
    fileexist();
  function fileexist(){
    $.ajax({
        url:"/assets/dailyinfo-<%= @webuser.id%>.xml",
        success:function(data,status){
                location.href="/strategys_combine/reportshow/<%=@strategyweb.id%>";
            },
        error:function(data,status){
            //alert(status)
            setTimeout(fileexist,2000)
                 }
    });
        }
</script>
