<%= render "side" %>
<div class="frame">
  <br><br><br><br><div><img alt="Logo" src="/assets/loading.gif" /></div>
<script language="javascript">
    filecheck();
    var flag=0;
    var xmldate;
  function filecheck(){
    $.get("<%=params[:id]%>",{wait:1},function(data,status){
        if(data=="error"){
            setTimeout(filecheck,2000);
        }
        else{
            if(data=='<%= @firstdata%>')
                setTimeout(filecheck,2000);
            else
          <%if params[:stgtype]!="d"%>
                location.href="/strategys_combine/opmed_rps";
        <%else%>
            location.href="/strategys_combine/opmed_rps?stgtype=d";
        <%end%>
                 }
    });
        }
    <%if params[:stgtype]!="d"%>
    function side_4(){
        alert("策略优化正在运行测试！")
    }
    <%else%>
    function side_4(){
        alert("策略优化正在运行测试！")
    }
    function side_5(){
        alert("策略优化正在运行测试！")
    }
    <%end%>
</script>
</div>
