<%= render "side" %>
<div class="frame">
  <br><br><br><br><div><img alt="Logo" src="/assets/loading.gif" /></div>
<%= @test %>
<script language="javascript">
    filecheck();
    var flag=0;
    var xmldate;
  function filecheck(){
    $.get("<%=params[:id]%>",{wait:1},function(data,status){
        if(data=="error"){
            setTimeout(filecheck,2000);
        }
        else{
            if(data=='<%= @firstdata%>')
                setTimeout(filecheck,2000);
            else
                location.href="/strategys_combine/reportshow?stgtype=d";

                 }
    });
        }
    function side_3(){
        alert("正在运行测试！")
    }

    function side_4(){
        alert("正在运行测试！")
    }
</script>
</div>
