<%= render "side" %>
<div class="frame">
  <style type="text/css">
  #veryhuobox{line-height:20px;width:300px;height:20px;background:#ccc;text-align:left;margin:0px auto 0 auto;}
  #veryhuoLoading{color:#fff;font-size:12px;line-height:20px;width:0px;height:20px;background:#46A3FF;text-align:center;position: absolute;}
  </style>

  <br> <br> <br> <br> <br> <br>
  <div id="veryhuobox"><div id="veryhuoLoading"></div></div>
</div>
<script language="javascript">
    var idiv=document.getElementById('veryhuoLoading');
    var veryhuobox=document.getElementById('veryhuobox');
    var timer=null;
    var flag=0;
    var xmldate;
    timer=setInterval(function(){
        var iWidth=idiv.offsetWidth/veryhuobox.offsetWidth*100;
        idiv.style.width=idiv.offsetWidth+veryhuobox.offsetWidth/100+'px';
        idiv.innerHTML=Math.round(iWidth)+"%";
        if(iWidth==99){
            clearInterval(timer); //停止执行
            filecheck();
           }
    },1200); //每过20毫秒，执行函数

  function filecheck(){
    $.get("<%=params[:id]%>",{wait:1},function(data,status){
        if(data=="error"){
            setTimeout(filecheck,2000);
        }
        else{
            if(data=='<%= @firstdata%>')
                setTimeout(filecheck,2000);
            else
                location.href="/strategys_combine/reportshow";
                 }
    });
        }
    function side_2(){
        alert("策略正在运行测试！")
    }
    function side_3(){
        alert("策略正在运行测试！")
    }
    function side_4(){
        alert("策略正在运行测试！")
    }
</script>
</div>
