<%= stylesheet_link_tag "contactus.css" %>

<div class='main-content'>
<div class='trow'>
<div class='main-body'>
<div class='content'>
<div class='bordered' width=100%>
<table class='body-container' style="width: 100%" cellspacing=0 cellpadding=0 border=0>
<tr>
  <td colspan=2>
    <div class='crumbs'>
      <a href='/'>首页</a>&nbsp; >&nbsp;
      <a href='/contactus/aboutus'>关于我们</a>
    </div>
    <br>
  </td>
</tr>
<tr>
  <td>

<!--    <h1 class="body-header">银行理财产品专家</h1><br>            -->
    <div class="txt" style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
<!--
      <b>我们根据您个人家庭财务状况，精心为您筛选众多银行理财产品，提供最适合您自己的产品。<br><br></b>
      还在存银行活期存款吗？<br>
      还在为如何选择哪家银行的理财产品而头疼吗？<br>
      还在为自己银行的理财产品利息很低而烦恼吗？<br>
      还在井底之蛙吗？<br><br>

      重人软件通过为您精心筛选最适合您自己的银行理财产品。<br>
      <br>
      -->

      <h1 style="margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">重人软件 介绍</h1>
      南京重人软件科技有限公司，成立于2011年11月23日。 <br>
      注册地点：南京鼓楼区中央路323号利奥大厦 <br>
      公司类型：有限公司（自然人控股） <br>
      经营范围：投资信息咨询，计算机软件产品的研发、销售等。
      <br><br><br>
    </div>
  </td>
</tr>

<tr>
  <td class='body-content'>
    <div class='body-content-wrapper'>
      <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>团队成员介绍</h1>
      </div>
      <table width=100% class='photos' border="0">
        <tr>
          <td class='sp1'></td>
          <td>
            <div class='member'>
              <img src="/assets/cw.jpg" />
              <div class='name'>
                <div>
                  <h1>崔伟</h1>
                  <p>创始人 & CEO</p>
                  <div class='subtext'>
                    南京大学计算机系硕士研究生<br>
                    上海贝尔阿尔卡特7年项目管理开发经验。<br>
                    2011年11月创建重人软件。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td>
            <div class='member'>
              <img src="/assets/wk.jpg" />
              <div class='name'>
                <div>
                  <h1>吴康</h1>
                  <p>合伙人</p>
                  <div class='subtext'>
                    东南大学自动化控制硕士研究生<br>
                    3年通讯行业软件开发经验。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td class='last'>
            <div class='member'>
              <img src="/assets/dyt.jpg" />
              <div class='name'>
                <div>
                  <h1>丁亚涛</h1>
                  <p>软件工程师</p>
                  <div class='subtext'>
                    南京邮电大学计算机系本科<br>
                    2012年4月进入重人软件。<br>
                    从事于软件设计工作。
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </td>
          <td class='sp1'></td>
        </tr>
        <tr>
          <td class='sp1'></td>
          <td>
            <div class='member'>
              <img src="/assets/wd.jpg" />
              <div class='name'>
                <div>
                  <h1>吴冬</h1>
                  <p>网页交互设计师</p>
                  <div class='subtext'>
                    2013年加入重人软件从事页面设计与网络推广工作。
                  </div>
                </div>
              </div>
            </div>


          </td>
          <td class='sp2'></td>
          <td>
            <div class='member'>
              <img src="/assets/zq.jpg" />
              <div class='name'>
                <div>
                  <h1>赵巧</h1>
                  <p>市场部专员</p>
                  <div class='subtext'>
                    拥有国家理财规划师资格证书<br>
                    3年金融行业从业经验<br>
                    2013年加入重人软件 从事市场开发与产品推广工作
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td class='last'>


            <div class='member'>
              <img src="/assets/sj.jpg"/>
              <div class='name'>
                <div>
                  <h1>施婧</h1>
                  <p>会计</p>
                  <div class='subtext'>
                    南京审计学院会计专业本科<br>
                    2012年9月进入重人软件。<br>从事于财务会计工作。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp1'></td>
        </tr>
      </table>
      <br/><br/><br/>
      <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>实习生介绍</h1>
      </div>
      <table width=100% class='photos' border="0">
        <tr>
          <td class='sp1'></td>
          <td>
            <div class='member'>
              <img src="/assets/hhf.jpg" />
              <div class='name'>
                <div>
                  <h1>黄鹤峰</h1>
                  <p>  河海大学 计算机系硕士研究生 </p>
                  <div class='subtext'>
                    实习时间：2012年植树节 - 至今 <br>
                    实习体会：在实习过程中，在专业知识方面，对Ruby on Rail 和 Javascript有了一些的了解。
                    对于团队合作有了很好的了解，对于个人也锻炼了自己的做事情的逻辑和态度。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td>
            <div class='member'>
              <img src="/assets/lf.jpg" />
              <div class='name'>
                <div>
                  <h1>刘凡</h1>
                  <p> 南京大学电子系硕士研究生</p>
                  <div class='subtext'>
                    实习学到期货方面的金融知识，编程思想以及实用的编程技巧，并能紧密的结合诸多实际问题加以解决。
                    公司关于金融策略研发采用的迭代开发模式，任务精细、分工明确任务模式(task&story)缩短了开发周期，
                    提高了开发效率。提别是如果今后想从事程序化交易或者相关工作的同学，无论是专业知识技能的学习还是对于行业发展的掌控，
                    都会为将来的工作和学习提供宝贵的经验和基础。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td>
            <div class='member'>
              <img src="/assets/lg.jpg" />
              <div class='name'>
                <div>
                  <h1>刘刚</h1>
                  <p>巴黎综合理工学院研究生</p>
                  <div class='subtext'>
                    实习时间 ：2012年7-8月<br>
                    实习体会：实习过程中学习了很多关于matlab编程和交易算法优化的知识，更加了解了国内的金融市场。
                    公司的氛围很不错，同时可以做自己感兴趣的工作，非常愉快！
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </td>
          <td class='sp1'></td>
        </tr>
        <tr>
          <td class='sp1'></td>
          <td>
            <div class='member'>
              <img src="/assets/gll.jpg" />
              <div class='name'>
                <div>
                  <h1>管玲玲</h1>
                  <p>阿德莱德大学 硕士研究生</p>
                  <div class='subtext'>
                    实习时间：2012年12月-2013年1月<br>
                    实习体会：学到的不仅有市场方面的知识与方法，也让我接触到了一个有想法有创业精神的团队。以前我总觉得想法多有点子是件非常好的事情，但是我一直忽略了要抓重点的原则。实习接近尾声，学到不仅是市场方面的知识，还有做事的态度，创业的精神。
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class='sp2'></td>
          <td></td>
          <td class='sp2'></td>
          <td></td>
          <td class='sp1'></td>
        </tr>
      </table>
      <br><br><br>
      <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
        <a  name='联系我们'><h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>联系我们</h1></a>
        <p>您可以通过电子邮件
          <a href="mailto:info@tongtianshun.com">info@tongtianshun.com</a>
          或 电话 025 83428345 来联系我们。
        </p>
      </div>
    </div>
  </td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>

<script>
    $(function()
    {
        // Virtual Page View event
        googleVPViewEvent("/page/about");

        $('.member').mouseenter(function() {
            var h = $(this).innerHeight();
            var t = $(this).children(".name").position().top;
            $(this).children(".name").animate({
                opacity: 1,
                height: h-5
            }, 500)
        }).mouseleave(function()
                {
                    $(this).children(".name").animate({
                        opacity: 0.7,
                        height: 75
                    }, 500)
                });
    });
    /**
     * Use to send a Virtual Page View Event to Google.
     */
    function googleVPViewEvent(pageKey)
    {
        var key = pageKey;
        // if pagekey is null or blank use the href
        if (pageKey == null || pageKey == "")
        {
            key = parseUrl(document.URL);
            key = key.replace("/page/#", "");
        }
        else
        {
            key = "/" + pageKey;
        }

        if (typeof(_gaq) != "undefined")
        {
            //        clog("Sending event "+ "/virtual"+url);
            _gaq.push(['_trackPageview', "/virtual"+key]);
        }
    }
</script>
