<%= stylesheet_link_tag "contactus.css" %>
<%= javascript_include_tag "jquery.js" %>

<div class='main-content'>
    <div class='trow'>
        <div class='main-body'>
            <div class='content'>
                                <div class='bordered' width=100%>
                                    <table class='body-container' style="width: 100%" cellspacing=0 cellpadding=0 border=0>
                                        <tr>
                                            <td colspan=2>
                                                <div class='crumbs'>
                                <a href='/'>首页</a>&nbsp; >&nbsp;
								<a href='/contactus/aboutus'>关于我们</a>
                                                </div>
							<br>
                                            </td> 
                                        </tr>
                                        <tr>
					    <td>
                            <h1 class="body-header" style="font-size: 55px;margin-bottom: 30px;margin-top: 20px;">无风险，持续，资产增值！</h1><br>
                            <div class="txt" style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
							<b>我们为您提供资产持续增值的服务，我们将及时快捷的向您反馈投资进展。<br><br></b>
							还在为股市的跌跌不休而烦恼嘛？<br>
                            还在为无法反向做空而烦恼嘛？<br>
                            还在为信托等稳定回报投资产品对普通投资人资金的严格要求而烦恼嘛？<br>
                            还在为银行的存款利息远跟不上通货膨胀率而烦恼嘛？<br>
                            重人软件通过期货市场，熊市做空，牛市做多，并通过商品交割等交易策略为您提供高质量的投资策略。<br><br>
							<br>
							<h1 style="margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">通天顺的经历</h1>
							出于对当前理财产品行业的不透明度，资金门槛高的失望，崔伟，重人软件创始人，决定利用自己的投资经验，为身边的亲戚，朋友做资金管理服务。重人软件于2012年搭建网络平台通天顺金融策略网，搭建精确，安全的投资策略，并通过该平台提供透明的资金管理。
                            <br><br><br>
							</div>
						</td>
                    </tr>
					
                    <tr>
                                            <td class='body-content'>
                                                <div class='body-content-wrapper'>
                                                    <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
                                    <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>团队成员介绍</h1>
                                                    </div>
													<table width=100% class='photos' border="0">
                                                        <tr>
                                                            <td class='sp1'></td>
                                                            <td>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Michael Carvin</h1>
                                                                            CEO & Co-Founder
                                                                            <div class='subtext'>
                                                                                Michael's expertise is in financial decision making.                           
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp2'></td>
                                                            <td>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Philip Camilleri</h1>
                                                                            CTO & Co-Founder
                                                                            <div class='subtext'>
                                                                                Philip has been pulling things apart and putting them
                                                                                back together for as long as he can remember. 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp2'></td>
                                                            <td class='last'>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Michael Calleia</h1>
                                                                            Information Architect
                                                                            <div class='subtext'>
                                                                                Michael has a long track record of delivering 
                                                                                user-centered, creative product solutions.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp1'></td>
														</tr> 
                                                    </table>
                                                    <br/><br/><br/>
													<div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
                                                        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>项目实习生</h1>
                                                    </div>
													<table width=100% class='photos' border="0">
                                                            <tr>
															    <td class='sp1'></td>
                                                                <td>
                                                                    <div class='member'>
                                                                        <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Noel Curtis</h1>
                                                                                Senior Developer
                                                                                <div class='subtext'>
                                                                                    Noel loves code. Previously a Senior Developer
                                                                                    at EMC, Noel has been coding since he could walk.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class='sp2'></td>
                                                                <td>
                                                                    <div class='member'>
                                                                        <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Anantha Katragadda</h1>
                                                                                Digital Marketing Director
                                                                                <div class='subtext'>
                                                                                    Anantha is most happy when he sees a hockey stick 
                                                                                    traffic chart.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class='sp2'></td>
                                                                <td>
                                                                    <div class='member'>
						    										    <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Anantha Katragadda</h1>
                                                                                Digital Marketing Director
                                                                                <div class='subtext'>
                                                                                    Anantha is most happy when he sees a hockey stick 
                                                                                    traffic chart.
                                                                                </div>
                                                                            </div>
                                                                        </div>                
                                                                    </div>
                                                                </td>
																<td class='sp1'></td>
                                                            </tr>   
                                                    </table>
                                </div>													
                            </td>
                        </tr>
                    </table>
                </div>                   
            </div>
        </div>
    </div>
</div>

                                                    <script>
                                                    $(function()
                                                    {        
                                                        // Virtual Page View event
                                                        googleVPViewEvent("/page/about");
    
                                                        $('.member').mouseenter(function() {
                                                            var h = $(this).innerHeight();
                                                            var t = $(this).children(".name").position().top;
                                                            $(this).children(".name").animate({
                                                                opacity: 1,
                                                                height: h-5
                                                            }, 500)
                                                        }).mouseleave(function()
                                                        {
                                                            $(this).children(".name").animate({
                                                                opacity: 0.7,
                                                                height: 75
                                                            }, 500)
                                                        });
                                                    });    
/**
 * Use to send a Virtual Page View Event to Google.
 */
function googleVPViewEvent(pageKey)
{
    var key = pageKey;
    // if pagekey is null or blank use the href
    if (pageKey == null || pageKey == "")
	{
		key = parseUrl(document.URL);
        key = key.replace("/page/#", "");
	}
    else
    {
    key = "/" + pageKey;
    }
    
    if (typeof(_gaq) != "undefined")
	{
    //        clog("Sending event "+ "/virtual"+url);
    _gaq.push(['_trackPageview', "/virtual"+key]);
    }
}													
                                                    </script>													
