<div class='main-content'>
    <div class='trow'>
        <div class='main-body'>
            <div class='content'>
                <div class='group'>
                    <div class='inner-contents' id='ic-0'>
                        <div class='padder'>
                            <div class='fthb inputshidden'>
                                <div class='bordered' width=100%>
                                    <table class='body-container' style="width: 100%" cellspacing=0 cellpadding=0 border=0>
                                        <tr>
                                            <td class='body-content'>
                                                <div class='body-content-wrapper'>
                                                    <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
                                                        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>无风险套利策略介绍</h1>
                                                            <h2>1.介绍：</h2>


<style type="text/css">
#big{position:relative;width:800px;height:auto!important;height:400px;min-height:400px;margin:20px auto;text-align:center;}
#title{position:absolute;top:0;left:0;width:100%;opacity:0.7;filter:alpha(opacity=70);font-size:20px;height:0px;}
#btn_L,#btn_R{position:absolute;top:50%;margin-top:-40px;width:39px;height:80px;overflow:hidden;cursor:pointer;text-indent:-9999px;background:url('http://js.fgm.cc/learn/lesson7/img/btn.png') no-repeat;opacity:0;filter:alpha(opacity=0);}
#btn_L{left:10px;background-position:0 0;}
#btn_R{right:10px;background-position:-39px 0;}
</style>
<script type="text/javascript">
function getStyle(obj, attr){return obj.currentStyle ? obj.currentStyle[attr] : getComputedStyle(obj, null)[attr]}
window.onload = function ()
{
	var oBig = document.getElementById("big");
	var oMasksL = document.getElementById("masks_L");
	var oMasksR = document.getElementById("masks_R");
	var oBtnL = document.getElementById("btn_L");
	var oBtnR = document.getElementById("btn_R");
	var oTitle = document.getElementById("title");
	var oSpan = oTitle.getElementsByTagName("span")[0];
	var iNow = 0;
	var aData = [
		{"imgSrc" : "/assets/1s.jpg", "title" : ""},
		{"imgSrc" : "/assets/2.jpg", "title" : ""},
		{"imgSrc" : "/assets/3.jpg", "title" : ""},
		{"imgSrc" : "/assets/4.jpg", "title" : ""},
		{"imgSrc" : "/assets/5.jpg", "title" : ""},
		{"imgSrc" : "/assets/6.jpg", "title" : ""},
		{"imgSrc" : "/assets/7.jpg", "title" : ""},
		{"imgSrc" : "/assets/8.jpg", "title" : ""},
		{"imgSrc" : "/assets/9.jpg", "title" : ""},
		{"imgSrc" : "/assets/10.jpg", "title" : ""},
		{"imgSrc" : "/assets/11.jpg", "title" : ""},
		{"imgSrc" : "/assets/12.jpg", "title" : ""},
		{"imgSrc" : "/assets/13.jpg", "title" : ""},
		{"imgSrc" : "/assets/14.jpg", "title" : ""},
		{"imgSrc" : "/assets/15.jpg", "title" : ""},
		{"imgSrc" : "/assets/16.jpg", "title" : ""},
		{"imgSrc" : "/assets/17.jpg", "title" : ""},
		{"imgSrc" : "/assets/18.jpg", "title" : ""},
	];
	
	oMasksL.onmouseover = oBtnL.onmouseover = function ()
	{
		startMove(oBtnL, "opacity", 100)
	};
	oMasksL.onmouseout = oBtnL.onmouseout = function ()
	{
		startMove(oBtnL, "opacity", 0)	
	};
	
	oMasksR.onmouseover = oBtnR.onmouseover = function ()
	{
		startMove(oBtnR, "opacity", 100)
	};
	oMasksR.onmouseout = oBtnR.onmouseout = function ()
	{
		startMove(oBtnR, "opacity", 0)	
	};
	
	function startMove(obj, attr, iTarget, fnEnd)
	{
		clearInterval(obj.timer);
		obj.timer = setInterval(function ()
		{
			doMove(obj, attr, iTarget, fnEnd)
		}, 30)	
	}
	
	function doMove(obj, attr, iTarget, fnEnd)
	{
		var iCur = parseFloat(getStyle(obj, attr));
		if (attr == "opacity")
		{
			iCur = parseInt(iCur * 100)
		}
		var iSpeed = (iTarget - iCur) / 5;
		iSpeed = iSpeed > 0 ? Math.ceil(iSpeed) : Math.floor(iSpeed);
		
		if (iTarget == iCur)
		{
			clearInterval(obj.timer);
			fnEnd && fnEnd();	
		}
		else
		{
			if (attr == "opacity")
			{
				obj.style.filter = "alpha(opacity = " + (iCur + iSpeed) + ")";
				obj.style.opacity = (iCur + iSpeed)	/ 100;
			}
			else
			{
				obj.style[attr] = iCur + iSpeed + "px";	
			}
		}
	}
	
	oBtnL.onclick = function ()
	{
		
		if (iNow <= 0)
		{
			alert("前面没有图片了！")
			return;
		}
		iNow--;
		loadImg();
	};
	
	oBtnR.onclick = function ()
	{
		if(iNow >= aData.length - 1)
		{
			alert("这是最后一张图片了！")
			return;
		}
		iNow++;
		loadImg();
	};
	
	loadImg();
	function loadImg()
	{
		oBig.className = "loading";
		var oImg = oBig.getElementsByTagName("img");
		oImg[0] && oBig.removeChild(oImg[0]);
		var oTemp = document.createElement("img");
		var oNewImg = new Image();
		oNewImg.onload = function ()
		{
			oBig.className = "";			
			oTemp.src = this.src;
			oBig.appendChild(oTemp);
			oTemp.style.width = (oTemp.offsetWidth > 800 ? 800 : oTemp.offsetWidth) + "px";
			oBig.style.height = oTemp.style.height = oTemp.offsetHeight * oTemp.offsetWidth / oTemp.offsetWidth + "px";
			oSpan.innerHTML = aData[iNow].title;
			startMove(oTitle, "height", 50, function (){
				startMove(oTitle.childNodes[0], "opacity", 100)	
			})
		};
		oNewImg.src = aData[iNow].imgSrc
	}
};
</script>

	<div id="big">
    	<div id="masks_L"></div>
    	<div id="masks_R"></div>

        <div id="btn_L">左</div>
        <div id="btn_R">右</div>
        <div id="title"><span></span></div>
    </div>


                                                            <br/><br/><br/>
														    <h2>2.品种选择：</h2>
															交易指令限制：只能应用于大连商品交易所和郑州商品交易所的商品中。<br>
															商品特性限制：易存储，易运输，易交付。客户必须能够接受该商品的交付，存储它直至远月到期，然后再度交付出去。<br><br>
															最适合的品种：强麦，玉米，大豆，棉花，豆油，铜，白银，黄金<br>
															较适合的品种：白糖，豆粕
															<br/><br/><br/>
															<h2>3.合约套利对选择：</h2>
															不能跨交割月份。
															<h2>4.持仓成本：</h2>
															持仓成本主要指商品存储费用，增值税费用，资金借贷费用等。
															即使是同一商品的持仓成本，对应于不同的人，也会不一样的。比较明显的是，不同人借贷资金的利息不同，他们对应的持仓成本就会相差很大。
															虽然各个实体的持仓成本不同，但还是会有一个行业标准的持仓成本。这个持仓成本是标准存储费用，借贷利息是银行借贷利息加1%。<br>
															点击可以查看持仓成本包含内容。<br>
															点击可以查看持仓成本行业标准。
															<br/><br/><br/>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
