<%= stylesheet_link_tag "aboutus.css" %>

<div class='main-content'>
    <div class='trow'>
        <div class='main-body'>
            <div class='content'>
                <div class='group'>
                    <div class='inner-contents' id='ic-0'>
                        <div class='padder'>
                            <div class='fthb inputshidden'>
                                <div class='bordered' width=100%>
                                    <table class='body-container' style="width: 100%" cellspacing=0 cellpadding=0 border=0>
                                        <tr>
                                            <td colspan=2>
                                                <div class='crumbs'>
                                                    <a href='/' class='full first' name='breadcrumb-main-home'>首页</a>
                                                        <i class='icon-chevron-right'></i> 
														<a href='/contactus/aboutus'  class='odd' style='z-index: 100' id='breadcrumb-tongtianshun'>团队</a>
                                                        <a class='blank'></a>
                                                        <div class='clear'></div>
                                                </div>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td class='body-content'>
                                                <div class='body-content-wrapper'>
                                                    <div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
                                                        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>通天顺团队</h1>
                                                    </div>
													<table width=100% class='photos' border="0">
                                                        <tr>
                                                            <td class='sp1'></td>
                                                            <td>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Michael Carvin</h1>
                                                                            CEO & Co-Founder
                                                                            <div class='subtext'>
                                                                                Michael's expertise is in financial decision making.                           
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp2'></td>
                                                            <td>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Philip Camilleri</h1>
                                                                            CTO & Co-Founder
                                                                            <div class='subtext'>
                                                                                Philip has been pulling things apart and putting them
                                                                                back together for as long as he can remember. 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp2'></td>
                                                            <td class='last'>
                                                                <div class='member'>
                                                                    <img src="/assets/a.jpg" />
                                                                    <div class='name'>
                                                                        <div>
                                                                            <h1>Michael Calleia</h1>
                                                                            Information Architect
                                                                            <div class='subtext'>
                                                                                Michael has a long track record of delivering 
                                                                                user-centered, creative product solutions.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class='sp1'></td>
														</tr> 
                                                    </table>
                                                    <br/><br/><br/>
													<div class='txt' style="text-align: justify; font-size: 18px; line-height: 26px; color: #666">
                                                        <h1 style='margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000'>项目实习生</h1>
                                                    </div>
													<table width=100% class='photos' border="0">
                                                            <tr>
															    <td class='sp1'></td>
                                                                <td>
                                                                    <div class='member'>
                                                                        <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Noel Curtis</h1>
                                                                                Senior Developer
                                                                                <div class='subtext'>
                                                                                    Noel loves code. Previously a Senior Developer
                                                                                    at EMC, Noel has been coding since he could walk.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class='sp2'></td>
                                                                <td>
                                                                    <div class='member'>
                                                                        <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Anantha Katragadda</h1>
                                                                                Digital Marketing Director
                                                                                <div class='subtext'>
                                                                                    Anantha is most happy when he sees a hockey stick 
                                                                                    traffic chart.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class='sp2'></td>
                                                                <td>
                                                                    <div class='member'>
						    										    <img src="/assets/a.jpg" />
                                                                        <div class='name'>
                                                                            <div>
                                                                                <h1>Anantha Katragadda</h1>
                                                                                Digital Marketing Director
                                                                                <div class='subtext'>
                                                                                    Anantha is most happy when he sees a hockey stick 
                                                                                    traffic chart.
                                                                                </div>
                                                                            </div>
                                                                        </div>                
                                                                    </div>
                                                                </td>
																<td class='sp1'></td>
                                                            </tr>   
                                                    </table>
                                                    <script>
                                                    $(function()
                                                    {        
                                                        // Virtual Page View event
                                                        googleVPViewEvent("/page/about");
    
                                                        $('.member').mouseenter(function() {
                                                            var h = $(this).innerHeight();
                                                            var t = $(this).children(".name").position().top;
                                                            $(this).children(".name").animate({
                                                                opacity: 1,
                                                                height: h-5
                                                            }, 500)
                                                        }).mouseleave(function()
                                                        {
                                                            $(this).children(".name").animate({
                                                                opacity: 0.7,
                                                                height: 75
                                                            }, 500)
                                                        });
                                                    });    
                                                    </script>													
                                                </div>													
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br/>  
                            </div>	               
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
