
<div class="StrategyNewsyy">
	<div id="StrategyNewsgywmimg"></div>
	<div class="StrategyNewslb"></div>
	<div id="StrategyNewscontactus">
	<ul>
	<li><a href="/contactus/companyintro">公司介绍</a>
	</li>
<li><a class="noline" href="/contactus/personintro">公司人员</a></li>
<li><a  class="noline" href="/contactus/productintro">公司产品</a></li>
<li><a class="noline"  href="/contactus/hire">招聘</a></li>
    
    </ul>
  
    </div>
  
  </div>

<div id="contactusinto">
<div class="guanyuwomen"></div>

<h3>重人软件科技有限公司(ZhongRen Software Co.,Ltd)</h3>
<p>是一家专注于金融领域 软件产品研发、销售、技术支持为一体的专业金融服务供应商。<br />
  公司拥有来自全球500强外企的资深软件开发及架构师顾问团队，与国际接轨的管理理念，稳定的客户群（包括国内十佳期货交易公司）。<br /></p>

</div>

  <div id="contactusintor">
  <ul>
  <li class="dingwei"><a>定位</a></li> <div id="contactusintorr"><a class="nopadding">专注于金融产品交易平台及后台管理系统开发  </a></div>

   <li class="shiming"><a>使命</a></li><div id="contactusintorr"><a class="nopadding">为客户提供一对一的期货市场的交易策略软件开发,测试,实盘评测  </a></div>
   <li class="mubiao"><a>目标</a></li><div id="contactusintorr"><a class="nopadding">最具客户价值的金融软件产品开发和服务提供商   </a></div>
   <li class="fazhan"><a>发展模式</a></li><div id="contactusintorr"><a class="nopadding">以“渠道合作伙伴”为核心，“产品化、标准化、细节化”的客户交付 </a></div>
  
  </ul>
  </div>


