<%= render "side" %>

<div class="centerrightframe">
<h2>招聘</h2>
<div id="zhaopinxixiwz">
    <p>管理层平均年龄31.5岁，为年轻有为的你提供完善的职业培训和上升空间以及完备的薪酬福利体系。</p>
    <p>非常欢迎喜欢挑战的年轻人，有性格、有梦想的年轻人加入我们。和我们一同站在科技的最前沿，不断成长！</p>
</div>


<ul>

<li> <h1>软件工程师</h1></li>
  <div id="chanpinjieshaonr"><p class="duiqi">工作职责: <br>
  金融应用软件的开发</p></div>
 <div id="chanpinjieshaonr"><p class="duiqi">

职位要求：<br>
1．1-2年软件开发经验；<br>
2．精通C/C++编程；<br>
3．良好的沟通/组织/团队能力；
</p>
</div>

<li> <h1>网页设计师</h1></li>
   
<div id="chanpinjieshaonr"><p class="duiqi">职位描述: <br>
0、熟悉Ruby,Ruby on Rails(RoR)语言。<br>
1、熟悉WEB2.0、HTML、CSS等页面代码，能够自己熟练手写DIV+CSS网页设计与开发者优先；<br>
2、熟悉Dreamweaver、Flash等网页制作工具，能够独立完成网站的规划和静态页面制作；<br>
3、熟练运用Javascript等编写网页，熟悉JSP等；<br>
4、具备较好的沟通能力和团队合作精神，责任心强、能承受一定的工作压力。</p></div>

<li> <h1>MATLAB工程师</h1></li>
   
<div id="chanpinjieshaonr"><p class="duiqi">职位描述：<br>

1、负责研究、应用先进的金融工程手段和技术，为产品交易管理和投资风险管理提供数量化的研究、分析的支持；<br>
2、能运用各种专业知识对金融投资产品进行数理分析和建模，独立或与其他分析师共同负责量化、金融衍生品方向、大宗商品期货等的研究；<br>
3.对模型进行测试和优化，形成较好的交易模块或者交易提示；<br>
4、参与相关项目的市场及产品发展方向研究，参与产品设计。配合部门领导，完成产品设计的实现。</p></div>
<div id="chanpinjieshaonr"><p class="duiqi">职位要求：<br>
1.熟悉Matlab语言，熟悉Matlab编译环境。<br>
2.了解程序化交易策略设计实施，金融产品创新与设计为佳。<br>
3.计算机，数学相关专业为佳。</p></div>


</ul>
</div>



