<div class="slider2">
<div class="slice12">
  <h2>关于我们</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">
  <div class="StrategyNews">
  <h2>我们的一切</h2>
  <ul>
    <li><%= link_to "介绍",:controller =>"contactus",:action =>"intro" %></li>
    <li><%= link_to "招聘",:controller =>"contactus",:action =>"hire" %></li>
  </ul>
<p></p>
  </div>
<div class="frame">

<h3>重人软件科技有限公司(ZhongRen Soft Co.,Ltd)</h3>
<p>是一家专注于金融领域 集产品研发、市场拓展、渠道销售、技术支持为一体的专业管理系统研发及服务供应商。<br />
  公司拥有来自全球500强外企的资深软件开发及架构师顾问团队，与国际接轨的管理理念，稳定的客户群（包括国内十佳期货交易公司）。<br />
  <br />
  <strong>定位：</strong>专注于金融产品交易平台及后台管理系统开发  <br />
  <br />
  <strong>使命：</strong>为客户提供一对一的期货市场的交易策略软件开发,测试,实盘评测  <br />
  <br />
  <strong>目标：</strong>最具客户价值的金融软件产品开发和服务提供商   <br />
  <br />
  <strong>发展模式：</strong>以“渠道合作伙伴”为核心，“产品化、标准化、细节化”的客户交付 <br />
  <br />
  </p>


</div>

<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
