<h3>重人软件科技有限公司(ZhongRen Soft Co.,Ltd)</h3>
<p>是一家专注于金融领域 集产品研发、市场拓展、渠道销售、技术支持为一体的专业管理系统研发及服务供应商。<br />
  公司拥有来自全球500强外企的资深软件开发及架构师顾问团队，与国际接轨的管理理念，稳定的客户群（包括国内十佳期货交易公司）。<br />
  管理层平均年龄31.5岁，为年轻有为的你提供完善的职业培训和上升空间以及完备的薪酬福利体系。<br />
  定位：专注于金融产品交易平台及后台管理系统开发  <br />
  使命：为客户提供一对一的期货市场的交易策略软件开发,测试,实盘评测  <br />
  目标：最具客户价值的金融软件产品开发和服务提供商   <br />
  发展模式：以“渠道合作伙伴”为核心，“产品化、标准化、细节化”的客户交付 <br />
  非常欢迎喜欢挑战的年轻人，有性格、有梦想的年轻人加入我们。和我们一同站在科技的最前沿，不断成长！</p>