<br />
<h3>崔伟</h3>
<p>南京重人软件科技有限公司 创始人</p>
<p>上海理工大学动力工程系 本科；南京大学计算机系 硕士；上海贝尔阿尔卡特 项目经理</p>

<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1693518211&verifier=12adc007&dpc=1"></iframe><h3>合伙人 吴康</h3>