<%= render "side" %>

<div class="centerrightframe">
<h2>公司人员</h2>

<ul>
<li>
<a href="cuiweiintro">崔伟 南京重人软件科技有限公司 创始人</a></li>
<li>
<a href="wukangintro">吴康 南京重人软件科技有限公司 合伙人</a></li>

</ul>
</div>

