<div class="body">
  <div class="body_resize">

<div class="frameyy">
<div class="StrategyNewsyy">
	<div id="StrategyNewsgywmimg"></div>
	<div class="StrategyNewslb"></div>
	<div id="StrategyNewscontactus">
	<ul>
	<li><a class="noline" href="/contactus/companyintro">公司介绍</a>
	</li>
<li><a  href="/contactus/personintro">公司人员</a></li>
<li><a class="noline" href="/contactus/productintro">公司产品</a></li>
<li><a class="noline" href="/contactus/hire">招聘</a></li>
    
    </ul>
  
    </div>
  
  </div>


<div id="contactusinto">
<div class="gongsirenyuan"></div>

<ul>
<li>
<a>崔伟&nbsp; &nbsp;   南京重人软件科技有限公司&nbsp;   创始人</a></li>
<li>
<a>吴康&nbsp; &nbsp;   南京重人软件科技有限公司&nbsp;   合伙人</a></li>

</ul>
</div>
</div>


</div>
</div>