<%= stylesheet_link_tag "contactus.css" %>

<div class='maincontent'>
  <a href='/'>首页</a>
  <h1 class="h1">通天顺隐私政策</h1>
  <p>通天顺非常重视对您的个人隐私保护，有时候我们需要某些信息才能为您提供您请求的服务，本隐私声明解释了这些情况下的数据收集和使用情况。</p>
  <p>本声明适用于通天顺的所有相关服务，随着通天顺服务范围的扩大，隐私声明的内容可由通天顺随时更新，且毋须另行通知。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。</p>
  <h1 class="h1">我们收集哪些信息</h1>
  <p>通常，当我们需要能识别您的个人信息或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册通天顺或申请开通新的功能时，我们可能收集这些信息：姓名，Email地址，住址和电话号码，并征求您的确认。</p>
  <h1 class="h1">关于您的个人信息</h1>
  <p>通天顺严格保护您个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。</p>
  <p>通天顺会在法律要求或符合通天顺的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：(a) 满足法律或行政法规的明文规定，或者符合通天顺网站适用的法律程序；（b）符合通天顺相关服务条款、软件许可使用协议的约定；(c) 保护通天顺的权利或财产，以及在紧急情况下保护通天顺员工、产品或服务的用户或大众的个人安全。</p>
  <p>通天顺不会未经您的允许将这些信息与第三方共享，本声明已经列出的上述情况除外。</p>
  <p>为了更好地提升通天顺的服务质量和进行更精准的网络数据分析，我们将在充分保护用户个人隐私的前提下，对用户数据库进行分析和处理。所有相关的数据分析结果都将被用于有价值的新产品的研发和用户体验的进一步改进。</p>
</div>