<div class="body">
  <div class="body_resize">

<div class="frameyy">
<div class="StrategyNewsyy">
	<div id="StrategyNewsgywmimg"></div>
	<div class="StrategyNewslb"></div>
	<div id="StrategyNewscontactus">
	<ul>
	<li><a class="noline" href="/contactus/companyintro">公司介绍</a>
	</li>
<li><a class="noline" href="/contactus/personintro">公司人员</a></li>
<li><a href="/contactus/productintro">公司产品</a></li>
<li><a class="noline"  href="/contactus/hire">招聘</a></li>
    
    </ul>
  
    </div>
  
  </div>
<div id="contactusinto">

<div class="gongsichanpin"></div>
<ul>
<li> <h1>产品介绍</h1></li>

<div id="chanpinjieshaonr"><p class="duiqi">&nbsp; &nbsp;
实时计算中国大陆商品期货市场无风险套利成本，随时帮你分析出符合你收益率标准的交易，并实时帮助您一键成交，方便简单快捷的获得利润。</p></div>
<li> <h1>产品技术应用</h1></li>

   <div id="chanpinjieshaonr"><p class="duiqi">云应用 SaaS</p></div>
<div id="chanpinjieshaonr"><p class="duiqi">&nbsp; &nbsp;通天顺网站通过云应用向客户提供软件服务：
您再也不需要配置高价计算机来追逐行情，有我们来为您提供；
您再也不需要被无穷无尽的版本升级所困扰，有我们来为您提供；</p></div>
 <div id="chanpinjieshaonr"><p class="duiqi">云平台</p></div>

<div id="chanpinjieshaonr"><p class="duiqi">&nbsp; &nbsp;通过美国Amazon公司提供完善的计算机基础设备，拥有世界一流的性能强，稳定，灵活配置的计算能力，为您提供最强大，个性化的服务。</p></div>



</ul>
</div>
</div>


</div>
</div>


