<%= stylesheet_link_tag "contactus.css" %>

<div class='maincontent'>
  <a href='/'>首页</a>
  <h1>通天顺 服务条款</h1>
  <h4>（一）服务条款的确认</h4>
  <p>本服务条款是用户（您）与南京重人软件科技有限公司旗下通天顺（下称通天顺）之间的协议。通天顺旨在打造为以白领为主的用户提供在线金融产品和线下活动的创新型电子商务平台。
     <br>如果您在注册过程中选择“我同意”，即表示用户已经与通天顺达成协议，自愿接受本服务条款的所有内容。本服务条款的效力范围及于通天顺的一切产品和服务，用户在享受通天顺任何单项服务时，应当受本服务条款的约束。</p>
  <h4>（二）服务条款的修改</h4>
  <p>通天顺有权在必要时对服务条款进行修改，有权随时变更、中断或终止部分或全部网络服务，并不需对用户或任何第三方负责和为此承担任何责任。
     <br>用户如继续使用本服务条款涉及的服务，则视为对修改内容的同意；用户在不同意修改内容的情况下，有权停止使用本服务条款涉及的服务。</p>
  <h2>使用规则</h2>
  <h1>用户应遵守以下法律及法规</h1>
  <p>1、用户如果在国内，应遵守中华人民共和国有关法律、法规，承担一切因您的行为直接或间接引起的法律责任不得在通天顺制作、复制、发布、传播以下信息：</p>
  <p>(1) 违反宪法确定的基本原则的；</p>
  <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
  <p>(3) 损害国家荣誉和利益的；</p>
  <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
  <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
  <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
  <p>(7) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
  <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
  <p>(9) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
  <p>(10) 以非法民间组织名义活动的；</p>
  <p>(11) 含有法律、行政法规禁止的其他内容的。</p>
  <p>2、用户如不在国内居住，还应特别注意遵守所在国家和地区所有有关的法律和法规。</p>
  <h1>用户的隐私权</h1>
  <p>尊重用户个人隐私是通天顺的一项基本政策。所以，通天顺不会未经授权公开或透露用户的注册资料及保存在通天顺各项服务中的非公开内容，下列情况除外：</p>
  <p>（一）、遵守有关法律规定，包括在国家有关机关查询时，提供用户的注册信息、用户在通天顺的网页上发布的信息内容及其发布时间、互联网地址或者域名。</p>
  <p>（二）、保持维护通天顺的知识产权和其他重要权利。</p>
  <p>（三）、在紧急情况下竭力维护用户个人和社会大众的隐私安全。</p>
  <p>（四）、根据本条款相关规定或者通天顺认为必要的其他情况下。</p>
  <h1>通天顺关于知识产权及其他产权的界定</h1>
  <p>（一）、对于用户上传到通天顺上可公开获取的任何内容，用户同意授予通天顺永久性的、不可撤销的、免费的、非独家的和再许可的权利和许可，通天顺对此内容具有使用权。</p>
  <p>（二）、无论是用户原创或是用户得到著作权人授权转载的作品，用户上载的行为即意味着用户或用户代理的著作权人授权通天顺对上载作品享有免费的不可撤销的永久的使用权和收益权，但用户或原著作权人仍保有上载作品的著作权。</p>
  <p>（三）、用户不得将任何涉及他人隐私资料或侵犯任何人合法权利、商业秘密或其他专属权利之内容加以上载、张贴、或以其它方式传送。</p>
  <h1>免责声明</h1>
  <p>（一）、本服务具有因不可抗力、计算机病毒或黑客攻击、系统不稳定、通信线路原因等造成的服务中断的风险，通天顺对此类风险不提供担保服务。</p>
  <p>（二）、对因此导致用户不能发送和接受阅读消息、或传递错误、延迟接收等问题不承担任何责任。对于不可抗力或非通天顺过错原因导致的用户数据损失、丢失或服务停止，通天顺将不承担任何责任。</p>
  <p>（三）、用户使用经由本服务下载的或取得的任何资料、信息而导致该用户电脑系统损坏、资料流失或遭受财产损失，其风险自行负担。</p>
  <p>（四）、通天顺用户需要对其发布的一切信息承担必要责任。通天顺对用户使用网络服务所产生的任何直接、间接、偶然、特殊及继起的损害不负任何责任。</p>
  <h1>结束服务</h1>
  <p>（一）、对于违反通天顺服务条款或其他通天顺认为有必要的情况，通天顺有权在任何时候终止用户的帐号、密码或使用本服务，或删除、转移用户存储、发布在通天顺的内容。</p>
  <p>（二）、通天顺有权在任何时候，暂时或永久收回、修改或终止包括但不限于用户通过本网站注册的二级域名和使用空间等各种资源。</p>
  <p>（三）、通天顺有权在采取上述行为时不事先通知用户，并且对用户和任何第三人不承担任何责任。</p>
  <h1>法律适用</h1>
  <p>本服务条款的生效、履行、解释及争议的解决均应适用中国法律, 如服务条款之任何一部分与中华人民共和国法律相抵触，则该部分条款应按法律规定重新解释。</p>
  <p>本服务条款和通天顺的其它相关规则或说明构成完整的协议，本网站有权进一步修改本协议，本协议的最终解释权归通天顺所有。如有冲突，双方应尽量友好协商解决，用户也可以提交当地法院诉讼裁决。</p>
</div>