<div id="optionsRadios">
  <div class="box_sxtj">
    <div class="box_sxtj_top">全部产品－筛选条件</div>
    <div class="box_sxtj_center">
      <dl class="fore" id="rate_all">
        <dt>预期年化收益率:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="rates0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox11" id="rates3"><a class="colors111"> 3%－6% </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox11" id="rates6"><a class="colors112"> 6%－10% </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox11" id="rates10"><a class="colors113"> 10%－15% </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox11" id="rates15"><a class="colors114"> 15%－30% </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox11" id="rates30"><a class="colors115"> 30%以上 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="date_all">
        <dt>投资期限:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="dates0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox12" id="dates1"><a class="colors121"> 3个月以内 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox12" id="dates2"><a class="colors122"> 3个月－6个月 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox12" id="dates3"><a class="colors124"> 6个月－1年 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox12" id="dates4"><a class="colors124"> 1年－2年 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox12" id="dates5"><a class="colors125"> 2年以上 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="outset_all">
        <dt>投资起点:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="outsets0" class="curr outset btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox13" id="outsets1"><a class="colors131"> 5万-10万 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox13" id="outsets2"><a class="colors132"> 10万-20万 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox13" id="outsets3"><a class="colors133"> 20万-50万 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox13" id="outsets4"><a class="colors134"> 50万-100万 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox13" id="outsets5"><a class="colors135"> 100万以上 </a>
          </label>
        </dd>
      </dl>
    </div>
    <div class="box_sxtj_bottom">
      <dl class="fore">
        <dt>已选择的筛选条件:&nbsp;</dt>
        <dd id="selected">
          <div id="s-rate" class="del hide">
            <h6 class="text" id="st-rate" condition="">预期年化收益率:不限</h6>
            <a class="delete2" cid="rate"></a>
          </div>
          <div id="s-date" class="del hide">
            <h6 class="text" id="st-date" condition="">投资期限：不限</h6>
            <a class="delete2" cid="date"></a>
          </div>
          <div id="s-outset" class="del hide">
            <h6 class="text" id="st-outset" condition="">投资起点：不限</h6>
            <a class="delete2" cid="outset"></a>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>