
<div id="optionsRadios">
  <div class="box_sxtj">
    <div class="box_sxtj_top">查询</div>
    <div class="box_sxtj_center">
      <dl class="fore" id="amount_all">
        <dt>起购金额:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="amounts0" class="curr  btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts1"><a class="color11"> 0-500元 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts2"><a class="color12"> 501-1000元 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts3"><a class="color13"> 1001元以上 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="expectYID_all">
        <dt>同类排名:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="expectYIDs0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs1"><a class="color21">近一年来20名</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs2"><a class="color22">近二年来20名</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs3"><a class="color23">近三年来20名</a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="duration_all">
        <dt>资金规模<a class="introduce" href="#myModal5" role="button" data-toggle="modal">(?)</a>:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="durations0" class="curr btn-link currbg"> 不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations1"><a class="color31"> 0-1亿 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations2"><a class="color32"> 1亿-10亿</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations3"><a class="color33"> 10亿以上</a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="scate_all">
        <dt>成立时间<a class="introduce" href="#myModal4" role="button" data-toggle="modal">(?)</a>:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="scates0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates1"><a class="color41"> 不足一年 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates2"><a class="color42"> 1年-3年 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates3"><a class="color43"> 3年以上 </a>
          </label>
        </dd>
      </dl>
    </div>

    <div class="box_sxtj_bottom">
      <dl class="fore">
        <dt>已选择的筛选条件:&nbsp;</dt>
        <dd id="selected">

          <div id="s-amount" class="del hide">
            <h6 class="text" id="st-amount" condition="">起购金额:不限</h6>
            <a class="delete" cid="amount"></a>
          </div>

          <div id="s-expectYID" class="del hide">
            <h6 class="text" id="st-expectYID" condition="">同类排名:不限</h6>
            <a class="delete" cid="expectYID"></a>
          </div>

          <div id="s-duration" class="del hide">
            <h6 class="text" id="st-duration" condition="">资金规模：不限</h6>
            <a class="delete" cid="duration"></a>
          </div>

          <div id="s-scate" class="del hide">
            <h6 class="text" id="st-scate" condition="">成立时间：不限</h6>
            <a class="delete" cid="scate"></a>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>