<div id="myModal_prompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p>接着，我们将加载当前市面上所有相关的理财产品，可能时间会比较慢，预估将在30秒-40秒之间，绝对不是死机，很抱歉，请稍等。</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="promit">确认</button>
  </div>
</div>