<%= javascript_include_tag "jquery.min.js" %>
<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>这里的银行理财产品是由银行自行设计并发行，而不是作为销售渠道，和信托、基金、保险等金融机构合作的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div class="overlay">
            <h1>1. 银行</h1>
            <p class="group">您现在资金是在哪家银行</p>
            <select  name="bcolumn" id="bcolumn">
              <option value="中行">中行</option>
              <option value="工行">工行</option>
              <option value="交行">交行</option>
              <option value="农行">农行</option>
              <option value="建行">建行</option>
              <option value="招商银行">招商银行</option>
              <option value="中信银行">中信银行</option>
              <option value="华夏银行">华夏银行</option>
              <option value="兴业银行">兴业银行</option>
              <option value="光大银行">光大银行</option>
              <option value="广发银行">广发银行</option>
              <option value="浦发银行">浦发银行</option>
              <option value="民生银行">民生银行</option>
              <option value="平安银行">平安银行</option>
            </select>
            <a class="btn btn-info pull-right" href='/bankinvest/secondpickout' onclick ="checkradio()">确定</a>
            </div>
            <!--
            <div class="controls">
              <label class="radio"><input name="optionsRadios" value="中行" type="radio">中行</label>
              <label class="radio"><input name="optionsRadios" value="工行" type="radio">工行</label>
              <label class="radio"><input name="optionsRadios" value="交行" type="radio">交行</label>
              <label class="radio"><input name="optionsRadios" value="农行" type="radio">农行</label>
              <label class="radio"><input name="optionsRadios" value="建行" type="radio">建行</label>
              <label class="radio"><input name="optionsRadios" value="招商银行" type="radio">招商银行</label>
              <label class="radio"><input name="optionsRadios" value="中信银行" type="radio">中信银行</label>
              <label class="radio"><input name="optionsRadios" value="华夏银行" type="radio">华夏银行</label>
              <label class="radio"><input name="optionsRadios" value="兴业银行" type="radio">兴业银行</label>
              <label class="radio"><input name="optionsRadios" value="光大银行" type="radio">光大银行</label>
              <label class="radio"><input name="optionsRadios" value="广发银行" type="radio">广发银行</label>
              <label class="radio"><input name="optionsRadios" value="浦发银行" type="radio">浦发银行</label>
              <label class="radio"><input name="optionsRadios" value="民生银行" type="radio">民生银行</label>
              <label class="radio"><input name="optionsRadios" value="平安银行" type="radio">平安银行</label>
              <a class="btn btn-info pull-right" onclick ="checkradio()">确定</a>
            </div>
            -->
          </div>
        </div>
      </td>
      <td>
        <div class="main-body">
          <a href="/">首页</a>&nbsp; >&nbsp;
          <a href="/bankinvest/index" >银行理财产品</a>&nbsp; >&nbsp;
          <a href="" >个性化推荐</a>
          <h1>四步挑选产品</h1>
          <div class="inputs-tip">
            <div class="inputstip-content">
              <h2>第一步： 银行</h2>
              <p>您准备用哪家银行的账号来购买银行理财产品？ </p>
              <div class="arrow-container">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
          <div class="bordered">
            <h3>工商银行理财产品介绍</h3>
            <p>工行银行行理财产品主要为：工银财富，保本型理财产品，灵通快线，步步为赢，高净值挂钩黄金保本浮动收益理财产品，高净值客户专属N天人民币理财产品。</p>
            <p>注意：</p>
            <p>1.高净值挂钩黄金保本浮动收益理财产品 的到期收益率计算公式为浮动，（1、如果在观察期内挂钩标的始终保持在边界水平之下，则
              到期收益率=3.65% 2、如果在观察期内挂钩标的曾经高于或者等于边界水平，则到期收益率=1.30%）我们认为该产品区间变动过大，挂钩
              标判断标准不明确，而且最高收益率也不是特别吸引人，所以不予推荐。<br>
              2. 净值客户专属N天人民币理财产品，这类产品的特征是N天内资金不允许挪动，N正常情况下大于30天，他的优点在于N天后可以随
              时提现，我们认为这样的情况下不如直接购买30天左右的理财产品，而且收益率还比这类产品普通要高，所以我们认为该类产品性比不高，不予推荐</p>
            <!--<p>您的资金是在：<input id="finance" type="text"></p> -->
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<!--
<script language="javascript" type="text/javascript">
    function checkradio()
    {
        $("input:radio").each(function(){
            if(this.checked){$("#finance").val(this.value);}
        });
    }
</script>
-->
