<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>个人隐私信息</h1>
              <p>在整个过程中，你不需要输入任何您的身份信息.<br><span>你完全无需担心您的个人家庭财务信息被泄露。</span></p>
            </div>
            <div class="overlay">
              <form name="form1" action="/bankinvest/secondpickout" method="post" onsubmit="return checkinput()">
                <h1>1. 银行和资金</h1>
                <p class="group">选择您的银行</p>
            <select  name="bcolumn" id="bcolumn">
              <option value="中国银行">中行</option>
              <option value="工商银行">工行</option>
              <option value="交通银行">交行</option>
              <option value="农业银行">农行</option>
              <option value="建设银行">建行</option>
              <option value="招商银行">招商银行</option>
              <option value="中信银行">中信银行</option>
              <option value="华夏银行">华夏银行</option>
              <option value="兴业银行">兴业银行</option>
              <option value="光大银行">光大银行</option>
              <option value="广发银行">广发银行</option>
              <option value="浦发银行">浦发银行</option>
              <option value="民生银行">民生银行</option>
              <option value="平安银行">平安银行</option>
            </select>
                <p class="group">资金投入</p>
                <div class="input-append">
                  <input class="input-medium" name="amount" id="amount" type="text" placeholder="请输入投资金额">
                  <span class="add-on">元</span>
                </div>
                <p>最低投入资金为50000元。</p>
                <a class="btn btn-primary pull-right"  id ="checkinput" type="submit">确定</a>
              </form>
            </div>
            <!--
            <div class="controls">
              <label class="radio"><input name="optionsRadios" value="中行" type="radio">中行</label>
              <label class="radio"><input name="optionsRadios" value="工行" type="radio">工行</label>
              <label class="radio"><input name="optionsRadios" value="交行" type="radio">交行</label>
              <label class="radio"><input name="optionsRadios" value="农行" type="radio">农行</label>
              <label class="radio"><input name="optionsRadios" value="建行" type="radio">建行</label>
              <label class="radio"><input name="optionsRadios" value="招商银行" type="radio">招商银行</label>
              <label class="radio"><input name="optionsRadios" value="中信银行" type="radio">中信银行</label>
              <label class="radio"><input name="optionsRadios" value="华夏银行" type="radio">华夏银行</label>
              <label class="radio"><input name="optionsRadios" value="兴业银行" type="radio">兴业银行</label>
              <label class="radio"><input name="optionsRadios" value="光大银行" type="radio">光大银行</label>
              <label class="radio"><input name="optionsRadios" value="广发银行" type="radio">广发银行</label>
              <label class="radio"><input name="optionsRadios" value="浦发银行" type="radio">浦发银行</label>
              <label class="radio"><input name="optionsRadios" value="民生银行" type="radio">民生银行</label>
              <label class="radio"><input name="optionsRadios" value="平安银行" type="radio">平安银行</label>
              <a class="btn btn-info pull-right" onclick ="checkradio()">确定</a>
            </div>
            -->
          </div>
        </div>
      </td>
      <td>
        <div class="main-body">
          <a href="/">首页</a>&nbsp; >&nbsp;
          <a href="/bankinvest/index" >银行理财产品</a>
          <h1>三步精选产品</h1>
          <table>
            <tr>
              <td class="left2">
          <div class="inputs-tip">
            <div class="inputstip-content">
              <h2>何为三步精选产品？</h2>
              <p>三步：通过资金量、流动性、风险性三步骤来挑选产品。</p>
              <p>精选：公司金融专家研究各银行理财产品说明书推荐产品。</p>
              <p>产品：银行自行设计并发行，产品风险极低，至今无亏损记录。</p>
              <div class="arrow-container">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
          <div class="bordered first">
            <div class="row-fluid">
              <div class="span6">
            <h4>资金投入和收益率关系表</h4>
            <table class="table table-striped bear">
              <thead>
              <tr>
                <th>资金投入</th>
                <th>年化收益率</th>
                <th>投资期限</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>5万-10万</td>
                <td>3.9%~4.1%</td>
                <td>30天 ~ 40天</td>
              </tr>
              <tr>
                <td>10万-20万</td>
                <td>4.3%~4.5%</td>
                <td>30天 ~ 40天</td>
              </tr>
              <tr>
                <td>20万-50万</td>
                <td>4.7%~5.0%</td>
                <td>30天 ~ 40天</td>
              </tr>
              <tr>
                <td>50万以上</td>
                <td>5.1%~5.3%</td>
                <td>30天 ~ 40天</td>
              </tr>
              </tbody>
            </table>
              </div>
              <div class="span6">
                <div class="tip">
                  <li  class="widget-container">
                    <h3>常见问答</h3>
                    <a href="http://www.tongtianshun.com/blog/blogarticle/37" target="_blank" class="a">1. 如果我的资金不足5万元，又不甘心将资金放活期、定期怎么办？</a><br>
                  </li>
                </div>
              </div>
            </div>
            <!--<p>您的资金是在：<input id="finance" type="text"></p> -->
          </div>
              </td>
              <td class="right2">
                <div class="ad lr highlightable">
                <div class="ct">
                  <!-- Begin MailChimp Signup Form -->
                  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup">
                    <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <label for="mce-EMAIL">邮件订阅</label>
                      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
                      <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </form>
                  </div>

                  <!--End mc_embed_signup-->

                  <h3>邮件提供哪些内容？</h3>
                  <div class="spacer s5"></div>
                  <a href="http://eepurl.com/tpHAf" target="_blank">查看历史邮件</a>

                  <ul>
                    <br>
                    <li>特供银行理财产品 </li>

                    <li>银行理财产品文章 </li>

                    <li>最新网站服务功能 </li>
                  </ul>
                  <!--
                  <div class="spacer s5"></div>
                  <a class="btn btn-info pull-right" href="http://eepurl.com/tonoL">订阅</a>
                  -->
                </div>
                    </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<!--
<script language="javascript" type="text/javascript">
    function checkradio()
    {
        $("input:radio").each(function(){
            if(this.checked){$("#finance").val(this.value);}
        });
    }
</script>
-->

<script language="javascript" type="text/javascript">
    $("#checkinput").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(document.form1.amount.value=="")
        {
            alert("请输入投资金额!");
            this.form1.amount.focus();
            return false;
        }
        if(numfor.test(document.form1.amount.value)==false)
        {
            alert("请输入数字!");
            this.form1.amount.focus();
            return false;
        }
        else if(document.form1.amount.value<50000)
        {
            alert("最小投资金额为5万!");
            this.form1.amount.focus();
            return false;
        }
        else form1.submit();
    });
</script>