<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>银行理财产品是由银行自行设计并发行，而不是作为销售渠道，销售其他金融机构的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div class="overlay">
              <h1>2. 投资期限</h1>
              <form name="form1" action="/bankinvest/thirdpickout" method="post" onsubmit="return checkinput()">
                <p class="group">我个人倾向于</p>
                <select  name="deadline" id="deadline">
                  <option value="短期投资 (小于两周)">短期投资 (小于两周)</option>
                  <option value="中期投资 (小于一年)">中期投资 (小于一年)</option>
                  <option value="长期投资 (一年及以上)">长期投资 (一年及以上)</option>
                </select>
              <a class="btn btn-primary pull-right"  id ="checkinput" type="submit">确定</a>
              </form>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="main-body">
          <a href="/">首页</a>&nbsp; >&nbsp;
          <a href="/bankinvest/index" >银行理财产品</a>&nbsp; >&nbsp;
          <a href="/bankinvest/pickoutfinance" >个性化推荐</a>
          <h1>三步挑选产品</h1>
          <div class="inputs-tip">
            <div class="inputstip-content">
              <h2>欢迎</h2>
              <p>在整个过程中，你不需要输入任何您的个人身份信息，所以你不要担心您的个人隐私被泄露，因为您从来都不需要输入。</p>
              <div class="arrow-container">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
          <div class="bordered third">
            <h4>投资期限</h4>
            <p>请注意，绝大多数银行理财产品是不可以提前取现的。根据您最近的个人家庭计划，来选择相应的理财产品。</p>
            <table class="table table-striped table-bordered table-condensed">
              <thead>
              <tr>
                <th>最近的计划</th>
                <th>推荐周期</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>没啥计划，我只在乎收益率最高，钱放多久无所谓。</td>
                <td>长期投资</td>
              </tr>
              <tr>
                <td>没啥计划，但我不喜欢把钱放银行放太久。</td>
                <td>中期投资</td>
              </tr>
              <tr>
                <td>买房</td>
                <td>中期投资</td>
              </tr>
              <tr>
                <td>新房装修</td>
                <td>中期投资</td>
              </tr>
              <tr>
                <td>买车</td>
                <td>中期投资</td>
              </tr>
              <tr>
                <td>旅游</td>
                <td>中期投资</td>
              </tr>
              <tr>
                <td>股票、基金</td>
                <td>短期投资</td>
              </tr>
              <tr>
                <td>我不知道，但我随时可能取钱</td>
                <td>短期投资</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<script language="javascript" type="text/javascript">
    $("#checkinput").click(function(e){
        form1.submit();
    });
</script>
