<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>这里的银行理财产品是由银行自行设计并发行，而不是作为销售渠道，和信托、基金、保险等金融机构合作的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div class="overlay">
              <h1>3. 风险性</h1>
              <form name="form1" action="/bankinvest/fourthpickout" method="post" onsubmit="return checkinput()">
                <div class="controls">
                  <label class="radio"><input name="optionsRadios" checked  value="绝对不能亏损本金" type="radio">绝对不能亏损本金</label>
                  <label class="radio"><input name="optionsRadios" value="可以承担本金亏损" type="radio">可以承担本金亏损</label>
                  <a class="btn btn-primary pull-right"  id ="checkinput" type="submit">确定</a>
              </div>
               </form>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="main-body">
          <a href="/">首页</a>&nbsp; >&nbsp;
          <a href="/bankinvest/index" >银行理财产品</a>&nbsp; >&nbsp;
          <a href="/bankinvest/pickoutfinance" >个性化推荐</a>
          <h1>三步挑选产品</h1>
          <div class="inputs-tip">
            <div class="inputstip-content">
              <h2>欢迎</h2>
              <p>在整个过程中，你不需要输入任何您的个人身份信息，所以你不要担心您的个人隐私被泄露，因为您从来都不需要输入。</p>
              <div class="arrow-container">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
          <div class="bordered">
            <p>从收益预期上看，银行理财产品分为保本和非保本。下面这句话是重点，请大家注意理解：</p>
            <p>“一般来说，票据类(<span>我们网站介绍的全部属于票据类</span>)理财产品说明书中的预期收益，实际收益都可以达到。收益到账后，按照预期收益计算实际收益，一分不差。
              自己购买理财产品多年，十几个主流商业银行的理财产品都买过，都是如此。”</p>
            <p><span>但再度重申，上述只是经验之谈，不愿承受风险的最好是选择“绝对不能亏损本金”，因为这是100%的保证本金的。</span></p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<script language="javascript" type="text/javascript">
    $("#checkinput").click(function(e){
        form1.submit();
    });
</script>