.maincontent {
    width: 100%;
    padding: 10px 0;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

.maincontent h1,.maincontent .h1{
    font-size: 26px;
    margin: 42px 0 30px;
    padding-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #000;
}

.maincontent p,ul li{
    text-align: justify;
    font-size: 18px;
    line-height: 33px;
    color: #666;
    margin: 0;
}

#img1{
    width: 30%;
    min-width: 10px;
}

#img3{
    width: 200px;
    margin-bottom: 30px;
}

#img4{
    margin-bottom: 30px;
}

table{
    margin-bottom: 20px;
    background-color: #FFE4E1;
}

body{
    padding-left: 0;
}

.enlist {
    font-weight: 600;
    background: #ff9a1f!important;
    color: #fff!important;
    font-size: 16px;
    padding: 15px 20px!important;
    width: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}