#main .main-content{
    width:97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

.well-b {
    background-color: rgb(197, 228, 237);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 75px;
    padding: 20px;
}

h1 {
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 20px 0px;
    padding-bottom: 15px;
}

.ctl {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    display: inline-block;
    width: 120px;
}

th{
   font-size: 14px;
}

#bankfinance img{
   width: 20px;
}

.popup{
   background-color:rgb(197, 228, 237);
   height: 220px;
   width: 300px;
   padding: 20px;
}
.ctl:hover{
    text-decoration: underline;
}

.popup input{
    width: 106px;
}

.close{
    margin-bottom: 20px;
}
h1,h4{
    font-family: "Oswald","arial narrow",sans-serif;
}