#top-tabs,h1{
    font-family:"helvetica neue",helvetica,arial,sans-serif
}

.catalog td.cata{
    width: 63%;
    padding-left: 18%;
    vertical-align: middle!important;
}

.startup .question td a.introduce{
    font: italic 10pt sans-serif;
    border-color: #32669a;
    border-bottom: 1px dotted;
    color: #069;
}

.startup .image{
    width: 300px;
    float: right;
}

.startup .question td a.introduce:hover{
    color: #069;
}
.startup #asset th,.startup #asset td,.startup #detailed th,.startup #detailed td{
   background-color: #ffffff;
    width: 25%;
    font-size: 14px;
    font-family: Hiragino Sans GB W3;
}
.startup #indicators th{
    white-space: nowrap;
}
.startup #indicators td.left{
    text-align: left;
}

.startup #indicators th,.startup #indicators td{
    font-size: 14px;
    font-family: Hiragino Sans GB W3;
}

#myModal3{
    font-family: Hiragino Sans GB W3;
    top: 40%;
    width: 50%;
    left: 40%;
}

#myModal3 #exact1 .last,#myModal3 #exact2 .last{
    width: 100px!important;
    text-align: center;
}

#myModal3 .invalid,#myModal7 .invalid {
    background: rgb(255, 170, 170);
}

#myModal3 input {
    margin-bottom: 0;
}

#myModal3 #exact1 td,#myModal3 #exact2 td{
    vertical-align: middle!important;
    font-size:13px;
    color:grey;
}

#myModal3 #exact1 th,#myModal3 #exact2 th{
    text-align: center;
}

.catalog td{
    width: 37%;
    vertical-align: middle!important;
}
.catalog td h1{
    border-bottom: 0;
    position: relative;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.catalog td h1.red{
    color: red;
}

.catalog{
    width: 100%;
    margin: 100px 0;
}

tr.detail > td.expand {
    background: url('/assets/minus.png') no-repeat 5px center;
}
tr > td.expand {
    background: url('/assets/plus.png') no-repeat 5px center;
    padding-left: 40px!important;
}
#type tr,#type td{
    background-color: #ffffff;
}
tr.back td{
    background-color: #FFEBCD!important;
}

#category td, #category th {
    vertical-align: middle;
    background-color: #ffffff;
}

@font-face{
    font-family:'FontAwesome';src:url("https://d1rthi4uscpmfy.cloudfront.net/assets/ofa/fonts/fontawesome-webfont-e88a8aa579fe19b38ccadc95ddd35309.eot");
    src:url("https://d1rthi4uscpmfy.cloudfront.net/assets/ofa/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("https://d1rthi4uscpmfy.cloudfront.net/assets/ofa/fonts/fontawesome-webfont-d48d846fa02c84727dc3d5d83db1f0ef.woff") format("woff"),url("https://d1rthi4uscpmfy.cloudfront.net/assets/ofa/fonts/fontawesome-webfont-3bf0ac0750a197dbf68065877e0a6ed2.ttf") format("truetype"),url("https://d1rthi4uscpmfy.cloudfront.net/assets/ofa/fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
    font-weight:normal;
    font-style:normal
}
[class^="icon-"]:before,[class*=" icon-"]:before{
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    display:inline-block;
    text-decoration:inherit
}
.icon-chevron-right:before{
    content:"\f054"
}

#questionnaire-view label{
    padding-bottom: 7px;
}

#questionnaire-view .angel label{
    padding-bottom: 0px;
}

#questionnaire-view input[type=radio]{width:16px;height:16px}

button.light-gray{
    font-size:12px;
    color:#505050;
    border-radius:3px;
    padding:6px 15px;
    border:1px solid #ccc;
    background:#595959;
    background-color:#fff;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),color-stop(100%, #e7e7e7));
    background-image:-webkit-linear-gradient(top, #fff,#e7e7e7);
    background-image:-moz-linear-gradient(top, #fff,#e7e7e7);
    background-image:-ms-linear-gradient(top, #fff,#e7e7e7);
    background-image:-o-linear-gradient(top, #fff,#e7e7e7);
    background-image:linear-gradient(top, #fff,#e7e7e7);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFFFF', EndColorStr='#FFE7E7E7')"
}

.orange-button[disabled],.orange-button[disabled]:hover{
    opacity:0.3;cursor:auto;
    border:1px solid #d79355;
    background-color:#fe8737;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8737),color-stop(100%, #c95102));
    background-image:-webkit-linear-gradient(top, #fe8737,#c95102);
    background-image:-moz-linear-gradient(top, #fe8737,#c95102);
    background-image:-ms-linear-gradient(top, #fe8737,#c95102);
    background-image:-o-linear-gradient(top, #fe8737,#c95102);
    background-image:linear-gradient(top, #fe8737,#c95102);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFE8737', EndColorStr='#FFC95102')"
}

.orange-button{
    -webkit-font-smoothing:subpixel-antialiased;
    font-size:14px;color:#fff !important;
    text-decoration:none !important;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    border-radius:3px;
    border:1px solid #d79355;
    background-color:#fe8737;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8737),color-stop(100%, #c95102));
    background-image:-webkit-linear-gradient(top, #fe8737,#c95102);
    background-image:-moz-linear-gradient(top, #fe8737,#c95102);
    background-image:-ms-linear-gradient(top, #fe8737,#c95102);
    background-image:-o-linear-gradient(top, #fe8737,#c95102);
    background-image:linear-gradient(top, #fe8737,#c95102);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFE8737', EndColorStr='#FFC95102')";
}

.big-button{
    font-size:17px;
    height:33px;
    text-align:center;
    padding:0 11px;
    position:relative;
    font-weight:normal;
    border:none;
}

#page-wrapper #page-content{
    padding-bottom:150px;
}

#page-content{
    width:960px;
    margin:0 auto
}

.ofa-funnel-pages h1{
    position:relative;
    font-size:24px;
    border-bottom:3px solid #e2e3e4;
    padding:0 20px 4px;
    font-weight: normal;
}

.ofa-funnel-pages #top-tabs{
    padding:10px;
    background:#f4f4f4;
    border-bottom:1px solid #ececec
}

.ofa-funnel-pages #top-tabs .top-tabs-content{
    width:960px;margin:0 auto;
    text-align:left
}

.ktip-link{position:relative}
.ktip-a{border-bottom:1px dotted}
.ktip-inner{background-color:#fff;padding:2px 3px 4px 0;position:relative;float:left;margin-left:100%;color:#444;white-space:normal;text-align:left;font-style:normal}
.ktip{display:none;position:absolute;right:-20px;width:1px;top:0;z-index:2}
.ktip-link .ktip-inner{font-weight:normal;line-height:1.3em;font-size:9pt;fontfamily:SimSun;}
.ktip-top-left,.ktip-top-right,.ktip-bottom-left,.ktip-bottom-right{background:url(https://d1rthi4uscpmfy.cloudfront.net/assets/ktip-eac8cf4b881f1d563778ad35575b0d35.png);position:absolute;width:16px;height:16px}
.ktip-top-left{left:-19px;top:-16px;background-position:-29px 0}
.ktip-top-right{right:-16px;top:-16px;background-position:-784px 0}
.ktip-bottom-left{left:-19px;bottom:-16px;background-position:-29px -16px}
.ktip-bottom-right{right:-16px;bottom:-16px;background-position:-784px -16px}
.ktip-top-edge,.ktip-bottom-edge,.ktip-left-edge,.ktip-right-edge{background:url(https://d1rthi4uscpmfy.cloudfront.net/assets/ktip-eac8cf4b881f1d563778ad35575b0d35.png);position:absolute}
.ktip-top-edge{left:-3px;right:0;top:-16px;height:16px;background-position:-48px 0;background-repeat:no-repeat}
.ktip-bottom-edge{left:-3px;right:0;bottom:-16px;height:16px;background-position:-48px -16px;background-repeat:no-repeat}
.ktip-left-edge{left:-19px;top:0;bottom:0;width:19px;background-position:0 0;background-repeat:repeat-y}
.ktip-right-edge{right:-17px;top:0;bottom:0;width:20px;background-position:-10px 0;background-repeat:repeat-y}
.ktip-triangle{background:url(https://d1rthi4uscpmfy.cloudfront.net/assets/ktip-eac8cf4b881f1d563778ad35575b0d35.png) -32px -32px;width:16px;height:16px;position:absolute;left:-24px;top:0}
.ktip-link.bottomleft .ktip{left:auto;right:0;top:2.3em}
.ktip-link.bottomleft .ktip-inner{float:right;margin-left:auto;margin-right:100%}
.ktip-link.bottomleft .ktip-triangle{background-position:-36px -32px;left:auto;right:-3px;top:-16px}

#q-numbers {
    font: 12pt Helvetica, Arial, sans-serif;
    color: #999;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    right: 20px;
    top: 10px;
}
.q-num {
    counter-increment: q-small;
    font-size: 9pt;
    padding: 3px 0px 2px;
    width: 25px;
    border: 1px solid #ccc;
    border-right: 0;
    display: inline-block;
    text-align: center;
}
.q-num:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.q-num:last-child {
    border-right: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.q-num:before {
    content: counter(q-small);
}
.q-num.past {
    background: #c8eec5;
    cursor:pointer;
}
.q-num.curr {
    border-color: #45c53d;
    background: #45c53d;
    color: #fff;
}

#risk-meter {
    width: 225px;
    height: 125px;
}
.risk-meter-title {
    font: 14pt Helvetica, Arial, sans-serif;
    color: #5d5d5d;
    width: 225px;
    text-align: center;
    margin-top: 30px;
}

.why-do-we-ask {
    margin: 0;
    position: absolute;
    top: 2px;
    right: 14px;
}
.why-do-we-ask .ktip-a {
    font: italic 10pt sans-serif;
    border-color: #32669a;
}
#q-buttons {
    border-top: 3px solid #E2E3E4;
    padding: 20px 20px 0;
}
.q-privacy {
    float: right;
    text-align: right;
    font-size: 9pt;
    color: #666;
    margin: 0;
}
.q-privacy-1 {
    display: block;
    font-size: 12pt;
    line-height: 140%;
}


#top-tabs {
    margin: 0px 0px 20px 0;
    text-align: left;
    font-size: 14px;
}
#top-tabs .top-tabs-content {padding-left: 20px}
#top-tabs .separator {margin:0 10px; color: #bbb}
#top-tabs a:hover {text-decoration:none}
#top-tabs a:hover span {text-decoration:underline}
#top-tabs .disabled {color:#999}
#top-tabs b {margin-right:2px}

#page-content h1 {
    margin-top: 0px;
}
#page-content .question .h1{
    font-size: 25px;
    border-bottom: 0;
    padding: 0;
}
#questionnaire-view {
    margin-left: 20px;
    width: 642px;
    height: 326px;
    position: relative;
    overflow: hidden;
}
#questionnaire {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 30px;
}
#q-fade-t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffffff', endColorStr='#00ffffff')";
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(#fff, rgba(255,255,255,0));
    background: -moz-linear-gradient(#fff, rgba(255,255,255,0));
    background: -o-linear-gradient(#fff, rgba(255,255,255,0));
    background: linear-gradient(#fff, rgba(255,255,255,0));
}
#q-fade-b {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00ffffff', endColorStr='#ffffffff')";
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)), to(#fff));
    background: -webkit-linear-gradient(rgba(255,255,255,0), #fff);
    background: -moz-linear-gradient(rgba(255,255,255,0), #fff);
    background: -o-linear-gradient(rgba(255,255,255,0), #fff);
    background: linear-gradient(rgba(255,255,255,0), #fff);
}
#questionnaire label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
    font: 11pt Helvetica, Arial, sans-serif;
    color: #5d5d5d;
}
#questionnaire label.stacked {
    float: left;
    clear: left;
    margin-bottom: 2px;
}
#questionnaire label input,
#questionnaire label span {
    vertical-align: middle;
    cursor: pointer;
}
#questionnaire label span {
    padding-left: 4px;
}
#questionnaire input[type=text] {
    border: 1px solid #B2B2A4;
}
#questionnaire input[type=radio] {
    margin: 0 5px 0 3px;
}
.question {
    height: 296px;
    position: relative;
    padding: 0 168px 0 56px;
    font-size: 10.5pt;
    counter-increment: q-big;
}
.question:before {
    content: counter(q-big);
    position: absolute;
    top: -8px;
    left: 0;
    width: 40px;
    text-align: center;
    font: bold 28pt Helvetica, Arial, sans-serif;
    color: #ccc;
}
p.q-text {
    margin: 0 0 16px;
    font: 12pt Helvetica, Arial, sans-serif;
    color: #5d5d5d;
}
.q-text .ktip-a,
.q-text .ktip-a:hover,
.q-text .ktip-a:visited {
    color: inherit;
    border-color: #aaa;
    white-space: nowrap;
}
.subtext {
    display: block;
    margin-top: 4px;
    color: #888;
    font-size: 10pt;
}
.question input {
    font-size: inherit;
}
.question input.invalid {
    background: #faa;
}
#q-portfolio-chart {
    width: 390px;
    height: 120px;
    position: relative;
    margin: 26px 0 8px;
}
.q-portfolio-gridline {
    position: absolute;
    left: 50px;
    width: 150px;
    border-bottom: 1px solid #e6e6e6;
}
.q-portfolio-grid-label {
    position: absolute;
    left: 10px;
    width: 35px;
    text-align: right;
    font-size: 7pt;
    color: #555;
}
.q-portfolio-range {
    position: absolute;
    width: 10px;
    background-color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: .2;
    cursor: pointer;
}
.q-portfolio-range:hover {
    background-color: #444;
}
.q-portfolio-dot {
    position: absolute;
    height: 4px;
    width: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #888;
}
.q-portfolio-dot-label {
    position: absolute;
    font-size: 8pt;
    color: #000;
}
.q-portfolio-key {
    position: absolute;
    left: 240px;
    top: 15px;
    width: 150px;
    font-size: 8pt;
    color: #333;
}
.q-portfolio-key-i {
    float: left;
}
.q-portfolio-key-h {
    padding-bottom: 1px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #888;
}
.q-portfolio-key-m,
.q-portfolio-key-r {
    margin: 8px 5px 0 20px;
    position: relative;
    white-space: nowrap;
    color: #888;
}
.q-portfolio-key-m:before {
    content: ".";
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 5px;
    left: -13px;
    height: 4px;
    width: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #888;
}
.q-portfolio-key-r:before {
    content: ".";
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 2px;
    left: -16px;
    height: 26px;
    width: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    opacity: .2;
}
.q-portfolio-choices {
    padding-left: 39px;
}
.q-portfolio-choice {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.q-portfolio-choice input {
    margin: 0 !important;
}
.q-button {white-space:nowrap;}
.q-button:not([disabled]):active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.q-button[disabled] {
    cursor: default;
    color: #ddd;
}
#q-next.orange-button[disabled] {
    color: #eee !important;
    text-shadow: none;
}
#q-back {
    margin-right: 16px;
}
.q-submit>#q-next,
#q-submit {
    display: none;
}
.q-submit>#q-submit {
    display: inline-block;
}
#q-buttons button {
    height: 29px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 105px;
}

.btn.begin{
    padding: 10px 100px;
    margin: 30px 0px;
}

.welcomes{
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
}

.plan-content .plan-column.center  .qusetion {
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
}

.plan-content .plan-column.center  .text {
    line-height: 25px;
    margin: 20px 0;
    font-size: 14px;
    padding: 0 0 0 30px;
}

.plan-content .plan-column.center .details {
    border-top: 1px solid #E2E2E2;
    margin-left: auto;
    padding-top: 20px;
    margin-right: auto;
    width: 600px;
}

.plan-content .plan-column.center  a {
    font-size: 14px;
}

.plan-content .plan-column.center .details .product{
    font-size: 20px;
    margin-right: 30px;
    font-weight: 600;
    margin-left: 22px;
}

@media screen and (max-width: 767px){
    /* usersurvey/measure */
    .catalog{
        margin: 0px!important;
    }
    .catalog td {
        text-align: center;
        padding-left: 0!important;
        width: 100%!important;
        vertical-align: middle!important;
    }
    .startup .image{
        width: 100%;
        float: right;
    }
    /* usersurvey/measure */

    body{
        padding-left: 0!important;
    }
    .beta{
        padding: 0;
    }
    .ofa-funnel-pages #top-tabs .top-tabs-content{
       width: 100%;
    }
    .question {
        padding: 0 0 0 12%;
        margin: 0 10px;
        height: 296px;
        width: 75%;
    }

    .summary .question{
        padding: 0;
        width: 95%;
    }

    .summary .question td.all{
        float: left;
        width: 95%!important;
    }
    .summary #top-tabs .top-tabs-content {
        padding-left: 0;
    }

    #questionnaire label.stacked{
        float: none;
    }
    #q-portfolio-chart{
    width: 100%;
    }
    .q-portfolio-key{
        display: none;
    }
   /*
     #pict{
         float: none!important;
         text-align: center;
     }
     */
    #pict{
        display: none!important;
    }
     #questionnaire-view{
        width: 100%!important;
         margin: 0;
         height: 326px;
     }
    #q-back,#q-next,#q-submit{
        margin-bottom: 10px;
    }
    #container{
        width: 200px;
        margin: 0 auto;
    }
    #q-numbers{
        position: static;
    }
    .why-do-we-ask{
        position: static;
    }
    #page-content {
        width: 100%;
    }

    .q-num{
        margin-bottom: 5px;
    }

    .beta .span6.right,.main-footer{
        display: none;
    }

    .beta img{
        margin: 5px 0 5px 20px;
}

    #myModal3 {
        top: 10px;
        width: auto;
        left: 10px;
    }

    .modal-body{
        max-height: 300px;
    }
}
.summary #optionsRadios {                                                   .
    color: rgb(34, 34, 34);
    font-weight: normal;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 99%;
    height: auto;
    float: left;
    border: 1px solid #bbccd1;
    margin-top: 10px;
    overflow: hidden;
}

.summary .box_sxtj_top {
    width: 100%;
    height: 29px;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    padding-left: 10px;
    font-size: 16px;
    background: url(d_04.jpg) repeat-x;
    font-weight: normal;
    line-height: 29px;
    margin-top: -10px;
}

.summary .box_sxtj_center dt {
    float: left;
    font-weight: normal;
    line-height: 30px;
    text-align: right;
    width: 130px;
    font-size: 14px;
    color: #3d3d3d;
}

.summary .radio.inline,.summary .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

.summary .box_sxtj_center dd a.currbg {
    height: 20px;
    background: none repeat scroll 0 0 #ff8b00;
    color: #FFFFFF;
}

.summary .box_sxtj_bottom {
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #d5d5d5;
    background: #fefef5;
    margin-top: 10px;
}

.summary dl{
    margin-bottom: 0;
    margin-top: 10px;
}

.summary .box_sxtj_bottom dt {
    float: left;
    font-weight: normal;
    line-height: 30px;
    text-align: right;
    width: 150px;
    font-size: 14px;
    color: #3d3d3d;
}

.summary #selected .del {
    float: left;
    line-height: 24px;
    height: 26px;
    position: relative;
    padding-top: 5px;
}
.summary h6.text {
    float: left;
    display: inline;
    position: relative;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    margin: 0 15px 0 0;
    padding: 0 27px 0 3px;
    border: 1px solid orange;
    white-space: nowrap;
    font-weight: normal;
}
.summary a.delete {
    background: url(d_12.jpg) no-repeat scroll 0 0 transparent;
    border: 0 solid #FF6600;
    height: 19px;
    position: absolute;
    right: 16px;
    _right: 15px;
    top: 6px;
    width: 19px;
}

.summary #liudong_length,.summary #liudong_filter,.summary #liudong_info{
    display: none;
}
.summary #liudong_paginate{
    float: right;
    display: none;
}
.summary #liudong .hide{
    display: none!important;
}
.summary #liudong th{
   white-space: nowrap;
    font-size: 14px;
}
.summary #liudong td{
    font-size: 14px;
}
.summary #liudong td.red{
    color: red;
}
.summary #liudong{
   width: 99%!important;
}
.summary #optionsRadios{
   font-family: Microsoft YaHei;
}
.summary .checkbox{
   width: 100px;
}

.summary #optionsRadios .all{
   width: 60px;
}

.summary #optionsRadios label{
    font-size: 14px;
    font-family: Microsoft YaHei;
}

.summary .box_sxtj_bottom dl.fore {
    margin-top: 0px;
}