.allocation-table td {
    vertical-align: middle;
}

.containers {
    margin-right: auto;
    margin-left: auto;
}

.containers a{
    color: #3d3d3d;
    display: table;
}

.containers .heading {
    padding-bottom: 40px;
    margin-left: 80px;
}

.containers td.center{
    width: 15px;
}

.containers td.hero-message{
    width: 260px;
}

.containers h2 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 60px;
    font-size: 37px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

.containers h3#h31{
    text-align: center;
    padding: 60px 0 25px;
    font-size: 22px;
    font-family: Hiragino Sans GB W3;
    font-weight: 300;
    margin: 0;
    line-height: 1.3em;
}

.span5{
    border-left: 0;
}

#automatic-details{
    width: 100%;
    padding-bottom: 80px!important;
}

#automatic-details .span4{
    margin-left: 10px;
}

.side-room {
    padding: 0 15px!important;
}

#intro_carousel .carousel-inner {
    height: 400px!important;
}

.contain{
    width: 940px;
}

.contain .offset1{
    margin-left: 80px!important;
}

h3.h32{
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3em;
    padding-left: 0;
    text-align: center;
}

.carousel-indicators{
    position: relative;
    padding-bottom: 30px;
    top: 15px;
    z-index: 5;
    margin: 0px;
    list-style: none outside none;
}

ul#hiw-tabs {
    padding-left: 50px;
    margin: 0;
}

ul.subtle-tabs li {
    width: 21%;
    display: inline-block;
    padding-right: 20px;
}

.hero-message h4 {
    font-size: 24px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}

.hero-message .explanation {
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px!important;
    font-weight: 300;
    line-height: 1.8em!important;
}

td.tab-content{
    text-align: center;
    height: 480px;
}

#hiw-tab-content .demo-screen {
    left: 178px!important;
    top: -427px!important;
    width: 582px;
    height: 364px;
    position: relative;
}

#hiw-tab-content {
    max-width: 1020px;
    max-height: 480px;
    overflow: hidden;
    padding-bottom: 20px;
}

.img td.hero-message-small a{
    margin: 0 auto;
}

#hiw-tabs a.under{
    border-bottom: 2px solid #558ed5;
}
#hiw-tabs a:hover{
    border-bottom: 2px solid #558ed5;
    color: black;
}

#hiw-tabs td{
    padding-left: 8px;
}

.containers .row{
    margin: 0;
}
.containers .row.first{
    margin: 0;
    padding-bottom: 60px;
    background: #f7f7f7;
}
.tour-row{
   /* width: 85%; */
    margin: 0 auto;
    padding: 0!important;
}

.carousel-indicators .step-tab {
    width: 180px;
    display: block;
    float: left;
    padding: 10px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    cursor: pointer;
}

.carousel-indicators .step-tab.active, .carousel-indicators .step-tab:hover {
    background-color: rgb(142, 156, 165);
    background-image: linear-gradient(rgb(77, 98, 113), rgb(142, 156, 165));
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px rgba(0, 0, 0, 0.02) inset, -1px 0px rgba(0, 0, 0, 0.02) inset, 0px -1px rgba(0, 0, 0, 0.04) inset, 0px 1px 10px -1px rgba(0, 0, 0, 0.3) inset;
    color: white;
}

.carousel-indicators .step-tab.first {
    border-radius: 5px 0px 0px 5px;
}

.carousel-indicators .step-tab {
    color: rgb(61, 61, 61);
    display: block;
    background-color: rgb(248, 248, 248);
    background-image: linear-gradient(rgb(248, 248, 248) 0px, white 50%, rgb(246, 246, 246) 50%, rgb(232, 232, 232) 100%);
    text-shadow: 0px 1px 0px white;
    width: 180px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5) inset, -1px 0px rgba(255, 255, 255, 0.5) inset, 1px 0px rgba(255, 255, 255, 0.5) inset, 0px -1px rgba(0, 0, 0, 0.04) inset;
    float: left;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    cursor: pointer;
    border-width: 1px 0px 1px 1px;
    padding: 10px;
}

.carousel-indicators .step-tab.last {
    border-radius: 0px 5px 5px 0px;
    border-width: 1px;
}

.icon-2x {
    font-size: 2em;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

.message h4{
    padding-top: 50px;
    padding-bottom: 0px;
}

#footer-get-started{
    width: auto;
    margin: 0 auto;
    color: white;
}

.version1 .headroom{
    margin-bottom: 60px;;
}

.btn-large{
    border-radius: 20px!important;
    width: 210px!important;
}