
/*.iform {font: 12px/26px Verdana, Geneva, sans-serif; width:400px; margin:30px auto;}*/
.iform {font: 12px/26px Hiragino Sans GB W3,Verdana, Geneva, sans-serif; width:250px;}
.iform ul { margin:0; padding:0; list-style:none;}
.iform ul ul { overflow:auto}
.iform li { padding-bottom:0px;}
li.tijiaor {width:65px;height:25px;float:right;background:url(next.gif) no-repeat ;margin:0 20px 5px 0;text-align: center;}
.iform .tijiao1{color:#fff;font:12px Microsoft Yahei;text-decoration: none;}
li.accountsure{width:40px;height:20px;float:right;margin-top:20px}
.iform .accountsure1{width:40px;height:20px;background:url(button_tijiao.gif) no-repeat ;color:#fff;border:none;padding:0}
li.accountunsure{width:40px;height:20px;float:left;margin-top:20px}
.iform .accountunsure1{width:40px;height:20px;background:url(button_tijiao.gif) no-repeat ;color:#fff;border:none;padding:0}
.iform label { 
 font: 14px Microsoft Yahei;width:276px; display:block; float:left; line-height:26px;margin-left: 4px;  padding-top:0px;color:#bb2e26;
}
.iform label.ilabel { 
 width:auto; display:inline; float:none; line-height:26px; padding:0 5px
}

.iform .itext,.iform .itextarea,.iform .iselect { 	
	width:200px;
	border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	margin:0;
	padding:5px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}

.iform .itext:hover,.iform .itextarea:hover,.iform .iselect:hover,.iform .itext:focus,.iform .itextarea:focus,.iform .iselect:focus{

border-color: #333;
background:#fff;

}
.iform .itext {
    width: 250px;
}
.iform .itextarea{ 
	height:60px; width: 220px;
    margin-left:30px;
    margin-bottom:8px;
}
@-moz-document url-prefix(){.iform .itextarea  { width: 200px; }}
.content{
    padding: 4px;
}
.iform .ibutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Hiragino Sans GB W3;
   text-decoration: none;
   vertical-align: middle;
   float: right;

/*
	width:auto;
	background: #efefef;
	background: -webkit-gradient(linear, left top, left 25, from(#dadada), color-stop(6%, #efefef), to(#dadada));
	background: -moz-linear-gradient(top, #dadada, #efefef 2px, #dadada 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    float:right;
*/
}
/*.iform .ibutton:hover,.iform .ibutton:focus { background:#dadada;}*/
.iform li.iheader { display:block; font-size:18px; border-bottom:1px solid #000; padding:5px; text-indent:10px; margin:5px 0 15px }
.iform li.iseparator { display:block; text-indent:-9999px; height:15px; line-height:10px; border-bottom:1px solid #999;margin:5px 0 15px }

.iform .required { border-color:#F00; }

#imessageOK,#imessageERROR{ border:1px solid #F60; padding:10px; font-size:16px; font-weight:bold; text-align: center; display:none; margin-bottom:20px;

	background: #F90;
	background: -webkit-gradient(linear, left top, left 25, from(#F90), color-stop(4%, #FC0), to(#F90));
	background: -moz-linear-gradient(top, #F90, #FC0 1px, #F90 25px);
	color:#fff;
	}

.iform .ibutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.iform .ibutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }