@media screen and (max-width: 767px){
    body {
        padding: 0;
    }
    #main{
        padding: 0;
        margin: 0;
    }
    .span12{
        width: 100%!important;
    }
    .beta{
        padding: 0;
    }
    .tijian{
        width: 100%!important;
    }
    .contents{
        width: 100%!important;
        padding-left: 0!important;
    }
    .container{
        width: 100%;
    }
    .s-op [class*="span"]{
        float: left;
        text-align: left!important;
        margin-left: 0px!important;
        padding-left: 5px!important;
    }

    .press-table td{
        float: left;
        width: 100%!important;
    }
    .jieguo{
        width: 100%!important;
    }

    .startup td.top{
        padding-right: 0!important;
    }
    .startup .question td{
        width: 100%!important;
        float: left;
    }
    .startup .question #num9 td{
        width: 90%!important;
    }
    .startup .question #asset td, .startup .question #detailed td{
        width: 50%!important;
    }
    .startup .question #asset td, .startup .question #detailed td, .startup .question #indicators td{
        float: none;
    }
    .startup .question #percent,.startup .question #cotain{
        width: 240px!important;
    }

    .startup .question{
     /*   height: 630px!important; */
        padding-left: 40px!important;
        margin: 0!important;
        width: 85%;
    }
    /*
    .startup .question #num9{
        height: 600px!important;
    }

    .startup #questionnaire-view{
        height: 660px!important;
    }
     */
    .startup #top-tabs .top-tabs-content {
        padding-left: 0px!important;
    }
    .startup  .well-c {
        height: 600px;
        overflow: auto;
        width: 98%;
    }
    .startup  .well-c .span2{
        text-align: left!important;
    }
    .startup  .well-c select, .startup  .well-c input {
        padding-left: 10px;
    }
    #myModal7 #exact3 td input,#myModal7 #exact4 td input{
        width: 60px!important;
    }
}

#myModal3 #exact1 td input,#myModal3 #exact2 td input{
    width: 60px!important;
}

#myModal3 #exact1 td:first-child,#myModal3 #exact2 td:first-child,#myModal7 #exact3 td:first-child,#myModal7 #exact4 td:first-child{
    width: 120px!important;
    text-align: center;
    font-size:16px;
    color:red;
}

.q-text,.question{
    font: 13pt Helvetica, Arial, sans-serif;
    color: #5d5d5d;
}

 div.table .cell {
    display: table-cell;
}

#q-numbers {
    right: 75px;
}

#ground td,#ground th{
    background-color: #ffffff;
}

th,td{vertical-align: top!important;}

#questionnaire-view,#questionnaire{width: 100%;}
.question {padding: 0 0 0 56px;}
input{font-size: 14px!important;}
div.seperator{margin-left: 0;}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: url("/assets/glyphicons-halflings.png");
    background-repeat: repeat;
    margin-top: 0;
}
#q-fade-b{height: 0;}
.center {width: 98%;height: 296px;}
.well-c{height: 266px;overflow: auto;width: 98%;}
.question .table th,.question .table td{
    text-align: center;
    vertical-align: middle!important;
}

.span3 {
    width: 260px!important;
}

td.top{
    padding-right: 168px;
}

.table h1 {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative;
    font-size: 33px;
    border-bottom: 0;
    font-weight: normal;
    padding: 0!important;
}

.table .cell b {
    font-weight: 400;
    font: bold 28pt Helvetica, Arial, sans-serif;
    color: #ccc;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.table .cell p.q-text {
    margin: 0px 0px 16px;
    font-size: 22px;
    font-family: Hiragino Sans GB W3;
    color: rgb(93, 93, 93);
}

.table .cell p {
    font-family: STSong;
    font-size: 17px;
    color: rgb(93, 93, 93);
    line-height: 28px;
    margin: 0;
}

.table .cell table th,.table .cell table td {
    font-family: Hiragino Sans GB W3;
}

table td button.light-gray {
    width: 30px;
    height: 28px;
    font-size: 14px;
    padding: 0px;
    color: #505050;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #595959;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(top, #fff,#e7e7e7);
    background-image: -moz-linear-gradient(top, #fff,#e7e7e7);
    background-image: -ms-linear-gradient(top, #fff,#e7e7e7);
    background-image: -o-linear-gradient(top, #fff,#e7e7e7);
    background-image: linear-gradient(top, #fff,#e7e7e7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFFFF', EndColorStr='#FFE7E7E7')";
}

.top-tabs-content .disabled {
    color: #999;
}

h1.content{
    position: relative;
    font-size: 33px;
    line-height: 40px;
    border-bottom: 3px solid #e2e3e4;
    padding: 0 20px 4px!important;
    font-weight: normal;
    font-family: Hiragino Sans GB W3;
}

div.spacer10
{
    height: 10px;
}

.slabel
{
    line-height: 13.5px;
    font-size: 11px;
}

.title
{
    font-size: 11px;
}

a.info
{
    font-size: 12px;
    color: #08C;
}

.grey{
    background-color: #f9f9f9!important;
}

div.container div.row.info div.span12
{
    background-color: #CCE8F4;
    min-height: 40px;
    max-width: 900px;
    margin-left: 40px;
    margin-top: 11px;
    border-radius: 4px;
}

div.container div.row.info div
{
    text-align: right;
    display: inline-block;
}

div.container div.s-header
{
    margin-top: 20px;
}

div.container div.s-header .share-icons
{
    line-height: 12px;
    margin-top: 1.2%;
}

div.container div.s-header #fb-logout
{
    margin-top: 2.2%;
}

div.container div.s-header i
{
    padding: 0px 5px 0px 10px;
}

div.span12.well-b
{
/*    background-color: #C3E4EC;*/
    border: 1px solid #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    min-height: 75px;
}

div.span12.well-c
{
    font-size: 14px;
    margin-top: 0px;
    color: #000;
}

div.span12.well-c div.row div[class*="span"]:first-child
{
    margin-left: 50px;
}

div.span12.well-c div.row .top5
{
    margin-top: 5px;
}

div.span12.well-c div.row div.span3
{
    margin-left: 30px;
}

div.span12.well-c div.row div.span2
{
    text-align: right;
}

div.span12.well-c div.row div.span1
{
    text-align: center;
}

div.span12.well-c div.row div.span3 i
{
    margin-left: 90%;
}

div.well-c div.op-input.first div.seperator
{
    display: none;
}


div.well-c div.op-input i.icon-remove-sign:hover
{
    cursor: pointer;
}

div.well-c .control-group
{
    margin-bottom: 0px;
}

div.well-c table.s-table
{
    width: 100%;
    font-size: 14px;
}

div.well-c table.s-table tr th
{
    border-bottom: 2px solid #000;
    font-size: 11px;
    line-height: 13.5px;
    font-weight: normal;
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 5px;
}

div.well-c table.s-table tr td
{
    border-bottom: 1px solid #000;
    font-weight: normal;
    text-align: right;
    padding: 15px 0px 15px 0px;
    vertical-align: top;
}

div.well-c table.s-table tr td:first-child
{
    text-align: left;
    padding-left: 4px;
}

div.well-c table.s-table tr td:first-child i
{
    line-height: 5px;
}

div.well-c table.s-table tr td:last-child
{
    padding-right: 4px;
}

div.well-c table.s-table tr td:last-child i:hover
{
    cursor: pointer;
}

div.well-c table.s-table tr th:first-child
{
    text-align: left;
}

div.well-c table.s-table tr td .sub
{
    font-size: 11px;
    font-style: normal;
    color: #000;
    line-height: 13.5px;
}

div.container div.well-c table.s-table tr td div.edit
{
    margin-bottom: 0px;
    margin-top: 0px;
}

div.container div.exit-event div.well-c table
{
    margin-left: 40px;
    margin-bottom: 20px;
}

div.container div.exit-event div.well-c table td
{
    text-align: right;
    vertical-align: top;
    padding: 0px 10px 0px 10px;
}

div.container div.exit-event div.well-c table .sub
{
    font-style: normal;
    color: #000;
}

div.container div.exit-event div.well-c table .sub.error
{
    color: #A00;
}

div.container div.exit-event div.well-c table td:last-child
{
    vertical-align: middle;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result
{
    width: 100%;
    margin-left: 0px;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result td
{
    text-align: left;
    padding: 10px 0px 10px 0px;
    vertical-align: top;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised
{
    margin: 0px auto;
    width: 90%;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised tr td
{
    padding-bottom: 20px;
    border-bottom: none;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised tr td.edit-dates
{
    text-align: right;
    padding-right:100px;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised tr td.edit-dates h3
{
    display: inline-table;
    vertical-align: top;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised tr td.edit-dates div.control-group
{
   display: inline-table;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.edit-raised tr td.edit-dates input
{
    width: 80px; text-align: right; margin-bottom: 0px
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns
{
    width: 100%;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns tr th
{
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    text-align: right;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns
{
    margin-left: 0px;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns tr th:first-child
{
    text-align: left;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns tbody.title tr td
{
    padding: 0px;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns tbody.contents tr td
{
    border-bottom: 1px solid #000;
    text-align: right;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table.investor-returns tbody.contents tr td:first-child
{
    text-align: left;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result tr.btm-border td
{
    border-bottom: 1px solid #000;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result td.center-align
{
    text-align: center;
}

div.container div.exit-event div.well-c div#exit-output table#own-time
{
    width: 100%;
    margin: 0px auto;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table#own-time tr td:first-child
{
    text-align: left;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table#own-time td
{
    border-bottom: 1px solid #000;
    padding: 3px 0px 3px 0px;
    text-align: right;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table#own-time tr.last td
{
    border-bottom: none;
    padding-bottom: 10px;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table#own-time tr.title td
{
    border-bottom: 2px solid #000;
    font-weight: 600;
    vertical-align: bottom;
}

div.container div.exit-event div.well-c div#exit-output table.exit-result table#own-time tr.section td
{
    border-bottom: none;
}

div#area-chart
{
    min-width: 400px;
    height: 400px;
    margin: 0 auto;
}

div#pie-chart
{
    width: 400px;
    margin: 0px auto;
}

div.well-c table.s-table tr.notice td
{
    padding-top: 0px;
    padding-bottom: 10px;
}

table tr.notice td .alert
{
   margin-bottom: 0px;
}


div.container div.well-c div.row.edit table
{
    margin-left: 73.4%;
}

div.container div.well-c div.row.edit table.positioned
{
    margin-left: 86.4%;
}

div.container div.well-c div.row.edit table td
{
    padding-right: 10px;
}


div.container div.s-op input.padded
{
    padding-left: 10px;
}

div.seperator
{
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 900px;
}

div.seperator.bottom
{
    border-bottom: 1px solid black;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.seperator.header
{
    border-bottom: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 960px;
}

div.seperator.thick
{
    border-bottom: 2px solid black;
}

div.container div.row.s-title div.hero-unit
{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    background-color: transparent;
}

div.container div.row.s-title div.hero-unit p
{
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
}

div.container div.row.s-title div.hero-unit h1
{
    font-size: 81px;
    line-height: 90px;
}

div.c1
{
    max-width: 920px;
    margin: 0px auto;
    margin-top: 10px;
}

div.c2
{
    max-width: 900px;
    margin: 0px auto;
    margin-top: 10px;
}

div.container div.title .box
{
    border-radius: 4px;
    background-color: #C3E4EC;
    color: #ffffff;
}

div.container div.s-op
{
    margin-top: 20px;
}

div.container div.s-op div.row div.edit
{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.container div.s-op div.row div.edit div.slabel
{
    margin-left: 39.5%;
    text-align: center;
}

div.container div.s-op div.edit b.init-share-dist
{
    font-size: 14px;
}

div.container div.s-op div.edit div.span6.add-employee
{
    margin-left: 47.5%;
}

div.container div.s-op div.edit div.span2
{
    margin-left: 34.9%;
}


div.container div.s-op div.title .span12 h1
{
    padding: 10px 0px 8px 10px;
    display: inline-table;
}

div.container div.s-op div.title .span12 .toggle-btn
{
    display: inline-table;
    margin-bottom: 10px;
    margin-left: 57%;
    font-size: 13px;
    background-color: #555555;
    padding: 5px 9px 5px 9px;
    border-radius: 3px;
    color: #CCCCCC
}

div.container div.s-op div.title .span12 .toggle-btn a
{
    color: #CCCCCC
}


div.container div.s-op div.op-label
{
    margin-top: 20px;
    line-height: 13.5px;
    font-size: 14px;
}

div.container div.s-op b#total-shares
{
    margin-left: 62%;
}

div.container div.s-run
{
    margin-top: 10px
}

div.container div.s-run i
{
    padding: 0px 5px 0px 5px;
}

i
{
    font-size: 20px;
}

a:hover
{
    cursor: pointer;
    text-decoration: none;
}

a i.black
{
    color: #000;
}

.sub
{
    font-size: 11px;
    font-style: italic;
    color: #777;
}

div.container input
{
    font-size: 14px;
    color: #000;
}

div.input-append input.span1
{
    width: 30px;
    text-align: center;
}

div.op-input span.add-on
{
    min-width: 7px;
}

.error
{
    color: #A00;
}

.container input.error
{
    color: #A00;
    border-color: #A00;
}

.container input.error:focus
{
    -webkit-box-shadow: 0 0 3px rgba(200, 0, 0, 1);
    -moz-box-shadow: 0 0 3px rgba(200,0,0,1);
    box-shadow: 0 0 3px rgba(200, 0, 0, 1);
    border-color: #A00;
}

div.el-footer .table
{
    display: table;
    width: 100%;
    margin-top: 30px;
}

div.container div.share-footer
{
    margin-top: 50px;
}

div.el-footer .table h3
{
    font-style: normal;
}

div.el-footer .table a
{
    /*color: #7DB1B5;*/
}

div.el-footer .table .tcol
{
    width: 190px;
    padding-right: 20px;
    display: table-cell;
}

div.el-footer table.social-table
{
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.el-footer table.social-table td
{
    border: none;
    padding: 5px 0px 0px 2px;
}

div.el-footer table.social-table tr:hover td
{
    background-color: transparent;
    cursor: pointer;
}


div.el-footer table.social-table td:first-child a
{
    padding: 0;
}

div.el-footer .table .tcol.last
{
    padding-right: 0px;
}

div.el-footer .table .tcol.last i
{
    /*color: #F4EDE1;*/
    font-size: 11px;
}

div.el-footer .table .trow
{
    display: table-row;
}

div.el-footer .table a
{
    display: block;
    padding: 5px 0;
    margin-bottom: 0;
}

.separator
{
    border-bottom: 1px solid #000;
}

.separator.thick
{
    border-bottom: 2px solid #000;
}

.smart-scheme.slider
{
    margin-top: 10px;
    width: 230px;
}

.smart-scheme .ui-slider-handle
{
    margin-top: -2px;
}

.smart-scheme .ui-slider-handle.ui-state-default
{
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-image: url('../images/slider_handle_2.png');
    border: none;
    cursor: pointer;
    outline: none;
}

.smart-scheme .ui-slider-handle.ui-state-hover
{
    background-image: url('../images/slider_handle_1.png');
    cursor: pointer;
    outline: none;
}

.smart-scheme .ui-slider
{
    height: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    background-color: #ccc;
    background-image: none;
}

.smart-scheme .ui-slider-range
{
    border: none;
    box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.75) inset;
    background-image: url('../images/sliderbg.png');
    background-repeat: repeat;
    border-radius: 8px;
    background-color: #fff;
}

.xtip
{
	cursor: pointer;
}

.xtip:hover
{
	color: #08C !important;
}

a.xtip:hover
{
	color: #000 !important;
}

button.xtip:hover
{
	color: #fff !important;
}

span.help
{
	background: #08C;
	color: #fff;
	padding: 0 2px;
}

.tooltip-inner
{
	font-size: 14px;
	padding: 8px;
}

.social-icon{
    width: 30px;
    height: 31px;
    display: inline-block;
}

.fb-mid {
    background: url('../images/social_sprite.png') no-repeat 0 0;
}

.fb-dark {
    background: url('../images/social_sprite.png') no-repeat -35px 0;
}

.fb-light {
    background: url('../images/social_sprite.png') no-repeat -70px 0;
}

.twitter-mid {
    background: url('../images/social_sprite.png') no-repeat 0 -34px;
}

.twitter-dark {
    background: url('../images/social_sprite.png') no-repeat -35px -34px;
}

.twitter-light {
    background: url('../images/social_sprite.png') no-repeat -70px -34px;
}

span.beta
{
	top: 10px;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	color: #aaa;
}

div.container div.raised-large span
{
	font-size: 26px;
	padding: 10px 8px;
}

div.container div.raised-large input
{
	font-size: 26px;
	height: 30px;
	width: 190px;
}

.alert-success
{
    border-color: #468847;
}

.tooltip-inner
{
    max-width: 270px;
}