div.fthb
{
	min-width: 100%;
	min-height: 100%;
}

div.fthb .bordered table td.padded
{
	vertical-align: top;
	padding: 10px;
}

div.fthb .bordered table.split td
{
	vertical-align: top;
}

div.fthb .bordered
{
	position: relative;
	padding: 0px;
	display: block;
	position: relative;
	border: none;
	color: #111;
	margin-right: 0px;
	margin-left: auto;
	/*
	text-shadow: 1px 1px 1px white;
	border-radius: 4px;
	border-top: 1px solid white;
	box-shadow: 0px 0px 2px #ccc;
	background: #F8F8F8;
	*/	
}

#container #main div.fthb .bordered .split h1
{
	border: none;
}

.bordered td.info
{
	padding: 0px;
	padding-top: 15px;
	font-size: 18px !important;
	color: #ccc;
}

.bordered td.info div
{
	color: #666;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	border-radius: 0 0 4px 4px;
	background-color: #f0f0f0;
	padding: 8px 10px;
	margin: 0px;
	margin-top: 10px;
}

.bordered p.noshadow
{
	text-align: justify;
	padding: 0px;
	margin: 0px;
}

.bordered p.light
{
	text-align: justify;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #888;
	line-height: 1.6em;
}

.split b.value
{
	display: block;
	color: #777;
	font-size: 20px;
	font-family: "arial rounded mt bold", arial, sans-serif;	
}

#flip-counter
{
	font-family: "arial rounded mt bold", arial;
	font-size: 45px;
	color: #666;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 30px;
}

#fthb-downpayment-percentage,
#fthb-monthly-payment
{
	display: inline-block;
}

.fthb-split i.large
{
	display: inline-block;
	font-size: 18px;
	margin-left: 8px;
}

div#fthb-notes
{
	width: 230px;
	z-index: 5000;
	height: 250px;
	position: absolute;
	right: 15px;
	top: 0px;
}

div#fthb-notes.notes img
{
	left: 95px;
}

b.icon
{
	position: absolute;
	display: inline-block;
	background-color: #f00;
	color: #fff;
	padding: 0px 4px;
	margin-left: 10px;
}

b.icon i
{
	font-weight: normal;
	font-size: 11px;
}

.split div.relative
{
	position: relative;
	vertical-align: top;
}

p.h
{
	background-color: #f0f0f0;
	padding: 20px;
}

span.fcol
{
	color: #ff0000;
}

table.bvr tr.split td
{
	width: 30%;
	text-align: center;
	font-size: 14px;
	vertical-align: top;
}

tr.split td:last-child div.header,
tr.split td:last-child div.boxed
{
	margin-right: 0px;
}

td div.header
{
	margin: 0 10px 0px 0;
	background: #ffb533;
	padding: 10px;
}

td div.boxed
{
	margin: 0 10px 10px 0;
	background: #f4f4f4;
	padding: 15px;
	min-height: 195px;
}

#container #main table.bvr td div.boxed h1.large
{
	display: inline;
	padding: 0px;
	margin: 0px auto;
	font-size: 60px;
	font-weight: bold;
}

#container #main table.bvr td div.boxed h1.medium
{
	display: block;
	font-family: "arial narrow";
	padding: 12px 0 5px 0;
	margin: 0px auto;
	font-size: 60px;
	text-align: center;
	letter-spacing: -2px;
	font-weight: bold;
}

table.bvr tr.split td p.subtext
{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	text-align: justify;
	font-size: 12px;
	color: #888;
}

#container #main table.bvr td div.boxed a
{
	font-weight: bold;
}

#container #main div.fthb .bordered h3.title
{
	position: relative;
	display: block;
	margin: 15px 0 5px 0;
	border-bottom: 2px solid #bbb;
}

#container #main div.fthb .bordered h3.title.dark
{
	color: #08C;
	border-bottom-color: #08C;
	cursor: pointer;
}

#container #main div.fthb .bordered h3.title.dark:hover
{
	color: #005580;
	border-bottom-color: #005580;
	cursor: pointer;
}


#container #main div.fthb .bordered span.label
{
	font-weight: normal;
	text-shadow: none;
	font-size: 12px;
	padding: 4px 8px;
	margin-top: -2px;
}

.label-rent
{
	background-color: #EB8F26;
}

.label-buy
{
	background-color: #BA0719;
}

.label-empty
{
	background-color: #fff;
}

h3 div.flow
{
	padding: 0 0 0 5px;
	position: absolute;
	right: 0px;
	top: 4px;
	width: 300px;
}

h3 div.flow div.progress
{
	border: 1px solid #444;
}

.greenbox
{
	padding: 20px;
	background: #94D92E;
	border-radius: 8px;
	font-family: "arial rounded mt bold";
	font-size: 18px;
	color: #fff;
	margin-right: 30px;
	line-height: 1.3em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

table.bottom td
{
	vertical-align: bottom;
}

span.economy .key
{
	border-bottom: 1px dashed #ccc;
	cursor: pointer;
}

span.economy .key.average:hover
{
	color: #DBD830;
	border-bottom: 1px solid #DBD830;
}

b.highlight
{
	background: #fcad23;
	padding: 3px 10px;
	border-radius: 6px; 
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

table.economy-rates
{
	width: 100%;
}

table.economy-rates td
{	
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #bbb;
}

table.economy-rates td:first-child
{
	padding-left: 0px;
}

table.economy-rates td:last-child
{	
	padding-right: 0px;
	border-right: none;
}

table.economy-rates tr.bold td
{
	border-top: 1px solid #bbb;
	font-size: 13px;
	font-weight: bold;
}

i.number
{
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	background: #fcad23;
	border-radius: 20px;
	color: #fff;
	padding: 3px 6px;
	margin-right: 3px;
}

#default-recommendation
{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #f18113;
}

#default-recommendation a
{
	color: #f18113;
	border-bottom: 1px dashed #f18113;
}

#default-recommendation b > a
{
	color: #f18113;
	border-bottom: 1px solid #f18113;
}


#default-recommendation a:hover
{
	color: #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
}

#default-recommendation .recommendation
{
	width: 130px;
	background-color: #f18113;
	padding: 0px 4px 0px 4px;
	border-radius: 6px;
	font-size: 13px;
	margin-right: 5px;
	color: #fff;
	display: inline-block;
}

#default-recommendation img
{
	margin-top: 0px;
	margin-bottom: 5px;
}

td#fthb-note
{
	vertical-align: top;
	text-align: justify;
	padding: 5px 0 0 5px;
	min-width: 200px;
	color: #999;
	font-size: 11px;
	line-height: 1.5em;
}

.alert
{
	padding: 8px 10px;
	text-align: left;
}

table.howmuchdown td
{
	padding-bottom: 10px;
}

table.howmuchdown td.value
{
	color: #aaa;
	font-size: 24px;
}

.credit-value
{
	font-family: "arial rounded mt bold", arial;
	font-size: 32px;
	color: #777;
	margin-bottom: 25px;
}

.credit-value-small
{
	margin-top: 0px;
    font-size: 18px;
	margin-left: 5px;
    color: #666;
    display: inline;
}

.credit-id-small
{
    font-size: 18px;
    color: #888;
}

table.value-display
{
	width: 100%;
}

table.value-display td
{
	text-align: center;
	vertical-align: middle;
	padding: 8px 10px;
	color: #fff;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

table.value-display td a
{
	color: #fff;
	text-transform: uppercase;
	font-size: 9px;
	display: block;
	text-decoration: none;
}

table.value-display td a:hover
{
	text-decoration: underline;
}

#credit-slider-label,
#interest-slider-label
{
    font-family: "arial rounded mt bold", arial;
    color: #666;
    font-size: 18px;
    width: 50px;
    text-align: center;
}

ul.light li
{
 	font-size: 16px; 
 	color: #888; 
 	line-height: 1.4em;
}

ul.light li b
{
	color: #000;
}

.fthb p.recommendation
{
	font-size: 16px;
	margin-top: 0px;
}

.main-body .fthb h3
{
	font-family: "Oswald", "arial narrow", sans-serif;
	font-size: 18px;
	color: #F0732B;
	text-transform: uppercase;
	font-weight: normal;
	padding: 8px 0 2px;
	margin-bottom: 8px;
	border-bottom: 1px solid #FA823D;
}

.main-body .fthb h3.nounderline
{
	border-bottom: none;
}

.main-body .fthb p.light
{
	font-size: 14px;
	color: #333;
}

.main-body .page-interaction 
{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.page-interaction .interaction-content a.back
{
	font-family: georgia;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin-top: 15px;
	padding: 5px 15px;
}

.main-body .page-interaction .interaction-overlay
{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.main-body .fthb.faded .page-interaction .interaction-overlay
{
	display: block;
}

.main-body .page-interaction .interaction-overlay div#interaction-overlay
{
	display: block;
	width: 50%;
	height: 80px;
	font-size: 23px;
	line-height: 24px;
	background-color: #f8f8f4;
	padding: 80px 25px 30px 25px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	font-family: times, timesnewroman, "times new roman", serif;
	font-style: italic;
	color: #333;
}

.main-body .page-interaction .interaction-content
{
	width: auto;
	height: 100%;
	border: 2px solid #C3E4EC;	
}

.main-body .page-interaction .interaction-content .ispacer
{
	display: block;
	float: none;
	height: auto;
	width: 100%;
}

.main-body .page-interaction .interaction-reset 
{
	width: 100%;
	text-align: right;
}

.main-body .page-interaction .interaction-reset a.button
{
	display: inline-block;
	margin-right: 0px;
	margin-left: auto;
	padding: 2px 10px;
	font-size: 11px;
	font-family: georgia, timesnewroman, times, serif;
	font-style: italic;
	color: #fff;
	background-color: #C3E4EC;
	border: none;
	outline: none;
	border-radius: 0 0 4px 4px;
}

.main-body .page-interaction .interaction-reset a.button.active
{
	background-color: #0485B7;
}

.main-body .page-interaction .interaction-reset a.button:hover
{
	text-decoration: none;
}

.main-body .page-interaction .interaction-reset a.button.active:hover
{
	background-color: #023160;
	text-decoration: none;
}

.main-body .fthb.faded .page-interaction .interaction-content,
.main-body .page-interaction .interaction-content.faded
{
	opacity: 0.3;
}

.main-body .fthb.faded .page-data
{
	display: none;
}

.main-body .fthb.faded a.button
{
	display: none;
}

.page-interaction .interaction-content table.block
{
	padding: 0px;
	border-spacing:0;
	border-collapse:collapse;
	width: 100%;
}

.page-interaction .interaction-content table.block td.bright
{
	border-right: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.block td.bleft
{
	border-left: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.block td.bbottom
{
	border-bottom: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.block td
{
	padding: 15px;
	vertical-align: top;
}

.page-interaction .interaction-content table.block td.arrow
{
	padding: 0px;
	width: 1px;
	vertical-align: middle;
}

.page-interaction div.arrow
{
	position: relative;
	height: 39px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.page-interaction div.arrow .arrow-content
{
	position: absolute;
	width: 24px;
	height: 39px;
	top: 0px;
	left: -23px;
	background-image: url('../../images/other/bluearrow.png');
}

.page-interaction div.arrow .arrow-content.right
{
	position: absolute;
	top: 0px;
	left: -3px;
	background-image: url('../../images/other/bluearrowr.png');
}


.page-interaction .interaction-content h4
{
	font-family: times, timesnewroman, sans-serif;
	font-style: italic;
	font-weight: normal;
	color: #444;
	font-size: 20px;
	padding-bottom: 4px;
	display: block;
}

.page-interaction .interaction-content table.block td.totals h4
{
	font-size: 16px;
	line-height: 16px;
}

.page-interaction .interaction-content h4.spaced
{
	padding-bottom: 12px;
}

.page-interaction .interaction-content h5.value
{
	color: #67A953;
	font-family: "arial rounded mt bold", arial;
	font-size: 34px;
}

.page-interaction .interaction-content table.sub td.totals
{
	padding-top: 5px;
	color: #555;	
}

.page-interaction .interaction-content td.totals h4
{
	color: #555;
	font-size: 14px;
	padding-bottom: 0px;
	line-height: 11px;	
} 

.page-interaction .interaction-content td.totals h5
{
	padding-top: 0px;
	font-size: 9px;
	color: #888;
	padding-bottom: 0px;
	font-family: "arial", sans-serif;
	font-weight: normal;
} 

.page-interaction .interaction-content table.sub table.totals
{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 11px;
}

.page-interaction .interaction-content table.sub table.totals td
{
	padding: 0px;
	line-height: 15px;
}

.page-interaction .interaction-content table.sub table.totals td.total
{
	font-size: 12px;
	color: #999;
	border-top: 1px solid #000;
}

td.right
{
	text-align: right;
}

td.bold
{
	font-weight: bold;
}

.page-interaction .interaction-content table.sub 
{
	width: 100%;
}

.page-interaction .interaction-content table.sub td
{
	padding: 10px;
}

.page-interaction .interaction-content table.sub td.bright
{
	border-right: 1px solid #333;
}

.page-interaction .interaction-content div.subtext
{
	padding-top: 5px;
	text-align: left;
	width: 100%;
	font-size: 11px;
}

.fthb .smart-scheme.slider
{
	margin-top: 3px;
	width: 100%;
} 

.fthb .smart-scheme .ui-slider-handle
{
	margin-top: -2px;
}

.fthb .smart-scheme .ui-slider-handle.ui-state-default
{
	background-color: transparent;
	width: 24px;
	height: 24px;
	background-image: url('../../images/other/handleh.png');
	border: none;
	cursor: pointer;
	outline: none;
}

.fthb .smart-scheme .ui-slider-handle.ui-state-hover
{
	background-image: url('../../images/other/handle.png');
	cursor: pointer;
	outline: none;
}

.fthb .smart-scheme .ui-slider
{
	height: 10px;
	border: 1px solid #999;
	border-radius: 6px;
	background-color: #ccc;
	background-image: none;
}

.fthb .smart-scheme .ui-slider-range
{
	border: none;
	box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.75) inset;
	background-image: url('../../images/other/slidebg.png');
	background-repeat: repeat;
	border-radius: 8px;
	background-color: #fff;
}



.fthb .home-icon
{
	text-align: center;
	margin-top: 30px;
    margin-left: 30px;
}


.fthb .home-icon.hsprite-green
{
    background: url('../../images/other/homeicon_sprite.png') no-repeat 0 -1px;
	width: 216px;
	height: 183px;
}

.fthb .home-icon.hsprite-yellow
{
    background: url('../../images/other/homeicon_sprite.png') no-repeat -218px -1px;
	width: 216px;
	height: 183px;
}

.fthb .home-icon.hsprite-red
{
    background: url('../../images/other/homeicon_sprite.png') no-repeat -436px -1px;
	width: 216px;
	height: 183px;
}

.page-interaction .interaction-content table.slider
{
	padding: 0px;
	border-spacing:0;
	border-collapse:collapse;
	width: 100%;
	margin-top: 15px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page-interaction .interaction-content table.slider td.indicator
{
	color: #888;
	font-family: "arial", arial, sans-serif;	
	font-weight: bold;
	font-size: 22px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.page-interaction .interaction-content table.slider td.indicator.right
{
	padding-top: 3px;
}


.page-interaction .interaction-content table.slider td.indicator:hover
{
	color: #000;
}

.page-interaction .interaction-content table.slider.disabled td.indicator:hover
{
	color: #888;
	cursor: default;
}

div#mortgage-table table.mortgage-table a.details-button
{
	font-weight: 400;
	background-color: #0485B7;
	color: white;
	font-size: 11px;
	border-radius: 4px;
	padding: 4px 6px;
	margin-left: 5px;
}

div#mortgage-table table.mortgage-table
{
	width: 100%;
    font-family: arial, sans-serif;
}

div#mortgage-table table.mortgage-table td.mortgage-details
{
	border-top: 2px solid #c4e2f9;
	padding: 15px;
}

div#mortgage-table table.mortgage-table tr.first-row
{
	border-top: 2px solid #111111 !important;
}

div#mortgage-table table.mortgage-table tr.mortgage-type td
{
	color: #FF6600;
    font-family: "Oswald", "arial", sans-serif;
	font-size: 28px;
	font-weight: 400;
	text-align: left;
    padding: 19px 0px 0px 4px;
    border-top: none;
}

div#mortgage-table table.mortgage-table tr.type-description td
{
    white-space: normal;
    border-top: none;
    padding: 14px 0px 4px 6px;
    font-size: 13px;
}

div#mortgage-table table.mortgage-table tr.mortgage-title th
{
	color: #666666;
	font-size: 9px;
	font-weight: 200;
	text-align: left;
    padding: 7px 0px 8px 4px;
	line-height: 1.5em;
}

div#mortgage-table table.mortgage-table td.details
{
	padding: 10px 12px 4px 0px;
	border-top: 1px solid #BFBFBF;
	vertical-align: top;
	text-align: right;
}


div#mortgage-table table.mortgage-table td.mortgage-name
{
	font-family: arial, sans-serif;
	color: #0088CC;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
    padding: 10px 0px 2px 4px;
	border-top: 1px solid #BFBFBF;
	vertical-align: top;
	white-space:nowrap;
	width: 40%;
}

div#mortgage-table table.mortgage-table td
{
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
    padding: 10px 0px 2px 4px;
	border-top: 1px solid #BFBFBF;
	vertical-align: top;
	white-space:nowrap;
}

div#mortgage-table table.mortgage-table .detail-text
{
	display: block;
	font-size: 10px;
	margin-top: -2px;
	white-space:nowrap;
}

div#mortgage-table table.mortgage-table .learn-more
{
	margin-top: 2px;
	display: block;
	color: #000000;
	font-size: 11px;
	font-style: italic;
	font-family: georgia, times, timesnewroman, serif;
}

div#mortgage-table table.mortgage-table .learn-more-link
{
	margin-left: 6px;
}

div#mortgage-table table.mortgage-table .selected
{
	background-color: #C5E4ED;
}

.inputs-tip 
{
    z-index: 10000;
    background-color:#F8F8F8;
    border:1px solid;
    border-color: #CCC;
    position: relative;
    left: 0px;
    top: 0px;
    max-width: 738px;
    height: auto;
    min-height: 120px;
    margin-bottom: 15px;
    -moz-box-shadow:2px 2px 2px #eee;
    -webkit-box-shadow:2px 2px 2px #eee;
}

.inputs-tip .arrow-container
{
	position: absolute;
	top: 0px;
	left: -34px;
	height: 100%;
	width: 34px;
}

.inputs-tip .arrow-container .arrow
{
	position: absolute;
	top: 50%;
	margin-top: -35px;
	width: 34px;
	height: 69px;
	background: url('../../images/other/bigarrowleft.png') no-repeat;
}

.input-tips-arrowborder 
{
    border-color: transparent #CCC transparent transparent;
    border-style: solid;
    border-width: 34px;
    height:0;
    width:0;
    position:absolute;
    top: 39px;
    left: -68px;
}

.input-tips-arrow 
{
    border-color: transparent #F8F8F8 transparent transparent;
    border-style: solid;
    border-width: 34px;
    height:0;
    width:0;
    position:absolute;
    top: 39px;
    left: -67px;
}

div.inputs-tip .inputstip-content 
{
	padding: 20px;
}

div.inputs-tip .inputstip-index
{
    display: inline;
    float: right;
    font-family: georgia, times, serif;
    font-style: italic;
    font-size: 11px;
}

#main .content div.inputs-tip .inputstip-content h3
{
    display: inline;
    color: #FF7E28;
    font-size: 32px;
    font-weight: 300;
    text-transform: none;
    border-bottom: none;
    font-family: "Oswald", "arial narrow", sans-serif;
}

div.inputs-tip .inputstip-text
{
    margin-top: 0px;
    font-size: 16px;
    line-height: 36px;
    color: #000;
    font-family: arial, sans-serif;
}

div.mortgage-comparison div.interaction-content 
table#mortgage-info-table,
div.mortgage-comparison div.interaction-content 
table#variables-table
{
	width: 100%;
    text-align: left;
    font-family: georgia, times, timesnewroman, serif;
	font-style: italic;
	color: #333;
	font-weight: 400;
	font-size: 18px;
}

div.mortgage-comparison div.interaction-content 
table#mortgage-info-table td.info-cell
{
    padding: 15px 0px 20px 36px;
    line-height: 1.4em;
}


div.mortgage-comparison div.interaction-content 
table#mortgage-info-table td.additional-info-cell
{
    font-size: 13px;
    padding: 22px 0px 0px 0px;
    line-height: 1.3em;
}

div.mortgage-comparison div.interaction-content 
table#mortgage-info-table .info-value
{
    color: #6CAA44;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
}


div.mortgage-comparison div.interaction-content 
table#mortgage-info-table .additional-value
{
    color: #6CAA44;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
}

div.mortgage-comparison div.interaction-content 
table#mortgage-info-table .additional-value
{
    color: #6CAA44;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}

div.mortgage-comparison div.interaction-content 
table#mortgage-info-table .vertical-line {
    border-left:2px solid #C3E4EC;
    height: 55px;
}

div.mortgage-comparison div.interaction-content 
table#variables-table .variables-box
{
    border: 2px solid #F0F0F0;
	border-radius: 4px;
	padding: 10px;
    text-align: center;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

div.mortgage-comparison div.interaction-content 
table#variables-table td
{
    padding: 20px;
}

div.mortgage-comparison div.interaction-content 
table#variables-table div#mortgage-total-years
{
    display: inline;
    color: #6CAA44;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

div.mortgage-comparison div.interaction-content 
table#variables-table .sort-text
{
    font-family: arial, sans-serif;
	color: #0088CC;
	font-size: 15px;
	font-weight: 400;
    font-style: normal;
}

div.mortgage-comparison div.interaction-content 
table#variables-table .sort-box
{
    padding: 18px 0px 0px 0px;
}

div.mortgage-comparison table#variables-table div.slider.smart-scheme
{
    min-width: 205px;
}

div.mortgage-comparison div.interaction-content 
table#variables-table div#slider-mortgage-homevalue
{
    margin-left: 100px;
    margin-top: 15px;
}

.page-interaction .interaction-content .bvr-top
{
	margin: 10px 15px;
}

.page-interaction .interaction-content .bvr-top h3
{
	font-size: 13px;
	border-bottom: none;
	margin-bottom: 2px;
	padding-top: 0px;
}

.page-interaction .interaction-content .bvr-top table.layout
{
}	

.page-interaction .interaction-content .bvr-top table.layout td
{
	background-color: #E6F2F8;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 8px;
	border-left: 4px solid #FFF;
}

.page-interaction .interaction-content .bvr-top table.layout td:first-child
{
	border-left: none;
}

.page-interaction .interaction-content .bvr-top table.layout td h4
{
	font-size: 15px;
	padding-bottom: 8px;
	line-height: 15px;
}

.page-interaction .interaction-content .bvr-top table.layout td .value
{
	font-size: 24px;
	line-height: auto;
}

.page-interaction .interaction-content .bvr-top .padtop
{
	margin: 10px 0 0 0;
}

.page-interaction .interaction-content .bvr-top .left
{
	float: left;
}

.page-interaction .interaction-content .bvr-top .right
{
	float: right;
}

.page-interaction .interaction-content .bvr-top table.layout table.slider td
{
	border: none;
}

.page-interaction .interaction-content .bvr-top table.layout td.indicator
{
	width: 10px;
	vertical-align: top;
	padding: 0px;
}

.page-interaction .interaction-content .bvr-top table.layout td.indicator.right
{
	padding-top: 2px;
}

.page-interaction .interaction-content .bvr-top table.layout td.middle
{
	width: 100%;
	padding-left: 9px;
	padding-right: 12px;
	padding-top: 2px;
}

.page-interaction .interaction-content .bvr-top table.layout span.link
{
	font-size: 10px;
}

.page-interaction .interaction-content .bvr-top table.layout table.slider.disabled
{
	opacity: 0.25;
}

/*
*********************************************************************************
CREDIT SCORE PAGE
*********************************************************************************
*/

.page-interaction .interaction-content .tiny
{
	display: block;
	font-size: 9px;
	font-style: normal;
	font-family: arial;
}

.page-interaction .interaction-content .credit-box 
{
}

.page-interaction .interaction-content .credit-box div
{
	padding: 5px 10px;
	cursor: pointer;
	background-color: #eee;
	border-bottom: 3px solid #fff;
	font-weight: bold;
	color: #0485B7;
	cursor: pointer;
}

.page-interaction .interaction-content .credit-box div p
{	
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
}

.page-interaction .interaction-content .credit-box div.selected
{
	background-color: #0485B7;
	color: #fff;
}

.page-interaction .interaction-content .credit-box div:hover
{
	background-color: #023160;
	color: #fff;
	cursor: pointer;
}

#bad-credit-box
{
	display: none;
}

.page-interaction .interaction-content table.block td.good-credit-box
{
	vertical-align: top;
	padding-left: 23px;
}

.page-interaction .interaction-content table.block #interest-rate
{
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
	color: #67A953;
}

.page-interaction .interaction-content table.block h4
{
	line-height: 24px;
	font-size: 24px;
}

.page-interaction .interaction-content table.block h4.sub
{
	line-height: 20px;
	font-size: 20px;
	color: #666;
}


.page-interaction .interaction-content table.block #downpayment-percent
{
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	line-height: 35px;
	color: #67A953;
}

.page-interaction .interaction-content table.block #mortgage-value,
.page-interaction .interaction-content table.block #downpayment-value
{
	font-family: arial, helvetica, sans-serif;
	font-size: 26px;
	line-height: 35px;
	color: #67A953;
}

.page-interaction .interaction-content table.block #credit-circle
{
	padding: 0px;
	height: 220px;
	min-width: 220px;
	vertical-align: middle;
	color: white;
	font-size: 14px;
}

.page-interaction .interaction-content table.block #credit-circle.size1
{
	background: url('../../images/other/green-sm.png') no-repeat;
	background-position:center;
}

.page-interaction .interaction-content table.block #credit-circle.size2
{
	background: url('../../images/other/green-md.png') no-repeat;
	background-position:center;
}

.page-interaction .interaction-content table.block #credit-circle.size3
{
	background: url('../../images/other/green-lg.png') no-repeat;
	background-position:center;
}

.page-interaction .interaction-content table.block td.cs-last
{
    border-top: 2px solid #C3E4EC;
    padding: 9px;
    font-size: 11px;
    color: #555;
}

.page-interaction .interaction-content table.block td.cs-last a.credit-button
{
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    font-size: 13px;
    font-weight: normal;
    border-radius: 2px;
    padding: 3px 5px;
    display: inline;
    margin-left: 6px;
}

.page-interaction #credit-page a.cs-learn
{
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    color: #0485B7;
    font-size: 13px;
    font-weight: 600;
}

.page-interaction .interaction-content table.block #credit-circle #monthly-payments
{
	font-size: 28px;
}

.page-interaction .interaction-content table.block #credit-circle h4
{
	color: #fff;
	font-size: 20px;
	line-height: 20px;
}

.page-interaction #credit-page div.arrow .arrow-content
{
	top: 25px;
}

.page-interaction #credit-page td.bad-credit-box
{
    text-align: center;
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    font-size: 20px;
    vertical-align: middle;
}

.page-interaction .interaction-content table.block td.other-values
{
	text-align: right;	
	vertical-align: bottom;
	padding: 0 5px 0 0;
}

.page-interaction .interaction-content table.block td.other-values h4
{
	font-size: 16px;
	line-height: 16px;
}


.values-container
{
	margin-top: 10px;
	margin-left: 5px;
}

/*
*********************************************************************************
CREDIT SCORE PAGE END
*********************************************************************************
*/

/*
*********************************************************************************
BUY V RENT START
*********************************************************************************
*/

.page-interaction .interaction-content h4
{
	font-size: 22px;
	line-height: 1em;
}

.page-interaction .interaction-content span#bvr-years b
{
	font-family: "arial rounded mt bold", arial, sans-serif;	
	font-weight: bold;
	font-size: 24px;
	font-style: normal;
	color: #67A953;
}

.page-interaction div.page-summary.page-data h3.title.assumption
{
    font-size: 13px; 
    border-bottom: none; 
    margin-bottom: -4px;
}

.page-interaction div.page-summary.page-data p.assumption-sec
{   

}

table.listing
{
	width: 100%;
	font-size: 11px;
}

table.listing td.hdr
{
	font-weight: bold;
	border-bottom: 2px solid #000;
}

table.listing td
{
	border-bottom: 1px solid #999;
}

table.listing td.r
{
	text-align: right;
}

table.listing tr.total td
{
	border-bottom: none;
	border-top: 1px solid #000;
	font-weight: bold;
}

table.listing tr.nb td
{
	border-bottom: none;
}

/*
*************************************************************
Taxes Page
*************************************************************
*/

#start-tax-graph
{
    height: 350px; 
    margin: 0 auto;
    width: 250px;
    position: absolute;
    z-index: -1;
    left: -20px;
    bottom: -4px;
}

.page-interaction div#taxes-page table.taxes-info-table
{
    font-size: 15px;
    width: 100%;
    text-align: right;
}

.page-interaction div#taxes-page table.taxes-info-table th
{
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 0px 0px 5px 0px;
}

.page-interaction div#taxes-page table.taxes-info-table td
{
    border-bottom: 1px solid #000;
    padding: 6px 2px 6px 0px;
}

.page-interaction div#taxes-page table.taxes-info-table td.second-last
{
    border-bottom: 2px solid #000;
}

.page-interaction div#taxes-page table.taxes-info-table td.last
{
    border-bottom: none;
    padding-bottom: 25px;
}

.page-interaction div#taxes-page table.taxes-info-table td.blank
{
    border: none;
    width: 5%;
}
.page-interaction div#taxes-page table.taxes-info-table .left-align
{
    text-align: left;
}

.page-interaction div#taxes-page table#taxes-table td.first
{
	min-height: 350px;
}

.page-interaction div#taxes-page table#taxes-table .tiny-info
{
	font-size: 11px;
	color: #aaa;
}

.page-interaction div#taxes-page table#taxes-table .info-value
{
    font-family: "arial rounded mt bold", arial, sans-serif;	
	font-size: 25px;
	color: #67A953;
	font-style: normal;
    font-weight: 600;
}

.page-interaction div#taxes-page table#taxes-table .info-value-imp
{
	font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.page-interaction div#taxes-page table#taxes-table h4.sub
{
    font-size: 13px;
}

.page-interaction div#taxes-page table#taxes-table h4.info
{
    font-size: 20px
}

.page-interaction div#taxes-page table#taxes-table div.inline
{
    display: inline;
}

.page-interaction div#taxes-page table#taxes-table td.graph-cell
{
    vertical-align:middle;
    padding: 0px;
}

.page-interaction div#taxes-page table#taxes-table td
{
    vertical-align: text-top;
    padding: 15px 15px 15px 15px;
}

.page-interaction div#taxes-page table#taxes-table td.bleft
{
	border-left: 2px solid #C3E4EC;
}

.page-interaction div#taxes-page table#taxes-table td.after-arrow
{
	padding-left: 30px;
}

#tax-slider
{
	min-width: 160px;
	position: absolute; 
	left: 30px; 
	bottom: 20px;
}

/*
*************************************************************
Taxes Page END
*************************************************************
*/

/*
*************************************************************
Borrow Page START
*************************************************************
*/

.page-interaction table.borrow-table h5.value
{
    font-size: 24px;
    font-weight: 400;
}

.page-interaction table.borrow-table h5.main-value
{
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
}

.page-interaction table.block.borrow-table h4
{
    font-size: 22px;
}

.page-interaction table.block.borrow-table.pd-table h4
{
    font-size: 21px;
}

.page-interaction table.borrow-table table.mdh-table h4.value
{
    font-size: 16px;
    line-height: 1em;
}

.page-interaction table.borrow-table td.totals h4
{
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 5px;
    color: #444;
}

.page-interaction table.borrow-table table.mdh-table tr:last-child td:last-child
{
    border-top: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.borrow-table table.slider
{
    margin-top: 0px;
}

.page-interaction .interaction-content table.borrow-table div.subtext
{
    text-align: center;
    color: #666;
}

.page-interaction .interaction-content table.borrow-table td.find-mortgage
{
    border-top: solid 2px #C3E4EC;
    color: #444;
    padding: 8px 15px 8px 15px;
}

.page-interaction .interaction-content table.borrow-table a.mortgage-button
{
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    font-size: 13px;
    font-weight: normal;
    border-radius: 2px;
    padding: 3px 5px;
    display: inline;
    margin-left: 6px;
}

.page-interaction a.learn-text
{
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    color: #0485B7;
    font-size: 13px;
    font-weight: 600;
}

.page-interaction .interaction-content table.sub table.breakup
{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 11px;
}

.page-interaction .interaction-content table.sub table.breakup td
{
	padding: 2px 0px 2px 0px;
	line-height: 15px;
    border-bottom: 1px solid black;
}

.page-interaction .interaction-content table.sub table.breakup tr.last td
{
    border-bottom: none;
}

.page-interaction .interaction-content table.sub table.breakup div
{
    font-weight: bold;
}

/*
*************************************************************
Borrow Page END
*************************************************************
*/

.page-interaction .interaction-content table.borrow-table.pd-table #remaining-savings
{
    font-family: "arial rounded mt bold", arial, sans-serif;
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: 400;
    color: #67A953;
}

.page-interaction table.block.borrow-table.pd-table h4.value
{
    font-size: 17px;
}

.page-interaction table.block.borrow-table.pd-table table.mdh-table td h4.value 
{
    font-size: 16px;
}

/*
*********************************************************************************
Affordability Page
*********************************************************************************
*/

div.interaction-content #hm-homevalue
{
	margin: 50px auto 0px auto;
	width: 240px;
	padding: 8px 10px;
	background-color: #C3E4EC;
	border-radius: 4px;
	color: #444;
	font-size: 14px;
}

/*.page-interaction table.block.borrow-table.pd-table h5.main-value
{
    padding-right: 22px;
}*/

/*
*********************************************************************************
Affordability Page End
*********************************************************************************
*/

/*
*********************************************************************************
Mortgage Info Popup Start
*********************************************************************************
*/

table.mtg 
{
    font-family: arial;
    font-size: 13px;
    width: 100%;
}

table.mtg td
{
    padding: 5px;
    width: 25%;   
    vertical-align: top;
}

.mtg big.title
{
    display: block;
}

.mtg a
{
    color: #0088CC; 
    text-decoration: none;
}

.mtg a:hover
{
    text-decoration: underline;
    color: #004488; 
}

.mtg big.lender
{
    color: #0088CC; 
    margin-top: 5px; 
    margin-bottom: 5px;
    font-size: 18px;
}

.mtg big.h1
{
    font-size: 28px;
    font-weight: bold;
}

.mtg big.italic
{
    font-family: "georgia", serif, times;
    font-size: 14px;
    font-style: italic;        
}

.mtg big.green
{
    color: #6CAA44;
}

.mtg big.value
{
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
}

.mtg big.large
{
	margin-top: 8px;
    font-size: 30px;
}

table.mtg td.bottom
{
    vertical-align: bottom;
}

table.mtg .narrow
{
    font-family: "Oswald", "arial narrow", sans-serif;
}

table.mtg .orange
{
    color: #F0732B;
}

table.mtg .h1.bottom-border
{
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
}

table.mtg tr.bottom-border td
{
    border-top: 1px solid #ccc;
}

table.mtg td input
{
	width: 350px;
}

table.mtg textarea
{
	width: 350px;
	height: 120px;
	resize:none;
}

/*
*********************************************************************************
Mortgage Info Popup END
*********************************************************************************
*/

.page-interaction.mexplorer .borrow-table h5.value.right
{
	text-align: right;
	font-size: 20px;
	margin-top: -5px;
}

.page-interaction.mexplorer table.block.borrow-table.pd-table h4.value
{
	font-size: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 10px;
}

.page-interaction.mexplorer table.block.borrow-table.pd-table tr.top h4.value
{
	margin-top: 0px;
}

.page-interaction.mexplorer .separator
{
	height: 1px;
	background: #ccc;
	width: 100%;
}

.page-interaction.mexplorer .input-prepend span
{
	font-size: 24px;
	padding: 8px 5px 8px 5px;
	color: #aaa;
}

.page-interaction.mexplorer input.value
{
	color: #666;
	font-family: "arial rounded mt bold";
	font-size: 24px;
	width: 120px;
	padding: 8px 5px 8px 5px;
}

.page-interaction.mexplorer input.value:focus
{
	color: #67A953;
}

.page-interaction.mexplorer div.line
{
	background: #C3E4EC;
	height: 2px;
	border: none;
	margin: 0px;
	padding: 0px;
}

.page-interaction.mexplorer div.sub
{
	font-size: 10px;
	margin-top: 3px;
}

div#popup-window table.mtg td#mortgage-submit .control-group
{
    margin-bottom: 3px;
}

div#popup-window table.mtg td#mortgage-submit label.control-label
{
    font-size: 11px;
}