.beta{
    font-size: 16px;
}
.welcomes{
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
}

.welcomes .hero-unit {
    padding: 20px 20px 20px 80px;
    background-color: #C3E4EC;
}

.welcomes .hero-unit h1 {
    line-height: 1.3em;
    font-size: 250%;
}

.hero-unit .span4 .text{
    width: 85%;
    line-height: 24px;
    font-size: 0.9em;
}

.hero-unit .span8{
    padding-top: 20px;
}

.slide{
    background: url("glow.png") no-repeat scroll -30px -30px transparent;
}

.slide a{
    width: 100%;
    font-size: 1.7em;
    padding: 10px 0px;
    font-family: georgia,serif;
    font-style: italic;
    font-weight: 900;
}

.description{
    margin-top: 26px;
    font-size: 15px;
    line-height: 24px;
}

.text-error{
    color: rgb(255, 102, 0);
}

.welcme-content{
    padding: 0 80px 30px 80px;
}

.press{
    font-weight: 300;
}

.press_logo img{
    width: 100%;
    max-width: 320px;
}

.btn {
    width: 85%;
    padding: 8px 0;
    font-size: 1.5em;
    max-width: 280px;
}

.leader {
    font-size: 18px;
}

@media (max-width: 767px) {
    .welcme-content {
        padding: 10px;
    }
    .hero-unit {
        padding: 30px 20px;
    }
}

td{
    vertical-align: top;
}

#main .main-content .main-inputs {
    position: relative;
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    display: table-cell;
    vertical-align: top;
}

#main .main-inputs .content {
    margin-top: 20px;
    background-color: rgb(246, 246, 246);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

#main .main-content .main-inputs .padded {
    padding: 10px 15px;
}

#main .main-inputs h3 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#main .main-content .main-inputs p {
    padding: 0px;
    margin: 5px 0px 0px;
    font-size: 13px;
    line-height: 16px;
    font-style: italic;
    color: rgb(102, 102, 102);
}

div#inputs .overlay {
     padding-top: 15px;
     background-color: rgb(197, 228, 237);
     border-bottom: 1px solid rgb(197, 228, 237);
     border-top: 1px solid rgb(147, 179, 189);
     display: none;
 }

#inputs div#login-form {
    padding-top: 0px;
    background-color: rgb(197, 228, 237);
    position: relative;
}

div#login-popup .login-cancel-button, #inputs .login-cancel-button {
    display: none;
}

#inputs .login-back-button {
    display: block;
}

div#login-form {
    background-color: white;
    position: absolute;
    padding: 15px;
    width: auto;
}

div#login-form .validation-message {
    color: rgb(170, 0, 0);
    font-size: 11px;
    margin-bottom: 5px;
}

div#login-form .input-field {
    border-color: rgb(136, 136, 136);
    box-shadow: 0px 0px 1px rgb(153, 153, 153);
    font-size: 13px;
    width: 168px;
}

#login-header #login-form {
    z-index: 10000;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 2px 2px rgb(238, 238, 238);
    top: 38px;
    right: -1px;
}

div#login-form {
    background-color: white;
    position: absolute;
    padding: 15px;
    width: auto;
}

div#login-header div#login-form .input-field {
    width: 230px;
}

.span2 p{
    margin-top: 10px;
}

.header{
    border-bottom: 2px solid black;
}

.links{
    background-color: rgb(197, 228, 237);
    margin-bottom: 10px;
    padding: 20px;
}

.links .back{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(157, 197, 209);
    padding: 12px;
}

.links .back:hover
{
    border-color: #023160;
    cursor: pointer;
}

.links .back:hover .pull-left
{
    color: #023160;
}

.main-body .back .pull-left{
    font-size: 16px;
    font-weight: bold;
    color: #FF7E28;
    line-height: 30px;
    overflow: hidden;
}

.row-fluid .offset1:first-child {
    margin-left: 0;
}

.main-body  .text-error{
    font-weight: bold;
    color: #FF7E28;
}

.see{font-weight:bold;background-color:#0485b7;color:#fff;font-size:15px;border-radius:4px;padding:4px 5px;margin-left:5px}

.info-button
{
    font-weight: 400;
    color: white;
    padding: 4px 12px;
}

.see:hover .info-button
{
    background-color: #023160;
    color: white;
}

.main-body h1 {
    font-size: 28px;
    font-weight: bold;
}

.main-body  .row-fluid .offset1:first-child {
    margin-left: 5.51064%;
}

#main .main-content .main-body {
    width: 97%;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

.h3{
    color: #000000;
    font-weight: 300;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.welcme-content .row-fluid [class*="span"] {
    padding-left: 10%;
}
.welcomes{
    font-family: Microsoft YaHei;
}

.main-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
