#main.welcome .main-body .content {
    padding: 0px;
}
 #main .main-content .main-body {
    width: 100%;
    display: table-cell;
    vertical-align: top;
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 40;
    height: auto;
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}
#main #welcome-content {
    margin-top: 20px;
    width: 85.5%;
	text-align:center;
    margin-left:auto; 
    margin-right:auto;
}
div#slider-container {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: rgb(195, 228, 236);
}
#main #welcome-content div.press {
    border-bottom: 2px solid black;
	padding-bottom: 5px;
}

#main #welcome-content div.press h2 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 20px;
	text-align: left;
}

@media only screen and (min-width: 1200px){

  h1#s-title {
    font-size: 328%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){

  div#slider-container h1#s-title {
    top: 8%;
    font-size: 300%;
  }
    div#slider-container img#s-glow2{
    position: absolute;
	width:57%;
	left:35%;
    top: 18%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

div#slider-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(195, 228, 236);
}

  div#slider-container h1#s-title {
    top: 6%;
    left: 7%;
    font-size: 230%;
  }
  div#slider-container h2#s-subtitle {
    top: 49%;
  }
#main #welcome-content .hsw table td.left img{
margin-right: 70px;
}
  #main .main-footer .tcol {
    width: 22%;
 }
 div#slider-container img#s-glow2{
  width: 52%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
 div#slider-container h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 240%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 32%;
  }
  div#slider-container h2#s-subtitle {
    top: 70%;
	left:10%;
	width: 300px;
  }

div#slider-container {
    position: relative;
    width: 100%;
    height: 580px;
    background-color: rgb(195, 228, 236);
}
   #main .main-footer .tcol {
    width: 18%;
	padding-right: 10px;
 }
 #main .main-footer .tcol.last {
   width: 30%;
}
#main .main-footer h3 {
    font-size: 0.9em;
}
#main .content {
    padding: 5px 0px;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px){

div#slider-container {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: rgb(195, 228, 236);
}

 div#slider-container h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 200%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 32%;
  }
  div#slider-container h2#s-subtitle {
    top: 60%;
	left:10%;
	width: 80%;
  }
#main #welcome-content .hsw table td.left img{
width: 180px;
}

 #main .main-footer .tcol {
    width: 100%;
	padding-right: 0px;
 }
 .footer p {
    position: absolute;
    text-align: center;
    padding-right: 15px;
	text-indent:70px;
}
#main .main-footer .tcol.last {
    padding-right: 0px;
    width: 100%;
}

div#slider-container{
  height: 500px;
}
}

@media only screen and  (max-width: 319px){
 div#slider-container h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 160%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 28%;
  }
  div#slider-container h2#s-subtitle {
    top: 54%;
	left:10%;
	width: 80%;
  }
  #main #welcome-content .hsw table td.left img{
  width: 130px;
  }
 #main .main-footer .tcol {
    width: 100%;
	padding-right: 0px;
 }
 #main .main-footer .tcol.last {
    width: 100%;
 }
#main {
    padding: 0px;
    min-width: 100%;
}
 .footer p {
    position: absolute;
    text-align: center;
    width: 90%;
	text-indent:40px;
}

div#slider-container {
    position: relative;
    width: 100%;
    height: 460px;
    background-color: rgb(195, 228, 236);
}

}
   
@media screen and (max-width: 600px) {  
.hsw{
 float: left;
 width: 100%;
}
.hsw td.left{
 float: left;
 width: 48%;
}
.hsw td.right{
 float: right;
 width: 88%;
 left: 35px;
}

 #welcome-content td.img2{
    width: 44%;
    padding-left: 1.7%;
	padding-right: 50px;
	width: 8%\9;
}
#main #welcome-content .hsw table td.right h2 {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 10px;
}

#main #welcome-content .hsw table td.left {
position:relative;
left:20px;
width: 48%;
}

#main #welcome-content .hsw table td.right{
padding-left: 100px;
padding-right: 55px;
width: 70%;
}
}  
	
#main #welcome-content div.press h2 b {
    font-weight: 300;
    color: rgb(255, 102, 0);
}

#main .hsw table td {
    padding: 30px 30px 30px 0px;
}

#main .hsw h1 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 2em;
    font-weight: 300;
	text-align: left;
}

#main .hsw h1 b {
    color: rgb(255, 102, 0);
}

#main .hsw table td.left {
    width: 43.7%;
    vertical-align: top;
    text-align: left;
	padding-left: 15%;
}

#main .hsw table td.right {
    vertical-align: top;
    width: 56.3%;
    text-align: left;
    font-size: 1.125em;
    line-height: 1.8em;
	padding-right: 70px;
	*padding-right: 6.5%;
}

#main .hsw table td.right h2 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 1.89em;
    font-weight: 300;
    margin-bottom: 10px;
}

#main .hsw table td.right b {
    color: rgb(255, 102, 0);
}

td.body-content {
    vertical-align: top;
    height: 340px;
    min-height: 340px;
}

td.body-content div.body-content-wrapper {
    max-width: 100%;
}

h2 {
    font-size: 1.25em;
}

h1 {
    font-size: 1.625em;
}

h1#s-title {
    font-family: "Oswald","arial narrow",sans-serif;
    position: absolute;
    top: 4%;
    left: 7%;
    font-size: 328%;
    line-height: 1.3em;
    font-weight: bolder; 
    padding: 0px;
    margin: 0px;
}

div#slider-container button:hover {
    border-color: rgb(38, 89, 38);
}

 h2#s-subtitle {
    font-family: arial,helvetica,sans-serif;
    font-weight: normal;
    position: absolute;
    top: 57%;
    left: 7.2%;
    width: 23%;
    font-size: 0.9375em;
    line-height: 24px;
}

div#slider-container h2#s-subtitle a {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.9em;
    height: 25px;
    font-family: georgia,serif;
    font-style: italic;
	padding-top: 10px;
	font-weight: 900;
}

div#slider-container h2#s-subtitle b {
    color: rgb(255, 102, 0);
}

 img#s-glow2{
    position: absolute;
	max-width: 640px;
	padding-right:30px;
    left: 38.5%;
    top: 9%;
}

 .s-glow{
    position: absolute;
    width: 100%;
	height: 100%;
	background: url("glow.png") no-repeat scroll 0% 0% transparent;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/assets/glow.png");
    _background:none;
	_width: 30%;
	_height: 280px;
}



table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
	margin-right: 0;
}

h1 {
    font-size: 1.875em;
    line-height: 36px;
}

h2 {
    font-size: 1.5em;
    line-height: 36px;
}

.btn-success {
    background-color: rgb(91, 183, 91);
    background-image: -moz-linear-gradient(center top , rgb(98, 196, 98), rgb(81, 163, 81));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 0.8125em;
    line-height: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    border-radius: 4px 4px 4px 4px;
}

.btn:hover {
  background-position: 0 -15px;
}

.btn-success,
.btn-success:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success:hover,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

#main #welcome-content div.press img{
    width: 100%;
}

#welcome-content td.img1{
    width: 28%;
    padding-right: 15px;
	width: 10%\9;
}

 td.img2{
    width: 24%;
    padding-left: 1.7%;
	padding-right: 50px;
	width: 8%\9;
}

#welcome-content td.img3{
    width: 28%;
    padding-left: 1%;
	width: 10%\9;
	padding-left: 1px\9;
}