canvas {
	position: absolute;
	opacity: .6;
	filter: alpha(opacity = 60);
	top: 0;
	left: 0;
}
aside {
	width: 485px;
	position: absolute;
	top: 0;
	left: 224px;
	overflow: hidden;
	margin: 0 0 0 -75px;
	padding-bottom: 15px;
}
aside h1 {
	padding: 15px 20px;
	margin: 0 0 3px 75px;
	color: #EEE;
	font-family:'Din-Black', Arial Black, Helvetica Black, Helvetica, Verdana, sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height: 27px;
	text-transform: uppercase;
	width: 370px;
}
.activities {
	list-style: none;
	margin: 0 0 0 80px;
	padding: 0;
	width: 405px;
	overflow: hidden;
}
.activities li {
	font-family:'Din-Regular', Arial Black, Helvetica Black, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 3px;
	padding: 8px 20px 8px 32px;
	color: #414042;
}
nav ul li {
	display: inline-block;
	_display: inline;
	float: left;
	margin: 0;
	width: 62px;
	text-align: center;
	padding: 0;
	vertical-align: top;
}
footer ul li {
	display: inline-block;
	_display: inline;
	float: left;
}
#article1 hr {
	border-bottom: 1px dashed #F9B21A;
}
#article2 hr {
	border-bottom: 1px dashed #00A0AD;
}
#article3 hr {
	border-bottom: 1px dashed #9570B1;
}
#article4 hr {
	border-bottom: 1px dashed #70C05C;
}
#article5 hr {
	border-bottom: 1px dashed #DF5A74;
}