.welcomes {
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
    padding: 30px 0 20px;
}

.contain{
    width: 840px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .contain{
        width: 90%;
        margin: 0 auto;
        padding: 0 10px;
    }
    body{
        padding: 0;
    }
    .welcomes {
        margin-top: 10px;
    }
    #main{
        padding: 10px 0 30px;
    }
    table td{
        float: left;
        width: 100%!important;
    }
    .method table td.right{
        float: left;
        width: 40%!important;
    }
   .learn table tr{
       border-bottom: 2px solid #ccc;
    }
    #get-started-partial{
        width: 100%!important;
    }
    .beta{
        padding: 0!important;
    }
    .beta img{
       margin-left: 20px;
    }

    .beta .span6.right{
        display: none;
    }

    .main-footer{
        display: none;
    }
    h1{
        font-size: 24px;
    }
    h3{
        font-size: 18px!important;
    }
    p{font-size: 14px;}
}

h1 {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

h3 {
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3em;
}

p {
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}

#get-started-partial {
    padding-top: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#get-started-partial a.get-started-button {
    background: url("/assets/121045.png");
    display: inline-block;
    text-align: left;
    padding: 10px 0 0 35px;
    min-width: 182px;
    min-height: 38px;
    text-decoration: none;
    font-size: 24px;
    line-height: 23px;
    color: white;
    text-shadow: -1px -1px 0 #555;
    font-weight: normal;
}

#get-started-partial #free-text {
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 20px 0 40px;
    font-weight: normal;
    font-size: 14px;
    text-shadow: 1px 1px 0 white;
}

.method td.right{
    width: 120px;
    padding: 50px 0 0 20px;
    text-align: right;
    vertical-align: top;
}
.method td.right img{
    width: 100px;
}

.learn img{
    width: 100%;
}

