div#header #logo
{
	position: absolute;
	width: 147px;
	height: 54px;
	top: 5px;
	left: 18px;
}

div#header div#beta {
    position: absolute;
    top: 38.67%;
    left: 15%;
    font-size: 0.8125em;
    text-transform: uppercase;
}

div.inner-contents {
    margin-top: 0px;
}

table.body-container td.body-content {
    width: 100%;
}

td.right {
    text-align: right;
}

.spacer {
    display: block;
    clear: both;
    height: 0px;
}
