@media screen and (max-width: 767px){
    td.highcharts{
        float: left;
        width: 98%;
    }

    body{
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .beta {
        padding: 14px 0!important;
    }
    #top-tabs{
        display: none;
    }

    .span6.right #log,.main-footer{
        display: none;
    }

    h1#financialreport a{
        float: left!important;
    }
    #main {
        padding: 0 0 100px;
        margin: 0;
    }
    .start.report #page-content {
        width: 100%;
    }

    .start.report #page-content .mleft {
        margin-left: 0;
    }
    .start.report #percent {
        width: 100%!important;
    }

    .start.report .tablet {
        margin: 60px 0px 40px 5px;
    }

    #top-tabs .top-tabs-content {
        padding-left: 10px!important;
    }

    .report tr.detail > td.expand {
        background: url('/assets/minus.png') no-repeat 5px center;
    }
    .report tr > td.expand {
        background: url('/assets/plus.png') no-repeat 5px center;
        padding-left: 40px!important;
    }
}

.welcomes {
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
    padding-bottom: 100px;
}

#top-tabs {
    padding: 10px;
    background: #f4f4f4;
    border-bottom: 1px solid #ececec;
}

#top-tabs .top-tabs-content {
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

#page-content {
    width: 960px;
    margin: 20px auto 0;
}

#page-content h1 {
    margin-top: 0px;
    position: relative;
    font-size: 24px;
    border-bottom: 3px solid #e2e3e4;
    padding: 0 20px 10px;
    font-weight: normal;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

#page-content h2 {
    font-size: 20px;
    line-height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    color: #5d5d5d;
    margin: 10px 0;
}

.tablet{
    margin: 40px 20px;
}

.tablet .span4 img{
   margin-top: 20px;
   width: 280px;
}

.q-text {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #5d5d5d;
}

#page-content a.introduce {
    font: italic 10pt sans-serif;
    border-color: #32669a;
    border-bottom: 1px dotted;
    color: #069;
}
#page-content a.introduce:hover  {
    text-decoration: none;
}

#page-content  .mleft{
    margin-left: 30px;
}

#page-content  .red{
    color: red;
}
#page-content  p.plink{
    display: table;
    width: 100%;
}

#myModal_pic.p1_usersurvey{
    top: 40%;
}

#myModal_pic.p1_usersurvey .modal-body{
    max-height: 600px;
}

#q-buttons {
    border-top: 3px solid #E2E3E4;
    padding: 20px 20px 0;
}

#q-buttons button {
    height: 29px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 105px;
}
button.light-gray {
    font-size: 12px;
    color: #505050;
    border-radius: 3px;
    padding: 6px 15px;
    border: 1px solid #ccc;
    background: #595959;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(top, #fff,#e7e7e7);
    background-image: -moz-linear-gradient(top, #fff,#e7e7e7);
    background-image: -ms-linear-gradient(top, #fff,#e7e7e7);
    background-image: -o-linear-gradient(top, #fff,#e7e7e7);
    background-image: linear-gradient(top, #fff,#e7e7e7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFFFF', EndColorStr='#FFE7E7E7')";
}
.orange-button {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
    border: 1px solid #d79355;
    background-color: #fe8737;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8737),color-stop(100%, #c95102));
    background-image: -webkit-linear-gradient(top, #fe8737,#c95102);
    background-image: -moz-linear-gradient(top, #fe8737,#c95102);
    background-image: -ms-linear-gradient(top, #fe8737,#c95102);
    background-image: -o-linear-gradient(top, #fe8737,#c95102);
    background-image: linear-gradient(top, #fe8737,#c95102);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFE8737', EndColorStr='#FFC95102')";
}

#q-next.orange-button[disabled] {
    color: #eee !important;
    text-shadow: none;
}
.orange-button[disabled], .orange-button[disabled]:hover {
    opacity: 0.3;
    cursor: auto;
    border: 1px solid #d79355;
    background-color: #fe8737;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8737),color-stop(100%, #c95102));
    background-image: -webkit-linear-gradient(top, #fe8737,#c95102);
    background-image: -moz-linear-gradient(top, #fe8737,#c95102);
    background-image: -ms-linear-gradient(top, #fe8737,#c95102);
    background-image: -o-linear-gradient(top, #fe8737,#c95102);
    background-image: linear-gradient(top, #fe8737,#c95102);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFE8737', EndColorStr='#FFC95102')";
}

.q-button[disabled] {
    cursor: default;
    color: #ddd;
}

#q-back {
    margin-right: 16px;
}

.tablet .span1 span {
    padding-right: 20px;
    font: bold 28pt Helvetica, Arial, sans-serif;
    color: #ccc;
}

.start .tablet{
    margin: 60px 0 40px 20px;
}

.start .tablet .span4 img {
    margin-top: 0;
}
.start .tablet .span1 {
    width: 40px;
}
.start .tablet .span6,.tablet .span11{
   margin-left: 0;
}

#q-numbers {
    font: 12pt Helvetica, Arial, sans-serif;
    color: #999;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    right: 20px;
    top: 10px;
}

.q-num.curr {
    border-color: #45c53d;
    background: #45c53d;
    color: #fff;
}

.q-num:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.q-num {
    counter-increment: q-small;
    font-size: 9pt;
    padding: 3px 0px 2px;
    width: 25px;
    border: 1px solid #ccc;
    border-right: 0;
    display: inline-block;
    text-align: center;
}
.q-num:last-child {
    border-right: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.q-num.past {
    background: #c8eec5;
    cursor: pointer;
}

#kidage{
    width: 180px;
}

.form-horizontal .control-label{
    width: 80px;
    font-size: 14px;
    line-height:20px;
}

.form-horizontal .controls {
    margin-left: 100px;
}

.p1s2 .form-horizontal .control-label,
.p1s3 .form-horizontal .control-label{
    width: 100px;
}

.p1s2 .form-horizontal .controls,
.p1s3 .form-horizontal .controls{
    margin-left: 120px;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

.tablet .fill{
    margin-left: 250px;
}

.modal-header h3{
    font-family: Hiragino Sans GB W3;
}

#myModal_cash {
    font-family: Hiragino Sans GB W3;
    top: 40%;
    width: 50%;
    left: 40%;
}
#myModal_cash #income_month th, #myModal_cash #expense_month th {
    text-align: center;
    white-space: nowrap;
}

#myModal_cash #income_month td:first-child, #myModal_cash #expense_month td:first-child{
    width: 120px!important;
    text-align: center;
    font-size: 16px;
    color: red;
}

#myModal_cash #income_month td:last-child, #myModal_cash #expense_month td:last-child {
    width: 100px!important;
    text-align: center;
}

#myModal_cash #income_month td,#myModal_cash #expense_month td {
    vertical-align: middle!important;
    font-size: 13px;
    color: grey;
}

#myModal_cash #income_month td input,#myModal_cash #expense_month td input {
    width: 80px!important;
    vertical-align: middle!important;
    font-size: 13px;
    color: grey;
}

input.invalid {
    background: rgb(255, 170, 170);
}

.op-label .span3,.line-inputs .span3{
    width: 240px;
}
.op-label .span2,.line-inputs .span2{
    width: 170px;
}

.op-label .q-text{
    margin-bottom: 0;
}

div.seperator {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 900px;
}

div.seperator.bottom {
    border-bottom: 1px solid black;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.seperator.thick {
    border-bottom: 2px solid black;
}

div.op-input.first div.seperator {
    display: none;
}

div.op-input i.icon-remove-sign:hover {
    cursor: pointer;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: 40px;
    vertical-align: baseline;
    background-image: url("/assets/glyphicons-halflings.png");
    background-repeat: repeat;
    margin-top: 0;
}

.p1s4 .control-group {
    margin-bottom: 0px;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#page-content .h1 {
    font-size: 18px;
    border-bottom: 0;
    padding: 0;
}

.h1 span {
    padding-right: 20px;
    font: bold 28pt Helvetica, Arial, sans-serif;
    color: #ccc;
}

 #asset td.strong,  #detailed td.strong, #detailannual td.strong {
    font-weight: bold;
}

 #asset td.right, #detailed td.right, #detailannual td.right {
    text-align: right;
}

 #asset th, #asset td,  #detailannual th, #detailannual td {
    background-color: #ffffff;
    width: 25%;
    font-size: 14px;
    font-family: Hiragino Sans GB W3;
    text-align: left;
}
#detailed th, #detailed td{
    background-color: #ffffff;
    font-size: 14px;
    font-family: Hiragino Sans GB W3;
    text-align: left;
}

.tips {
    font-size: 14px;
    text-align: center;
}

.report .span4{
    text-align: center;
}

#indicators th {
    white-space: nowrap;
}

#indicators th,#indicators td {
    font-size: 14px;
    font-family: Hiragino Sans GB W3;
}

.report .table th,.report .table td {
    text-align: center;
    vertical-align: middle!important;
}

#indicators td.red {
    background-color: red;
    color: #ffffff;
}

#download,#downloadtop{
    font-size: 14px;
    line-height: 40px;
}

.report #goal,.report #goaltop{
    margin: 0 0 5px 10px;
}

h1#financialreport{
    padding-bottom: 10px;
}

.report #page-content {
    background-color: rgb(255, 255, 255);
}

#type th {
    white-space: nowrap;
    font-family: Hiragino Sans GB W3;
    font-size: 14px;
    text-align: center;
}

#type td {
    font-family: Hiragino Sans GB W3;
    font-size: 14px;
    text-align: center;
}

tr.back td {
    background-color: #FFEBCD!important;
}
.table th,.table td{
    font-family: Hiragino Sans GB W3;
    font-size: 14px;
    text-align: center;
}