div#inputs .general div.input-group {
    cursor: pointer;
}

div#inputs div.input-group {
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 3px 5px 8px 15px;
}

div#inputs div.input-group.active label {
    color: #000;
}

div#inputs div.input-group span.neutral {
    width: 10px;
    border-left: none;
    background: #fff;
}

div#inputs div.input-group input {
    border-right: 0;
}
div#inputs div.input-group div.input-prepend input {
    border-left: none;
}

div#inputs div.input-group div.input-prepend span.add-on:first-child {
    border-right: 0;
    background: #fff;
    padding-left: 2px;
    padding-right: 0;
    font-weight: normal;
}

div.input-group label {
    font-family: "arial",sans-serif;
    font-size: 13px;
    margin: 2px 0 2px 0;
    color: #333;
}

.form-horizontal .controls {
    margin-left: 0;
}

.input-prepend.input-append.input-intermediate{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

div#main-inputs input.span2e {
    width: 128px!important;
}

div.indicator-icon.custom.small {
    background: url(warning-icons.png) no-repeat scroll -47px -5px transparent;
}

div.indicator-icon {
    width: 16px;
    height: 12px;
    margin: 3px 0px 0px 2px;
}

.add-on .edit-pencil {
    background: url(edit_pencil_16x16.png) no-repeat scroll 0px 0px transparent;
    width: 16px;
    height: 16px;
}


.input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0px;
    white-space: nowrap;
}

div.input-prepend span.add-on:first-child {
    border-right: 0px none;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding-left: 2px;
    padding-right: 0px;
    font-weight: normal;
}

div.input-group.active:hover{
    background-color:#c1dae6;
}

.input-small {
    width: 100px;
}

div.input-prepend span.add-on:first-child {
    border-right: 0px none;
    padding-left: 2px;
    padding-right: 5px;
    font-weight: normal;
}

div.input-group.custom .controls input, div.input-group.custom .controls span.add-on {
    color: #67a953!important;
}

div#inputs .general div.input-group input {
    text-align: right;
}
#main-inputs form {
    margin-bottom: 0!important;
}

div#inputs div.input-group.last {
    border-bottom: 0;
    padding-bottom: 12px!important;
}

.main-body .page-interaction .interaction-content {
    width: auto;
    position: relative;
    border: 2px solid #C3E4EC;
}

.main-body .page-interaction .interaction-content .ispacer {
    display: block;
    float: none;
    height: auto;
    width: 100%;
}

.page-interaction .interaction-content table.block {
    padding: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.page-interaction .interaction-content table.block td {
    padding: 15px;
    vertical-align: top;
}

.page-interaction .interaction-content h4 {
    font-family: times, timesnewroman, sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #444;
    font-size: 20px;
    padding-bottom: 4px;
    display: block;
}

.page-interaction .interaction-content table.block h4 {
    line-height: 24px;
    font-size: 24px;
}

.page-interaction .interaction-content h4.spaced {
    padding-bottom: 12px;
}

.page-interaction .interaction-content input.value.editvalue.large {
    font-size: 40px;
    width: 250px;
    color: rgb(103, 169, 83);
}

.home-icon.hsprite-green {
    background: url(homeicon_sprite.png) no-repeat 0 -1px;
    width: 216px;
    height: 183px;
}

.home-icon {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}

.page-interaction .interaction-content table.block td.arrow {
    padding: 0px;
    width: 1px;
    vertical-align: middle;
}

.page-interaction .interaction-content table.block td.bbottom {
    border-bottom: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.block td.bleft {
    border-left: 2px solid #C3E4EC;
}

.page-interaction .interaction-content table.sub {
    width: 100%;
}

.page-interaction .interaction-content table.sub td.bright {
    border-right: 1px solid #333;
}

.page-interaction .interaction-content table.sub td {
    padding: 10px;
}

.page-interaction .interaction-content input.value.editvalue.right {
    text-align: right;
    margin-left: 5px;
    margin-right: -5px;
}

.page-interaction .interaction-content input.value.editvalue {
    color: #67A953;
    font-family: "arial rounded mt bold", arial;
    font-size: 34px;
    border: 1px solid #333;
    border-radius: 3px;
    margin-top: -10px;
    position: relative;
    margin-left: -5px;
    border: 1px solid transparent;
    padding: 2px 4px 2px 4px;
}

.page-interaction .interaction-content a.tiny {
    margin-top: -5px;
    display: block;
    width: 40px;
    font-size: 9px;
}

.page-interaction .interaction-content .tiny {
    display: block;
    font-size: 9px;
    font-style: normal;
    font-family: arial;
}

.page-interaction .interaction-content table.slider {
    padding: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-body .page-data h3 {
    font-family: "Oswald", "arial narrow", sans-serif;
    font-size: 18px;
    color: #F0732B;
    text-transform: uppercase;
    font-weight: normal;
    padding: 8px 0 2px;
}

.page-details .additional-content {
    border: 2px solid #C3E4EC;
    float: right;
    min-width: 280px;
    max-width: 280px;
    margin-left: 20px;
    padding: 10px;
}

.page-details .additional-content h2 {
    font-style: italic;
    font-family: georgia, times, timesnewroman, serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: #000000;
    text-align: left;
}
.page-details .additional-content #debt-guage {
    width: 200px;
    height: 160px;
    margin: 0px auto;
    margin-top: -30px;
}

.page-details .additional-content .info {
    margin-left: 28px;
    font-size: 11px;
    line-height: 13px;
    font-style: italic;
    color: #555;
}

.page-details .additional-content .separator {
    border-bottom: 2px solid #C3E4EC;
    margin: 15px 0px 15px 0px;
}

.page-details .additional-content table.breakdown {
    font-size: 12px;
    color: #666;
    width: 98%;
    margin: 0px auto;
}
.breakdown span.glossary {
    border-bottom: 0;
}

span.glossary {
    color: #4d942e!important;
    border-bottom: 1px dashed #3fb03f;
    cursor: pointer!important;
}

.page-details .additional-content table.breakdown tr td.value {
    font-weight: 600;
}

.page-details .additional-content table.breakdown tr td {
    text-align: right;
    border-bottom: 1px solid #aaa;
}

.page-details .additional-content table.breakdown tr.graph td:last-child {
    width: 40px;
    border-bottom: none;
}

.page-details .additional-content table.breakdown tr.last-child td:first-child {
    text-align: right;
    border-bottom: none;
    font-size: 20px;
    padding-top: 3px;
    font-weight: 600;
    border-top: 2px solid #555;
}

.page-details .additional-content table.breakdown tr td:first-child {
    text-align: left;
}

.spacer.s15 {
    height: 15px;
}

.main-body p.light {
    font-size: 14px;
    color: #333;
}

.page-interaction .interaction-content div.subtext {
    padding-top: 5px;
    text-align: left;
    width: 100%;
    font-size: 11px;
}

.smart-scheme .ui-slider {
    height: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    background-color: #ccc;
    background-image: none;
}

.smart-scheme .ui-slider-range {
    border: none;
    box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.75) inset;
    background-image: url('slidebg.png');
    background-repeat: repeat;
    border-radius: 8px;
    background-color: #fff;
}

.smart-scheme .ui-slider-handle.ui-state-default {
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-image: url('handleh.png');
    border: none;
    cursor: pointer;
    outline: none;
}
/*
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
*/

.icon-calendar::before {
    content:"\f073"
}

.icon-calendar {
    font-family: FontAwesome;
    background-position: -192px -120px;
}

.icon-plus {
    font-family: FontAwesome;
    background-position: -408px -96px;
}
