.main-body {
    background-color: white;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
    padding-bottom: 100px;
}

.res.btn {
    font-weight: 600;
    background: #FF9A1F;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    margin: 0 0 70px;
    width: 100px;
}