.main-body {
    background-color: white;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #555 #CCC;
    padding-bottom: 100px;
}
/*
.res.btn {
    font-weight: 600;
    background: #FF9A1F;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    margin: 0 0 70px;
    width: 100px;
}
*/
#page-content {
    width: 960px;
    margin: 20px auto 0;
}

#page-content h1 {
    margin-top: 0px;
    position: relative;
    font-size: 24px;
    border-bottom: 3px solid #E2E3E4;
    padding: 0 20px 10px;
    font-weight: normal;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

.tablet {
    margin: 40px 20px;
}

#page-content h2 {
    font-size: 20px;
    line-height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    color: #5D5D5D;
    margin: 10px 0;
}

ul.pricing-list {
    display: inline-block;
    width: 305px;
    padding-right: 20px;
    vertical-align: top;
    margin-left: 0;
}

ul.pricing-list.tiers li.list-heading {
    text-align: center;
    padding: 20px 35px;
}

ul.pricing-list.tiers li {
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px 30px;
    font-size: 15px;
    text-align: center;
}

ul.pricing-list li.list-heading {
    padding: 25px;
    text-align: center;
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    background: #3D3D3D;
    color: white;
}

ul.pricing-list li {
    font-size: 14px;
    list-style: none;
    display: block;
    padding: 10px 35px;
    background: #F7F7F7;
    border-bottom: 1px solid #E9E9E9;
    text-align: left;
}

ul.pricing-list li.list-heading p {
    margin: 0;
}
#page-content ul.pricing-list li.list-heading h2 {
    margin: 0;
    font-size: 28px;
    color: white;
    font-weight: normal;
}

ul.pricing-list li.list-heading .plan-title {
    padding: 5px 0;
}

.pricing-tiers h2{
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.affix{
    top: 50px;
}

.modal.fade.in {
    top: 50%;
    left: 47%;
    width: 700px;
}
