 .main-content{
    width:97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

 h1 {
     border-bottom: 2px solid rgb(0, 0, 0);
     margin: 20px 0px;
     padding-bottom: 15px;
     font-weight: normal;
 }

 h2{
     font-weight: normal;
     font-size: 22px;
 }

 .table td,.table th{
     text-align: center;
     width: 16.7%;
 }

 td.col{
     width: 60px;
     vertical-align: middle;
 }

 td.col1{
     width: 16.7%;
 }

 td.col p{
     margin: 0;
 }

 .text{
     text-align: justify;
     font-size: 18px;
     line-height: 26px;
     color: #666;
 }

 .text2{
     text-align: justify;
     font-family: SimSun;
     font-size: 15px;
     line-height: 26px;
 }

 #edit,#fix{
     font-size: 14px;
 }

 #favoriteedit button ,#favoritefix button,#profileedit button,#profilefix button{
     background-color: #ffffff;
     border: 0;
     color: #0088cc;
 }

 #edit:hover,#fix:hover,#edit2:hover,#fix2:hover{
     text-decoration:underline;
 }

.deploy{
    width: 100%;
    white-space:nowrap;
    border-bottom: 2px solid #000;
}

 .deploy h1{
     font-size: 25px;
     border-bottom:0;
     padding-bottom: 0;
     margin: 5px 0;
     line-height: 25px;
 }

 #invsetor a,#seniormember a{
     position: relative;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     padding: 7px 2px;
     display: inline-block;
     width: 95px;
     margin: 0;
     font-weight: normal;
 }

 #invsetor td, #invsetor th,#seniormember td,#seniormember th{
     width: 10%;
 }

 .form-horizontal .control-label {
     text-align: left;
 }

 .form-horizontal{
     margin-left: 10%;
 }

 .input-append input{
     width: 180px;
 }

.controls .btn-primary{
    margin-left: 165px;
}

#invsetor .red,#seniormember .red{
    background-color: #ff0000;
}

 #invsetor .green,#seniormember .green{
     background-color: #9ACD32;
 }

 #invsetor .black,#seniormember .black{
     background-color: #000;
 }

 #invsetor .yellow,#seniormember .yellow{
     background-color: #ffff00;
 }

 .finance h1{
     font-size: 55px;
     margin-bottom: 30px;
     margin-top: 20px;
     font-weight: 500;
     border: 0;
     padding: 0;
 }

 .finance .h2{
     margin-bottom: 30px;
     padding-bottom: 20px;
     color: #000;
     border-bottom: 2px solid #000;
     font-size: 26px;
 }

 .finance .col2{
     font-size: 14px;
 }

 #commentform #author, #commentform #email,#commentform textarea,#comments {
     width: 99%;
 }


 .sum{
     font-weight: bold;
 }