 .main-content{
    width:97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

 h1 {
     border-bottom: 2px solid rgb(0, 0, 0);
     margin: 20px 0px;
     padding-bottom: 15px;
     font-weight: normal;
 }

 h2{
     font-weight: normal;
     font-size: 22px;
 }

 .table td,.table th{
     text-align: center;
     width: 16.7%;
 }

 #deploy{
     width: 100%;
     white-space:nowrap;
 }

 td.col{
     width: 60px;
     vertical-align: middle;
 }

 td.col1{
     width: 16.7%;
 }

 td.col p{
     margin: 0;
 }

 .text{
     font-size: 16px;
 }
 #edit,#fix{
     font-size: 14px;
 }

 #favoriteedit button ,#favoritefix button{
     background-color: #ffffff;
     border: 0;
     color: #0088cc;
 }

 #edit:hover{
     text-decoration:underline;
 }

#fix:hover{
     text-decoration:underline;
 }

