/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

p {
    margin: 0px 0px 9px 0px;
    font-size: 24px;
	font-style: italic;
    font-weight: 400;
}

b {
    font-weight: 400;
	line-height: 30px;
}

#main .main-content {
   top: -50px;
   margin-bottom: -40px;
   *top: 270px;
   _top: 250px;
   *left: -200px;
   *margin-bottom: 300px;
}

h2{
   line-height: 24px;
}


#main .main-content .main-body {
    width: 100%;
    *min-width: 950px;
}

.arrow-container2 {
    position: absolute;
    top: 0px;
    left: 56%;
    height: 70%;
    width: 34px;
	*left: 56.5%;
	_left: 57.2%;
}

.arrow-container2 .arrow {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 34px;
    height: 69px;
	background: url("bluearrowl.png") no-repeat scroll 0% 0% transparent;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/assets/bluearrowl.png");
    _background:none;
	_top: 150px;
	_width: 17px;
    _height: 35px;
}

.arrow-container3 {
    position: absolute;
    top: 50%;
    left: 56%;
    height: 60%;
    width: 34px;
	*left: 56.5%;
	_left: 57.2%;
}

.arrow-container3 .arrow {
    position: absolute;
    top: 40%;
    margin-top: -35px;
    width: 34px;
    height: 69px;
	background: url("bluearrowl.png") no-repeat scroll 0% 0% transparent;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/assets/bluearrowl.png");
    _background:none;
	_top: 120px;
	_width: 17px;
    _height: 35px;
}

 table.body-container a.mortgage-button {
    padding: 3px 25px;
	text-align: center;
	font-style: italic;
}

a.back{
   position: relative;
   height: 40px;
}
.bleft td{
   width: 33%;
}
table.body-container a.mortgage-button {
    margin-left: 20px;
}

table.body-header {
    border-bottom: 0;
    margin-bottom: 10px;
}

h1.body-header  {
    font-size: 55px;
	margin-bottom: 30px;
    margin-top: 20px;
	*padding-top: 20px;
	margin-left: -5px;
}

b.txt{
text-align: justify;font-size: 18px;line-height: 26px;color: #000;
font-weight: 600;
}
