#main .main-content {
    width: 97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

.organ .checkbox {
    padding-left: 0px;
}

h1 {
    margin: 20px 0px;
    padding-bottom: 5px;
    font-size: 38.5px;
}

.h1{
    border-bottom: 2px solid rgb(0, 0, 0);
    font-weight: normal;
}

.dl-horizontal dt{
    font-weight: normal;
}

h1 p{
    font-size: 16px;
    margin: 0;
}

.bname{
    width: 300px;
}
.content{
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
}

.controls .span2{
    margin: 0;
    width: 120px;
    padding-top: 5px;
}

dd,dt{
    line-height: 26px;
}

.back{
    margin-right: 20px;
}

.tab-content{
    width: 360px;
}

.overlay dt{
    width: 120px;
}

.overlay dd{
    margin-left: 140px;
}

.overlay dl{
    margin-bottom: 0px;
}

.or-text {
    color: #888;
    border-bottom: 2px solid #888;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

.or-text div {
    position: absolute;
    margin: 0 auto;
    color: #888;
    width: 100%;
    bottom: -10px;
}

.or-text div b {
    display: block;
    font-size: 14px;
    width: 24px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.overlay .see:hover{
    background-color:#023160;
    color: white;
}

.see{font-weight:bold;background-color:#0485b7;color:#fff;font-size:15px;border-radius:4px;padding:4px 5px;margin-left:5px}

.info-button
{
    font-weight: 400;
    color: white;
    padding: 4px 164px;
    margin-left: 0;
}

#hide table{
    width: 36%;
}

#hide .num{
    width: 72px;
}

td.right{
    padding-left: 24px;
}

.log td input {
    vertical-align: middle;
    margin: 5px;
}
.log td.left{
    width: 120px;
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width: 767px){
    .log td{
        float: left;
    }

    .log td.left{
        text-align: left;
    }
    .tab-content {
        width: 100%;
    }
    .info-button {
        padding: 4px 100px;
    }
    body {
        padding: 10px 0;
    }
    #main{
        padding: 0;
    }
    #main .main-content{
        padding: 10px;
        width: 93%!important;
        margin: 0 auto;
    }
    .beta{
        padding: 0;
        margin: 0;
    }
    [class*="span"] {
        min-height: 0!important;
    }
    #mc-embedded-subscribe,#log,#create2{
        margin-right: 50px;
    }
}

.input-large {
    width: 205px;
}

h2{
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 26px;
    line-height: 40px;
    font-weight: normal;
}

.body-content{
    margin-bottom: 50px;
}

.text{
    font-weight: bold;
    color: rgb(255, 126, 40);
    margin-right: 10px;
}
.res{
    margin-left: 10px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0px;
}
#other{
    margin-bottom: 60px;
}


.password h1{
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 26px;
    line-height: 40px;
    font-weight: normal;
}

.password .btn{
    margin-left: 165px;
}

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0.3;
    z-index: 999;
}

.qrcode-panel {
    width: 166px;
    background-color: #e1e2e6;
    text-align: center;
    color: #717375;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}