#main .main-content {
    width: 97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

h1 {
    margin: 20px 0px;
    padding-bottom: 5px;
    font-size: 38.5px;
}

.h1{
    border-bottom: 2px solid rgb(0, 0, 0);
}

h1 p{
    font-size: 16px;
    margin: 0;
}

.main-footer{
    display: none;
}
.bname{
    width: 300px;
}
.content{
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
}

.controls .span2{
    margin: 0;
    width: 120px;
    padding-top: 5px;
}

.res{
    margin-right: 65px;
}
