#main .main-content {
    width: 97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

h1 {
    margin: 20px 0px;
    padding-bottom: 5px;
    font-size: 38.5px;
}

.h1{
    border-bottom: 2px solid rgb(0, 0, 0);
}

h1 p{
    font-size: 16px;
    margin: 0;
}

.main-footer{
    display: none;
}
.bname{
    width: 300px;
}
.content{
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
}

.controls .span2{
    margin: 0;
    width: 120px;
    padding-top: 5px;
}

dd,dt{
    line-height: 26px;
}

.back{
    margin-right: 20px;
}

.tab-content{
    width: 320px;
}

.overlay dt{
    width: 80px;
}

.overlay dd{
    margin-left: 100px;
}

.overlay dl{
    margin-bottom: 0px;
}

.or-text {
    color: #888;
    border-bottom: 2px solid #888;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

.or-text div {
    position: absolute;
    margin: 0 auto;
    color: #888;
    width: 100%;
    bottom: -10px;
}

.or-text div b {
    display: block;
    font-size: 14px;
    width: 24px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.overlay .see:hover{
    background-color:#023160;
    color: white;
}

.see{font-weight:bold;background-color:#0485b7;color:#fff;font-size:15px;border-radius:4px;padding:4px 5px;margin-left:5px}

.info-button
{
    font-weight: 400;
    color: white;
    padding: 4px 144px;
    margin-left: 0;
}
