div#slider-container {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: rgb(195, 228, 236);
}

h1#s-title {
    font-family: "Oswald","arial narrow",sans-serif;
    position: absolute;
    top: 4%;
    left: 3%;
    font-size: 328%;
    line-height: 1.3em;
    font-weight: bolder; 
    padding: 0px;
    margin: 0px;
}

div#slider-container button:hover {
    border-color: rgb(38, 89, 38);
}

div#slider-container h2#s-subtitle {
    font-family: arial,helvetica,sans-serif;
    font-weight: normal;
    position: absolute;
    top: 59%;
    left: 35px;
    width: 26%;
    font-size: 0.9375em;
    line-height: 24px;
}

div#slider-container h2#s-subtitle button {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.9em;
    height: 38px;
    font-family: georgia,serif;
    font-style: italic;
}

div#slider-container h2#s-subtitle b {
    color: rgb(255, 102, 0);
}

.footer {
    height: 40px;
    color: rgb(214, 232, 245);
    font: 11px Microsoft Yahei,Geneva,sans-serif;
    text-align: left;
    width: 100%;
    margin: 0px auto;
    padding: 5px 0px 0px;
}

.footer p {
    color: rgb(129, 127, 126);
    font: 12px Microsoft Yahei,Geneva,sans-serif;
    margin-top: -2px;
    text-align:center;
}

div#slider-container img#s-glow2{
    position: absolute;
    left: 38.5%;
    top: 6.8%;
    width:54.7%;
}

div#slider-container img#s-glow{
    position: absolute;
    width: 30.3%;
}
