.beta{
    padding: 10px;
}

.beta h4{
    line-height: 32px;
}

.main-footer h4{
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.main-footer a{
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.main-footer p {
    color: rgb(129, 127, 126);
    font: 100 12px Microsoft Yahei,Geneva,sans-serif;
    margin-left: 0px;
}

.main-footer{
    margin-bottom: 20px;
}

#main {
    padding: 0px 10px;
    margin: 0px auto;
    max-width: 1170px;
}

#main .main-footer h4 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(51, 51, 51);
}