@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#2e597b url(main_bg.jpg) top repeat-x; }
html { padding:0; margin:0; }

form.button_to div input {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Hiragino Sans GB W3;
   text-decoration: none;
   vertical-align: middle;
   }
form.button_to div input:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
form.button_to div input:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
/* main */
.main { width:100%; padding:0; margin:0 auto; }
.resize { width:966px; margin:0 auto; }
/********** header **********/
.header { }
.block_header { margin:0 auto; width:966px; }
/* logo + userlogin bar */
/*.logo_bar{margin-top:30px;padding:10px 0px 0px 0px;height:80px;width:auto;} */
/* logo */
.logoimage { float:left; padding:0; margin:30px 0 5px 0; width:240px; height:72px;}

/*login & register*/
.register {float:right;padding:10px 10px;margin:74px 0 0 0;}
.register a {text-decoration:none;font:normal 15px "Hiragino Sans GB W3";color:#FFF;}
.register a:hover{color:#FF9933;text-decoration:underline;}
.register a:active{color:#FF9933;text-decoration:underline;}
.login {float:right;padding:10px 0px;margin:74px 0 0 0;}
.login a {text-decoration:none;font:normal 15px "Hiragino Sans GB W3";color:#FFF;}
.login a:hover{color:#FF9933;text-decoration:underline;}
.login a:active{color:#FF9933;text-decoration:underline;}
.welcomeuser {float:right;padding:0px 20px 10px 10px;margin:64px 0 0 200px;height:20px;}
.welcomeuser p {font:normal 15px "Hiragino Sans GB W3";color:#FF9933;}
.welcomeuser a{color:#FF9933;}

/* menu */	
.menu { padding:0; margin:0; width:966px; height:53px; background: url(bg_menu.gif) top repeat-x; }
.menu ul { padding:0; margin:0 30px 0 0; list-style:none; border:0; float: left; }
.menu ul li { float:left;height:53px; margin:0; padding:0; border-right:1px solid #303030; border-left:1px solid #0a0a0a; }
.menu ul li a { float:left; margin:0 -1px 0 0; padding:17px 47px; color:#fff; font:normal 16px Hiragino Sans GB W3, "Times New Roman", Times, serif; text-decoration:none; }
.menu ul li a:hover { background: url(hover.png) left repeat-x; }
.menu ul li a.active { background: url(hover.png) left repeat-x; }
/********** slider **********/
.slider { margin:0 auto; padding:0; width:966px;height:348px; }
/*.slider23 { margin:0px 0px 0px 0px ; padding:0; } */
.slice12 { margin:0 auto; width:966px; padding:0; background:url(bg_simple2.png) top no-repeat; height:93px; }
/*.slice13 { margin:-21px 0px 0 149px; width:966px; padding:0; background:url(bg_simple2.png) top no-repeat; height:93px; }*/
/* .slice14 { margin:-21px 0px 0 157px;*margin:-18px 0px 0 146px; width:966px; padding:0; background:url(bg_simple2.png) top no-repeat; height:93px; } */
.slice12 h2 { font: normal 40px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1d1c; padding:20px 40px; margin:0; }
/* .slice13 h2 { font: normal 40px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1d1c; padding:20px 40px; margin:0; } */
/* .slice14 h2 { font: normal 40px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1d1c; padding:20px 40px; margin:0; } */
.slider2 { margin:0 auto ; padding:0; }

/*simple text*/
.simple { width:966px; margin:0 auto; padding:0; }
.simple .text { font:normal 12px Hiragino Sans GB W3, Helvetica, sans-serif; color:#858585; width:200px; float: right; margin:10px 0; padding:0; }
.slider div.slice1 { margin:0 auto; width:966px; padding:0; }
.slider div.slice1 div.slice2 { margin:0 auto; padding:1px; }
.slider div div div { postion:relative;margin:0 auto; padding:0; width:966px; height:348px; background:url(bg_simple.png) top no-repeat; }
.slider div div div h2 { width:300px;  font:normal 40px Hiragino Sans GB W6, "Times New Roman", Times, serif; color:#1c1d1c; padding:30px 0 0 40px; margin:0; line-height:1.2em; }
.slider div div div p { width:300px;  font:normal 16px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#262626; margin:0; padding:10px 0 0 40px; line-height:1.8em; }
.slider div div div p.img { width:590px; float:right; padding:35px 0 0 0; margin:0; }
img{border:0px}
/********** block index **********/
.body { padding:0; margin:0; }
.body h2 { font:normal 24px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#373737; padding:10px 5px; margin:0; }
.body h3 { font:normal 18px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#373737; padding:10px 5px; }
.body a { font:normal 11px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#2e597b; text-decoration:none; }
.body p { font:normal 14px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1C1C1C; line-height:1.8em; padding:5px; margin:0; }
.body strong { color:#656565; }
.body span { font:bold 11px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#baa271; }
.body em { font:italic 11px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#8d8d8d; line-height:1.8em; padding:10px 0 0 10px; }
.body_resize { width:966px; margin:0 auto; padding:0px 0px 30px 0px; background:#fff; border-bottom:5px solid #0e0e0e; }
.body_resize_login { width:966px; margin:0 auto; padding:0px 0px 30px 0px; background-image:url(login_background.jpg); border-bottom:5px solid #0e0e0e; }
/********************topi***************/
.topi { width:946px; margin:0 auto; padding:0 0 0 20px; background:#f2f3eb; border-bottom:1px solid #e8e5dc; }
.topi .blogi { width:300px; margin:5px 5px; padding:0; float:left; }
.topi h2 { border:0; font:normal 26px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1c1c; padding:18px 0 18px 70px; margin:10px 0 0 0; }
.topi p { font:normal 14px "Times New Roman", Times, serif; color:#1C1C1C; padding: 5px 2px; margin:0; line-height:1.8em; }
.topi a { text-decoration:underline; font:normal 11px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#35678f; }
.topi h2.what { background-image:url(cssimage.png);background-position: 0px -0px; background-repeat:no-repeat;}
.topi h2.what a {text-decoration:none;font:normal 26px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1c1c; padding:18px 0 18px 0px; margin:10px 0 0 0;}
.topi h2.Our { background-image:url(cssimage.png);background-position: 0px -80px; background-repeat:no-repeat;}
.topi h2.work { background-image:url(cssimage.png);background-position: 0px -160px; background-repeat:no-repeat;}
.topi h2.work a {text-decoration:none;font:normal 26px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#1c1c1c; padding:18px 0 18px 0px; margin:10px 0 0 0;}

/*******************Welcome*****************/
.Welcome { width:558px; margin:5px 15px 5px 5px; float:left; padding:5px 10px 5px 0px; }
.Welcome ul { width:250px; float: left; margin:5px 3px; padding:0; list-style:none; }
.Welcome li { background-image:url(cssimage.png);background-position: 0px -314px; background-repeat:no-repeat; padding:5px 20px; margin:0; font: normal 11px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#5c5c5c; }
.Welcome .serv { width:250px; float:left; margin:5px 2px; padding:0; }
.Welcome .serv img { margin:10px 5px; float:left; padding:0; }
/*News */
.HomeNews { width:275px; float: left; margin:5px 15px; padding:5px 10px; }
.HomeNews ul { list-style:none; margin:0; padding:0; }
.HomeNews li { background:url(Sub_ul_li.gif) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px solid #eaeaea; }
.HomeNews ul li a { font: normal 13px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.HomeNews ul li a:hover { color:#2e5a7c; text-decoration:underline; }

.StrategyNews { width:180px; float: left; margin:5px 15px; padding:5px 10px; }
.StrategyNews h2 {padding:10px 5px 10px 15px}
.StrategyNews a {font: normal 16px Hiragino Sans GB W3;}
.StrategyNews ul { list-style:none; margin:0; padding:0; }
.StrategyNews li { background:url(Sub_ul_li.gif) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px solid #eaeaea; }
.StrategyNews ul li a { font: normal 14px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.StrategyNews ul li a:hover { color:#2e5a7c; text-decoration:underline; }

/*
.News { width:150px; float: left; margin:5px 15px; padding:5px 10px; }
.News ul { list-style:none; margin:0; padding:0; }
.News li { background:url(Sub_ul_li.gif) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px solid #eaeaea; }
.News ul li a { font: normal 13px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.News ul li a:hover { color:#2e5a7c; text-decoration:underline; }
*/
/********** contact form **********/
/*
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#222222; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:5px 0; font:bold 12px Hiragino Sans GB W3, "Times New Roman", Times, serif; color:#656565; text-transform:capitalize; }
#contactform label span { font:normal 10px Hiragino Sans GB W3, Helvetica, sans-serif; }
#contactform input.text { width:440px; border:1px solid #dcdcdc; margin:5px 0; padding:5px 2px; height:16px; background:#f5f5f5; }
#contactform textarea { width:440px; border:1px solid #dcdcdc; margin:10px 0; padding:2px; background:#f5f5f5; }
#contactform li.buttons input { padding:3px 0; margin:0; border:0; color:#FFF; }
p.response { text-align:center; color:#2c2c2c; font: bold 11px Hiragino Sans GB W3, Helvetica, sans-serif; line-height:1.8em; width:auto; }
*/
/********** footer **********/
.footer { padding:30px 0; margin:0 auto; }
.footer .resize p.footer_logo { float:left; padding:0; margin:0 10px;width:200px;height:60px; }
.footer .resize div { width:966px; color:#d6e8f5; font:normal 11px Hiragino Sans GB W3, Geneva, sans-serif; text-align:left; margin:0 auto; }
.footer .resize div p { padding:0; margin:0; float:right; }
.footer .resize div img { margin:0; padding:0; }
.footer .resize div a { color:#d6e8f5; font:normal 11px Tahoma, Geneva, sans-serif; padding:0 1px; }
.text_left { text-align:right; }
p.clr,
.clr { clear:both; padding:0; margin:0; background:none; }
li.bg,
.bg { clear:both; border-top:1px solid #eaeaea; padding:0; margin:5px 0; background:none; }


#slider { margin:0; padding:0; list-style:none; }
#slider ul,
#slider li { margin:0; padding:0; list-style:none; }

/*
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/
#slider li { width:966px; height:348px; overflow:hidden; }
p#controls { margin:0; position:relative; }
#prevBtn,
#nextBtn { display:block; margin:0; overflow:hidden; width:13px; height:28px; position:absolute; left: -13px; top:-210px; }
#nextBtn { left:966px; }
#prevBtn a { display:block; width:13px; height:28px; background-image:url(cssimage.png);background-position: 0px -240px; background-repeat:no-repeat;}
#nextBtn a { display:block; width:13px; height:28px; background-image:url(cssimage.png);background-position: 0px -278px; background-repeat:no-repeat; }

/* LOGIN PAGE */
.loginpage{padding:15px 0 0 250px;width:400px;}
/* .loginpage fieldset{background:whiteSmoke;} */
.loginpage legend{font:normal 18px Hiragino Sans GB W3;}
.loginpage lable{font:normal 18px Hiragino Sans GB W3;}
.loginpage div label{font:bold 14px Hiragino Sans GB W3;float:left;}

.name-input{width: 60%;height:24px;font-size: 15px;}
.passwd-input{width:60%;height:24px;font-size:15px;}
.frame{width:720px;float:left;overflow:hidden}
.frame h1{font:30px Hiragino Sans GB W6;padding:20px 10px 10px 40px}
.frame a {font:12px Hiragino Sans GB W3;}
.frame p a {font:13px Hiragino Sans GB W3;border-bottom:2px solid #F60;}
.frame h2 a {font:14px Hiragino Sans GB W3;}

.tablepicframe{height:160px;float:left;margin:0px 5px 0px 5px;padding:0px 10px 0px 10px}
.tabledata{padding-top:15px;}
.tableformat{ margin-top:18px;border:1px solid #c9e4f5;cellpadding:20px; font: normal 11px Hiragino Sans GB W3, Helvetica, sans-serif; border-collapse:collapse;}
.tableformat td,th {padding:5px;border:1px solid #c9e4f5 ;}
.lt{width:120px;height:180px;}
.tablepic{padding-top:2px;padding-right:10px;}
.tablepic h3{margin-top:10px;margin-bottom:5px;padding:5px 5px 0px 5px;font-size:small;font-family:Hiragino Sans GB W3;}
.tablepic h3 a{font:15px Hiragino Sans GB W3;}

/*
.anreturntable{width:720px;margin:0px 5px 5px 5px;padding:0px;}
.tabledetailformat{ height:190px;border:1px solid #c9e4f5;font-size:small; border-collapse:collapse;}
.tabledetailformat td{padding:5px;border:1px solid #c9e4f5 ;}
.tabledetailformat th{background-color:#eaeaea;padding:5px;}
*/
/*.td{background-color:#eaeaea;}*/

/*
.traderecorddiv{margin:0px;}
.traderecordtable{font-size:small;margin:5px;border:1px solid #c9e4f5;border-collapse:collapse;}
.traderecordtable td{border:1px solid #c9e4f5;}
.traderecordtable td,th{padding:5px;}

.performancetable{margin-left:5px; margin-top:5px;border:1px solid #c9e4f5;border-collapse:collapse;font:13px "Hiragino Sans GB W3"}
.performancetable td{border:1px solid #c9e4f5;padding-top:5px;padding-bottom:5px;padding-right:155px;padding-left:5px;}
.nthtr {background-color:#eaeaea;}
.strategybrief{font-size:small;width:500px;margin:0px;padding:5px;}
.strategybrieftable{background-color:#fbfbfb;border:1px solid #c9e4f5;width:530px;height:200px;border-collapse:collapse;cellpadding:0;}
.strategybrieftable td{padding:5px;border:1px solid #c9e4f5;text-align:center;}
.bigtablecolor{background:#eaeaea;height:30px;padding-left:20px;}
.title{width:500px;height:40px;font-size:10; margin-top:1px;}
*/

#rtpricetable {margin-top:5px;}
.rttableformat {margin-top:5px;padding:5px;border-collapse:collapse;border-spacing:0;}
.rttableformat th{padding:5px; font: normal 12px Hiragino Sans GB W3, Helvetica, sans-serif; }
.rttableformat td{padding:5px; font: normal 12px Hiragino Sans GB W3, Helvetica, sans-serif;border:1px solid #c9e4f5; text-align:center;}

.ironbars {height:50px;width:505px;}
.ironbars #norisktitle {float: left;height:45px; width:300px;}
.ironbars #norisktitle h3 {padding:0;}
.ironbars #noriskluntan {float: right; height:45px;width:200px;}
.ironbars #noriskluntan a {float:right; padding-top:25px;font: normal 14px "Hiragino Sans GB W3";text-decoration: underline;}

.buttonbars {height:40px;width:505px;}
#tradefeebutton{float:left;}
#lendatefeebutton{float:left;}
#marginbutton{float:left;}
#annualreturnbutton{float:left;}

.luntan_format {margin-top:20px;}

.remarkstitle {height:20px;width:500px;margin-top:10px;margin-bottom:10px;}
.remarkstitle a {font:normal 18px Hiragino Sans GB W3;color:rgb(28,28,28);}

.newremark {width:500px;}
.remarkslist {width:500px;}
.remarkslist p {font:normal 15px Hiragino Sans GB W3;}
.remarkslist h3 {padding:0;}


.qtipClose{ display:block;font-weight:800; text-align:right; text-decoration:underline; cursor:pointer;}


a.btnB, a.btnBb {
float: left;
display: block;
background-color: #369;
background-repeat: no-repeat;
color: white;
font-family: Tahoma,verdana,sans-serif;
text-decoration: none !important;
line-height: normal !important;
}
a.btnBb {
margin-right: 10px;
padding: 6px;
}
a {
color: #369;
text-decoration: none;
outline: none;
}
a.btnBb span span span {
padding: 3px 16px 4px;
color: white;
}

.wrapper{
	width:960px;
	margin:20px auto;
	min-height:550px;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a.back{
	color:#777;
	position:fixed;
	top:5px;
	right:10px;
	text-decoration:none;
}
/* Form Style */
.form_wrapper{
	background:#fff;
	border:0px solid #ddd;
	margin:0 auto;
	padding:0;
	width:350px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.form_wrapper h3{
    margin:0px 0px -10px 0px;
	padding:20px 30px 20px 30px;
	background-color:#444;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.login{
	width:350px;
    margin:50px 0 20px 10px;
	padding:0px 10px 0px 10px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 20px;
	margin:10px 0px 0px 0px;
	font:normal 19px Hiragino Sans GB W3, "Times New Roman", Times, serif;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 20px 20px;
	padding: 9px;
	display:block;
	font-size:25px;
	width:170%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper .bottom{
	background-color:#444;
	border-top:1px solid #ddd;
	margin:-10px 0px 23px 0px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:0px 10px 10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
	color:#000;
}
.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
/*注册*/
.form_wrapper1{
	background:#fff;
	border:0px solid #ddd;
	margin:0 auto;
	width:550px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.form_wrapper1 h3{
    margin:0px 0px 0px 0px;
	padding:20px 30px 20px 30px;
	background-color:#444;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper1 form{
	display:none;
	background:#fff;
}
.form_wrapper1 .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.register1{
	width:550px;
	margin:150px -110px 20px 0px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper1 a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper1 a:hover{
	color:#000;
}
.form_wrapper1 label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
	font:normal 19px Hiragino Sans GB W3, "Times New Roman", Times, serif;
}
.form_wrapper1 input[type="text"],
.form_wrapper1 input[type="email"],
.form_wrapper1 input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 20px 30px;
	padding: 9px;
	display:block;
	font-size:25px;
	width:76%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper1 input[type="text"]:focus,
.form_wrapper1 input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper1 .bottom{
	background-color:#444;
	border-top:1px solid #ddd;
	padding:0 0 0 0;
	margin:10px 0px 23px 0px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper1 .bottom a{
	display:block;
	clear:both;
	padding:0px 10px 10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper1 a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper1 a.forgot:hover{
	color:#000;
}
.form_wrapper1 div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper1 div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper1 span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper1 input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper1 input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

