.beta{
    padding: 14px;
    position: relative;
}

.beta h4{
    font-size: 16px;
    font-weight:normal;
    line-height: 32px;
    margin-top: 12px;
}

.main-footer a{
    font-size: 12px;
    font-family: georgia;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(153, 153, 153);
    margin-bottom: 3px;
}
.main-footer label{
    font-size: 12px;
    font-family: georgia;
    display: block;
    padding: 5px 0px;
    margin-bottom: 3px;
    font-weight: normal;
}

input:focus:required:invalid {
    border-color: rgba(82, 168, 236, 0.8)!important;
    color: rgb(51, 51, 51)!important;
}

input:focus:required:invalid:focus{
    border-color: rgba(82, 168, 236);
    box-shadow: 0px 0px 6px rgb(82, 168, 236);
}

.main-footer p {
    color: rgb(129, 127, 126);
    font: 100 12px Microsoft Yahei,Geneva,sans-serif;
    margin-left: 0px;
    font-size: 11px;
}

#main {
    padding: 0px 10px 100px;
    margin: 0px auto;
    max-width: 1170px;
}

.main-footer h4 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(51, 51, 51);
    padding-bottom: 7px;
    border-bottom: 1px solid #000000;
    margin: 30px 0 0 0;
}

body {
    font-family: Microsoft YaHei;
    line-height: 18px;
    color: rgb(51, 51, 51);
}

.rounder {
    margin-top: 29px;
    height: auto;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    text-align: right;
    font-family: arial;
}

.rounder:hover{
    background:#fff;
    border-color:#ccc;
    cursor:pointer;
    border-radius:4px;
}
.beta .phone{
    color: #0088cc;
    font-size: 14px;
}


#xoverlay {
    position: fixed;
    margin-bottom: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    z-index: 1000;
    background-color: #0485B7;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 15px 0 10px 0;
    opacity: 0.95;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: none;
}

a.btns {
    background: #FD8338;
    padding: 5px 14px;
    border: none;
    color: #fff!important;
    font-size: 12px;
    border-radius: 4px;
    margin-top: -4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.closes {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
}

.closes:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

div#log div#all-topics {
    position: absolute;
    right: 40px;
}


div#link-box {
    position: absolute;
    right: 145px;
}

div#log .topics-hover {
    position: absolute;
    top: 23px;
    height: 4px;
    width: 100px;
    right: 0;
    background: white;
    z-index: 5001;
    display: none;
}

#all-topics-hover {
    position: absolute;
    background: white;
    display: none;
    text-align: left;
    top: 23px;
    padding: 8px 10px 5px 10px;
    right: -1px;
    z-index: 5000;
    width: 200px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#all-topics-hover a {
    display: block;
    padding: 4px 4px 4px 5px;
    color: #3386C6!important;
}

#all-topics-hover img {
    margin-right: 8px;
    margin-bottom: 3px;
    width: 14px;
    height: 14px;
}