@charset utf-8;

body {
    padding:0;
    width:100%;
    height:100%;
    background:#fff;
}

h2 {
    font-weight:400;
}
/************ FRAMEWORK DESIGN  **************/
/* PAGE BOTTOM DECORATION */
.pagedingbu {
    margin:0 0 20px;
    height:10px;
    background:url(page_dingbu.gif) repeat-x 0 0;
}

.footer {
    margin:0 auto;
    padding:5px 0 0;
    width:900px;
    height:40px;
    color:#d6e8f5;
    text-align:left;
    font:normal 11px Microsoft Yahei, Geneva, sans-serif;
}

.footer p {
    float:right;
    margin-top:-2px;
    padding:0 300px 0 220px;
    color:#817f7e;
    font:normal 12px Microsoft Yahei, Geneva, sans-serif;
}

.footer a {
    padding:0 1px;
    color:#d6e8f5;
    font:normal 11px Tahoma, Geneva, sans-serif;
}


/* LEFTFRAME */
.leftframe {
    float:left;
    margin-right:30px;
    width:160px;
    height:auto;
    background:#fff;
}

.pagedomain {
    margin-top:25px;
    width:157px;
    height:50px;
    background:url(pagedomain.gif) no-repeat;
}

.pagedomain h1 {
    padding-top:10px;
    color:#FFF;
    text-align:center;
    font:normal 20px Microsoft Yahei, "Times New Roman", Times, serif;

}

.subpagedomain {
    float:left;
    margin:20px 0 0 15px;
    width:200px;
    height:200px;
}

.subpagedomain li {
    margin:0 0 20px;
    width:221px;
    height:26px;
    background:url(jingqi.gif) left no-repeat;
}

/* CENTERFRAME */

.centerframe {
    float:left;
    overflow:hidden;
    margin-top:30px;
    padding:10px;
    width:500px;
}

.centerframe a {
    color:#f4ab19;
}

/* RIGHTFRAME */
.rightframe {
    float:right;
    padding:50px 0 0 5px;
    width:180px;
}

.rightframe h3 {
    margin-top:20px;
    margin-bottom:8px;
    color:#c87171;
    font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
}

.rightframe p {
    text-indent:20px;
    font:normal 13px Microsoft Yahei, "Times New Roman", Times, serif;
    line-height:140%;
}

.rightframe ul a {
    padding:0 0 0 20px;
    color:#777878;
    font:normal 13px Microsoft Yahei;
}

/* CENTERRIGHTFRAME */

.centerrightframe {
    float:left;
    overflow:hidden;
    margin-top:30px;
    width:650px;
}

.centerrightframe a {
    margin:5px;
    color:#f4ab19;
    font:normal 15px Microsoft Yahei, "Times New Roman", Times, serif;
}

/* COMMON PART */
.centerrightframe h2,.centerframe h2 {
    margin-top:20px;
    margin-bottom:20px;
    color:#bd2e25;
    font:bold 20px Microsoft Yahei, "Times New Roman", Times, serif;
}

.centerrightframe h3,.centerframe h3 {
    margin-bottom:8px;
    color:#c87171;
    font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
}

.centerrightframe p,.centerframe p {
    font:normal 15px Microsoft Yahei, "Times New Roman", Times, serif;
}

.rightframe ul,#strategy_config_steps ul,.subpagedomain ul,#slider,#slider ul,#slider li,#aboutautotrade ul {
    margin:0;
    padding:0;
    list-style:none;
}

/**********************************************************/

/************  HOMEPAGE DESIGN  **************/
/* NAVIGATION */
.logo_welcome_nav {
    margin:0 auto;
    padding:0;
    width:100%;
    background-color:#fff;
}

.logoimage {
    float:left;
    margin:0 0 5px 30px;
    padding:0;
    width:200px;
    height:60px;
}

.welcomeuser {
    float:right;
    margin-top:30px;
    padding-right:5px;
    width:200px;
    height:30px;
}

.welcomeuser img {
    float:right;
    padding-bottom:5px;
}

.login p {
    color:#454545;
    font:normal 12px "Microsoft Yahei";
}

.weiboblock {
    float:right;
    margin:3px 10px 0 0;
}

.menu {
    margin:0;
    padding:0;
    width:900px;
    height:54px;
    background-color:#303030;
}

.menu li {
    float:left;
    height:54px;
    list-style:none;
}

.menu li.last {
    width:200px;
    height:54px;
    background-color:#303030;
}

.menu li a:link,.menu li a:visited {
    display:block;
    margin:0 -1px 0 0;
    padding:17px 47px;
    border-right:1px solid #303030;
    background-color:#303030;
    color:#fff;
    text-decoration:none;
    font:normal 16px Microsoft Yahei, "Times New Roman", Times, serif;
}

.menu li ul {
    position:absolute;
    visibility:hidden;
    margin:-1px 0 0;
    padding:0;
    border-top:0 solid #303030;
}

.menu li ul li {
    display:inline;
    float:none;
}

.menu li ul li a:link,.menu li ul li a:visited {
    width:auto;
    background-color:#303030;
}

.menuMain {
    z-index:99;
    width:900px;
    height:35px;
    background:#666;
}

.menuMain ul {
    margin:0;
    padding:2px 0 2px 68px;
    width:832px;
    list-style:none;
}

.menuMain ul:after {
    display:block;
    clear:both;
    height:0;
    content:"";
}

.menuMain li {
    z-index:99;
    float:left;
    margin-right:1px;
    width:130px;
}

.menuMain a {
    float:left;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    font-family:Microsoft Yahei;
}

.menuMain a span {
    float:left;
    cursor:pointer;
}

.menuMain a span span span {
    padding:4px 15px;
}

.menuMain li.active a {
    background:#d72721 url(zuoshang.gif) no-repeat left top;
    color:#000;
}

.menuMain li.active a span {
    background:url(youshangjiao.gif) no-repeat right top;
}

.menuMain li.active a span span {
    background:url(zuoxiajiao.gif) no-repeat left bottom;
}

.menuMain li.active A span span span {
    background:url(youxiajiao.gif) no-repeat right bottom;
}

.menuMain ul li {
    position:relative;
    z-index:99;
    height:1%;
}

.menuMain ul li div.level {
    position:absolute;
    top:26px;
    left:0;
    z-index:999;
    display:none;
    overflow:hidden;
    width:134px;
    background:#999 url(head.gif) no-repeat;
}

.menuMain ul li:hover div.level,.menuMain ul li.hover div.level {
    z-index:999;
    display:block;
}

.menuMain ul li div.level ul {
    z-index:999;
    overflow:hidden;
    padding:6px 0;
    width:134px;
}

.menuMain ul li div.level ul li {
    z-index:999;
    float:left;
    width:134px;
}

.menuMain ul li:hover div.level ul li a,.menuMain ul li.hover div.level ul li a,.menuMain div.level ul li a {
    position:relative;
    z-index:999;
    padding:3px 18px;
    width:134px;
    border-top:1px solid #878787;
    color:#fff;
    text-align:left;
    font-size:12px;
}

/* SLIDER SET SHOW  */
.slider_set {
    margin:0 auto;
    padding:0;
    width:900px;
    height:380px;
}

#prevBtn,
#nextBtn { position:absolute; top:-235px; left: -28px; display:block; overflow:hidden; margin:0; width:16px; height:33px; }
#nextBtn { top:-234px; left:880px;}
#prevBtn a { display:block;margin-left:-1px; width:24px; height:33px; background-image:url(jiantou_left.gif); background-repeat:no-repeat;}
#nextBtn a { display:block;margin-left:1px; width:20px; height:33px; background-image:url(jiantou_right.gif); background-repeat:no-repeat; }


.slice_background {
    float:left;
    margin:0 auto;
    padding:0;
    width:861px;
    background:url(line_dise.gif) repeat-x;
}

#banner3 {
    float:left;
    margin:70px 0 0 42px;
    width:260px;
    height:133px;
    background:url(banner_text3.jpg) no-repeat;
}

#banner2 {
    float:left;
    margin:70px 0 0 45px;
    width:260px;
    height:133px;
    background:url(banner_text2.jpg) no-repeat;
}

#banner1 {
    float:left;
    margin:70px 0 0 40px;
    width:240px;
    height:133px;
    background:url(banner_text1.jpg) no-repeat;
}

#banner3 p,#banner2 p,#banner1 p{
    float:left;
    padding:150px 0 0 8px;
    color:#696969;
    ont:normal 16px Microsoft Yahei, "Times New Roman", Times, serif;

}


.homepage_slide_img{
    float:left;
    margin:0 0 0 40px;
    padding:40px 0 0;
}

p.clr,.clr {
    clear:both;
    margin:0;
    padding:0;
    background:none;
}

li.bg,.bg {
    clear:both;
    margin:5px 0;
    padding:0;
    border-top:1px solid #eaeaea;
    background:none;
}

p#controls {
    position:relative;
    margin:0;
}

#slider li {
    overflow:hidden;
    width:857px;
    height:380px;
}

/* QUICKLINK SET & STRATEGYSHOW SET*/
.quicklink_strategyshow{
    margin-top:20px;
    width:890px;
    height: 650px;
}
.quicklink_set{
    float:left;
    margin:0px;
    width: 600px;
    height:640px;
}

.quicklink_instance{
    float:left;
    margin:10px;
    width:280px;
    height:130px;
}

.qs_image{
    width:85px;
    height: 100px;
}

.qs_content{
    float:right;
    margin:0px;
    width: 155px;
    height:120px;
}

.qs_content h2{
    color:red;
    font:bold 18px Microsoft Yahei;

}

.qs_content a{
    color:#000000;
    text-decoration: none;
}
.qs_content p{
    margin-top:5px;
    font:normal 13px Microsoft Yahei;
    line-height: 130%;

}

.strategy_status_set{
    float:right;
    width:280px;
    height:640px;
}
.strategy_status_set h3{
    float:left;
    margin-top:15px;
    width:160px;
    color:#ff0000;
    font:bold 16px Microsoft Yahei;
}

.strategy_status_set p{
    float:left;
    margin-top:5px;
    width:160px;
    color:#808080;
    font:normal 12px Microsoft Yahei;
}

.strategy_set_left_decoration{
    float:left;
}
.strategy_set_right_decoration{
    float:right;
}

.strategy_set_title_module{
    float:right;
    margin-top:14px;
    width:150px;
    height:60px;
    background:url(strategy_set_top_decoration.gif) no-repeat;

}

.strategy_set_title_module h2{
    margin:20px 0 0 40px;
    color:white;
    font:normal 20px Microsoft Yahei;
}

.strategy_status_module{
    float:right;
    width:230px;
}

.strategy_status_module p{
    width:120px;
}

.strategy_status_module a{
    width:100px;
    color:#000000;
    font:normal 14px Microsoft Yahei;
}

.strategy_status_instance{
    margin-top:10px;
    margin-bottom:10px;
    height:90px;
}
.strategy_graph_display {
    float:right;
    width:100px;
    height:60px;
}
.strategy_text_display{
    float:left;
    width:130px;
}


/******************** NORISK STRATEGY MANAGEMENT *********************/
/* firstpage */

.frame_norisk {
    float:left;
    width:630px;
    height:auto;
}

.frame_norisk a {
    color:#959995;
    font:11px Microsoft Yahei;
}

.frame_norisk p a {
    border-bottom:2px solid #F60;
    font:13px Microsoft Yahei;
}

.frame_norisk h2 a {
    font:14px Microsoft Yahei;
}

#norisk_leftline {
    float:left;
    margin-top:25px;
    width:10px;
    height:690px;
    background:url(leftline.gif) no-repeat;
}

#norisk_rightline {
    float:right;
    margin-top:5px;
    width:10px;
    height:690px;
    background:url(rightline.gif) no-repeat;
}

#showintro {
    height:300px;
    background:url(jieshao_wuzi.gif) no-repeat;
}

#showintro p {
    margin-top:15px;
    color:#7a7a7a;
    font:15px Microsoft Yahei;
}

.strategyRTtitle {
    float:left;
    width:600px;
    height:50px;
}

#strategyHistorytitle {
    float:left;
    margin-top:30px;
    width:600px;
    height:30px;
}

#strategyHistorytitle h2.wenzi {
    padding-left:30px;
    width:150px;
    color:#b04747;
    font:normal 18px Microsoft Yahei, Helvetica, sans-serif;
}

.frame_norisk_comment {
    float:right;
    margin-top:30px;
    width:250px;
}

#title-top {
    margin-top:30px;
    width:110px;
    height:34px;
    background:#fff url(dingyue_shiyong.gif) no-repeat left top;
}

#title-top ul {
    padding:8px 4px 0;
    width:110px;
    height:20px;
    list-style:none;
}

#title-top ul li {
    float:left;
    margin-top:0;
    padding:5px 0 0 3px;
    width:40px;
    height:20px;
}

#title-top a {
    color:#fff;
    text-decoration:none;
    font-size:13px;
}

#title-top a :hover {
    background:#red;
}

#title-top a span span span {
    color:#fff;
}

#title-top1 {
    width:220px;
    height:60px;
    background:#fff url(right_hecheng.gif) no-repeat left top;
}

#title-top1 .top1left {
    float:left;
    padding:38px 0 0;
    width:60px;
    height:26px;
}

#title-top1 ul {
    margin:0;
    padding:0;
    width:60px;
    height:30px;
    list-style:none;
}

#title-top1 .top1left ul {
    width:60px;
    height:30px;
    list-style:none;
}

#title-top1 .top1left li {
    margin-top:3px;
    padding-left:4px;
    width:60px;
    height:30px;
}

#title-top1 .top1right {
    float:right;
    padding:15px 0 0;
    width:140px;
    height:40px;
}

#title-top1 .top1right ul {
    width:140px;
    height:40px;
    list-style:none;
}

#title-top1 .top1right li {
    width:140px;
    height:20px;
}

#title-top1 .top1left a {
    padding-left:3px;
    color:#e1e1e1;
    font:11px Microsoft Yahei;
}

#title-top1 .top1right p {
    float:right;
    padding:0;
    color:#79605e;
    font:12px Microsoft Yahei;
    font-style:italic;
}

#psubscribe {
    margin-top:20px;
    width:220px;
    height:68px;
}

#psubscribe p {
    margin-top:-5px;
    margin-bottom:10px;
    padding:0;
    color:#9a999a;
    font:13px Microsoft Yahei,serif;
    line-height:150%;
}

#celuojieshao {
    margin-top:40px;
    width:250px;
    height:200px;
}

#celuojieshao h3 {
    padding:0 0 20px;
    color:#b04747;
    font:normal 15px Microsoft Yahei;
}

#celuojieshaol {
    float:left;
    margin-left:-4px;
    width:80px;
    height:160px;
}

#celuojieshaol p {
    padding:0 0 20px 4px;
    color:#757475;
    font:normal 12px Microsoft Yahei;
}

#celuojieshaor {
    float:left;
    width:160px;
    height:160px;
}

#celuojieshaor p {
    padding:0 0 20px 10px;
    color:#9a999a;
    font:normal 12px Microsoft Yahei;
}

.celuojieshaom {
    float:left;
    width:10px;
    height:160px;
    background:#fff url(rightline2.gif) no-repeat;
}

#tiyijian {
    margin-top:20px;
    width:250px;
    height:auto;
}

.adverise {
    margin-top:10px;
    height:20px;
}

/* payment & try & subscribe */
#prealipay {
    width:394px;
    height:283px;
    background:url(kuang_zhifubao.png) left no-repeat;
}

.popup_alipay_content{
    margin-top:120px;
    margin-left:65px;
    width:260px;
}
.popup_alipay_content p{
    font:15px Microsoft Yahei;
    line-height: 150%;
}

.popup_alipay_2buttons_confirm{
    float:left;
    margin-top:72px;
    margin-left:15px;
    width:80px;
}

.popup_alipay_2buttons_confirm a{
    color:#ffffff;
    text-decoration: none;
    font:15px Microsoft Yahei;
}

.popup_alipay_2buttons_cancel{
    float:right;
    margin-top:72px;
    margin-right:28px;
    widht:40px;
}
.popup_alipay_2buttons_cancel a{
    color:#000000;
    text-decoration: none;
    font:15px Microsoft Yahei;
}

#pay_in_alipay {
    margin-top:70px;
    margin-left:25px;
    width:385px;
    height:21px;
    background:url(zhifubao.gif) left no-repeat;
}

#pay_in_alipay a {
    margin-left:60px;
    color:#666;
    text-decoration:underline;
    font:normal 16px Microsoft Yahei;
}

#pay_in_cash {
    margin-left:25px;
    width:385px;
    height:auto;
    background:url(xianjin.gif) top left no-repeat;
}

#pay_in_bank {
    margin-left:25px;
    width:385px;
    height:180px;
    background:url(yinghang.gif)top left no-repeat;
}

#pay_in_cash h3,#pay_in_bank h3 {
    margin:36px 0 18px 60px;
    padding:0;
    color:#666;
    font:normal 16px Microsoft Yahei;
}

#pay_in_cash p,#pay_in_bank p {
    margin:18px 0 0 60px;
    color:#a6a6a6;
    font:normal 14px Microsoft Yahei;
}

#dysubscribe {
    margin-top:35px;
    padding-left:5px;
    width:385px;
    height:200px;
}

#dysubscribe p {
    padding:0;
    color:#5f5f5f;
    text-indent:15px;
    font:normal 14px Microsoft Yahei;
    line-height:150%;
}

#dysubscribe span {
    padding:0;
    color:#d66464;
    text-decoration:underline;
    font:bold 14px Microsoft Yahei;
    font-style:italic;
}

/****************************************************/

/*******************  STRATEGY LIB HOMEPAGE ******************************/
.strategylib_search {
    margin-top:20px;
    padding-right:18px;
    height:50px;
}

#strategylib_search_form {
    height:45px;
}

#keyword {
    float:right;
    padding-left:15px;
    width:85px;
    height:25px;
    border:0;
    background:url(sousuo_img.gif) no-repeat;
    color:#666;
    font:11px bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
}

#strategyfilter {
    margin:10px 0 20px;
    padding:10px 0 0 10px;
    width:615px;
    height:160px;
    border:1px solid #e3e3e3;
    background:#f9f9f9;
}

#strategyfilter_onlydisplay {
    float:left;
    width:150px;
}

#strategyfilter_submit {
    width:600px;
}

#strategysdisplay {
    margin-top:20px;
    margin-bottom:20px;
    width:650px;
    height:auto;
}

.strategyinstance {
    float:left;
    margin:10px;
    width:300px;
}

.s_header {
    margin-top:5px;
    margin-bottom:5px;
    height:25px;
}

.s_title {
    float:left;
    height:20px;
}

.s_title h3 {
    margin-top:0;
    padding:0;
    color:#9e3d38;
    font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
}

.s_collect {
    float:right;
    margin:5px 20px 0 5px;
}

.s_buy {
    float:right;
    margin:5px 0 0 5px;
}

.s_performance {
    margin:10px 0 0;
    height:115px;
}

.s_performance_pic {
    float:left;
    overflow:hidden;
    margin-right:1px;
    width:161px;
    height:114px;
    border:1px solid;
    border-color:#999;
}

.s_performance_text {
    float:left;
    margin-left:1px;
    padding-right:2px;
    padding-left:2px;
    width:128px;
    height:114px;
    border:1px solid;
    border-color:#999;
}

.s_performance_text ul {
    padding:5px;
    list-style:none;
}

.s_performance_text ul li {
    margin-top:3px;
    margin-bottom:3px;
    color:#757475;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
    line-height:200%;
}

.s_footer {
    height:23px;
}

.s_type {
    float:left;
    height:22px;
}

.s_details {
    float:right;
    height:22px;
}


#showwait_p {
    margin:150px 0 0 150px;
    width:60px;
}


/**************************************************************/

/************************ STRATEGY COMBINE ***********************/

#strategy_config_steps {
    float:left;
    margin:20px 0 0 15px;
    width:100px;
    height:200px;
}

#strategy_config_steps li {
    margin:0 0 20px;
    width:100px;
    height:26px;
    background:url(jingqi.gif) left no-repeat;
}

.strategy_config {
    width:490px;
}

.strategy_config_selecting,.strategy_config_para,.strategy_config_commodity,.strategy_config_startdate {
    margin-bottom:20px;
    padding:15px;
    width:450px;
    border:1px solid #e3e3e3;
    background:#f9f9f9;
}

#selectedstrategy p,.strategy_config_commodity p,.strategy_config_para p{
    margin-top:15px;
    color:#747474;
    font:normal 12px Microsoft Yahei;
    line-height:150%;
}
.strategy_config_para form #strategy_buy_confirm p,.strategy_config_para #strategy_buy_confirm p{
    margin-top: 0;
    line-height: 150%;
}

/************************** ABOUT US **************************/
#zhaopin_welcomewords {
    margin-left:20px;
    width:450px;
    height:70px;
}

#zhaopin_welcomewords p {
    color:#aaa9aa;
    text-indent:20px;
    font:normal 12px Microsoft Yahei;
}

.contactus_hire,.contactus_product {
    padding:20px 0 0 15px;
}

.contactus_hire h3,.contactus_product h3 {
    margin-top:10px;
    margin-bottom:15px;
}

.contactus_hire p {
    margin:-10px 0 10px 20px;
    color:#5f5f5f;
    text-indent:0;
    font:normal 14px Microsoft Yahei;
    line-height:180%;
}


/***************************AUTOTRADE PAGE*********************************/

#wenti {
    float:left;
    margin-top:30px;
    width:250px;
    height:22px;
    background:url(question.gif) no-repeat;
}

#wenti h2 {
    margin-left:20px;
    padding:0;
    color:#9a999a;
    font:15px Microsoft Yahei;
}

#wentineir {
    float:left;
    margin-top:30px;
    width:250px;
    height:200px;
}

#wentineir ul {
    margin:0;
    list-style:none;
}

#wentineir li {
    margin-bottom:3px;
    width:250px;
    height:22px;
    background:url(zhuyuetaolidui_img.gif) no-repeat;
}

#wentineir a {
    float:left;
    margin-left:20px;
    color:#9a999a;
    font:12px Microsoft Yahei;
}

#wentineir li.tworow {
    width:250px;
    height:40px;
    background:url(zhuyuetaolidui_img.gif) no-repeat;
}

.frameprevious {
    float:left;
    margin:10px 0 10px 10px;
    padding-top:3px;
    width:75px;
    height:26px;
    background:url(back.gif) no-repeat;
}

.frameprevious a {
    padding:20px 20px 0;
    color:#000;
    text-decoration:none;
    font:13px Microsoft Yahei;
}

.frameprevious_pay {
    float:right;
    margin-left:20px;
    padding-top:3px;
    width:75px;
    height:26px;
    background:url(back.gif) no-repeat;
}

.frameprevious_pay a {
    padding:20px 20px 0;
    color:#000;
    text-decoration: none;
    font:13px Microsoft Yahei;
}

.button_confirm_2,.button_confirm_3 {
    float:right;
    margin:10px 0 10px 10px;
    padding-top:3px;
    width:66px;
    height:25px;
    background:url(next.gif) no-repeat;
}
.button_confirm_4 {
    float:right;
    margin:10px 0 10px 10px;
    padding-top:3px;
    width:80px;
    height:25px;
    background:url(next.gif) no-repeat;
}

.button_confirm_2 a {
    padding:10px 10px 10px 20px;
    color:#FFF;
    text-decoration:none;
    font:13px Microsoft Yahei;
}

.button_confirm_3 a {
    padding:10px;
    color:#FFF;
    text-decoration:none;
    font:13px Microsoft Yahei;
}

.button_confirm_4 a {
    padding:5px;
    color:#FFF;
    text-decoration:none;
    font:13px Microsoft Yahei;
}

#subscribe-right {
    float:right;
    width:200px;
    height:500px;
}

#lixiwomen {
    float:right;
    padding-top:50px;
    padding-left:50px;
    width:150px;
    height:100px;
}

#lixiwomen ul li {
    padding-left:4px;
}

#lixiwomen ul li a {
    font-size:14px;
}

.framerimg-subscribe {
    float:left;
    margin-top:-60px;
    margin-left:-15px;
    width:14px;
    height:353px;
    background:url(jiaoyishezhi_right_line.gif) no-repeat;
}

.framerimg {
    float:right;
    margin-top:80px;
    width:18px;
    height:340px;
    background:url(jiaoyishezhi_right_line.gif) no-repeat;
}

#aboutautotrade {
    padding-top:10px;
    width:500px;
}

#aboutautotrade li {
    background:url(zhuyuetaolidui_img.gif) left no-repeat;
}

#aboutautotrade a {
    margin-left:25px;
    color:#717171;
    font:normal 15px Microsoft Yahei;
}

#aboutautotrade p a.liwai {
    margin:0;
    border:none;
    color:#d46767;
    text-decoration:underline;
    font:normal 12px Microsoft Yahei;
}

#aboutautotrade p {
    margin:8px 0 10px 20px;
    color:#8d8d8d;
    font:normal 13px Microsoft Yahei;
}

#showtime {
    padding-left:5px;
    width:250px;
    color:#aeaeae;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#order_status {
    float:right;
    margin-top:-22px;
    margin-right:57px;
    color:#7d7c7d;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#order_status a {
    color:#7d7c7d;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#fast_modification {
    float:right;
    width:70px;
    height:20px;
    color:red;
    text-decoration:underline;
}

#fast_modification a {
    color:#c15e5e;
    font-size:12px;
}

#strategy_search {
    margin-top:15px;
    margin-left:-50px;
    width:200px;
    height:30px;
}

#strategy_search_text {
    float:right;
    width:100px;
}

table {
    border-spacing:0;
    border-collapse:collapse;
}

#select_strategy_type {
    margin-top:40px;
}

#select_strategy_type p {
    font:normal 14px Microsoft Yahei, "Times New Roman", Times, serif;
}

#rtpricetable {
    float:left;
    margin-top:5px;
    width:600px;
}

.rttableformat {
    margin-top:5px;
    padding:5px;
    border-spacing:0;
    border-collapse:collapse;
}

.rttableformat th {
    padding:5px;
    font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
}

.rttableformat td {
    padding:5px;
    border:1px solid #c9e4f5;
    text-align:center;
    font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
}

#norisktitle {
    float:left;
    margin:6px 0 0 18px;
    width:140px;
    height:30px;
}

#norisktitle h2 {
    color:#b04747;
    font:18px Microsoft Yahei, Helvetica, sans-serif;
}

.ironbars {
    float:right;
    margin:-28px 30px 0 0;
    width:60px;
    height:16px;
}

.ironbars ul {
    width:60px;
    height:16px;
    list-style:none;
}

.ironbars ul li {
    width:60px;
    height:16px;
}

.ironbars a {
    color:#8c3d3c;
    text-decoration:underline;
    font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
}

.ironbarsp1 {
    width:526px;
    height:150px;
}

.ironbarsp2 {
    width:526px;
    height:80px;
}

.ironbars #norisktitle {
    float:left;
    width:300px;
    height:40px;
}

#nextbutton {
    float:right;
    padding-right:110px;
}

.luntan_format {
    margin-top:20px;
}

.remarkstitle {
    margin-top:10px;
    margin-bottom:10px;
    width:500px;
    height:20px;
}

.remarkstitle a {
    color:#1c1c1c;
    font:normal 18px Microsoft Yahei;
}

.remarkslist {
    width:250px;
}

.remarkslist p {
    font:normal 15px Microsoft Yahei;
}

#checkbox {
    float:left;
    margin-top:10px;
    margin-bottom:18px;
    padding:14px 0 9px 205px;
    width:200px;
    color:#7d7c7d;
    font:12px Microsoft Yahei, Arial, Helvetica, sans-serif;
}

.label_check input {
    margin-right:5px;
}

#mainNav li.mainNavNoBg {
    background-image:none;
}

#mainNav li a {
    display:block;
    padding-top:2px;
    height:30px;
    color:#bb2e26;
}

#mainNav.fourStep li.mainNavNoBg {
    width:229px;
}

#mainNav.threeStep li.mainNavNoBg {
    width:304px;
}

#wizardpanel {
    display:none;
}

#wizardcontent {
    margin:30px 0;
    color:#636363;
    font:18px Microsoft Yahei;
}

#huatai {
    margin:30px 0 60px 60px;
    width:230px;
    height:40px;
    color:#636363;
    font:18px Microsoft Yahei;
}

#ctp_account_setup {
    margin:0 0 30px;
}

#ctp_account_setup p {
    margin:8px 0;
}

#wizardcontent3 {
    margin:25px 0 70px 20px;
    width:280px;
    height:100px;
    color:#585858;
    font:normal 16px Microsoft Yahei;
}

#wizardcontent3 li {
    margin-left:5px;
    width:240px;
    height:30px;
}

#wizardcontent3 ul li.pianyou {
    margin-left:15px;
    width:240px;
    height:40px;
}

#wizardwrapper {
    float:left;
    margin-top:25px;
    width:350px;
}

#wizardcontent4 {
    margin:25px 0 70px 30px;
    width:270px;
    height:100px;
    color:#636363;
    font:normal 14px Microsoft Yahei;
}

#wizardcontent4 li {
    margin-left:10px;
    padding:0;
    width:240px;
    height:20px;
    font:normal 14px Microsoft Yahei;
}

#wizardcontent4 li span {
    color:#e47269;
    text-decoration:underline;
}

#wizardcontent4 li.qubie {
    width:240px;
    height:20px;
}

#showtable h2 {
    float:left;
    padding:0;
    color:#767676;
    font:normal 14px Microsoft Yahei;
}

.post {
    float:left;
    margin:0 auto;
    padding-bottom:50px;
    width:960px;
}


/* .popup_2buttons_pattern a {
    color:#FFF; */


/* font:12px Microsoft Yahei; */


/* text-decoration: none; */


/* margin-top:10px; */

.popup_content{
    height:75px;
}

.popup_content p {
    /* margin-top:10px; */
    color:#7a7a7a;
    text-align:center;
    font:13px Microsoft Yahei;
    line-height: 180%;
}

/* .popup_content h3 {
color:#7a7a7a; */

/* font:16px Microsoft Yahei; */

/* margin-left:20px; */

/* text-align:center; */

/* padding:0; */



#fastmargin_buttons {
    margin-top:18px;
    margin-left:64px;
    width:150px;
    height:30px;
}

#fastmargin_submit {
    color:#FFF;
    font:12px Microsoft Yahei;
}

#fastmargin_cancel {
    margin-left:75px;
    color:#000;
    font:12px Microsoft Yahei;
}

.popup {
    margin-left:65px;
    color:#FFF;
    text-decoration:none;
    font:12px Microsoft Yahei;
}

#fastfee_cancel {
    margin-left:70px;
    color:#000;
    text-decoration:none;
    font:12px Microsoft Yahei;
}

#fastedit_choose {
    padding-top:35px;
    padding-left:20px;
    width:235px;
    height:100px;
}

#fastedit_margin {
    padding-top:16px;
    padding-left:50px;
    color:#7a7a7a;
    font:16px Microsoft Yahei;
}

#fastedit_fee {
    padding-left:50px;
    color:#7a7a7a;
    font:16px Microsoft Yahei;
}

img.btn_close {
    float:right;
    margin:-15px 15px 0 0;
}

img.btnrg_close {
    float:right;
    margin:-18px 15px 0 0;
}

img.btnzfb_close {
    float:right;
    margin:0 25px 0 0;
}

img.btnpp_close {
    float:right;
    margin:-23px -12px 0 0;
}

.regedit_submit {
    margin-top:22px;
    margin-left:183px;
}

.regedit_submit a {
    color:#FFF;
    text-decoration:none;
    font:16px Microsoft Yahei;
}

form.registerin {
    padding-top:80px;
    height:280px;
}

.regedit_username,.regedit_email,.regedit_password,.regedit_confirm_password {
    margin-bottom:10px;
    padding-left:60px;
}

.regedit_comment p {
    display:inline;
    padding:5px 0 0 200px;
    color:#9a999a;
    font:11px Microsoft Yahei;
}

.regedit_comment a {
    padding:5px 0 0;
    color:#9a999a;
    font:11px Microsoft Yahei;
}

form.signin {
    padding-top:70px;
    height:200px;
}

form.signin p {
    display:inline;
    color:#999;
    font:Microsoft YaHei;
    font-size:12px;
    line-height:18px;
}


#login_errormsg {
    padding-left:30px;
    height:30px;
    color:red;
    font-size:14px;
}

.login_comment {
    margin-top:10px;
    width:400px;
    text-align:right;
}

.login_comment a {
    margin-right:55px;
    color:red;
    font:normal 12px Microsoft Yahei;
}

.login_submit {
    margin-top:22px;
    width:400px;
    text-align:center;
}

#regedit_errormsg {
    margin-bottom:5px;
    padding-left:30px;
    height:20px;
    color:#ff0e00;
    font:12px Microsoft Yahei;
}

.loginpage {
    padding:15px 0 0 250px;
    width:400px;
}

.loginpage div label {
    float:left;
    font:bold 14px Microsoft Yahei;
}

.name-input {
    width:60%;
    height:24px;
    font-size:15px;
}

.passwd-inputapp {
    margin:16px 0 0 10px;
    width:35%;
    height:22px;
    font-size:15px;
}

.passwd-input {
    margin-top:16px;
    margin-left:18px;
    width:35%;
    height:24px;
    font-size:15px;
}

#regedit_name {
    margin-left:18px;
}

#forgetpassword {
    padding:0 0 0 20px;
    color:gray;
    font:Microsoft YaHei;
    font-size:14px;
}

#forgetpassword_img {
    margin-top:20px;
    padding-top:25px;
    width:200px;
    height:30px;
    background:url(wangjimima.jpg) no-repeat;
}

#forgetpassword_img_steps {
    margin-top:20px;
    margin-left:20px;
    padding-top:25px;
    width:150px;
    height:100px;
    background:url(wangjimima_left_img.gif) no-repeat;
}

.forget_password_domain{
    width:280px;
    height:100px;
}
.forget_password_domain p {
    margin:10px 0;
    font:normal 16px Microsoft Yahei;
}


#submit_r{
    text-decoration: none;

    font:normal 14px Microsoft Yahei;
}
/* p#forget_passwd_smallfont {
/* margin-bottom:40px; */ */
font:normal 12px Microsoft Yahei;
    }

#forget_password form p {
    /* display:inline; */
    color:red;
    /* font:normal 16px Microsoft Yahei; */
}


#forget_passwd_submit {
    margin-left:180px;
/* margin-top:112px; */

#forget_passwd_foundjump {
    margin-top:138px;
    margin-left:167px;
}

#forget_passwd_foundjump a {
    border:none;
    color:#FFF;
}

#forget_passwd_errmail {
    margin-top:168px;
    margin-left:158px;
}

#label_login {
    color:#8F0606;
    font:Microsoft YaHei;
}

#label_register {
    color:#8F0606;
    font:normal 17px Microsoft Yahei;
}

#noaccount {
    color:#8F0606;
}

#loginlink {
    padding:21px 0 0 163px;
}

#registerlink {
    padding:41px 0 0 163px;
}

#regeditmsg_position {
    padding:110px 0 0 30px;
}

html,.footer  img {
    margin:0;
    padding:0;
}

.block_header,.framework {
    margin:0 auto;
    width:900px;
}

.register,.login {
    float:right;
    margin:3px 3px 0;
}

.login a,.register a {
    color:#cdcdcd;
    text-decoration:none;
    font:normal 12px Microsoft Yahei;
}

.login a:hover,.register a:hover {
    color:#cdcdcd;
    text-decoration:none;
}

.login a:active,.register a:active {
    color:#F93;
    text-decoration:underline;
}

.menu li a:hover,.menu li ul li a:hover {
    background-color:#303030;
}

.menuMain a:hover,.menuMain a.simHover,.menuMain a:hover,.menuMain ul li:hover a,.menuMain ul li.hover a {
    background:#999 url(btnGb_tl.gif) no-repeat left top;
    color:#fff;
}

.menuMain a:hover span,.menuMain a.simHover span,.menuMain a:hover span,.menuMain ul li:hover a span,.menuMain ul li.hover a span {
    background:url(btnGb_tr.gif) no-repeat right top;
}

.menuMain a:hover span span,.menuMain a.simHover span span,.menuMain a:hover span span,.menuMain ul li:hover a span span,.menuMain ul li.hover a span span {
    background:url(btnGb_bl.gif) no-repeat left bottom;
}

.menuMain a:hover span span span,.menuMain a.simHover span span span,.menuMain a:hover span span span,.menuMain ul li:hover a span span span,.menuMain ul li.hover a span span span {
    background:url(btnGb_br.gif) no-repeat right bottom;
}

.menuMain ul li div.level ul li.begin a,fieldset {
    border:none;
}


#tiyijian h3,.adverise h3 {
    margin-bottom:-10px;
    color:#b04747;
    font:normal 15px "Microsoft Yahei";
}

.newremark,.regedit_comment {
    margin-top:10px;
}

#strategylib_search_form a,#strategylib_search_form img {
    float:right;
}

#strategyfilter_domain,#strategyfilter_frequence {
    float:left;
    margin-right:60px;
    width:120px;
}

#strategyfilter_domain p,#strategyfilter_frequence p,#strategyfilter_onlydisplay p {
    margin-bottom:5px;
}

.s_title a,#StrategyNewsb li {
    margin:0;
}

.s_collect a,.s_buy a {
    color:#9b9b9b;
    text-decoration:none;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

.s_collect a img,.s_buy a img {
    margin-bottom:-5px;
}

.s_type p,.s_details p {
    color:#757475;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#strategy_config_steps a,.subpagedomain a {
    float:left;
    margin:-5px 0 0 20px;
    color:#747474;
    text-decoration:underline;
    font:normal 16px Microsoft Yahei;
}

#strategy_config_steps a.noline,.subpagedomain a.noline {
    float:left;
    margin:-5px 0 0 20px;
    color:#747474;
    text-decoration:none;
    font:normal 16px Microsoft Yahei;
}

.blogitop1 h2,.blogitop3 h2 {
    margin:0;
    padding:0;
    color:#1c1c1c;
    font:normal 20px Microsoft Yahei, "Times New Roman", Times, serif;
}

.morexinxi a,.morexinxi1 a {
    padding:0;
    color:#35678f;
    text-decoration:underline;
    font:normal 11px Microsoft Yahei, "Times New Roman", Times, serif;
}


#customer_trade,#customer_config {
    margin-top:20px;
    padding-top:25px;
    width:200px;
    height:10px;
    background:url(gexinghuajiaoyi.gif) no-repeat;
}

.ironbars #norisktitle h3,.remarkslist h3 {
    padding:0;
}

#tradefeebutton,#lendatefeebutton,#marginbutton,#annualreturnbutton {
    float:left;
}

#mainNav.fourStep li,#mainNav.fourStep li a {
    width:227px;
}

#mainNav.threeStep li,#mainNav.threeStep li a {
    width:303px;
}

#mainNav.twoStep li,#mainNav.twoStep li a {
    width:455px;
}

#wizardcontent3 ul,#wizardcontent4 ul {
    margin:0;
    width:240px;
    height:100px;
    list-style:none;
}

.login_username,.login_password {
    padding-left:30px;
}

.loginpage legend,.loginpage lable {
    font:normal 18px Microsoft Yahei;
}

#forget_passwd_submit a,#forget_passwd_errmail a {
    color:#FFF;
}

.strategy_report_action{
    height:40px;
}
.strategy_report_action .button_confirm_2,.strategy_report_action .button_confirm_3{
    float:left;
    padding-top:5px;
}
.strategy_report_action .button_confirm_2 a,.strategy_report_action .button_confirm_3 a{
    margin:0;
}
.annual_profit_display{
    min-width: 500px;
    height: 500px;
}

#homepage_slice_left_decoration{
    float:left;
}

#mask {
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    display:none;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.3;
}

#mask_wait {
    position:fixed;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.3;
}

.regedit_box_bg {
    margin:0 110px 0 10px;
    width:200%;
    height:100%;
    background:url(regedit.png) no-repeat;
}

.login-popup {
    position:fixed;
    top:50%;
    left:50%;
    z-index:99999;
    display:none;
    float:left;
    padding:10px;
    width:430px;
    height:350px;
    border:0 solid #FFF;
    font-size:1.2em;
}

#login-box {
    background:url(dengrukuang.png) no-repeat;
}

#regedit-box {
    background:url(zhuce.png) no-repeat;
}

#fastedit {
    position:fixed;
    top:50%;
    left:50%;
    z-index:99999;
    display:none;
    float:left;
    padding:0;
    width:260px;
    height:200px;
    border:0 solid #FFF;
    background:url(popupop.png) no-repeat;
    font-size:1.2em;
}


#autotrade-box,#tm_fe,#tc_fe,#ensure_test,#msg-box,#strategy_buy_confirm {
    position:fixed;
    top:50%;
    left:50%;
    z-index:99999;
    display:none;
    float:left;
    padding:0px;
    width:260px;
    height:200px;
    border:0 solid #FFF;
    background:url(celueguanli_anniu.png) no-repeat;
    font-size:1.2em;
}

#alipay-box {
    width:394px;
    height:283px;
    background:url(kuang_zhifubao.png) left no-repeat;
}


#autotrade-box h3,#tm_fe h3,#tc_fe h3,#ensure_test h3,#msg-box h3{
    margin-top:50px;
    color:#7a7a7a;
    text-align:center;
    font:16px Microsoft Yahei;
}

.login-popupop_sub_a {
    margin-top:43px;
    padding-left:65px;
}

#popupop_sub_config {
    color:#FFF;
    text-decoration:none;
    font:12px Microsoft Yahei;
}

#popupop_sub_cancell {
    margin-left:76px;
    color:#7a7a7a;
    font:12px Microsoft Yahei;
}

.popup_2buttons_pattern {
    padding-top:30px;
    width:250px;
    height:130px;
}

.popup_2buttons_confirm{
    float:left;
    margin:20px 0 0 60px;
    width:30px;
}
.popup_2buttons_confirm a{
    color:#ffffff;
    text-decoration: none;
    font:12px Microsoft Yahei;
}
.popup_2buttons_cancel{
    float:right;
    margin:20px 50px 0 0;
    width:30px;
}
.popup_2buttons_cancel a {
    color:#000;
    text-decoration: none;
    font:12px Microsoft Yahei;
}

.centerrightframe #traderecordtable a{
    color:#0000ff;
    font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;

}