@charset utf-8;

body {
background:#fff;
height:100%;
width:100%;
padding:0;
}

h2 {
font-weight:400;
}
/************ FRAMEWORK DESIGN  **************/
/* PAGE BOTTOM DECORATION */
.pagedingbu {
    background:url(page_dingbu.gif) repeat-x 0 0;
    height:10px;
    margin:0 0 20px;
}

.footer {
    height:40px;
    color:#d6e8f5;
    font:normal 11px Microsoft Yahei, Geneva, sans-serif;
    text-align:left;
    width:900px;
    margin:0 auto;
    padding:5px 0 0;
}

.footer p {
    color:#817f7e;
    float:right;
    font:normal 12px Microsoft Yahei, Geneva, sans-serif;
    margin-top:-2px;
    padding:0 300px 0 220px;
}

.footer a {
    color:#d6e8f5;
    font:normal 11px Tahoma, Geneva, sans-serif;
    padding:0 1px;
}


/* LEFTFRAME */
.leftframe {
    background:#fff;
    float:left;
    height:auto;
    margin-right:30px;
    width:160px;
}

.pagedomain {
    background:url(pagedomain.gif) no-repeat;
    height:50px;
    margin-top:25px;
    width:157px;
}

.pagedomain h1 {
    color:#FFF;
    font:normal 20px Microsoft Yahei, "Times New Roman", Times, serif;
    padding-top:10px;
    text-align:center;

}

.subpagedomain {
    float:left;
    height:200px;
    width:200px;
    margin:20px 0 0 15px;
}

.subpagedomain li {
    background:url(jingqi.gif) left no-repeat;
    height:26px;
    width:221px;
    margin:0 0 20px;
}

/* CENTERFRAME */

.centerframe {
    float:left;
    margin-top:30px;
    overflow:hidden;
    width:500px;
    padding:10px;
}

.centerframe a {
    color:#f4ab19;
}

/* RIGHTFRAME */
.rightframe {
    float:right;
    width:180px;
    padding:50px 0 0 5px;
}

.rightframe h3 {
    color:#c87171;
    font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
    margin-bottom:8px;
    margin-top:20px;
}

.rightframe p {
    font:normal 13px Microsoft Yahei, "Times New Roman", Times, serif;
    line-height:140%;
    text-indent:20px;
}

.rightframe ul a {
    color:#777878;
    font:normal 13px Microsoft Yahei;
    padding:0 0 0 20px;
}

/* CENTERRIGHTFRAME */

.centerrightframe {
    float:left;
    margin-top:30px;
    overflow:hidden;
    width:650px;
}

.centerrightframe a {
    color:#f4ab19;
    font:normal 15px Microsoft Yahei, "Times New Roman", Times, serif;
    margin:5px;
}

/* COMMON PART */
.centerrightframe h2,.centerframe h2 {
    color:#bd2e25;
    font:bold 20px Microsoft Yahei, "Times New Roman", Times, serif;
    margin-bottom:20px;
    margin-top:20px;
}

.centerrightframe h3,.centerframe h3 {
    color:#c87171;
    font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
    margin-bottom:8px;
}

.centerrightframe p,.centerframe p {
    font:normal 15px Microsoft Yahei, "Times New Roman", Times, serif;
}

.rightframe ul,#strategy_config_steps ul,.subpagedomain ul,#slider,#slider ul,#slider li,#aboutautotrade ul {
    list-style:none;
    margin:0;
    padding:0;
}

/**********************************************************/

/************  HOMEPAGE DESIGN  **************/
/* NAVIGATION */
.logo_welcome_nav {
background-color:#fff;
width:100%;
margin:0 auto;
padding:0;
}

.logoimage {
float:left;
height:60px;
width:200px;
margin:0 0 5px 30px;
padding:0;
}

.welcomeuser {
float:right;
height:30px;
margin-top:30px;
padding-right:5px;
width:200px;
}

.welcomeuser img {
float:right;
padding-bottom:5px;
}

.login p {
color:#454545;
font:normal 12px "Microsoft Yahei";
}

.weiboblock {
float:right;
margin:3px 10px 0 0;
}

.menu {
background-color:#303030;
height:54px;
width:900px;
margin:0;
padding:0;
}

.menu li {
float:left;
height:54px;
list-style:none;
}

.menu li.last {
background-color:#303030;
height:54px;
width:200px;
}

.menu li a:link,.menu li a:visited {
background-color:#303030;
border-right:1px solid #303030;
color:#fff;
display:block;
font:normal 16px Microsoft Yahei, "Times New Roman", Times, serif;
text-decoration:none;
margin:0 -1px 0 0;
padding:17px 47px;
}

.menu li ul {
border-top:0 solid #303030;
position:absolute;
visibility:hidden;
margin:-1px 0 0;
padding:0;
}

.menu li ul li {
display:inline;
float:none;
}

.menu li ul li a:link,.menu li ul li a:visited {
background-color:#303030;
width:auto;
}

.menuMain {
background:#666;
height:35px;
width:900px;
z-index:99;
}

.menuMain ul {
list-style:none;
width:832px;
margin:0;
padding:2px 0 2px 68px;
}

.menuMain ul:after {
clear:both;
content:"";
display:block;
height:0;
}

.menuMain li {
float:left;
margin-right:1px;
width:130px;
z-index:99;
}

.menuMain a {
color:#fff;
float:left;
font-family:Microsoft Yahei;
font-size:15px;
font-weight:400;
text-decoration:none;
}

.menuMain a span {
cursor:pointer;
float:left;
}

.menuMain a span span span {
padding:4px 15px;
}

.menuMain li.active a {
background:#d72721 url(zuoshang.gif) no-repeat left top;
color:#000;
}

.menuMain li.active a span {
background:url(youshangjiao.gif) no-repeat right top;
}

.menuMain li.active a span span {
background:url(zuoxiajiao.gif) no-repeat left bottom;
}

.menuMain li.active A span span span {
background:url(youxiajiao.gif) no-repeat right bottom;
}

.menuMain ul li {
height:1%;
position:relative;
z-index:99;
}

.menuMain ul li div.level {
background:#999 url(head.gif) no-repeat;
display:none;
left:0;
overflow:hidden;
position:absolute;
top:26px;
width:134px;
z-index:999;
}

.menuMain ul li:hover div.level,.menuMain ul li.hover div.level {
display:block;
z-index:999;
}

.menuMain ul li div.level ul {
overflow:hidden;
width:134px;
z-index:999;
padding:6px 0;
}

.menuMain ul li div.level ul li {
float:left;
width:134px;
z-index:999;
}

.menuMain ul li:hover div.level ul li a,.menuMain ul li.hover div.level ul li a,.menuMain div.level ul li a {
border-top:1px solid #878787;
color:#fff;
font-size:12px;
position:relative;
text-align:left;
width:134px;
z-index:999;
padding:3px 18px;
}

/* SLIDER SET SHOW  */
.slider_set {
height:380px;
width:900px;
margin:0 auto;
padding:0;
}

.slice_background {
background:url(line_dise.gif) repeat-x;
float:left;
width:861px;
margin:0 auto;
padding:0;
}

#banner3 {
background:url(banner_text3.jpg) no-repeat;
float:left;
height:133px;
width:260px;
margin:70px 0 0 42px;
}

#banner2 {
background:url(banner_text2.jpg) no-repeat;
float:left;
height:133px;
width:260px;
margin:70px 0 0 45px;
}

#banner1 {
background:url(banner_text1.jpg) no-repeat;
float:left;
height:133px;
width:240px;
margin:70px 0 0 40px;
}

#banner3 p,#banner2 p,#banner1 p{
    color:#696969;
    float:left;
    ont:normal 16px Microsoft Yahei, "Times New Roman", Times, serif;
    padding:150px 0 0 8px;

}


.homepage_slide_img{
    float:left;
    margin:0 0 0 40px;
    padding:40px 0 0;
}

p.clr,.clr {
    background:none;
    clear:both;
    margin:0;
    padding:0;
}

li.bg,.bg {
    background:none;
    border-top:1px solid #eaeaea;
    clear:both;
    margin:5px 0;
    padding:0;
}

p#controls {
    position:relative;
    margin:0;
}

#slider li {
    height:380px;
    overflow:hidden;
    width:857px;
}

/* QUICKLINK SET & STRATEGYSHOW SET*/
.quicklink_strategyshow{
    width:890px;
    height: 650px;
    margin-top:20px;
}
.quicklink_set{
    width: 600px;
    height:640px;
    margin:0px;
    float:left;
}

.quicklink_instance{
    width:280px;
    height:130px;
    float:left;
    margin:10px;
}

.qs_image{
    width:85px;
    height: 100px;
}

.qs_content{
    width: 155px;
    height:120px;
    float:right;
    margin:0px;
}

.qs_content h2{
    font:bold 18px Microsoft Yahei;
    color:red;

}

.qs_content a{
    text-decoration: none;
    color:#000000;
}
.qs_content p{
    font:normal 13px Microsoft Yahei;
    margin-top:5px;
    line-height: 130%;

}

.strategy_status_set{
    width:280px;
    height:640px;
    float:right;
}
.strategy_status_set h3{
    font:bold 16px Microsoft Yahei;
    color:#ff0000;
    width:160px;
    margin-top:15px;
    float:left;
}

.strategy_status_set p{
    font:normal 12px Microsoft Yahei;
    color:#808080;
    width:160px;
    margin-top:5px;
    float:left;
}

.strategy_set_left_decoration{
    float:left;
}
.strategy_set_right_decoration{
    float:right;
}

.strategy_set_title_module{
    float:right;
    background:url(strategy_set_top_decoration.gif) no-repeat;
    width:150px;
    height:60px;
    margin-top:14px;

}

.strategy_set_title_module h2{
    font:normal 20px Microsoft Yahei;
    color:white;
    margin:20px 0 0 40px;
}

.strategy_status_module{
    width:230px;
    float:right;
}

.strategy_status_module p{
    width:120px;
}

.strategy_status_module a{
    width:100px;
    font:normal 14px Microsoft Yahei;
    color:#000000;
}

.strategy_status_instance{
    height:90px;
    margin-top:10px;
    margin-bottom:10px;
}
.strategy_graph_display {
    width:100px;
    height:60px;
    float:right;
}
.strategy_text_display{
    width:130px;
    float:left;
}


/******************** NORISK STRATEGY MANAGEMENT *********************/
/* firstpage */

.frame_norisk {
float:left;
height:auto;
width:630px;
}

.frame_norisk a {
color:#959995;
font:11px Microsoft Yahei;
}

.frame_norisk p a {
border-bottom:2px solid #F60;
font:13px Microsoft Yahei;
}

.frame_norisk h2 a {
font:14px Microsoft Yahei;
}

#norisk_leftline {
background:url(leftline.gif) no-repeat;
float:left;
height:690px;
margin-top:25px;
width:10px;
}

#norisk_rightline {
background:url(rightline.gif) no-repeat;
float:right;
height:690px;
margin-top:5px;
width:10px;
}

#showintro {
background:url(jieshao_wuzi.gif) no-repeat;
height:300px;
}

#showintro p {
color:#7a7a7a;
font:15px Microsoft Yahei;
margin-top:15px;
}

.strategyRTtitle {
float:left;
height:50px;
width:600px;
}

#strategyHistorytitle {
float:left;
height:30px;
margin-top:30px;
width:600px;
}

#strategyHistorytitle h2.wenzi {
color:#b04747;
font:normal 18px Microsoft Yahei, Helvetica, sans-serif;
padding-left:30px;
width:150px;
}

.frame_norisk_comment {
float:right;
margin-top:30px;
width:250px;
}

#title-top {
background:#fff url(dingyue_shiyong.gif) no-repeat left top;
height:34px;
margin-top:30px;
width:110px;
}

#title-top ul {
height:20px;
list-style:none;
width:110px;
padding:8px 4px 0;
}

#title-top ul li {
float:left;
height:20px;
margin-top:0;
width:40px;
padding:5px 0 0 3px;
}

#title-top a {
color:#fff;
font-size:13px;
text-decoration:none;
}

#title-top a :hover {
background:#red;
}

#title-top a span span span {
color:#fff;
}

#title-top1 {
background:#fff url(right_hecheng.gif) no-repeat left top;
height:60px;
width:220px;
}

#title-top1 .top1left {
float:left;
height:26px;
width:60px;
padding:38px 0 0;
}

#title-top1 ul {
height:30px;
list-style:none;
width:60px;
margin:0;
padding:0;
}

#title-top1 .top1left ul {
height:30px;
list-style:none;
width:60px;
}

#title-top1 .top1left li {
height:30px;
margin-top:3px;
padding-left:4px;
width:60px;
}

#title-top1 .top1right {
float:right;
height:40px;
width:140px;
padding:15px 0 0;
}

#title-top1 .top1right ul {
height:40px;
list-style:none;
width:140px;
}

#title-top1 .top1right li {
height:20px;
width:140px;
}

#title-top1 .top1left a {
color:#e1e1e1;
font:11px Microsoft Yahei;
padding-left:3px;
}

#title-top1 .top1right p {
color:#79605e;
float:right;
font:12px Microsoft Yahei;
font-style:italic;
padding:0;
}

#psubscribe {
height:68px;
margin-top:20px;
width:220px;
}

#psubscribe p {
color:#9a999a;
font:13px Microsoft Yahei,serif;
line-height:150%;
margin-bottom:10px;
margin-top:-5px;
padding:0;
}

#celuojieshao {
height:200px;
margin-top:40px;
width:250px;
}

#celuojieshao h3 {
color:#b04747;
font:normal 15px Microsoft Yahei;
padding:0 0 20px;
}

#celuojieshaol {
float:left;
height:160px;
margin-left:-4px;
width:80px;
}

#celuojieshaol p {
color:#757475;
font:normal 12px Microsoft Yahei;
padding:0 0 20px 4px;
}

#celuojieshaor {
float:left;
height:160px;
width:160px;
}

#celuojieshaor p {
color:#9a999a;
font:normal 12px Microsoft Yahei;
padding:0 0 20px 10px;
}

.celuojieshaom {
background:#fff url(rightline2.gif) no-repeat;
float:left;
height:160px;
width:10px;
}

#tiyijian {
height:auto;
margin-top:20px;
width:250px;
}

.adverise {
height:20px;
margin-top:10px;
}

/* payment & try & subscribe */
#prealipay {
    background:url(kuang_zhifubao.png) left no-repeat;
    height:283px;
    width:394px;
}

.popup_alipay_content{
    width:260px;
    margin-top:120px;
    margin-left:65px;
}
.popup_alipay_content p{
    font:15px Microsoft Yahei;
    line-height: 150%;
}

.popup_alipay_2buttons_confirm{
    width:80px;
    margin-top:72px;
    margin-left:15px;
    float:left;
}

.popup_alipay_2buttons_confirm a{
    font:15px Microsoft Yahei;
    color:#ffffff;
    text-decoration: none;
}

.popup_alipay_2buttons_cancel{
    widht:40px;
    margin-top:72px;
    margin-right:28px;
    float:right;
}
.popup_alipay_2buttons_cancel a{
    font:15px Microsoft Yahei;
    color:#000000;
    text-decoration: none;
}

#pay_in_alipay {
    background:url(zhifubao.gif) left no-repeat;
    height:21px;
    margin-left:25px;
    margin-top:70px;
    width:385px;
}

#pay_in_alipay a {
    color:#666;
    font:normal 16px Microsoft Yahei;
    margin-left:60px;
    text-decoration:underline;
}

#pay_in_cash {
    background:url(xianjin.gif) top left no-repeat;
    height:auto;
    margin-left:25px;
    width:385px;
}

#pay_in_bank {
    background:url(yinghang.gif)top left no-repeat;
    height:180px;
    margin-left:25px;
    width:385px;
}

#pay_in_cash h3,#pay_in_bank h3 {
    color:#666;
    font:normal 16px Microsoft Yahei;
    margin:36px 0 18px 60px;
    padding:0;
}

#pay_in_cash p,#pay_in_bank p {
    color:#a6a6a6;
    font:normal 14px Microsoft Yahei;
    margin:18px 0 0 60px;
}

#dysubscribe {
    height:200px;
    margin-top:35px;
    padding-left:5px;
    width:385px;
}

#dysubscribe p {
    color:#5f5f5f;
    font:normal 14px Microsoft Yahei;
    line-height:150%;
    text-indent:15px;
    padding:0;
}

#dysubscribe span {
    color:#d66464;
    font:bold 14px Microsoft Yahei;
    font-style:italic;
    text-decoration:underline;
    padding:0;
}

/****************************************************/

/*******************  STRATEGY LIB HOMEPAGE ******************************/
.strategylib_search {
height:50px;
margin-top:20px;
padding-right:18px;
}

#strategylib_search_form {
height:45px;
}

#keyword {
background:url(sousuo_img.gif) no-repeat;
border:0;
color:#666;
float:right;
font:11px bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
height:25px;
padding-left:15px;
width:85px;
}

#strategyfilter {
background:#f9f9f9;
border:1px solid #e3e3e3;
height:160px;
width:615px;
margin:10px 0 20px;
padding:10px 0 0 10px;
}

#strategyfilter_onlydisplay {
float:left;
width:150px;
}

#strategyfilter_submit {
width:600px;
}

#strategysdisplay {
height:auto;
margin-bottom:20px;
margin-top:20px;
width:650px;
}

.strategyinstance {
float:left;
width:300px;
margin:10px;
}

.s_header {
height:25px;
margin-bottom:5px;
margin-top:5px;
}

.s_title {
float:left;
height:20px;
}

.s_title h3 {
color:#9e3d38;
font:bold 16px Microsoft Yahei, "Times New Roman", Times, serif;
margin-top:0;
padding:0;
}

.s_collect {
float:right;
margin:5px 20px 0 5px;
}

.s_buy {
float:right;
margin:5px 0 0 5px;
}

.s_performance {
height:115px;
margin:10px 0 0;
}

.s_performance_pic {
border:1px solid;
float:left;
height:114px;
margin-right:1px;
overflow:hidden;
width:161px;
border-color:#999;
}

.s_performance_text {
border:1px solid;
float:left;
height:114px;
margin-left:1px;
padding-left:2px;
padding-right:2px;
width:128px;
border-color:#999;
}

.s_performance_text ul {
list-style:none;
padding:5px;
}

.s_performance_text ul li {
color:#757475;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
line-height:200%;
margin-bottom:3px;
margin-top:3px;
}

.s_footer {
height:23px;
}

.s_type {
float:left;
height:22px;
}

.s_details {
float:right;
height:22px;
}


#showwait_p {
width:60px;
margin:150px 0 0 150px;
}


/**************************************************************/

/************************ STRATEGY COMBINE ***********************/

#strategy_config_steps {
float:left;
height:200px;
width:100px;
margin:20px 0 0 15px;
}

#strategy_config_steps li {
background:url(jingqi.gif) left no-repeat;
height:26px;
width:100px;
margin:0 0 20px;
}

.strategy_config {
width:490px;
}

.strategy_config_selecting,.strategy_config_para,.strategy_config_commodity,.strategy_config_startdate {
background:#f9f9f9;
border:1px solid #e3e3e3;
margin-bottom:20px;
width:450px;
padding:15px;
}

#selectedstrategy p,.strategy_config_commodity p,.strategy_config_para p{
color:#747474;
font:normal 12px Microsoft Yahei;
line-height:150%;
margin-top:15px;
}

/************************** ABOUT US **************************/
#zhaopin_welcomewords {
height:70px;
margin-left:20px;
width:450px;
}

#zhaopin_welcomewords p {
color:#aaa9aa;
font:normal 12px Microsoft Yahei;
text-indent:20px;
}

.contactus_hire,.contactus_product {
padding:20px 0 0 15px;
}

.contactus_hire h3,.contactus_product h3 {
margin-bottom:15px;
margin-top:10px;
}

.contactus_hire p {
color:#5f5f5f;
font:normal 14px Microsoft Yahei;
line-height:180%;
text-indent:0;
margin:-10px 0 10px 20px;
}


/***************************AUTOTRADE PAGE*********************************/

#wenti {
background:url(question.gif) no-repeat;
float:left;
height:22px;
margin-top:30px;
width:250px;
}

#wenti h2 {
color:#9a999a;
font:15px Microsoft Yahei;
margin-left:20px;
padding:0;
}

#wentineir {
float:left;
height:200px;
margin-top:30px;
width:250px;
}

#wentineir ul {
list-style:none;
margin:0;
}

#wentineir li {
background:url(zhuyuetaolidui_img.gif) no-repeat;
height:22px;
margin-bottom:3px;
width:250px;
}

#wentineir a {
color:#9a999a;
float:left;
font:12px Microsoft Yahei;
margin-left:20px;
}

#wentineir li.tworow {
background:url(zhuyuetaolidui_img.gif) no-repeat;
height:40px;
width:250px;
}

.frameprevious {
background:url(back.gif) no-repeat;
float:left;
height:26px;
padding-top:3px;
width:75px;
margin:10px 0 10px 10px;
}

.frameprevious a {
color:#000;
font:13px Microsoft Yahei;
text-decoration:none;
padding:20px 20px 0;
}

.frameprevious_pay {
background:url(back.gif) no-repeat;
float:right;
height:26px;
margin-left:20px;
padding-top:3px;
width:75px;
}

.frameprevious_pay a {
color:#000;
font:13px Microsoft Yahei;
padding:20px 20px 0;
text-decoration: none;
}

.button_confirm_2,.button_confirm_3 {
background:url(next.gif) no-repeat;
float:right;
height:25px;
padding-top:3px;
width:66px;
margin:10px 0 10px 10px;
}
.button_confirm_4 {
    background:url(next.gif) no-repeat;
    float:right;
    height:25px;
    padding-top:3px;
    width:80px;
    margin:10px 0 10px 10px;
}

.button_confirm_2 a {
color:#FFF;
font:13px Microsoft Yahei;
text-decoration:none;
padding:10px 10px 10px 20px;
}

.button_confirm_3 a {
color:#FFF;
font:13px Microsoft Yahei;
text-decoration:none;
padding:10px;
}

.button_confirm_4 a {
    color:#FFF;
    font:13px Microsoft Yahei;
    text-decoration:none;
    padding:5px;
}

#subscribe-right {
float:right;
height:500px;
width:200px;
}

#lixiwomen {
float:right;
height:100px;
padding-left:50px;
padding-top:50px;
width:150px;
}

#lixiwomen ul li {
padding-left:4px;
}

#lixiwomen ul li a {
font-size:14px;
}

.framerimg-subscribe {
background:url(jiaoyishezhi_right_line.gif) no-repeat;
float:left;
height:353px;
margin-left:-15px;
margin-top:-60px;
width:14px;
}

.framerimg {
background:url(jiaoyishezhi_right_line.gif) no-repeat;
float:right;
height:340px;
margin-top:80px;
width:18px;
}

#aboutautotrade {
padding-top:10px;
width:500px;
}

#aboutautotrade li {
background:url(zhuyuetaolidui_img.gif) left no-repeat;
}

#aboutautotrade a {
color:#717171;
font:normal 15px Microsoft Yahei;
margin-left:25px;
}

#aboutautotrade p a.liwai {
border:none;
color:#d46767;
font:normal 12px Microsoft Yahei;
text-decoration:underline;
margin:0;
}

#aboutautotrade p {
color:#8d8d8d;
font:normal 13px Microsoft Yahei;
margin:8px 0 10px 20px;
}

#showtime {
color:#aeaeae;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
padding-left:5px;
width:250px;
}

#order_status {
color:#7d7c7d;
float:right;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
margin-right:57px;
margin-top:-22px;
}

#order_status a {
color:#7d7c7d;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#fast_modification {
color:red;
float:right;
height:20px;
text-decoration:underline;
width:70px;
}

#fast_modification a {
color:#c15e5e;
font-size:12px;
}

#strategy_search {
height:30px;
margin-left:-50px;
margin-top:15px;
width:200px;
}

#strategy_search_text {
float:right;
width:100px;
}

table {
border-collapse:collapse;
border-spacing:0;
}

#select_strategy_type {
margin-top:40px;
}

#select_strategy_type p {
font:normal 14px Microsoft Yahei, "Times New Roman", Times, serif;
}

#rtpricetable {
float:left;
margin-top:5px;
width:600px;
}

.rttableformat {
border-collapse:collapse;
border-spacing:0;
margin-top:5px;
padding:5px;
}

.rttableformat th {
font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
padding:5px;
}

.rttableformat td {
border:1px solid #c9e4f5;
font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
text-align:center;
padding:5px;
}

#norisktitle {
float:left;
height:30px;
width:140px;
margin:6px 0 0 18px;
}

#norisktitle h2 {
color:#b04747;
font:18px Microsoft Yahei, Helvetica, sans-serif;
}

.ironbars {
float:right;
height:16px;
width:60px;
margin:-28px 30px 0 0;
}

.ironbars ul {
height:16px;
list-style:none;
width:60px;
}

.ironbars ul li {
height:16px;
width:60px;
}

.ironbars a {
color:#8c3d3c;
font:normal 12px Microsoft Yahei, Helvetica, sans-serif;
text-decoration:underline;
}

.ironbarsp1 {
height:150px;
width:526px;
}

.ironbarsp2 {
height:80px;
width:526px;
}

.ironbars #norisktitle {
float:left;
height:40px;
width:300px;
}

#nextbutton {
float:right;
padding-right:110px;
}

.luntan_format {
margin-top:20px;
}

.remarkstitle {
height:20px;
margin-bottom:10px;
margin-top:10px;
width:500px;
}

.remarkstitle a {
color:#1c1c1c;
font:normal 18px Microsoft Yahei;
}

.remarkslist {
width:250px;
}

.remarkslist p {
font:normal 15px Microsoft Yahei;
}

#checkbox {
color:#7d7c7d;
float:left;
font:12px Microsoft Yahei, Arial, Helvetica, sans-serif;
margin-bottom:18px;
margin-top:10px;
width:200px;
padding:14px 0 9px 205px;
}

.label_check input {
margin-right:5px;
}

#mainNav li.mainNavNoBg {
background-image:none;
}

#mainNav li a {
color:#bb2e26;
display:block;
height:30px;
padding-top:2px;
}

#mainNav.fourStep li.mainNavNoBg {
width:229px;
}

#mainNav.threeStep li.mainNavNoBg {
width:304px;
}

#wizardpanel {
display:none;
}

#wizardcontent {
color:#636363;
font:18px Microsoft Yahei;
margin:30px 0;
}

#huatai {
color:#636363;
font:18px Microsoft Yahei;
height:40px;
width:230px;
margin:30px 0 60px 60px;
}

#ctp_account_setup {
margin:0 0 30px;
}

#ctp_account_setup p {
margin:8px 0;
}

#wizardcontent3 {
color:#585858;
font:normal 16px Microsoft Yahei;
height:100px;
width:280px;
margin:25px 0 70px 20px;
}

#wizardcontent3 li {
height:30px;
margin-left:5px;
width:240px;
}

#wizardcontent3 ul li.pianyou {
height:40px;
margin-left:15px;
width:240px;
}

#wizardwrapper {
float:left;
margin-top:25px;
width:350px;
}

#wizardcontent4 {
color:#636363;
font:normal 14px Microsoft Yahei;
height:100px;
width:270px;
margin:25px 0 70px 30px;
}

#wizardcontent4 li {
font:normal 14px Microsoft Yahei;
height:20px;
margin-left:10px;
width:240px;
padding:0;
}

#wizardcontent4 li span {
color:#e47269;
text-decoration:underline;
}

#wizardcontent4 li.qubie {
height:20px;
width:240px;
}

#showtable h2 {
color:#767676;
float:left;
font:normal 14px Microsoft Yahei;
padding:0;
}

.post {
float:left;
padding-bottom:50px;
width:960px;
margin:0 auto;
}


/*
.popup_2buttons_pattern a {
    color:#FFF;
    font:12px Microsoft Yahei;
    text-decoration: none;
    margin-top:10px;
}
*/

.popup_content{
    height:75px;
}

.popup_content p {
color:#7a7a7a;
font:13px Microsoft Yahei;
line-height: 180%;
/* margin-top:10px; */
text-align:center;
}

/*
.popup_content h3 {
color:#7a7a7a;
font:16px Microsoft Yahei;
margin-left:20px;
text-align:center;
padding:0;
}
*/



#fastmargin_buttons {
height:30px;
margin-left:64px;
margin-top:18px;
width:150px;
}

#fastmargin_submit {
color:#FFF;
font:12px Microsoft Yahei;
}

#fastmargin_cancel {
color:#000;
font:12px Microsoft Yahei;
margin-left:75px;
}

.popup {
color:#FFF;
font:12px Microsoft Yahei;
margin-left:65px;
text-decoration:none;
}

#fastfee_cancel {
color:#000;
font:12px Microsoft Yahei;
margin-left:70px;
text-decoration:none;
}

#fastedit_choose {
height:100px;
padding-left:20px;
padding-top:35px;
width:235px;
}

#fastedit_margin {
color:#7a7a7a;
font:16px Microsoft Yahei;
padding-left:50px;
padding-top:16px;
}

#fastedit_fee {
color:#7a7a7a;
font:16px Microsoft Yahei;
padding-left:50px;
}

img.btn_close {
float:right;
margin:-15px 15px 0 0;
}

img.btnrg_close {
float:right;
margin:-18px 15px 0 0;
}

img.btnzfb_close {
float:right;
margin:0 25px 0 0;
}

img.btnpp_close {
float:right;
margin:-23px -12px 0 0;
}

.regedit_submit {
margin-left:183px;
margin-top:22px;
}

.regedit_submit a {
color:#FFF;
font:16px Microsoft Yahei;
text-decoration:none;
}

form.registerin {
height:280px;
padding-top:80px;
}

.regedit_username,.regedit_email,.regedit_password,.regedit_confirm_password {
margin-bottom:10px;
padding-left:60px;
}

.regedit_comment p {
color:#9a999a;
display:inline;
font:11px Microsoft Yahei;
padding:5px 0 0 200px;
}

.regedit_comment a {
color:#9a999a;
font:11px Microsoft Yahei;
padding:5px 0 0;
}

form.signin {
height:200px;
padding-top:70px;
}

form.signin p {
color:#999;
display:inline;
font:Microsoft YaHei;
font-size:12px;
line-height:18px;
}


#login_errormsg {
    color:red;
    font-size:14px;
    height:30px;
    padding-left:30px;
}

.login_comment {
margin-top:10px;
text-align:right;
width:400px;
}

.login_comment a {
color:red;
font:normal 12px Microsoft Yahei;
margin-right:55px;
}

.login_submit {
margin-top:22px;
text-align:center;
width:400px;
}

#regedit_errormsg {
color:#ff0e00;
font:12px Microsoft Yahei;
height:20px;
margin-bottom:5px;
padding-left:30px;
}

.loginpage {
width:400px;
padding:15px 0 0 250px;
}

.loginpage div label {
float:left;
font:bold 14px Microsoft Yahei;
}

.name-input {
font-size:15px;
height:24px;
width:60%;
}

.passwd-inputapp {
font-size:15px;
height:22px;
width:35%;
margin:16px 0 0 10px;
}

.passwd-input {
font-size:15px;
height:24px;
margin-left:18px;
margin-top:16px;
width:35%;
}

#regedit_name {
margin-left:18px;
}

#forgetpassword {
color:gray;
font:Microsoft YaHei;
font-size:14px;
padding:0 0 0 20px;
}

#forgetpassword_img {
background:url(wangjimima.jpg) no-repeat;
height:30px;
margin-top:20px;
padding-top:25px;
width:200px;
}

#forgetpassword_img_steps {
background:url(wangjimima_left_img.gif) no-repeat;
height:100px;
margin-left:20px;
margin-top:20px;
padding-top:25px;
width:150px;
}

.forget_password_domain{
    width:280px;
    height:100px;
}
.forget_password_domain p {
    font:normal 16px Microsoft Yahei;
    margin:10px 0;
}


#submit_r{

    font:normal 14px Microsoft Yahei;
    text-decoration: none;
}
/*
p#forget_passwd_smallfont {
font:normal 12px Microsoft Yahei;
margin-bottom:40px;
}

#forget_password form p {
color:red;
display:inline;
font:normal 16px Microsoft Yahei;
}


#forget_passwd_submit {
margin-left:180px;
margin-top:112px;
}
*/

#forget_passwd_foundjump {
margin-left:167px;
margin-top:138px;
}

#forget_passwd_foundjump a {
border:none;
color:#FFF;
}

#forget_passwd_errmail {
margin-left:158px;
margin-top:168px;
}

#label_login {
color:#8F0606;
font:Microsoft YaHei;
}

#label_register {
color:#8F0606;
font:normal 17px Microsoft Yahei;
}

#noaccount {
color:#8F0606;
}

#loginlink {
padding:21px 0 0 163px;
}

#registerlink {
padding:41px 0 0 163px;
}

#regeditmsg_position {
padding:110px 0 0 30px;
}

html,.footer  img {
margin:0;
padding:0;
}

.block_header,.framework {
width:900px;
margin:0 auto;
}

.register,.login {
float:right;
margin:3px 3px 0;
}

.login a,.register a {
color:#cdcdcd;
font:normal 12px Microsoft Yahei;
text-decoration:none;
}

.login a:hover,.register a:hover {
color:#cdcdcd;
text-decoration:none;
}

.login a:active,.register a:active {
color:#F93;
text-decoration:underline;
}

.menu li a:hover,.menu li ul li a:hover {
background-color:#303030;
}

.menuMain a:hover,.menuMain a.simHover,.menuMain a:hover,.menuMain ul li:hover a,.menuMain ul li.hover a {
background:#999 url(btnGb_tl.gif) no-repeat left top;
color:#fff;
}

.menuMain a:hover span,.menuMain a.simHover span,.menuMain a:hover span,.menuMain ul li:hover a span,.menuMain ul li.hover a span {
background:url(btnGb_tr.gif) no-repeat right top;
}

.menuMain a:hover span span,.menuMain a.simHover span span,.menuMain a:hover span span,.menuMain ul li:hover a span span,.menuMain ul li.hover a span span {
background:url(btnGb_bl.gif) no-repeat left bottom;
}

.menuMain a:hover span span span,.menuMain a.simHover span span span,.menuMain a:hover span span span,.menuMain ul li:hover a span span span,.menuMain ul li.hover a span span span {
background:url(btnGb_br.gif) no-repeat right bottom;
}

.menuMain ul li div.level ul li.begin a,fieldset {
border:none;
}


#tiyijian h3,.adverise h3 {
color:#b04747;
font:normal 15px "Microsoft Yahei";
margin-bottom:-10px;
}

.newremark,.regedit_comment {
margin-top:10px;
}

#strategylib_search_form a,#strategylib_search_form img {
float:right;
}

#strategyfilter_domain,#strategyfilter_frequence {
float:left;
margin-right:60px;
width:120px;
}

#strategyfilter_domain p,#strategyfilter_frequence p,#strategyfilter_onlydisplay p {
margin-bottom:5px;
}

.s_title a,#StrategyNewsb li {
margin:0;
}

.s_collect a,.s_buy a {
color:#9b9b9b;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
text-decoration:none;
}

.s_collect a img,.s_buy a img {
margin-bottom:-5px;
}

.s_type p,.s_details p {
color:#757475;
font:normal 12px Microsoft Yahei, "Times New Roman", Times, serif;
}

#strategy_config_steps a,.subpagedomain a {
color:#747474;
float:left;
font:normal 16px Microsoft Yahei;
text-decoration:underline;
margin:-5px 0 0 20px;
}

#strategy_config_steps a.noline,.subpagedomain a.noline {
color:#747474;
float:left;
font:normal 16px Microsoft Yahei;
text-decoration:none;
margin:-5px 0 0 20px;
}

.blogitop1 h2,.blogitop3 h2 {
color:#1c1c1c;
font:normal 20px Microsoft Yahei, "Times New Roman", Times, serif;
margin:0;
padding:0;
}

.morexinxi a,.morexinxi1 a {
color:#35678f;
font:normal 11px Microsoft Yahei, "Times New Roman", Times, serif;
text-decoration:underline;
padding:0;
}


#customer_trade,#customer_config {
background:url(gexinghuajiaoyi.gif) no-repeat;
height:10px;
margin-top:20px;
padding-top:25px;
width:200px;
}

.ironbars #norisktitle h3,.remarkslist h3 {
padding:0;
}

#tradefeebutton,#lendatefeebutton,#marginbutton,#annualreturnbutton {
float:left;
}

#mainNav.fourStep li,#mainNav.fourStep li a {
width:227px;
}

#mainNav.threeStep li,#mainNav.threeStep li a {
width:303px;
}

#mainNav.twoStep li,#mainNav.twoStep li a {
width:455px;
}

#wizardcontent3 ul,#wizardcontent4 ul {
height:100px;
list-style:none;
width:240px;
margin:0;
}

.login_username,.login_password {
padding-left:30px;
}

.loginpage legend,.loginpage lable {
font:normal 18px Microsoft Yahei;
}

#forget_passwd_submit a,#forget_passwd_errmail a {
color:#FFF;
}

.annual_profit_display{
    height: 500px;
    min-width: 500px;
}

#homepage_slice_left_decoration{
    float:left;
}

#mask {
    background:#000;
    display:none;
    height:100%;
    left:0;
    opacity:0.3;
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
}

#mask_wait {
    background:#000;
    display:none;
    height:100%;
    left:0;
    opacity:0.3;
    position:fixed;
    top:0;
    width:100%;
}

.regedit_box_bg {
    background:url(regedit.png) no-repeat;
    height:100%;
    width:200%;
    margin:0 110px 0 10px;
}

.login-popup {
    border:0 solid #FFF;
    display:none;
    float:left;
    font-size:1.2em;
    height:350px;
    left:50%;
    position:fixed;
    top:50%;
    width:430px;
    z-index:99999;
    padding:10px;
}

#login-box {
    background:url(dengrukuang.png) no-repeat;
}

#regedit-box {
    background:url(zhuce.png) no-repeat;
}

#fastedit {
    background:url(popupop.png) no-repeat;
    border:0 solid #FFF;
    display:none;
    float:left;
    font-size:1.2em;
    height:200px;
    left:50%;
    position:fixed;
    top:50%;
    width:260px;
    z-index:99999;
    padding:0;
}


#autotrade-box,#tm_fe,#tc_fe,#ensure_test,#msg-box,#strategy_buy_confirm {
    background:url(celueguanli_anniu.png) no-repeat;
    border:0 solid #FFF;
    display:none;
    float:left;
    font-size:1.2em;
    height:200px;
    left:50%;
    position:fixed;
    top:50%;
    width:260px;
    z-index:99999;
    padding:0px;
}

#alipay-box {
    background:url(kuang_zhifubao.png) left no-repeat;
    height:283px;
    width:394px;
}


#autotrade-box h3,#tm_fe h3,#tc_fe h3,#ensure_test h3,#msg-box h3{
    color:#7a7a7a;
    font:16px Microsoft Yahei;
    margin-top:50px;
    text-align:center;
}

.login-popupop_sub_a {
    margin-top:43px;
    padding-left:65px;
}

#popupop_sub_config {
    color:#FFF;
    font:12px Microsoft Yahei;
    text-decoration:none;
}

#popupop_sub_cancell {
    color:#7a7a7a;
    font:12px Microsoft Yahei;
    margin-left:76px;
}

.popup_2buttons_pattern {
    height:130px;
    padding-top:30px;
    width:250px;
}

.popup_2buttons_confirm{
    width:30px;
    margin:20px 0 0 60px;
    float:left;
}
.popup_2buttons_confirm a{
    font:12px Microsoft Yahei;
    text-decoration: none;
    color:#ffffff;
}
.popup_2buttons_cancel{
    width:30px;
    margin:20px 50px 0 0;
    float:right;
}
.popup_2buttons_cancel a {
    color:#000;
    font:12px Microsoft Yahei;
    text-decoration: none;
}
