.main-content .main-inputs {
    position: relative;
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    display: table-cell;
    vertical-align: top;
}

.main-inputs .content {
    margin-top: 20px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 0;
}

.main-content .main-body {
    width: 100%;
    min-width: 750px;
    display: table-cell;
    vertical-align: top;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    z-index: 40;
    height: auto;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

.main-inputs .content {
    margin-top: 20px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 0;
}

.main-content .main-inputs .padded {
    padding: 10px 15px;
}

#main .main-inputs h3 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.main-content .main-inputs p {
    padding: 0;
    margin: 1px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    color: #666;
    font-style: italic;
    font-family: georgia,times,timesnewroman,serif;
}

#main-inputs .general .input-group.plaintext {
    background: #fff;
    font-size: 12px;
    cursor: default;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    min-height: 200px;
}

h1{
    font-size: 30px;
    border-bottom: 2px solid #000;
    margin: 10px 0;
    padding-bottom: 10px;
}

h2{
    font-size: 20px;
}

.table td,.table th{
    text-align: center;
    font-family: Hiragino Sans GB W3;
    font-size: 14px;
}

.main-inputs h3 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.logintb hr {
    border-color: #ccc;
}

.logintb td.tlabel {
    vertical-align: middle;
    padding: 7px 20px 10px 0;
    text-align: left;
}
.logintb input {
    padding: 8px 6px!important;
}
.logintb td {
    padding: 10px 0;
}
@media screen and (max-width: 767px){
    .main-content .main-inputs {
        width: 100%;
        display: inline;
    }
    body {
        padding:0;
    }
    #main {
        padding: 0 0 100px;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .main-content .main-body {
        width: 100%;
        min-width: 100%;
    }
    .beta {
        padding: 0;
    }
}