/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.main-content {
    width: 97%;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85) rgb(204, 204, 204);
}

#application{
    width: 560px;
    background-color: #ffffff;
    border-top: 1px solid #999;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
div.ad {
    border: 1px solid #fb8537;
    box-shadow: 1px 1px 6px #444;
    border-radius: 4px;
    padding: 20px 10px;
}

.centerrightframe h2, .centerframe h2 {
    color: #bd2e25;
    font: bold 20px Microsoft Yahei, "Times New Roman", Times, serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

#pay_in_alipay {
    background: url(/assets/zhifubao.gif) left no-repeat;
    height: 21px;
    margin-left: 25px;
    margin-top: 70px;
    width: 385px;
}

#pay_in_alipay a {
    color: #666;
    font: normal 16px Microsoft Yahei;
    margin-left: 60px;
    text-decoration: underline;
}

#pay_in_cash {
    background: url(/assets/xianjin.gif) top left no-repeat;
    height: auto;
    margin-left: 25px;
    width: 385px;
}

#pay_in_cash h3, #pay_in_bank h3 {
    color: #666;
    font: normal 16px Microsoft Yahei;
    margin: 36px 0 18px 60px;
    padding: 0;
}

#pay_in_cash p, #pay_in_bank p {
    color: #a6a6a6;
    font: normal 14px Microsoft Yahei;
    margin: 18px 0 0 60px;
}

#pay_in_bank {
    background: url(/assets/yinghang.gif) top left no-repeat;
    height: 180px;
    margin-left: 25px;
    width: 385px;
}