#main.welcome .main-body .content {
    padding: 0px;
}
 
#main #welcome-content {
    margin-top: 20px;
    width: 85.5%;
	text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

#main #welcome-content div.press {
    border-bottom: 2px solid black;
}

#main #welcome-content div.press h2 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 20px;
	text-align: left;
}

#main #welcome-content div.press td{
    width: 33%;
}

#main #welcome-content div.press img{
    width: 100%;
}

@media only screen and (min-width: 1200px){
  h1#s-title {
    font-size: 328%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
  h1#s-title {
    top: 8%;
    font-size: 300%;
  }
  div#header div#beta {
    left: 19%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  h1#s-title {
    top: 6%;
    left: 7%;
    font-size: 230%;
  }
  div#slider-container h2#s-subtitle {
    top: 49%;
  }
  div#slider-container {
    height: 400px;
  }
  div#header div#beta {
    left: 25%;
  }
  #main .main-footer .tcol {
    width: 22%;
 }
 div#slider-container img#s-glow2{
  width: 52%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 240%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 32%;
  }
  div#slider-container h2#s-subtitle {
    top: 70%;
	left:10%;
	width: 300px;
  }
  div#slider-container {
    height: 580px;
  }
  div#header div#beta {
    left: 40%;
  }
  div#slider-container img#s-glow {
    position: absolute;
    width: 45%;
  }
   #main .main-footer .tcol {
    width: 18%;
	padding-right: 10px;
 }
 #main .main-footer .tcol.last {
   width: 30%;
}
#main .main-footer h3 {
    font-size: 0.9em;
}
#main .content {
    padding: 5px 0px;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 200%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 32%;
  }
  div#slider-container h2#s-subtitle {
    top: 60%;
	left:10%;
	width: 80%;
  }
#main #welcome-content .hsw table td.left img{
width: 180px;
}
#main .main-header {
    height: 90px;
}
  div#header div#beta {
    top:76%;
    left: 6%;
  }
  div#slider-container img#s-glow {
    position: absolute;
    width: 65%;
}
 #main .main-footer .tcol {
    width: 100%;
	padding-right: 0px;
 }
 .footer p {
    position: absolute;
    text-align: center;
    padding-right: 15px;
	text-indent:70px;
}

div#slider-container{
  height: 500px;
}
}

@media only screen and (min-width: 240px) and (max-width: 319px){
  h1#s-title {
    top: 3%;
    left: 10%;
    font-size: 160%;
  }
  div#slider-container img#s-glow2{
    position: absolute;
	width:80%;
	left:10%;
    top: 28%;
  }
  div#slider-container h2#s-subtitle {
    top: 54%;
	left:10%;
	width: 80%;
  }
  #main #welcome-content .hsw table td.left img{
  width: 130px;
  }
#main .main-header {
    height: 90px;
}
  div#header div#beta {
    top:76%;
    left: 8%;
  }
  div#slider-container img#s-glow {
    position: absolute;
    width: 100%;
 }
 #main .main-footer .tcol {
    width: 100%;
	padding-right: 0px;
 }
#main {
    padding: 0px;
    min-width: 100%;
}
 .footer p {
    position: absolute;
    text-align: center;
    width: 90%;
	text-indent:40px;
}
div#slider-container{
  height: 460px;
}
}
   
@media screen and (max-width: 600px) {  
.hsw{
 float: left;
 width: 100%;
}
.hsw td.left{
 float: left;
 width: 48%;
}
.hsw td.right{
 float: right;
 width: 88%;
 left: 35px;
}

#main #welcome-content .hsw table td.right h2 {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 10px;
}

#main #welcome-content .hsw table td.left {
position:relative;
left:20px;
width: 48%;
}

#main #welcome-content .hsw table td.right{
position:relative;
text-align: left;
width: 80%;
}
}  
	
#main #welcome-content div.press h2 b {
    font-weight: 300;
    color: rgb(255, 102, 0);
}

#main .hsw table td {
    padding: 30px 30px 30px 0px;
}

#main .hsw h1 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 2em;
    font-weight: 300;
	text-align: left;
}

#main .hsw h1 b {
    color: rgb(255, 102, 0);
}

#main .hsw table td.left {
    width: 43.7%;
    vertical-align: top;
    text-align: right;
}

#main .hsw table td.right {
    vertical-align: top;
    width: 56.3%;
    text-align: left;
    font-size: 1.125em;
    line-height: 1.8em;
	padding-right: 70px;
	*padding-right: 6.5%;
}

#main .hsw table td.right h2 {
    font-family: "Oswald","arial narrow",sans-serif;
    font-size: 1.89em;
    font-weight: 300;
    margin-bottom: 10px;
}

#main .hsw table td.right b {
    color: rgb(255, 102, 0);
}

