<%= stylesheet_link_tag "faary.css" %>
<%= javascript_include_tag "jquery.js" %>

<%= form_for(@noriskmessage,:html=>{:class=>"iform"}) do |f| %>

<div id="imessageOK">谢谢您，留言已提交</div>
<div id="imessageERROR">很抱歉，留言提交失败!</div>
<ul>
<li><%= f.text_area :body ,:class=>"itextarea" ,:style=>"resize:none"%></li>

<li class="tijiaor">  <a id="ie67bug" class="tijiao1" href="javascript:void(0)" onclick="$('.iform').submit();">提交</a></li>
<br />

</ul>

<% end %>

<script type="text/javascript">
  var Sys = {};
  var ua = navigator.userAgent.toLowerCase();
  if (window.ActiveXObject)
      Sys.ie = ua.match(/msie ([\d.]+)/)[1];
  if(Sys.ie!=7&&Sys.ie!=6){
      document.getElementById("ie67bug").className="tijiao1"
  }
  </script>