 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[]]></Title>
 <Description><![CDATA[您好，欢迎您使用通天顺家庭理财帐号绑定功能。
 请先绑定帐号，即可享受通天顺家庭理财微信更多服务：
 1.家庭资产体检。
 2.风险评估。
 3.理财规划。]]></Description>
 <PicUrl><![CDATA[]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/sales/login?weixincode=<%= params[:xml][:FromUserName] %>]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>