 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[谁在为您服务]]></Title> 
 <Description><![CDATA[通天顺家庭理财 成立于2011年11月，专注于为家庭理财规划方案设计、金融产品介绍、理财知识普及。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18683044/tongtianshun-logo.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/contactus/aboutus]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>