 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>3</ArticleCount>
 <Articles>
 <item>
 <Title><![CDATA[花2分钟，做个资产体检，风险评估
拿到理财规划后，慢慢琢磨琢磨...
哦，原来我已经迈出理财第一步了。]]></Title> 
 <Description><![CDATA[花2分钟，做个资产体检，风险评估
拿到理财规划后，慢慢琢磨琢磨...
哦，原来我已经迈出理财第一步了。]]></Description>
 <PicUrl><![CDATA[http://www.tongtianshun.com/assets/img471533595.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com]]></Url>
 </item>
 <item>
 <Title><![CDATA[房子房子房子房子房子房子房子房子房子房子房子房子]]></Title>
 <Description><![CDATA[房子房子房子房子房子房子房子房子房子房子房子房子]]></Description>
 <PicUrl><![CDATA[http://www.tongtianshun.com/assets/home.png]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com]]></Url>
 </item>
 <item>
 <Title><![CDATA[车子车子车子车子车子车子车子车子车子车子车子车子]]></Title>
 <Description><![CDATA[车子车子车子车子车子车子车子车子车子车子车子车子]]></Description>
 <PicUrl><![CDATA[http://www.tongtianshun.com/assets/carl.png]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com]]></Url>
 </item>
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>