 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[理财技巧]]></Title> 
 <Description><![CDATA[在这里，我们将有书籍推荐、理财骗局分析、月光族、理财规划等内容分享。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/19594020/990e018bb31e816c4a7075ad.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/blog/index?classify=%E7%90%86%E8%B4%A2%E6%8A%80%E5%B7%A7]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>