 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[理财服务]]></Title> 
 <Description><![CDATA[我们的服务对象不是那些所谓的"大客户"，我们是要帮助“没有办法存下钱，但是最需要存钱”的人们。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/19594022/121041.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/home/learn_more]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>