 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[女人理财]]></Title> 
 <Description><![CDATA[我们女人需要节省，但我们更需要保障高质量的生活水平，所以我们需要理财。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18696036/Optimized-money_kid002.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/womenfinance]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>