 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[儿童理财]]></Title> 
 <Description><![CDATA[通天顺家庭理财 专门针对3-14岁儿童的金钱观、价值观以及人生观，推出了儿童理财栏目。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18696039/Optimized-money_kid.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/childfinance]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>