 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[屌丝理财]]></Title> 
 <Description><![CDATA[身为屌丝，我们必须要理财，我们必须要成为高富帅。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18696037/Optimized-casual0006.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/grassroots]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>