 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[通天顺 服务介绍]]></Title>
 <Description><![CDATA[通天顺家庭理财免费为您分析家庭资产状况，查询出月光的根源，结合个人风险评估结果，通过金融理财专家系统的分析推荐，进行合理科学的家庭理财规划，从此不再月光族。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18900537/121064.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/home/learn_more]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>