 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>
 
 <item>
 <Title><![CDATA[媒体报道]]></Title>
 <Description><![CDATA[通天顺家庭理财网站自从上线后，一直收到媒体、风投的关注，包括21CN财经、中国日报、创业邦、金融界等，来看看媒体是怎么看我们的。]]></Description>
 <PicUrl><![CDATA[http://imgout.ph.126.net/18900534/1310524694597111_0.jpg]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/bankinvest/press]]></Url>
 </item>
 
 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>