 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[男女差异导致投资风格迥然不同]]></Title>
 <Description><![CDATA[点击阅读全文。阅读后输入您的性别，继续财务分析。]]></Description>
 <PicUrl><![CDATA[]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/blog/article/491]]></Url>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>