 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[风险承受度评估]]></Title>
 <Description><![CDATA[每个人的风险承受能力的高低也是家庭理财规划中需要考虑的重要因素，请点击开始风险承受度评估。]]></Description>
 <PicUrl><![CDATA[]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/userrisktolerance/p3steps?fromusername=<%= params[:xml][:FromUserName] %>]]></Url>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>