 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[如何选择货币基金 - 老基金还是新基金？]]></Title>
 <Description><![CDATA[点击阅读全文。阅读后输入A.不足一年。B. 1年-3年 C.3年以上。]]></Description>
 <PicUrl><![CDATA[]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/blog/article/468]]></Url>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>