 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime>1<%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[我真的需要应急基金嘛？]]></Title>
 <Description><![CDATA[点击阅读全文。阅读后输入Y：开始吧。 N：算了吧。D：我真的需要应急基金嘛？]]></Description>
 <PicUrl><![CDATA[]]></PicUrl>
 <Url><![CDATA[http://www.tongtianshun.com/blog/article/111]]></Url>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>