<div class="leftframe">
<div class="pagedomain">
<h1>策略信息</h1>
</div>
<div id="StrategyNewscontactus">
<!-- <h2><%= link_to "策略库",:controller =>"autotrade",:action =>"index" %></h2> -->
<ul>
  <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
</ul>
</div>

</div>





