

<%= render "side" %>
<div class="centerframe">
  <h2>选择支付方式</h2>
	<div id="pay_in_alipay"><a href="#alipay-box" class="login-window">支付宝交付</a>
	</div>
	<div id="pay_in_cash">
	<h3>现金支付</h3>
	<p>公司地址：南京市中央路323号利奥大厦1406室。</p>
    <p>联系人：崔伟</p>
    <p>联系电话：13451936496 </p>
	</div>
	<div id="pay_in_bank">
    <h3>银行汇款</h3>
	<p>公司全称： 南京重人软件科技有限公司</p>
    <p>开户帐号： 320006622018010044023 </p>
    <p>开户银行： 交通银行 三元巷支行 </p>
	</div>

	<div class="frameprevious_pay">
      <a  href="/s010001/subscribe/1"> 返回 </a>
	    </div>
	  	

</div>

<div class="rightframe">


<h3>联系我们</h3>
<ul>
<li><a href="mailto:tongtianshun@yahoo.cn">邮件咨询</a>
</li>
<li><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=0e11d7eb43fbb81a96a1aef9dfd5628aa2e342e0575cedfc">QQ咨询</a>
</li>
<li><a href="http://weibo.com/u/2858671002">新浪微博</a>
</li>
</ul>

<div class="framerimg-subscribe"></div>
</div>



        <div id="alipay-box" class="login-popup">
		  <div class="popup_alipay_content">
		  <p> 你的订单号是：<%= @subsribe_id%></p>
          <p>您会订阅一个月的<%= @strategy.name%></p>
			
		  <div class="popup_alipay_2buttons_confirm"><a href='<%= @alipy_url %>'>前往支付宝</a></div>
		  <div class="popup_alipay_2buttons_cancel"><a href="#" class="close"> 取消</a></div>
			</div>

          </div>
		</div>




