
<div class="slider2">
  <div id="slice12dy"></div>
  </div>

<div class="StrategyNews">
<div class="StrategyNewslb"></div>
<div id="StrategyNewsb">
    <ul>
      <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
    </ul>
</div>
</div>
  
	<div class="StrategyNewssb">
	<div class="StrategyNewssbdy"></div>
	<div id="dysubscribe">
	<a>您将订阅<%= @strategy.name  %>策略，订阅后您将立刻受到该策略服务。订阅费用是</a>
<span><%= @strategy.price  %>元/每月。</span><a>
我们将在</a><span>每个月月底</span>
<a>征收该策略的服务费。您可以随时取消订阅该策略。</a>
	</div>
	 <div class="buttons">
	
	  	<div class="framenext">
      <a  href="/s010001/pay/1"> 下一步 </a>
	    </div>
    </div>
	</div>
	
</div>
	<div style="float:right;width:200px;">

<div id="lixiwomen">
<h2>联系我们</h2>
<ul>
<li><a href="mailto:tongtianshun@yahoo.cn">邮件咨询</a>
</li>
<li><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=0e11d7eb43fbb81a96a1aef9dfd5628aa2e342e0575cedfc">QQ咨询</a>
</li>
<li><a href="http://weibo.com/u/2858671002">新浪微博</a>
</li>
</ul>

</div>
<div class="framerimg"></div>
</div>

