<a class="back mortgage-button full back" href="/products/index/<%= params[:id]%>">返回</a>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="generator" content="Wufoo">
<meta name="robots" content="index, follow">

<style>

  *{margin:0;padding:0;}
  html{overflow:hidden;}
  #wufoo{position:absolute;width:100%;height:100%;}
  body{margin-bottom:-17px;}
  iframe{height:100%;width:100%;border:none;}
  #main .main-content .main-body {
  width: 100%;
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background-color: white;
  z-index: 40;
  height: auto;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #555 #CCC;}
  a.mortgage-button {
    font-style:normal;
    font-family: georgia,times,timesnewroman,serif;
    font-size: 16px;
    font-weight: normal;
    border-radius: 2px 2px 2px 2px;
    padding: 3px 25px;
    display: inline;
    margin-left: 6px;}
  a.back {
    font-weight: bold;
    background-color: rgb(4, 133, 183);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 5px;
    margin-left: 5px;}

</style>
	
<div class='main-content' style="padding-top: 10px;height: 560px;">
    <div class='trow'>
        <div class='main-body'>
<div id="wufoo">
<iframe title="&egrave;&deg;?&aelig;?&yen;&eacute;?&reg;&aring;?&middot;" frameborder="0" src="http://alancuiwei.wufoo.com/forms/q7x2x3/">
<a href="http://alancuiwei.wufoo.com/forms/q7x2x3/" title="HTML Form">调查问卷</a>
</iframe>
</div>
        </div>
    </div>
</div>

