<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>

<div class="main-content" onkeyup="per()">
  <h1>预订</h1>
  <div class="content">
    <p>预订后，我们将在一个小时内给您答复。</p>
    <dl>
      <dt>买不到紧销产品？</dt>
      <dd>我们发现您所挑选的属于同类产品中性价比很好的产品，正常这样的产品很容易被销售一空，您很难能购买到，通过我们帮你和银行联系预订，您将有轻松购买该产品。</dd>
      <dt>想得到更多实惠？</dt>
      <dd>通过我们和银行理财经理预订，有时能享受到团购优惠，不妨试试。</dd>
    </dl>
  </div>
  <br>
  <div class="controls controls-row">
    <p class="span2">您要购买的金额：</p>
    <div class="input-prepend input-append">
      <span class="add-on">￥</span><input class="input-medium" type="text" id="investamount"><span class="add-on">元</span>
    </div>
  </div>
  <br>
  <table class="table table-striped table-bordered" id="per">
    <thead>
    <tr>
      <th class="bname">银行理财产品名</th>
      <th>银行名</th>
      <th>产品类型</th>
      <th>起购价</th>
      <th>预期年收益率</th>
      <th>投资期限</th>
      <th>收益金额</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bname"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="income">0</td>
    </tr>
    </tbody>
  </table>

<a class="btn btn-primary pull-right res" href="javascript:void(0)" id="reserveconfig">预订</a> <br>
</div>


<script>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }
    function per(){
        var length=$("#per").find("tr").size();
        for(i=0;i<length;i++){
            $("#per tr:eq("+i+") td:eq(0)").html(Request("bname"));
            $("#per tr:eq("+i+") td:eq(1)").html(Request("trustee"));
            $("#per tr:eq("+i+") td:eq(2)").html(Request("btype"));
            $("#per tr:eq("+i+") td:eq(3)").html(Request("startvalue"));
            $("#per tr:eq("+i+") td:eq(4)").html(Request("returnrate")+"%");
            $("#per tr:eq("+i+") td:eq(5)").html(Request("investperiod")+"天");
            $("#per tr:eq("+i+") td:eq(6)").html(parseInt($("#investamount").attr("value")*parseFloat(Request("returnrate"))*parseFloat(Request("investperiod"))/36500));
        }
    }
    per();

    $("#reserveconfig").click(function(e){
        <% if @webuser!=nil %>
        var nom_flag=0;
        var states="预订申请";
        var link="/sales/confirm?bname="+Request("bname")+"&trustee="+Request("trustee")+"&income="+$(".income").html()+"&startvalue="+Request("startvalue")
                +"&returnrate="+Request("returnrate")+"&btype="+Request("btype")+"&investperiod="+Request("investperiod")+"&investamount="+$("#investamount").attr("value");
        if($("#investamount").attr("value")==""){
            alert("请输入购买金额！");
            nom_flag=1;
        }

        if(nom_flag==0){
            $.get("/admin/reserveconfigajax/0",{ bname: Request("bname"),trustee: Request("trustee"),
                returnrate: parseFloat(Request("returnrate"))/100,investperiod: Request("investperiod"),
                investamount: $("#investamount").attr("value"),username: <%= @webuser.username %>,
                tel: <%= @webuser.tel %>,state: states,btype:Request("btype"),collectperiod:Request("collectperiod")
            },function(data){
                if(data=="s1"){
                    location.href=link;
                }
            });
        }
        <% else%>
        alert("请先登录");
        location.href='/home/productindex';
        <% end %>
    });
</script>