<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "bootstrap.js" %>

<div class="main-content">
  <div id="myTabContent" class="tab-content">
    <div class="overlay tab-pane fade" id="create">
      <h1 class="h1">注册</h1>
      <form>
        <dl class="dl-horizontal">
          <dt>姓名 *:</dt>
          <dd><input id="username" class="input_menum" placeholder="姓名" type="text"></dd>
          <dt>密码 *:</dt>
          <dd><input id="password" class="input_menum" placeholder="密码" type="password"></dd>
        </dl>
        <a class="btn btn-success pull-right" href="javascript:void(userconfig('#username','#password'))" type="submit">注册</a>
        <div class="or-text"><div><b>或</b></div></div>
        <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
      </form>
    </div>
    <div class="overlay tab-pane fade in active" id="login">
      <h1 class="h1">登录</h1>
      <form>
        <dl class="dl-horizontal">
          <dt>姓名 *:</dt>
          <dd><input id="username2" class="input_menum" placeholder="姓名" type="text"></dd>
          <dt>密码 *:</dt>
          <dd><input id="password2" class="input_menum" placeholder="密码" type="password"></dd>
        </dl>
        <a class="btn btn-success pull-right" href="javascript:void(userlogin('#username2','#password2'))" type="submit">登录</a>
        <div class="or-text"><div><b>或</b></div></div>
        <a class="chear see info-button" href="#create" data-toggle="tab" type="submit" id="change_creat">注册</a>
      </form>
    </div>
  </div>
</div>


<script>
    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }
    <% if params[:logintype] == "creat"%>
    question("change_creat");
    <% end %>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    function userconfig(uid,pid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$(uid).attr("value"),password:$(pid).attr("value"),tel:1,address: 1,postcode: 1},function(data){
                if(data=="f"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    userlogin(uid,pid);
                    email('#username');
                }
            })
        }
    }

    function email(uid){
        $.get("/admin/email",{username:$(uid).attr("value")},function(data){})
    }

    function userlogin(uid,pid){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="admin"){
                    location.href="/admin";
                }
                else if(data=="s"){
                    if(Request("bid")>0){
                        location.href='/sales/index?bid='+Request("bid")+"&investamount="+Request("investamount")+"&email="+Request("email")+"&tel="+Request("tel");
                    }
                    else if(Request("order")>0){
                        location.href="/sales/myorder"
                }
                    else{
                        location.href="/home/productindex";
                    }
                }
            })
        }
    }
 /*
    function Checkreg(phonenum)
    {
        //var photo = /^(\d{3,4}\-)?\d{7,8}$/i;   //座机格式是 010-98909899
        //var photo = /^0(([1-9]\d)|([3-9]\d{2}))\d{8}$/; 没有中间那段 -的 座机格式是 01098909899
        var photo =/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;//座机(0开头)
        var photo1 =/^1[358]\d{9}$/;//手机(13,15,18)
        var value = phonenum.substring(0,1);
        if(phonenum==""){
            alert("联系电话为空！");
            return false;
        }
        if(value==0){
            if(!photo.test(phonenum)){
                alert("座机号码错误(0(2或者3位)-(7或者8位)!");
                return false;
            }
        }else if(value==1){
            if(!photo1.test(phonenum)){
                alert("手机号码错误(1(3或者5或者8)后面9位)!");
                return false;
            }
        }else
        {
            alert("电话号码错误!");
            return false;
        }
        return true;
    }
  */
</script>



