<%= stylesheet_link_tag "babygeniuses.css" %>

<div class='maincontent'>
  <div style="margin: 0 20px;">
    <a href='/'>首页</a><br><br>
    <a class="enlist btn btn-primary" href="http://alancuiwei.wufoo.com/forms/eece-ae/" target="_blank">报名参加</a>
    <h1>1.机构介绍</h1>
    <img id="img1" src="/assets/120092.png">
    <p>全球幼教领导品牌<span style="color: red;">FasTracKids</span>天才宝贝致力于为3－6岁的孩子提供全方位的学前教育，培养综合能力，并帮助发掘他们的潜在天赋。目前 已在全球50多个国家拥有400多家教学中心，每年都有成千上万的孩子加入进来。</p>
    <p>在天才宝贝的课堂活动中，孩子们的表演或发言会被录像，激励他们提高沟通技巧、语言表达能力等，从而进行有针对性的改善同时有效提高以下能力：</p>
    <ul>
      <li>学会用完整的句子进行沟通</li>
      <li>学会在说话前先独立思考</li>
      <li>学会组织自己的思路</li>
      <li>增加了自己的词汇量</li>
    </ul>
    <p style="color: #ff0000;">研究表明，绝大部分成年人都非常害怕在公众面前发言。但是，如果孩子在成长早期就接受过演讲技巧的训练，可以帮他们克服许多成年人所经历过的恐惧和压抑心理，使他们终身受用无穷。</p>
    <br>
    <p><span style="color: #ff0000;">通天顺家庭理财</span>--站在中立、客观的第三方理财机构角度，提供家庭理财规划方案服务。</p>
    <img src="/assets/logo.jpg"><br>
    <img id="img3" src="/assets/1.jpg">
    <h1>2.活动行程安排：</h1>
    <p>5月26日 下午2：30开始， 地点：水游城 4楼 运动宝贝中心</p>
    <img id="img4"  src="/assets/120091.png">
    <h1>3.轻松家庭理财讲座介绍</h1>
    <p>宝宝诞生后，如何实现家庭管理角色的转型是不少妈妈的头等大事。合理的家庭理财规划将让宝宝和整个家庭获益一生。”理财专家南添涉足中国股市十四年，擅长实用主义的价值投资，是南京第一批AFP/CFP持证人。长期的金融业从业经历，让南添老师在百姓理财与机构资产管理上有着独特见解。本次主题讲座，南添老师不仅将针对经典理财个案进行分析，提出家庭资产配置相关建议和投资建议，还将现场支招，为家长们答疑解惑。</p>
    <h1>4. 通天顺专场体验课程</h1>
    <div class="row-fluid" style="background-color: #FFE4E1;border: 1px solid #dddddd;">
     <div class="span2" style="padding-top: 25px;"><p style="text-align: center;">天文学简介</p></div>
     <div class="span10" style="border-left: 1px solid #dddddd;border-top: 1px solid #dddddd;"><p style="margin: 10px;">帮助孩子通过对日月星体、太空航行的学习，开拓空间和抽象思维能力；了解星座、银河系、太阳系、月球、8大行星，人类的飞行历史等天文知识；通过虚拟的太空之旅学习重力、失重等概念。</p></div>
    </div>
    <div style="height: 30px;"></div>
    <ul>
      <li>热场活动+互动问答</li>
      <li>小小宇航员，看完一段录像后给每一位宝贝发一个宇航员徽章，让宝贝们涂色并别在身上将自己作为小小宇航员。</li>
      <li>云游戏，发材料给宝贝们做自己喜欢的形状的云朵，贴在蓝色背景纸板上</li>
      <li>找星座，将宝贝们分成两组，两组讨论选出2个小队长，共同讨论哪一组先上学习平台找星座。一组找星座的同时另一组玩传球游戏。</li>
      <li>画星座，分为四组，每一队自行讨论大家合作画出什么星座。宝贝们围着卡纸站一圈，用材料先合作点出星座，然后大家一起用蜡笔连起来。</li>
      <li>录像环节，让宝贝们上台演讲今日所学，告诉爸爸妈妈想把自己做的白云送给谁，用DV纪录下宝贝们的演讲。</li>
    </ul>
    <!--
    <div style="height: 30px;"></div>
    <h1>5. 通天顺专场优惠</h1>
    <img id="img5"  src="/assets/120090.png">
    <p>A班为周末班，B班为平时班。</p>
    -->
    <div style="height: 30px;"></div>
    <a class="enlist btn btn-primary" href="http://alancuiwei.wufoo.com/forms/eece-ae/" target="_blank">报名参加</a>
    <div style="height: 30px;"></div>
  </div>
</div>