<%= stylesheet_link_tag "womenfinance.css" %>
<%= javascript_include_tag "jquery.women.js" %>
<%= javascript_include_tag "jquery.women2.js" %>

<div class="main-contents">

  <div class="intro">
    <div class="text-block2" id="text">
    </div>
    <div class="form-block">
      <div class="sub-box" style="display: table;width: 100%;">
        <div class="holder">
          <div class="ct">
            <!-- Begin MailChimp Signup Form -->
            <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#f5866c; clear:left; font:14px Helvetica,Arial,sans-serif; }
                #mc_embed_signup label {
                    display: block;
                    font-size: 24px;
                    padding-bottom: 10px;
                    font-weight: bold;
                    line-height: 40px;
                    margin-bottom:0px;
                }
                #mc_embed_signup input.email {
                    width: 65%;
                }
            </style>
            <div id="mc_embed_signup">
              <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">订阅邮件后，理财知识、规划、小技巧每天寄送给您。</label>
                <input type="email" value="" name="EMAIL" style="float: left;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
                <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
              </form>
            </div>
          </div>
          <div class="social-networks">
            <table>
              <tr>
                <td style="width:50%;">
                  <p>微信关注:</p>
                  <span>已有上千人关注，<br>你还在等什么呢？</span>
                </td>
                <td style="vertical-align: top;"><img src="/assets/1.jpg" style="width: 78px;margin: 10px 0 0 47px;"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="featured">
    <div class="news-line">
      <a href="#" class="expand ss-icon mobile"></a>
      <div class="col-left same-height-left" style="min-height: 188px;">
        <div class="col-content">
          <h1><em>教育</em> 3岁看到老</h1>
          <p>重视幼儿的早期教育已成为世人的共识它牵动粉亿万父母的心.幼儿时期是大脑迅速发育的关键时期。抓住这个关键时期利用其脑神经的敏感性.进行早期教育.有事半功倍的效果。</p>
        </div>
        <ul class="links plan">
          <li><a class="blogs btn-link" title="理财培养">理财培养</a><span class="ss-icon">➡</span></li>
          <li><a class="blogs btn-link" title="儿童教育">儿童教育</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 184px;">
        <div class="headline">
          <h2><a href="/childfinance/finance" target="_blank">为了宝贝你，我们不怕麻烦</a></h2>
        </div>
        <div class="content">
          <a href="/childfinance/finance" target="_blank"><img src="/assets/120093.png" class="image" width="167"></a>
          <div class="text-block">
            <p>宝贝，你需要了解的20个理财观念，他们帮助你走向自由、富裕、健康的人生。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="news-line">
      <a href="#" class="expand ss-icon mobile"></a>
      <div class="col-left same-height-left" style="min-height: 181px;">
        <div class="col-content">
          <h1><em>零花钱</em> 给予与付出</h1>
          <p>零花钱的给予和分配是教会宝宝理财技能和金钱管理最好的方法。我们这里罗列出一些方法和技巧，帮助您和您宝宝掌握这个技能。</p>
        </div>
        <ul class="links spend">
          <li><a class="blogs btn-link" title="零花钱管理">零花钱管理</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 177px;">
      </div>
    </div>
    <div class="news-line">
      <a href="#" class="expand ss-icon mobile"></a>
      <div class="col-left same-height-left" style="min-height: 228px;">
        <div class="col-content">
          <h1><em>我们该做的</em>小宝重保障，大宝重教育</h1>
          <p>男宝是建设银行，女宝是招商银行？其实无论是哪家银行，现在为TA身体保障，财务准备总是我们父母应该做的。</p>
        </div>
        <ul class="links learn">
          <li><a class="blogs btn-link" title="儿童理财产品">儿童理财产品</a><span class="ss-icon">➡</span></li>
        </ul>
      </div>
      <div class="col-right same-height-right" style="min-height: 224px;">
        <!--
        <div class="headline">
          <h2><a href="/childfinance/babygeniuses" target="_blank">天才宝贝</a></h2>
        </div>
        <div class="content">
          <a href="/childfinance/babygeniuses" target="_blank"><img src="/assets/120092.png" class="image" width="167"></a>
          <div class="text-block">
            <p>FasTracKids天才宝贝，1998年成立于美国，禀承MBA同样的能力培养理念，致力于为3－6岁的孩子提供全方位的学前教育，培养综合能力，并帮助发掘他们的潜在天赋。</p>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="ads-block">
    <div ad_dot_com="300250" class="box">
      <a href="http://weibo.com/u/3429002842" target="_blank"><img src="/assets/120101.jpg" style="max-width: 340px;width: 100%;"></a>
    </div>
    <div ad_dot_com="300250" class="box">
    </div>
    <div ad_dot_com="300250" class="box">
    </div>
  </div>
</div>


<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".blogs").click(function(){
            var tag=this.title.split(",")
            var link="";
            for(var i=0;i<tag.length;i++){
                if(link==''){
                    link='?tag='+tag[i]
                }
                else{
                    link=link+'&tag'+i+'='+tag[i]
                }
            }
            window.open("/blog/index"+link);
        })
    }else{
        $("#text").removeClass("text-block2")
        $("#text").html("<img src='/assets/120094.jpg'>")
        $(".blogs").click(function(){
            var tag=this.title.split(",")
            var link="";
            for(var i=0;i<tag.length;i++){
                if(link==''){
                    link='?tag='+tag[i]
                }
                else{
                    link=link+'&tag'+i+'='+tag[i]
                }
            }
            window.open("/blog/all"+link);
        })
    }
</script>