

<div class="slider2">
<div class="slice12">
  <h2>策略库</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">
  <div class="StrategyNews">
  <h2>策略分类</h2>
  <ul>
    <li><%= link_to "无风险套利",:controller =>"strategywebs",:action =>"strategyshow",:id =>"1" %></li>
    <li><%= link_to "羽根英树正向套利",:controller =>"strategywebs",:action =>"strategyshow",:id =>"2" %></li>
  </ul>
<p></p>
  </div>
<div class="frame">
<%= yield %>
</div>

<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
